In [1]:
%load_ext lab_black

In [2]:
import opendatasets as od

In [3]:
# Create a instance for the link
dataset_url_01 = "https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset?select=world_population.csv"
dataset_url_02 = "https://www.kaggle.com/datasets/muhammedtausif/world-population-by-countries?select=world-population-by-country-2020.csv"

In [4]:
od.download(dataset_url_01)

Skipping, found downloaded files in "./world-population-dataset" (use force=True to force download)

In [5]:
# Download the kaggle data, you must create a new API Token
od.download(dataset_url_02)

Skipping, found downloaded files in "./world-population-by-countries" (use force=True to force download)

In [6]:
import pandas as pd

In [7]:
world_population_01_df = pd.read_csv(
    "world-population-by-countries/world-population-by-country-2020.csv"
)

In [10]:
world_population_01_df.sort_values(by="Country (or dependency)").head(10)

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
36,37,Afghanistan,"38,928,346",2.33%,"886,592",60,"652,860","-62,920",4.6,18,25%,0.50%
139,140,Albania,"2,877,797",-0.11%,"-3,120",105,"27,400","-14,000",1.6,36,63%,0.04%
32,33,Algeria,"43,851,044",1.85%,"797,990",18,"2,381,740","-10,000",3.1,29,73%,0.56%
209,210,American Samoa,"55,191",-0.22%,-121,276,200,NaN,N.A.,N.A.,88%,0.00%
202,203,Andorra,"77,265",0.16%,123,164,470,NaN,N.A.,N.A.,88%,0.00%
43,44,Angola,"32,866,272",3.27%,"1,040,977",26,"1,246,700","6,413",5.6,17,67%,0.42%
223,224,Anguilla,"15,003",0.90%,134,167,90,NaN,N.A.,N.A.,N.A.,0.00%
200,201,Antigua and Barbuda,"97,929",0.84%,811,223,440,0,2,34,26%,0.00%
31,32,Argentina,"45,195,774",0.93%,"415,097",17,"2,736,690","4,800",2.3,32,93%,0.58%
136,137,Armenia,"2,963,243",0.19%,"5,512",104,"28,470","-4,998",1.8,35,63%,0.04%

In [11]:
world_population_01_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   no                       235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population 2020          235 non-null    object
 3   Yearly Change            235 non-null    object
 4   Net Change               235 non-null    object
 5   Density  (P/Km²)         235 non-null    object
 6   Land Area (Km²)          235 non-null    object
 7   Migrants (net)           201 non-null    object
 8   Fert. Rate               235 non-null    object
 9   Med. Age                 235 non-null    object
 10  Urban Pop %              235 non-null    object
 11  World Share              235 non-null    object
dtypes: int64(1), object(11)
memory usage: 22.2+ KB

In [12]:
world_population_01_df.isnull().sum()

no                          0
Country (or dependency)     0
Population 2020             0
Yearly Change               0
Net Change                  0
Density  (P/Km²)            0
Land Area (Km²)             0
Migrants (net)             34
Fert. Rate                  0
Med. Age                    0
Urban Pop %                 0
World Share                 0
dtype: int64

In [13]:
world_population_01_df[world_population_01_df["Migrants (net)"].isna()]

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
201,202,Isle of Man,"85,033",0.53%,449,149,570,NaN,N.A.,N.A.,53%,0.00%
202,203,Andorra,"77,265",0.16%,123,164,470,NaN,N.A.,N.A.,88%,0.00%
203,204,Dominica,"71,986",0.25%,178,96,750,NaN,N.A.,N.A.,74%,0.00%
204,205,Cayman Islands,"65,722",1.19%,774,274,240,NaN,N.A.,N.A.,97%,0.00%
205,206,Bermuda,"62,278",-0.36%,-228,"1,246",50,NaN,N.A.,N.A.,97%,0.00%
206,207,Marshall Islands,"59,190",0.68%,399,329,180,NaN,N.A.,N.A.,70%,0.00%
207,208,Northern Mariana Islands,"57,559",0.60%,343,125,460,NaN,N.A.,N.A.,88%,0.00%
208,209,Greenland,"56,770",0.17%,98,0,"410,450",NaN,N.A.,N.A.,87%,0.00%
209,210,American Samoa,"55,191",-0.22%,-121,276,200,NaN,N.A.,N.A.,88%,0.00%
210,211,Saint Kitts & Nevis,"53,199",0.71%,376,205,260,NaN,N.A.,N.A.,33%,0.00%
211,212,Faeroe Islands,"48,863",0.38%,185,35,"1,396",NaN,N.A.,N.A.,43%,0.00%
212,213,Sint Maarten,"42,876",1.15%,488,"1,261",34,NaN,N.A.,N.A.,96%,0.00%
213,214,Monaco,"39,242",0.71%,278,"26,337",1,NaN,N.A.,N.A.,N.A.,0.00%
214,215,Turks and Caicos,"38,717",1.38%,526,41,950,NaN,N.A.,N.A.,89%,0.00%
215,216,Saint Martin,"38,666",1.75%,664,730,53,NaN,N.A.,N.A.,0%,0.00%
216,217,Liechtenstein,"38,128",0.29%,109,238,160,NaN,N.A.,N.A.,15%,0.00%
217,218,San Marino,"33,931",0.21%,71,566,60,NaN,N.A.,N.A.,97%,0.00%
218,219,Gibraltar,"33,691",-0.03%,-10,"3,369",10,NaN,N.A.,N.A.,N.A.,0.00%
219,220,British Virgin Islands,"30,231",0.67%,201,202,150,NaN,N.A.,N.A.,52%,0.00%
220,221,Caribbean Netherlands,"26,223",0.94%,244,80,328,NaN,N.A.,N.A.,75%,0.00%
221,222,Palau,"18,094",0.48%,86,39,460,NaN,N.A.,N.A.,N.A.,0.00%
222,223,Cook Islands,"17,564",0.09%,16,73,240,NaN,N.A.,N.A.,75%,0.00%
223,224,Anguilla,"15,003",0.90%,134,167,90,NaN,N.A.,N.A.,N.A.,0.00%
224,225,Tuvalu,"11,792",1.25%,146,393,30,NaN,N.A.,N.A.,62%,0.00%
225,226,Wallis & Futuna,"11,239",-1.69%,-193,80,140,NaN,N.A.,N.A.,0%,0.00%
226,227,Nauru,"10,824",0.63%,68,541,20,NaN,N.A.,N.A.,N.A.,0.00%
227,228,Saint Barthelemy,"9,877",0.30%,30,470,21,NaN,N.A.,N.A.,0%,0.00%
228,229,Saint Helena,"6,077",0.30%,18,16,390,NaN,N.A.,N.A.,27%,0.00%
229,230,Saint Pierre & Miquelon,"5,794",-0.48%,-28,25,230,NaN,N.A.,N.A.,100%,0.00%
230,231,Montserrat,"4,992",0.06%,3,50,100,NaN,N.A.,N.A.,10%,0.00%
231,232,Falkland Islands,"3,480",3.05%,103,0,"12,170",NaN,N.A.,N.A.,66%,0.00%
232,233,Niue,"1,626",0.68%,11,6,260,NaN,N.A.,N.A.,46%,0.00%
233,234,Tokelau,"1,357",1.27%,17,136,10,NaN,N.A.,N.A.,0%,0.00%
234,235,Holy See,801,0.25%,2,"2,003",0,NaN,N.A.,N.A.,N.A.,0.00%

In [34]:
world_population_01_df[world_population_01_df["Med. Age"].str.contains("N.A.")]

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
201,202,Isle of Man,"85,033",0.53%,449,149,570,NaN,N.A.,N.A.,53%,0.00%
202,203,Andorra,"77,265",0.16%,123,164,470,NaN,N.A.,N.A.,88%,0.00%
203,204,Dominica,"71,986",0.25%,178,96,750,NaN,N.A.,N.A.,74%,0.00%
204,205,Cayman Islands,"65,722",1.19%,774,274,240,NaN,N.A.,N.A.,97%,0.00%
205,206,Bermuda,"62,278",-0.36%,-228,"1,246",50,NaN,N.A.,N.A.,97%,0.00%
206,207,Marshall Islands,"59,190",0.68%,399,329,180,NaN,N.A.,N.A.,70%,0.00%
207,208,Northern Mariana Islands,"57,559",0.60%,343,125,460,NaN,N.A.,N.A.,88%,0.00%
208,209,Greenland,"56,770",0.17%,98,0,"410,450",NaN,N.A.,N.A.,87%,0.00%
209,210,American Samoa,"55,191",-0.22%,-121,276,200,NaN,N.A.,N.A.,88%,0.00%
210,211,Saint Kitts & Nevis,"53,199",0.71%,376,205,260,NaN,N.A.,N.A.,33%,0.00%
211,212,Faeroe Islands,"48,863",0.38%,185,35,"1,396",NaN,N.A.,N.A.,43%,0.00%
212,213,Sint Maarten,"42,876",1.15%,488,"1,261",34,NaN,N.A.,N.A.,96%,0.00%
213,214,Monaco,"39,242",0.71%,278,"26,337",1,NaN,N.A.,N.A.,N.A.,0.00%
214,215,Turks and Caicos,"38,717",1.38%,526,41,950,NaN,N.A.,N.A.,89%,0.00%
215,216,Saint Martin,"38,666",1.75%,664,730,53,NaN,N.A.,N.A.,0%,0.00%
216,217,Liechtenstein,"38,128",0.29%,109,238,160,NaN,N.A.,N.A.,15%,0.00%
217,218,San Marino,"33,931",0.21%,71,566,60,NaN,N.A.,N.A.,97%,0.00%
218,219,Gibraltar,"33,691",-0.03%,-10,"3,369",10,NaN,N.A.,N.A.,N.A.,0.00%
219,220,British Virgin Islands,"30,231",0.67%,201,202,150,NaN,N.A.,N.A.,52%,0.00%
220,221,Caribbean Netherlands,"26,223",0.94%,244,80,328,NaN,N.A.,N.A.,75%,0.00%
221,222,Palau,"18,094",0.48%,86,39,460,NaN,N.A.,N.A.,N.A.,0.00%
222,223,Cook Islands,"17,564",0.09%,16,73,240,NaN,N.A.,N.A.,75%,0.00%
223,224,Anguilla,"15,003",0.90%,134,167,90,NaN,N.A.,N.A.,N.A.,0.00%
224,225,Tuvalu,"11,792",1.25%,146,393,30,NaN,N.A.,N.A.,62%,0.00%
225,226,Wallis & Futuna,"11,239",-1.69%,-193,80,140,NaN,N.A.,N.A.,0%,0.00%
226,227,Nauru,"10,824",0.63%,68,541,20,NaN,N.A.,N.A.,N.A.,0.00%
227,228,Saint Barthelemy,"9,877",0.30%,30,470,21,NaN,N.A.,N.A.,0%,0.00%
228,229,Saint Helena,"6,077",0.30%,18,16,390,NaN,N.A.,N.A.,27%,0.00%
229,230,Saint Pierre & Miquelon,"5,794",-0.48%,-28,25,230,NaN,N.A.,N.A.,100%,0.00%
230,231,Montserrat,"4,992",0.06%,3,50,100,NaN,N.A.,N.A.,10%,0.00%
231,232,Falkland Islands,"3,480",3.05%,103,0,"12,170",NaN,N.A.,N.A.,66%,0.00%
232,233,Niue,"1,626",0.68%,11,6,260,NaN,N.A.,N.A.,46%,0.00%
233,234,Tokelau,"1,357",1.27%,17,136,10,NaN,N.A.,N.A.,0%,0.00%
234,235,Holy See,801,0.25%,2,"2,003",0,NaN,N.A.,N.A.,N.A.,0.00%

In [29]:
world_population_01_df.shape

(235, 12)

In [9]:
world_population_02_df = pd.read_csv("world-population-dataset/world_population.csv")

In [12]:
world_population_02_df.head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint John’s,North America,93763,92664,89941,85695,75055,63328,64888,64516,442,212.1335,1.0058,0.00
8,33,ARG,Argentina,Buenos Aires,South America,45510318,45036032,43257065,41100123,37070774,32637657,28024803,23842803,2780400,16.3683,1.0052,0.57
9,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03

In [15]:
world_population_02_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [20]:
world_population_02_df.isnull().sum()

Rank                           0
CCA3                           0
Country                        0
Capital                        0
Continent                      0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [22]:
world_population_02_df.shape

(234, 17)