In [2]:
# We are using black as a code formatter
%load_ext nb_black

In [3]:
import requests
import json
import datetime
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import os
import re

In [4]:
# pd.set_option('display.max_rows', None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

Extraigamos los archivos parquet y los convertimos a dataframe

In [18]:
url = "https://github.com/jorgeav527/life-expectancy/blob/7930eb4d7ca4a92c35fbe0be820adca9932dd2d7/data_ware_house/df_twb_todos.parquet"
df = pd.read_parquet(url)
df

ArrowInvalid: Could not open Parquet input source '<Buffer>': Parquet magic bytes not found in footer. Either the file is corrupted or this is not a parquet file.

In [ ]:
df

In [ ]:
# guardar en una lista los nombres en formtato Iso3 de los países
iso3_code = [str(code) for code in df["Iso3"].values]
iso3_code

Maybe if we want to filter by WorldBankIncomeGroup (This step is not required.)

In [ ]:
df_high_income = df[(df["WorldBankIncomeGroup"] == "High-income countries")]
df_low_income = df[(df["WorldBankIncomeGroup"] == "Low-income countries")]
df_upper_middle_income = df[
    (df["WorldBankIncomeGroup"] == "Upper-middle-income countries")
]
df_lower_middle_income = df[
    (df["WorldBankIncomeGroup"] == "Lower-middle-income countries")
]

Revisamos una información básica de los dataframes

In [6]:
directory = "../data_lake/"
# Let's iterate each parquet file and get some basic information
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f.endswith(".parquet"):
        print("========" + filename.rstrip(".parquet").upper() + "========", end="\n")
        df = pd.read_parquet(f)
        df.replace("", float("NaN"), inplace=True)
        print("====Basic info about the dataframe====", end="\n")
        print(df.info(), end="\n")
        print("====Sum the null in each column====", end="\n")
        print(df.isnull().sum(), end="\n")
        print("====Describe numeric columns====", end="\n")
        print(df.describe(), end="\n")
        print("====Get a sample of 5 rows====", end="\n")
        print(df.sample(5), end="\n")
        print(end="\n")

========DF_UNPD_MORT_22========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          22.0      2.000000     30.626605
std            0.0      0.816516     30.690118
min           22.0      1.000000      0.414920
25%           22.0      1.000000      8.491128
50%           22.0      2.000000     17.928645
75%           22.0      3.000000     43.825403
max           22.0      3.000000    244.050950
====Get a sample of 5 rows====
             location iso3 timeLabel  indicatorId  \
19581          Uganda  UGA      2007           22
9792       Kyrgyzstan  KGZ      1999           22
20027     Isle of Man  IMN      2000           22
5569          Eritrea  ERI      2017           22
3098   Cayman Islands  CYM      1999           22

                         indicator  sexId         sex     value
19581  Infant mortality rate (IMR)      1        Male  65.55428
9792   Infant mortality rate (IMR)      1        Male  48.38694
20027  Infant mortality rate (IMR)      3  Both sexes  19.90481
5569   Infant mortality rate (IMR)      2      Female  27.95511
3098   Infant mortality rate (IMR)      3  Both sexes  11.61240

========DF_TWB_SP.DYN.LE00.MA.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               577
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7669.000000   0.0         0.0   8246.0
mean     66.093333   NaN         NaN      0.0
std       9.057539   NaN         NaN      0.0
min      24.834000   NaN         NaN      0.0
25%      60.600000   NaN         NaN      0.0
50%      67.820000   NaN         NaN      0.0
75%      72.807635   NaN         NaN      0.0
max      82.900000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
6877             SXM  1994        NaN   NaN         NaN        0
1074             NAC  2000  74.346467   NaN         NaN        0
1085             NaN  2020        NaN   NaN         NaN        0
27               AFE  1993  48.849650   NaN         NaN        0
3045             CUB  2013  76.528000   NaN         NaN        0

           indicator.id                             indicator.value  \
6877  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
1074  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
1085  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
27    SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
3045  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)

     country.id              country.value
6877         SX  Sint Maarten (Dutch part)
1074         XU          América del Norte
1085         XY             No clasificado
27           ZH                        NaN
3045         CU                       Cuba

========DF_UNPD_POP_54========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         54.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         54.0      25.0       0.0
25%     222.000000             4.0         54.0      25.0       0.0
50%     439.000000             4.0         54.0      25.0       0.0
75%     646.000000             4.0         54.0      25.0       0.0
max     894.000000             4.0         54.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0   7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    383.864741
std       0.0     0.0       0.0     0.0     0.0   1916.802764
min       3.0   188.0       0.0    -1.0     0.0      0.191619
25%       3.0   188.0       0.0    -1.0     0.0     30.320730
50%       3.0   188.0       0.0    -1.0     0.0     81.046553
75%       3.0   188.0       0.0    -1.0     0.0    195.887725
max       3.0   188.0       0.0    -1.0     0.0  24879.530201
====Get a sample of 5 rows====
      locationId       location iso3 iso2  locationTypeId  indicatorId  \
484           52       Barbados  BRB   BB               4           54
5700         703       Slovakia  SVK   SK               4           54
2061         254  French Guiana  GUF   GF               4           54
1308         175        Mayotte  MYT   YT               4           54
1485         191        Croatia  HRV   HR               4           54

               indicator                        indicatorDisplayName  \
484   Population density  Population density (persons per square km)
5700  Population density  Population density (persons per square km)
2061  Population density  Population density (persons per square km)
1308  Population density  Population density (persons per square km)
1485  Population density  Population density (persons per square km)

      sourceId                      source  revision  variantId variant  \
484         25  World Population Prospects         0          4  Median
5700        25  World Population Prospects         0          4  Median
2061        25  World Population Prospects         0          4  Median
1308        25  World Population Prospects         0          4  Median
1485        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
484            Median       Median      60      2009  2009.5           0
5700           Median       Median      68      2017  2017.5           0
2061           Median       Median      56      2005  2005.5           0
1308           Median       Median      47      1996  1996.5           0
1485           Median       Median      69      2018  2018.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
484   Not applicable               1  Model-based Estimates                 2
5700  Not applicable               1  Model-based Estimates                 2
2061  Not applicable               1  Model-based Estimates                 2
1308  Not applicable               1  Model-based Estimates                 2
1485  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
484   Interpolation      3  Both sexes    188    Total         0      -1
5700  Interpolation      3  Both sexes    188    Total         0      -1
2061  Interpolation      3  Both sexes    188    Total         0      -1
1308  Interpolation      3  Both sexes    188    Total         0      -1
1485  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid       value
484        0  636.724419
5700       0  110.933789
2061       0    2.448406
1308       0  352.509333
1485       0   74.432607

========DF_UNPD_IMIGRT_65========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   int64
dtypes: int64(2), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         value
count       7006.0  7.006000e+03
mean          65.0 -6.804854e+03
std            0.0  1.460545e+05
min           65.0 -2.290411e+06
25%           65.0 -1.722525e+04
50%           65.0 -5.875000e+02
75%           65.0  5.977250e+03
max           65.0  1.834556e+06
====Get a sample of 5 rows====
              location iso3 timeLabel  indicatorId            indicator  \
714    Solomon Islands  SLB      1991           65  Total net-migration
5001          Portugal  PRT      2000           65  Total net-migration
2096  French Polynesia  PYF      2009           65  Total net-migration
3512         Lithuania  LTU      1999           65  Total net-migration
6939             Samoa  WSM      2016           65  Total net-migration

             sex  value
714   Both sexes   -585
5001  Both sexes  63195
2096  Both sexes  -2603
3512  Both sexes -29076
6939  Both sexes  -2772

========DF_TWB_SP.URB.TOTL.IN.ZS========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            8144 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              102
dtype: int64
====Describe numeric columns====
             value
count  8144.000000
mean     55.759260
std      23.500073
min       5.416000
25%      35.841572
50%      54.861368
75%      74.797000
max     100.000000
====Get a sample of 5 rows====
     countryiso3code  date      value
5471             MEX  2005  76.308000
3276             DOM  1999  60.933000
5274             MDV  2016  38.954000
2083             BEL  2014  97.833000
182              EAR  1993  36.007414

========DF_OMS_NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  20950 non-null  float64
 1   IndicatorCode       20950 non-null  object
 2   SpatialDim          20950 non-null  object
 3   TimeDimensionValue  20950 non-null  object
 4   Dim1Type            20950 non-null  object
 5   Dim1                20950 non-null  object
 6   NumericValue        20900 non-null  float64
 7   Low                 20950 non-null  float64
 8   High                20950 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB
None
====Sum the null in each column====
Id                     9
IndicatorCode          9
SpatialDim             9
TimeDimensionValue     9
Dim1Type               9
Dim1                   9
NumericValue          59
Low                    9
High                   9
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.095000e+04  20900.000000  20950.000000  20950.000000
mean   2.766507e+07     17.125612     11.682773     24.840969
std    1.045053e+06     13.986791     11.444164     17.171026
min    2.574345e+07      0.100000      0.000000      0.300000
25%    2.820284e+07      6.100000      2.400000     11.200000
50%    2.822379e+07     14.800000      8.600000     23.600000
75%    2.824473e+07     24.600000     16.900000     37.000000
max    2.828216e+07     66.100000     56.600000     77.000000
====Get a sample of 5 rows====
               Id                           IndicatorCode SpatialDim  \
5831   28205215.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        EGY
513    25743961.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        MLI
11636  28228437.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        ROU
5409   28203524.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        CHE
1518   25744966.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        SLV

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
5831                2011  SEVERITY    SEVERE           0.5   0.3   0.9
513                 2006       SEX      FMLE          60.5  54.8  65.8
11636               2003  SEVERITY  MODERATE           7.8   2.5  20.2
5409                2006  SEVERITY    SEVERE           0.3   0.0   1.4
1518                2002       SEX      FMLE          10.9   8.1  14.6

========DF_TWB_SH.STA.BASS.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5390 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2856
dtype: int64
====Describe numeric columns====
             value
count  5390.000000
mean     72.147471
std      29.073479
min       2.755094
25%      48.473218
50%      84.605854
75%      97.535682
max     100.000004
====Get a sample of 5 rows====
     countryiso3code  date      value
146              CEB  1998        NaN
304              EMU  1995        NaN
7885             GBR  2009  99.119553
1824             ABW  1994        NaN
1620             ASM  2012  60.220573

========DF_TWB_SI.POV.GINI========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            1735 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              6511
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  1735.000000   0.0         0.0   8246.0
mean     38.179712   NaN         NaN      1.0
std       8.944772   NaN         NaN      0.0
min      20.700000   NaN         NaN      1.0
25%      31.250000   NaN         NaN      1.0
50%      36.100000   NaN         NaN      1.0
75%      43.750000   NaN         NaN      1.0
max      65.800000   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
2113             BLZ  2015    NaN   NaN         NaN        1  SI.POV.GINI
48               AFW  2003    NaN   NaN         NaN        1  SI.POV.GINI
3796             DEU  2006   31.2   NaN         NaN        1  SI.POV.GINI
1285             SST  2006    NaN   NaN         NaN        1  SI.POV.GINI
4931             LBN  2018    NaN   NaN         NaN        1  SI.POV.GINI

     indicator.value country.id     country.value
2113  Índice de Gini         BZ            Belice
48    Índice de Gini         ZI               NaN
3796  Índice de Gini         DE          Alemania
1285  Índice de Gini         S1  Pequeños Estados
4931  Índice de Gini         LB            Líbano

========DF_UNPD_POP_49========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         49.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         49.0      25.0       0.0
25%      222.000000             4.0         49.0      25.0       0.0
50%      439.000000             4.0         49.0      25.0       0.0
75%      646.000000             4.0         49.0      25.0       0.0
max      894.000000             4.0         49.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.842095e+07
std        0.816516      0.0       0.0      0.0      0.0  8.420676e+07
min        1.000000    188.0       0.0     -1.0      0.0  6.550000e+02
25%        1.000000    188.0       0.0     -1.0      0.0  2.673850e+05
50%        2.000000    188.0       0.0     -1.0      0.0  2.866508e+06
75%        3.000000    188.0       0.0     -1.0      0.0  1.063895e+07
max        3.000000    188.0       0.0     -1.0      0.0  1.424930e+09
====Get a sample of 5 rows====
       locationId                    location iso3 iso2  locationTypeId  \
9869          418  Lao People's Dem. Republic  LAO   LA               4
18777         772                     Tokelau  TKL   TK               4
12512         516                     Namibia  NAM   NA               4
18377         760        Syrian Arab Republic  SYR   SY               4
14666         600                    Paraguay  PRY   PY               4

       indicatorId                indicator     indicatorDisplayName  \
9869            49  Total population by sex  Total population by sex
18777           49  Total population by sex  Total population by sex
12512           49  Total population by sex  Total population by sex
18377           49  Total population by sex  Total population by sex
14666           49  Total population by sex  Total population by sex

       sourceId                      source  revision  variantId variant  \
9869         25  World Population Prospects         0          4  Median
18777        25  World Population Prospects         0          4  Median
12512        25  World Population Prospects         0          4  Median
18377        25  World Population Prospects         0          4  Median
14666        25  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
9869            Median       Median      44      1993  1993.5           0
18777           Median       Median      69      2018  2018.5           0
12512           Median       Median      57      2006  2006.5           0
18377           Median       Median      59      2008  2008.5           0
14666           Median       Median      62      2011  2011.5           0

             category  estimateTypeId           estimateType  \
9869   Not applicable               1  Model-based Estimates
18777  Not applicable               1  Model-based Estimates
12512  Not applicable               1  Model-based Estimates
18377  Not applicable               1  Model-based Estimates
14666  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
9869                  2  Interpolation      3  Both sexes    188    Total
18777                 2  Interpolation      1        Male    188    Total
12512                 2  Interpolation      3  Both sexes    188    Total
18377                 2  Interpolation      3  Both sexes    188    Total
14666                 2  Interpolation      3  Both sexes    188    Total

       ageStart  ageEnd  ageMid     value
9869          0      -1       0   4685296
18777         0      -1       0       822
12512         0      -1       0   1986558
18377         0      -1       0  21474060
14666         0      -1       0   5843939

========DF_TWB_SH.XPD.CHEX.PC.CD========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4694 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              3552
dtype: int64
====Describe numeric columns====
              value
count   4694.000000
mean     859.108699
std     1537.990652
min        4.335375
25%       63.036741
50%      238.170045
75%      733.621240
max    10921.012695
====Get a sample of 5 rows====
     countryiso3code  date        value
6891             SVK  2011  1352.438354
1181             PSS  2017   198.687259
1624             ASM  2008          NaN
5748             NAM  2007   466.235291
2904             COD  1999          NaN

========DF_TWB_NY.GDP.MKTP.PP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7246 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1000
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
              value  unit  obs_status  decimal
count  7.246000e+03   0.0         0.0   8246.0
mean   2.767189e+12   NaN         NaN      0.0
std    9.317448e+12   NaN         NaN      0.0
min    1.465840e+07   NaN         NaN      0.0
25%    1.338723e+10   NaN         NaN      0.0
50%    8.505173e+10   NaN         NaN      0.0
75%    8.542823e+11   NaN         NaN      0.0
max    1.354475e+14   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
7826             UKR  2006  3.768307e+11   NaN         NaN        0
4732             PRK  2000           NaN   NaN         NaN        0
7116             LKA  2003  9.346895e+10   NaN         NaN        0
6967             SLB  1997  7.429736e+08   NaN         NaN        0
3322             EGY  2015  1.064236e+12   NaN         NaN        0

           indicator.id                                  indicator.value  \
7826  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
4732  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
7116  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
6967  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
3322  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)

     country.id                            country.value
7826         UA                                  Ucrania
4732         KP  Corea, República Popular Democrática de
7116         LK                                Sri Lanka
6967         SB                            Islas Salomón
3322         EG               Egipto, República Árabe de

========DF_UNPD_MORT_60========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         60.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         60.0      25.0       0.0
25%      222.000000             4.0         60.0      25.0       0.0
50%      439.000000             4.0         60.0      25.0       0.0
75%      646.000000             4.0         60.0      25.0       0.0
max      894.000000             4.0         60.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.501060e+05
std        0.816516      0.0       0.0      0.0      0.0  6.202798e+05
min        1.000000    188.0       0.0     -1.0      0.0  6.000000e+00
25%        1.000000    188.0       0.0     -1.0      0.0  1.510000e+03
50%        2.000000    188.0       0.0     -1.0      0.0  2.350200e+04
75%        3.000000    188.0       0.0     -1.0      0.0  9.519525e+04
max        3.000000    188.0       0.0     -1.0      0.0  1.034623e+07
====Get a sample of 5 rows====
       locationId     location iso3 iso2  locationTypeId  indicatorId  \
14348         586     Pakistan  PAK   PK               4           60
14868         608  Philippines  PHL   PH               4           60
6079          250       France  FRA   FR               4           60
2054           84       Belize  BLZ   BZ               4           60
2916          120     Cameroon  CMR   CM               4           60

                 indicator indicatorDisplayName  sourceId  \
14348  Total deaths by sex  Total deaths by sex        25
14868  Total deaths by sex  Total deaths by sex        25
6079   Total deaths by sex  Total deaths by sex        25
2054   Total deaths by sex  Total deaths by sex        25
2916   Total deaths by sex  Total deaths by sex        25

                           source  revision  variantId variant  \
14348  World Population Prospects         0          4  Median
14868  World Population Prospects         0          4  Median
6079   World Population Prospects         0          4  Median
2054   World Population Prospects         0          4  Median
2916   World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
14348           Median       Median      49      1998  1998.5           0
14868           Median       Median      68      2017  2017.5           0
6079            Median       Median      52      2001  2001.5           0
2054            Median       Median      43      1992  1992.5           0
2916            Median       Median      52      2001  2001.5           0

             category  estimateTypeId           estimateType  \
14348  Not applicable               1  Model-based Estimates
14868  Not applicable               1  Model-based Estimates
6079   Not applicable               1  Model-based Estimates
2054   Not applicable               1  Model-based Estimates
2916   Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
14348                 2  Interpolation      3  Both sexes    188    Total
14868                 2  Interpolation      1        Male    188    Total
6079                  2  Interpolation      2      Female    188    Total
2054                  2  Interpolation      3  Both sexes    188    Total
2916                  2  Interpolation      1        Male    188    Total

       ageStart  ageEnd  ageMid    value
14348         0      -1       0  1360060
14868         0      -1       0   312052
6079          0      -1       0   258694
2054          0      -1       0     1093
2916          0      -1       0   106850

========DF_UNPD_POP_53========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         53.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         53.0      25.0       0.0
25%     222.000000             4.0         53.0      25.0       0.0
50%     439.000000             4.0         53.0      25.0       0.0
75%     646.000000             4.0         53.0      25.0       0.0
max     894.000000             4.0         53.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    14.441731
std       0.0     0.0       0.0     0.0     0.0    10.963369
min       3.0   188.0       0.0    -1.0     0.0   -62.082000
25%       3.0   188.0       0.0    -1.0     0.0     4.874500
50%       3.0   188.0       0.0    -1.0     0.0    14.018000
75%       3.0   188.0       0.0    -1.0     0.0    23.992000
max       3.0   188.0       0.0    -1.0     0.0    42.025000
====Get a sample of 5 rows====
      locationId                          location iso3 iso2  locationTypeId  \
1695         214                Dominican Republic  DOM   DO               4
3103         400                            Jordan  JOR   JO               4
5423         670  Saint Vincent and the Grenadines  VCT   VC               4
1935         238       Falkland Islands (Malvinas)  FLK   FK               4
6580         807                   North Macedonia  MKD   MK               4

      indicatorId                                   indicator  \
1695           53  Crude rate of natural change of population
3103           53  Crude rate of natural change of population
5423           53  Crude rate of natural change of population
1935           53  Crude rate of natural change of population
6580           53  Crude rate of natural change of population

                            indicatorDisplayName  sourceId  \
1695  Crude rate of natural change of population        25
3103  Crude rate of natural change of population        25
5423  Crude rate of natural change of population        25
1935  Crude rate of natural change of population        25
6580  Crude rate of natural change of population        25

                          source  revision  variantId variant  \
1695  World Population Prospects         0          4  Median
3103  World Population Prospects         0          4  Median
5423  World Population Prospects         0          4  Median
1935  World Population Prospects         0          4  Median
6580  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1695           Median       Median      62      2011  2011.5           0
3103           Median       Median      44      1993  1993.5           0
5423           Median       Median      70      2019  2019.5           0
1935           Median       Median      54      2003  2003.5           0
6580           Median       Median      49      1998  1998.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1695  Not applicable               1  Model-based Estimates                 2
3103  Not applicable               1  Model-based Estimates                 2
5423  Not applicable               1  Model-based Estimates                 2
1935  Not applicable               1  Model-based Estimates                 2
6580  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1695  Interpolation      3  Both sexes    188    Total         0      -1
3103  Interpolation      3  Both sexes    188    Total         0      -1
5423  Interpolation      3  Both sexes    188    Total         0      -1
1935  Interpolation      3  Both sexes    188    Total         0      -1
6580  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
1695       0  15.952
3103       0  31.781
5423       0   3.246
1935       0   5.044
6580       0   4.476

========DF_OMS_NUTRITION_ANAEMIA_CHILDREN_PREV========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  20950 non-null  float64
 1   IndicatorCode       20950 non-null  object
 2   SpatialDim          20950 non-null  object
 3   TimeDimensionValue  20950 non-null  object
 4   Dim1Type            20950 non-null  object
 5   Dim1                20950 non-null  object
 6   NumericValue        20950 non-null  float64
 7   Low                 20950 non-null  float64
 8   High                20950 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB
None
====Sum the null in each column====
Id                    9
IndicatorCode         9
SpatialDim            9
TimeDimensionValue    9
Dim1Type              9
Dim1                  9
NumericValue          9
Low                   9
High                  9
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.095000e+04  20950.000000  20950.000000  20950.000000
mean   2.764218e+07     22.107828     15.510368     30.280635
std    1.087079e+06     19.668112     17.339564     21.885502
min    2.563744e+07      0.000000      0.000000      0.100000
25%    2.820283e+07      6.700000      3.000000     13.300000
50%    2.822378e+07     18.400000      9.400000     27.600000
75%    2.824473e+07     30.100000     21.000000     43.175000
max    2.828180e+07     88.400000     86.100000     91.600000
====Get a sample of 5 rows====
               Id                    IndicatorCode SpatialDim  \
1358   25638800.0  NUTRITION_ANAEMIA_CHILDREN_PREV        GHA
12287  28231023.0  NUTRITION_ANAEMIA_CHILDREN_PREV        TUV
16410  28247525.0  NUTRITION_ANAEMIA_CHILDREN_PREV        YEM
18306  28255118.0  NUTRITION_ANAEMIA_CHILDREN_PREV        KGZ
15387  28243440.0  NUTRITION_ANAEMIA_CHILDREN_PREV        PLW

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
1358                2018       SEX      BTSX          61.0  53.7  67.4
12287               2004  SEVERITY  MODERATE          23.8  12.2  35.6
16410               2014  SEVERITY      MILD          15.7  13.2  26.4
18306               2015  SEVERITY     TOTAL          33.6  23.8  43.5
15387               2009  SEVERITY      MILD          22.4  12.5  29.4

========DF_UNPD_IMIGRT_66========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       7006.0  7006.000000
mean          66.0    -0.381888
std            0.0    17.815493
min           66.0  -526.323000
25%           66.0    -4.002500
50%           66.0    -0.535000
75%           66.0     2.721250
max           66.0   415.239000
====Get a sample of 5 rows====
          location iso3 timeLabel  indicatorId                    indicator  \
1422  Cook Islands  COK      2017           66  Crude rate of net migration
4187         Nauru  NRU      1992           66  Crude rate of net migration
2613         Haiti  HTI      1999           66  Crude rate of net migration
3137         Kenya  KEN      1996           66  Crude rate of net migration
1566       Czechia  CZE      2006           66  Crude rate of net migration

             sex   value
1422  Both sexes -17.778
4187  Both sexes -10.803
2613  Both sexes  -3.324
3137  Both sexes  -2.867
1566  Both sexes   2.509

========DF_TWB_SH.STA.SUIC.P5========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4620 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====

countryiso3code     155
date                  0
value              3626
dtype: int64
====Describe numeric columns====
             value
count  4620.000000
mean     10.554321
std       8.262731
min       0.000000
25%       5.400000
50%       8.500000
75%      13.200000
max      92.600000
====Get a sample of 5 rows====
     countryiso3code  date      value
1190             PSS  2008  13.921928
7917             USA  2008  12.700000
6720             SEN  1996        NaN
7237             VCT  2006   6.200000
4540             JAM  2006   1.500000

========DF_TWB_SE.COM.DURS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5320 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2926
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  5320.000000   0.0         0.0   8246.0
mean      9.363910   NaN         NaN      0.0
std       2.146495   NaN         NaN      0.0
min       0.000000   NaN         NaN      0.0
25%       8.000000   NaN         NaN      0.0
50%       9.000000   NaN         NaN      0.0
75%      10.000000   NaN         NaN      0.0
max      17.000000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
1694             AGO  2000    4.0   NaN         NaN        0  SE.COM.DURS
701              LTE  2001    9.0   NaN         NaN        0  SE.COM.DURS
3586             FJI  1999    NaN   NaN         NaN        0  SE.COM.DURS
5822             NPL  1995    NaN   NaN         NaN        0  SE.COM.DURS
7132             KNA  2018   12.0   NaN         NaN        0  SE.COM.DURS

                             indicator.value country.id  \
1694  Educación obligatoria, duración (años)         AO
701   Educación obligatoria, duración (años)         V3
3586  Educación obligatoria, duración (años)         FJ
5822  Educación obligatoria, duración (años)         NP
7132  Educación obligatoria, duración (años)         KN

                           country.value
1694                              Angola
701   avanzada del dividendo demográfico
3586                                Fiji
5822                               Nepal
7132                 Saint Kitts y Nevis

========DF_OMS_NCD_BMI_30A========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26045 entries, 0 to 26044
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  26036 non-null  float64
 1   IndicatorCode       26036 non-null  object
 2   SpatialDim          26036 non-null  object
 3   TimeDimensionValue  26036 non-null  object
 4   Dim1Type            26036 non-null  object
 5   Dim1                26036 non-null  object
 6   NumericValue        25532 non-null  float64
 7   Low                 25532 non-null  float64
 8   High                25532 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.8+ MB
None
====Sum the null in each column====
Id                      9
IndicatorCode           9
SpatialDim              9
TimeDimensionValue      9
Dim1Type                9
Dim1                    9
NumericValue          513
Low                   513
High                  513
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.603600e+04  25532.000000  25532.000000  25532.000000
mean   1.604230e+07     12.213802      9.131744     15.841352
std    3.517994e+04     10.278428      8.742522     11.885698
min    1.543336e+07      0.100000      0.000000      0.200000
25%    1.603684e+07      3.800000      2.200000      5.900000
50%    1.604335e+07     10.300000      6.900000     14.300000
75%    1.604986e+07     17.900000     13.700000     22.600000
max    1.613296e+07     63.300000     55.600000     70.800000
====Get a sample of 5 rows====
               Id IndicatorCode SpatialDim TimeDimensionValue Dim1Type  Dim1  \
4354   16034688.0   NCD_BMI_30A        GUY               2007      SEX  BTSX
15244  16045578.0   NCD_BMI_30A        RUS               1977      SEX  FMLE
19371  16049705.0   NCD_BMI_30A        DJI               1988      SEX   MLE
21473  16051807.0   NCD_BMI_30A        LTU               1990      SEX   MLE
24699  16055033.0   NCD_BMI_30A        TUN               1982      SEX   MLE

       NumericValue   Low  High
4354           15.3  11.5  19.5
15244          20.3  14.6  27.3
19371           3.3   1.4   6.5
21473          13.5   9.5  18.2
24699           4.6   2.3   7.9

========DF_UNPD_POP_72========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         72.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         72.0      25.0       0.0
25%     222.000000             4.0         72.0      25.0       0.0
50%     439.000000             4.0         72.0      25.0       0.0
75%     646.000000             4.0         72.0      25.0       0.0
max     894.000000             4.0         72.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0   100.718104
std       0.0     0.0       0.0     0.0     0.0    15.886405
min       3.0   188.0       0.0    -1.0     0.0    82.170955
25%       3.0   188.0       0.0    -1.0     0.0    95.687958
50%       3.0   188.0       0.0    -1.0     0.0    98.679200
75%       3.0   188.0       0.0    -1.0     0.0   101.766534
max       3.0   188.0       0.0    -1.0     0.0   327.456193
====Get a sample of 5 rows====
      locationId location iso3 iso2  locationTypeId  indicatorId  \
2492         316     Guam  GUM   GU               4           72
537           64   Bhutan  BTN   BT               4           72
4623         578   Norway  NOR   NO               4           72
1325         175  Mayotte  MYT   YT               4           72
1475         191  Croatia  HRV   HR               4           72

                              indicator               indicatorDisplayName  \
2492  Sex ratio of the total population  Sex ratio of the total population
537   Sex ratio of the total population  Sex ratio of the total population
4623  Sex ratio of the total population  Sex ratio of the total population
1325  Sex ratio of the total population  Sex ratio of the total population
1475  Sex ratio of the total population  Sex ratio of the total population

      sourceId                      source  revision  variantId variant  \
2492        25  World Population Prospects         0          4  Median
537         25  World Population Prospects         0          4  Median
4623        25  World Population Prospects         0          4  Median
1325        25  World Population Prospects         0          4  Median
1475        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
2492           Median       Median      53      2002  2002.5           0
537            Median       Median      51      2000  2000.5           0
4623           Median       Median      45      1994  1994.5           0
1325           Median       Median      64      2013  2013.5           0
1475           Median       Median      59      2008  2008.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
2492  Not applicable               1  Model-based Estimates                 2
537   Not applicable               1  Model-based Estimates                 2
4623  Not applicable               1  Model-based Estimates                 2
1325  Not applicable               1  Model-based Estimates                 2
1475  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
2492  Interpolation      3  Both sexes    188    Total         0      -1
537   Interpolation      3  Both sexes    188    Total         0      -1
4623  Interpolation      3  Both sexes    188    Total         0      -1
1325  Interpolation      3  Both sexes    188    Total         0      -1
1475  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid       value
2492       0  102.911440
537        0  108.694184
4623       0   97.827259
1325       0   94.088188
1475       0   92.524534

========DF_TWB_SP.DYN.LE00.IN========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              577
dtype: int64
====Describe numeric columns====
             value
count  7669.000000
mean     68.469955
std       9.389406
min      26.172000
25%      62.769966
50%      70.587805
75%      75.401541
max      85.387805
====Get a sample of 5 rows====
     countryiso3code  date      value
7337             SWE  1999  79.441463
1397             SSA  2018  61.271994
3943             GRD  2014  72.503000
6228             PAN  1992  73.439000
6336             PHL  2008  69.515000

========DF_TWB_NY.GDP.PCAP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7690 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               556
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
               value  unit  obs_status  decimal
count    7690.000000   0.0         0.0   8246.0
mean    11676.766348   NaN         NaN      1.0
std     19521.904835   NaN         NaN      0.0
min        22.795345   NaN         NaN      1.0
25%      1093.730784   NaN         NaN      1.0
50%      3594.136069   NaN         NaN      1.0
75%     13759.058425   NaN         NaN      1.0
max    189487.147128   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
565              IBT  2013   4751.116991   NaN         NaN        1
5786             NRU  2000           NaN   NaN         NaN        1
4250             ISL  2017  72010.149032   NaN         NaN        1
393              TEC  1999   1890.143526   NaN         NaN        1
6196             PLW  1993           NaN   NaN         NaN        1

        indicator.id                          indicator.value country.id  \
565   NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         ZT
5786  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         NR
4250  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         IS
393   NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         T7
6196  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         PW

                              country.value
565                           BIRF y la AIF
5786                                  Nauru
4250                               Islandia
393   Europa y Asia central (BIRF y la AIF)
6196                                  Palau

========DF_TWB_SP.DYN.LE00.FE.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              577
dtype: int64
====Describe numeric columns====
             value
count  7669.000000
mean     70.946840
std       9.859640
min      27.571000
25%      64.539567
50%      73.544612
75%      78.400000
max      88.100000
====Get a sample of 5 rows====
     countryiso3code  date      value
4255             ISL  2012  84.300000
1286             SST  2005  65.501009
7694             TKM  2014  71.011000
7410             TJK  2019  73.389000
605              IDB  2004  57.486275

========DF_TWB_IQ.SCI.OVRL========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            2983 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              5263
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  2983.000000   0.0         0.0   8246.0
mean     65.263466   NaN         NaN      1.0
std      15.574997   NaN         NaN      0.0
min      16.666667   NaN         NaN      1.0
25%      55.555567   NaN         NaN      1.0
50%      66.666667   NaN         NaN      1.0
75%      76.666667   NaN         NaN      1.0
max      98.888900   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal indicator.id  \
2717             TCD  2000        NaN   NaN         NaN        1  IQ.SCI.OVRL
2302             BWA  2012  63.333333   NaN         NaN        1  IQ.SCI.OVRL
1477             NaN  2000        NaN   NaN         NaN        1  IQ.SCI.OVRL
4239             HUN  1997        NaN   NaN         NaN        1  IQ.SCI.OVRL
2103             BEL  1994        NaN   NaN         NaN        1  IQ.SCI.OVRL

                                                 indicator.value country.id  \
2717  Nivel general de la capacidad estadística (escala 0 - 100)         TD
2302  Nivel general de la capacidad estadística (escala 0 - 100)         BW
1477  Nivel general de la capacidad estadística (escala 0 - 100)         XT
4239  Nivel general de la capacidad estadística (escala 0 - 100)         HU
2103  Nivel general de la capacidad estadística (escala 0 - 100)         BE

             country.value
2717                  Chad
2302              Botswana
1477  Ingreso mediano alto
4239               Hungría
2103               Bélgica

========DF_TWB_SP.POP.TOTL.MA.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7493 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               753
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7493.000000   0.0         0.0   8246.0
mean     49.955191   NaN         NaN      0.0
std       2.539738   NaN         NaN      0.0
min      45.435177   NaN         NaN      0.0
25%      49.042295   NaN         NaN      0.0
50%      49.712522   NaN         NaN      0.0
75%      50.431621   NaN         NaN      0.0
max      76.710946   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
3351             SLV  2017  46.927862   NaN         NaN        0
6164             PAK  1994  51.719332   NaN         NaN        0
2123             BLZ  2005  50.268853   NaN         NaN        0
2469             BFA  2000  49.118591   NaN         NaN        0
4307             IND  1991  51.914177   NaN         NaN        0

           indicator.id                   indicator.value country.id  \
3351  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         SV
6164  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         PK
2123  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         BZ
2469  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         BF
4307  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         IN

     country.value
3351   El Salvador
6164      Pakistán
2123        Belice
2469  Burkina Faso
4307         India

========DF_LOCATIONSWITHAGGREGATES========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 0 to 236
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    227 non-null    int64
 1   Name                  227 non-null    object
 2   Iso2                  227 non-null    object
 3   Iso3                  227 non-null    object
 4   Longitude             227 non-null    float64
 5   Latitude              227 non-null    float64
 6   Region                227 non-null    object
 7   SubRegion             227 non-null    object
 8   WorldBankIncomeGroup  227 non-null    object
 9   UNDevelopmentGroup    227 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 19.5+ KB
None
====Sum the null in each column====
Id                      0
Name                    0
Iso2                    0
Iso3                    0
Longitude               0
Latitude                0
Region                  0
SubRegion               0
WorldBankIncomeGroup    0
UNDevelopmentGroup      0
dtype: int64
====Describe numeric columns====

               Id   Longitude    Latitude
count  227.000000  227.000000  227.000000
mean   435.960352   13.363854   17.099326
std    250.001953   73.707585   24.031906
min      4.000000 -178.116501  -51.796253
25%    224.000000  -37.765227    1.924065
50%    438.000000   18.490410   15.870032
75%    644.500000   47.529346   36.172787
max    894.000000  178.679916   64.963051
====Get a sample of 5 rows====
      Id                          Name Iso2 Iso3  Longitude   Latitude  \
48   188                    Costa Rica   CR  CRI -83.753426   9.748917
30   112                       Belarus   BY  BLR  27.953388  53.709808
221  818                         Egypt   EG  EGY  30.802498  26.820553
124  462                      Maldives   MV  MDV  73.536110   1.977247
228  850  United States Virgin Islands   VI  VIR -64.775520  17.740460

                              Region        SubRegion  \
48   Latin America and the Caribbean  Central America
30                            Europe   Eastern Europe
221                           Africa  Northern Africa
124                             Asia    Southern Asia
228  Latin America and the Caribbean        Caribbean

              WorldBankIncomeGroup        UNDevelopmentGroup
48   Upper-middle-income countries  Other developing regions
30   Upper-middle-income countries         Developed regions
221  Lower-middle-income countries  Other developing regions
124  Upper-middle-income countries  Other developing regions
228          High-income countries  Other developing regions

========DF_UNPD_FAM_1========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6014 entries, 6 to 90449
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     6014 non-null   object
 1   iso3         6014 non-null   object
 2   timeLabel    6014 non-null   object
 3   indicatorId  6014 non-null   int64
 4   indicator    6014 non-null   object
 5   value        6014 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 328.9+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       6014.0  6014.000000
mean           1.0    36.347123
std            0.0    16.967782
min            1.0     2.900000
25%            1.0    23.400000
50%            1.0    36.600000
75%            1.0    49.600000
max            1.0    78.600000
====Get a sample of 5 rows====
      location iso3 timeLabel  indicatorId  \
37178     Iraq  IRQ      2019            1
32768   Guinea  GIN      2004            1
1688    Angola  AGO      2009            1
17438    Congo  COG      2005            1
82366  Türkiye  TUR      2008            1

                                            indicator  value
37178  Contraceptive prevalence: Any method (Percent)   36.2
32768  Contraceptive prevalence: Any method (Percent)    9.1
1688   Contraceptive prevalence: Any method (Percent)   15.0
17438  Contraceptive prevalence: Any method (Percent)   41.4
82366  Contraceptive prevalence: Any method (Percent)   49.1

========DF_TWB_NY.GNP.PCAP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7118 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1128
dtype: int64
====Describe numeric columns====
               value
count    7118.000000
mean     9962.181831
std     15586.420851
min        40.000000
25%      1000.000000
50%      3319.488968
75%     11237.500000
max    121900.000000
====Get a sample of 5 rows====
     countryiso3code  date    value
1940             BHS  2002  27190.0
2307             BWA  2007   5730.0
4267             ISL  2000  31540.0
6732             SRB  2015   5960.0
5213             MWI  2015    350.0

========DF_TWB_SE.XPD.TOTL.GD.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4428 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              3818
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  4428.000000   0.0         0.0   8246.0
mean      4.367629   NaN         NaN      1.0
std       1.964361   NaN         NaN      0.0
min       0.000000   NaN         NaN      1.0
25%       3.169903   NaN         NaN      1.0
50%       4.097755   NaN         NaN      1.0
75%       5.140193   NaN         NaN      1.0
max      44.333981   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date    value  unit  obs_status  decimal  \
6188             PLW  2001  7.70720   NaN         NaN        1
4293             IND  2005  3.18875   NaN         NaN        1
7517             TLS  2005      NaN   NaN         NaN        1
3451             EST  2010  5.51779   NaN         NaN        1
2694             CAF  1992      NaN   NaN         NaN        1

           indicator.id                                indicator.value  \
6188  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
4293  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
7517  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
3451  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
2694  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)

     country.id             country.value
6188         PW                     Palau
4293         IN                     India
7517         TL               Timor-Leste
3451         EE                   Estonia
2694         CF  República Centroafricana

========DF_UNPD_POP_67========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         67.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         67.0      25.0       0.0
25%     222.000000             4.0         67.0      25.0       0.0
50%     439.000000             4.0         67.0      25.0       0.0
75%     646.000000             4.0         67.0      25.0       0.0
max     894.000000             4.0         67.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    26.339441
std       0.0     0.0       0.0     0.0     0.0     8.526796
min       3.0   188.0       0.0    -1.0     0.0    13.528263
25%       3.0   188.0       0.0    -1.0     0.0    18.459661
50%       3.0   188.0       0.0    -1.0     0.0    24.994464
75%       3.0   188.0       0.0    -1.0     0.0    33.695728
max       3.0   188.0       0.0    -1.0     0.0    54.456523
====Get a sample of 5 rows====
      locationId                     location iso3 iso2  locationTypeId  \
5281         654                 Saint Helena  SHN   SH               4
4765         585                        Palau  PLW   PW               4
4686         583  Micronesia (Fed. States of)  FSM   FM               4
909          112                      Belarus  BLR   BY               4
1754         222                  El Salvador  SLV   SV               4

      indicatorId                 indicator  \
5281           67  Median age of population
4765           67  Median age of population
4686           67  Median age of population
909            67  Median age of population
1754           67  Median age of population

                    indicatorDisplayName  sourceId  \
5281  Median age of the total population        25
4765  Median age of the total population        25
4686  Median age of the total population        25
909   Median age of the total population        25
1754  Median age of the total population        25

                          source  revision  variantId variant  \
5281  World Population Prospects         0          4  Median
4765  World Population Prospects         0          4  Median
4686  World Population Prospects         0          4  Median
909   World Population Prospects         0          4  Median
1754  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
5281           Median       Median      52      2001  2001.5           0
4765           Median       Median      63      2012  2012.5           0
4686           Median       Median      46      1995  1995.5           0
909            Median       Median      51      2000  2000.5           0
1754           Median       Median      59      2008  2008.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
5281  Not applicable               1  Model-based Estimates                 2
4765  Not applicable               1  Model-based Estimates                 2
4686  Not applicable               1  Model-based Estimates                 2
909   Not applicable               1  Model-based Estimates                 2
1754  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
5281  Interpolation      3  Both sexes    188    Total         0      -1
4765  Interpolation      3  Both sexes    188    Total         0      -1
4686  Interpolation      3  Both sexes    188    Total         0      -1
909   Interpolation      3  Both sexes    188    Total         0      -1
1754  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid      value
5281       0  36.562301
4765       0  33.732666
4686       0  16.768301
909        0  35.529087
1754       0  22.289269

========DF_TWB_SP.DYN.IMRT.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7471 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====

countryiso3code    155
date                 0
value              775
dtype: int64
====Describe numeric columns====
             value
count  7471.000000
mean     35.125306
std      30.935373
min       1.500000
25%      10.200000
50%      24.700000
75%      53.000000
max     190.600000
====Get a sample of 5 rows====
     countryiso3code  date       value
681              IDA  1990  103.483778
1942             BHS  2000   13.900000
1484             NaN  1993   38.500000
7496             THA  1995   23.800000
7519             TLS  2003   73.000000

========DF_UNPD_MORT_59========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         59.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         59.0      25.0       0.0
25%     222.000000             4.0         59.0      25.0       0.0
50%     439.000000             4.0         59.0      25.0       0.0
75%     646.000000             4.0         59.0      25.0       0.0
max     894.000000             4.0         59.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     8.550039
std       0.0     0.0       0.0     0.0     0.0     3.974595
min       3.0   188.0       0.0    -1.0     0.0     0.795000
25%       3.0   188.0       0.0    -1.0     0.0     6.019250
50%       3.0   188.0       0.0    -1.0     0.0     7.733500
75%       3.0   188.0       0.0    -1.0     0.0    10.309750
max       3.0   188.0       0.0    -1.0     0.0   103.534000
====Get a sample of 5 rows====
      locationId     location iso3 iso2  locationTypeId  indicatorId  \
473           52     Barbados  BRB   BB               4           59
627           72     Botswana  BWA   BW               4           59
3940         496     Mongolia  MNG   MN               4           59
2940         376       Israel  ISR   IL               4           59
4932         608  Philippines  PHL   PH               4           59

             indicator                            indicatorDisplayName  \
473   Crude death rate  Crude death rate (deaths per 1,000 population)
627   Crude death rate  Crude death rate (deaths per 1,000 population)
3940  Crude death rate  Crude death rate (deaths per 1,000 population)
2940  Crude death rate  Crude death rate (deaths per 1,000 population)
4932  Crude death rate  Crude death rate (deaths per 1,000 population)

      sourceId                      source  revision  variantId variant  \
473         25  World Population Prospects         0          4  Median
627         25  World Population Prospects         0          4  Median
3940        25  World Population Prospects         0          4  Median
2940        25  World Population Prospects         0          4  Median
4932        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
473            Median       Median      49      1998  1998.5           0
627            Median       Median      48      1997  1997.5           0
3940           Median       Median      44      1993  1993.5           0
2940           Median       Median      67      2016  2016.5           0
4932           Median       Median      44      1993  1993.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
473   Not applicable               1  Model-based Estimates                 2
627   Not applicable               1  Model-based Estimates                 2
3940  Not applicable               1  Model-based Estimates                 2
2940  Not applicable               1  Model-based Estimates                 2
4932  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
473   Interpolation      3  Both sexes    188    Total         0      -1
627   Interpolation      3  Both sexes    188    Total         0      -1
3940  Interpolation      3  Both sexes    188    Total         0      -1
2940  Interpolation      3  Both sexes    188    Total         0      -1
4932  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
473        0   9.705
627        0  11.508
3940       0   9.162
2940       0   5.272
4932       0   6.126

========DF_TWB_SH.H2O.BASW.ZS========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5419 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2827
dtype: int64
====Describe numeric columns====
             value
count  5419.000000
mean     85.312561
std      17.840173
min      18.085445
25%      78.554913
50%      93.341866
75%      99.035578
max     100.000005
====Get a sample of 5 rows====
     countryiso3code  date      value
7245             VCT  1998        NaN
1951             BHS  1991        NaN
16               AFE  2004  44.192555
1551             ALB  2019  94.758223
2243             BOL  2009  86.583198

========DF_UNPD_POP_51========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         51.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         51.0      25.0       0.0
25%     222.000000             4.0         51.0      25.0       0.0
50%     439.000000             4.0         51.0      25.0       0.0
75%     646.000000             4.0         51.0      25.0       0.0
max     894.000000             4.0         51.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     1.390488
std       0.0     0.0       0.0     0.0     0.0     2.131548
min       3.0   188.0       0.0    -1.0     0.0   -71.689000
25%       3.0   188.0       0.0    -1.0     0.0     0.400000
50%       3.0   188.0       0.0    -1.0     0.0     1.344500
75%       3.0   188.0       0.0    -1.0     0.0     2.386750
max       3.0   188.0       0.0    -1.0     0.0    36.299000
====Get a sample of 5 rows====
      locationId    location iso3 iso2  locationTypeId  indicatorId  \
2199         268     Georgia  GEO   GE               4           51
652           76      Brazil  BRA   BR               4           51
5931         729       Sudan  SDN   SD               4           51
1006         132  Cabo Verde  CPV   CV               4           51
236           31  Azerbaijan  AZE   AZ               4           51

                      indicator                   indicatorDisplayName  \
2199  Rate of population change  Crude rate of total population change
652   Rate of population change  Crude rate of total population change
5931  Rate of population change  Crude rate of total population change
1006  Rate of population change  Crude rate of total population change
236   Rate of population change  Crude rate of total population change

      sourceId                      source  revision  variantId variant  \
2199        25  World Population Prospects         0          4  Median
652         25  World Population Prospects         0          4  Median
5931        25  World Population Prospects         0          4  Median
1006        25  World Population Prospects         0          4  Median
236         25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
2199           Median       Median      70      2019  2019.5           0
652            Median       Median      42      1991  1991.5           0
5931           Median       Median      51      2000  2000.5           0
1006           Median       Median      55      2004  2004.5           0
236            Median       Median      60      2009  2009.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
2199  Not applicable               1  Model-based Estimates                 2
652   Not applicable               1  Model-based Estimates                 2
5931  Not applicable               1  Model-based Estimates                 2
1006  Not applicable               1  Model-based Estimates                 2
236   Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
2199  Interpolation      3  Both sexes    188    Total         0      -1
652   Interpolation      3  Both sexes    188    Total         0      -1
5931  Interpolation      3  Both sexes    188    Total         0      -1
1006  Interpolation      3  Both sexes    188    Total         0      -1
236   Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
2199       0 -0.086
652        0  1.688
5931       0  2.538
1006       0  1.302
236        0  1.276

========DF_UNPD_POP_50========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         50.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         50.0      25.0       0.0
25%     222.000000             4.0         50.0      25.0       0.0
50%     439.000000             4.0         50.0      25.0       0.0
75%     646.000000             4.0         50.0      25.0       0.0
max     894.000000             4.0         50.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.577964e+05
std       0.0     0.0       0.0     0.0     0.0  1.419734e+06
min       3.0   188.0       0.0    -1.0     0.0 -2.647698e+06
25%       3.0   188.0       0.0    -1.0     0.0  9.167500e+02
50%       3.0   188.0       0.0    -1.0     0.0  3.525000e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.407268e+05
max       3.0   188.0       0.0    -1.0     0.0  1.987452e+07
====Get a sample of 5 rows====
      locationId         location iso3 iso2  locationTypeId  indicatorId  \
6402         792          Türkiye  TUR   TR               4           50
718           90  Solomon Islands  SLB   SB               4           50
2592         328           Guyana  GUY   GY               4           50
5265         646           Rwanda  RWA   RW               4           50
4037         500       Montserrat  MSR   MS               4           50

              indicator indicatorDisplayName  sourceId  \
6402  Population Change    Population Change        25
718   Population Change    Population Change        25
2592  Population Change    Population Change        25
5265  Population Change    Population Change        25
4037  Population Change    Population Change        25

                          source  revision  variantId variant  \
6402  World Population Prospects         0          4  Median
718   World Population Prospects         0          4  Median
2592  World Population Prospects         0          4  Median
5265  World Population Prospects         0          4  Median
4037  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6402           Median       Median      57      2006  2006.5           0
718            Median       Median      46      1995  1995.5           0
2592           Median       Median      60      2009  2009.5           0
5265           Median       Median      67      2016  2016.5           0
4037           Median       Median      48      1997  1997.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
6402  Not applicable               1  Model-based Estimates                 2
718   Not applicable               1  Model-based Estimates                 2
2592  Not applicable               1  Model-based Estimates                 2
5265  Not applicable               1  Model-based Estimates                 2
4037  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
6402  Interpolation      3  Both sexes    188    Total         0      -1
718   Interpolation      3  Both sexes    188    Total         0      -1
2592  Interpolation      3  Both sexes    188    Total         0      -1
5265  Interpolation      3  Both sexes    188    Total         0      -1
4037  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
6402       0  885516
718        0   10812
2592       0   -3124
5265       0  297777
4037       0    -664

========DF_TWB_SL.UEM.TOTL.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7050 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1196
dtype: int64
====Describe numeric columns====
             value
count  7050.000000
mean      7.998978
std       5.859179
min       0.100000
25%       4.085315
50%       6.310000
75%      10.490000
max      38.799999
====Get a sample of 5 rows====
     countryiso3code  date     value
586              IBT  1992  4.468739
6294             PER  2019  3.380000
5512             FSM  1995       NaN
5264             MYS  1995  3.150000
7714             TKM  1994  4.700000

========PAISES========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               178 non-null    object
 1   id                 178 non-null    object
 2   region.value       178 non-null    object
 3   incomeLevel.value  178 non-null    object
dtypes: object(4)
memory usage: 5.7+ KB
None
====Sum the null in each column====
name                 0
id                   0
region.value         0
incomeLevel.value    0
dtype: int64
====Describe numeric columns====
         name   id           region.value incomeLevel.value
count     178  178                    178               178
unique    178  178                      7                 4
top     Aruba  ABW  Europe & Central Asia       High income
freq        1    1                     47                50
====Get a sample of 5 rows====
            name   id                region.value    incomeLevel.value
100       Angola  AGO         Sub-Saharan Africa   Lower middle income
31          Guam  GUM         East Asia & Pacific          High income
157       Guinea  GIN         Sub-Saharan Africa            Low income
22         Spain  ESP       Europe & Central Asia          High income
141  El Salvador  SLV  Latin America & Caribbean   Lower middle income

========DF_OMS_M_EST_CIG_C========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4437 entries, 0 to 4436
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             4428 non-null   float64
 1   IndicatorCode  4428 non-null   object
 2   SpatialDim     4428 non-null   object
 3   TimeDim        4428 non-null   float64
 4   Dim1Type       4428 non-null   object
 5   Dim1           4428 non-null   object
 6   NumericValue   4428 non-null   float64
 7   Low            4428 non-null   float64
 8   High           4428 non-null   float64
 9   Comments       1461 non-null   object
dtypes: float64(5), object(5)
memory usage: 346.8+ KB
None
====Sum the null in each column====
Id                  9
IndicatorCode       9
SpatialDim          9
TimeDim             9
Dim1Type            9
Dim1                9
NumericValue        9
Low                 9
High                9
Comments         2976
dtype: int64
====Describe numeric columns====
                 Id      TimeDim  NumericValue          Low         High
count  4.428000e+03  4428.000000   4428.000000  4428.000000  4428.000000
mean   2.780509e+07  2015.000000     17.376626    12.541847    22.210298
std    6.713267e+03     7.917122     12.859629     9.793209    16.248052
min    2.779325e+07  2000.000000      0.000000     0.000000     0.000000
25%    2.780027e+07  2010.000000      6.700000     4.600000     8.700000
50%    2.780531e+07  2018.000000     16.100000    11.000000    20.700000
75%    2.781035e+07  2020.000000     25.600000    18.600000    32.125000
max    2.781539e+07  2025.000000     73.800000    52.800000    94.800000
====Get a sample of 5 rows====
              Id   IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
2871  27807934.0  M_Est_cig_curr        LBN   2018.0      SEX  FMLE
309   27793561.0  M_Est_cig_curr        JPN   2020.0      SEX   MLE
996   27800155.0  M_Est_cig_curr        BGD   2005.0      SEX  BTSX
931   27798122.0  M_Est_cig_curr        NPL   2000.0      SEX  FMLE
2787  27807850.0  M_Est_cig_curr        ZWE   2018.0      SEX   MLE

      NumericValue   Low  High  \
2871          19.8  13.3  26.3
309           27.2  22.7  31.6
996           20.3  15.9  24.8
931           28.4  22.3  34.5
2787          17.2  12.9  21.5

                                             Comments
2871                                             None
309   Projected from surveys completed prior to 2020.
996                                              None
931                                              None
2787                                             None

========DF_TWB_AG.LND.FRST.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7897 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              349
dtype: int64
====Describe numeric columns====
             value
count  7897.000000
mean     32.540470
std      23.335263
min       0.000000
25%      12.470549
50%      30.819847
75%      47.250969
max      98.574551
====Get a sample of 5 rows====
     countryiso3code  date      value
1300             SST  1991  41.771173
5765             NAM  1990  10.651374
3422             ERI  2008   9.030255
7012             ZAF  2014  14.235127
3545             FRO  2009   0.057307

========DF_UNPD_POP_41========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   float64
 31  value                 7006 non-null   int64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         41.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         41.0      25.0       0.0
25%     222.000000             4.0         41.0      25.0       0.0
50%     439.000000             4.0         41.0      25.0       0.0
75%     646.000000             4.0         41.0      25.0       0.0
max     894.000000             4.0         41.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000        99.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000        99.0             1.0               2.0
25%          4.0    48.00000        99.0             1.0               2.0
50%          4.0    56.00000        99.0             1.0               2.0
75%          4.0    64.00000        99.0             1.0               2.0
max          4.0    71.00000        99.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      2.0    31.0      15.0    49.0    32.5  7.029655e+06
std       0.0     0.0       0.0     0.0     0.0  3.106368e+07
min       2.0    31.0      15.0    49.0    32.5  2.630000e+02
25%       2.0    31.0      15.0    49.0    32.5  1.084858e+05
50%       2.0    31.0      15.0    49.0    32.5  1.164298e+06
75%       2.0    31.0      15.0    49.0    32.5  4.107028e+06
max       2.0    31.0      15.0    49.0    32.5  3.733576e+08
====Get a sample of 5 rows====
      locationId                   location iso3 iso2  locationTypeId  \
6912         876  Wallis and Futuna Islands  WLF   WF               4
6612         818                      Egypt  EGY   EG               4
4596         570                       Niue  NIU   NU               4
5209         643         Russian Federation  RUS   RU               4
2807         360                  Indonesia  IDN   ID               4

      indicatorId                                            indicator  \
6912           41  Female population of reproductive age (15-49 years)
6612           41  Female population of reproductive age (15-49 years)
4596           41  Female population of reproductive age (15-49 years)
5209           41  Female population of reproductive age (15-49 years)
2807           41  Female population of reproductive age (15-49 years)

                                     indicatorDisplayName  sourceId  \
6912  Female population of reproductive age (15-49 years)        25
6612  Female population of reproductive age (15-49 years)        25
4596  Female population of reproductive age (15-49 years)        25
5209  Female population of reproductive age (15-49 years)        25
2807  Female population of reproductive age (15-49 years)        25

                          source  revision  variantId variant  \
6912  World Population Prospects         0          4  Median
6612  World Population Prospects         0          4  Median
4596  World Population Prospects         0          4  Median
5209  World Population Prospects         0          4  Median
2807  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6912           Median       Median      71      2020  2020.5          99
6612           Median       Median      50      1999  1999.5          99
4596           Median       Median      49      1998  1998.5          99
5209           Median       Median      42      1991  1991.5          99
2807           Median       Median      58      2007  2007.5          99

       category  estimateTypeId           estimateType  estimateMethodId  \
6912  All women               1  Model-based Estimates                 2
6612  All women               1  Model-based Estimates                 2
4596  All women               1  Model-based Estimates                 2
5209  All women               1  Model-based Estimates                 2
2807  All women               1  Model-based Estimates                 2

     estimateMethod  sexId     sex  ageId ageLabel  ageStart  ageEnd  ageMid  \
6912  Interpolation      2  Female     31    15-49        15      49    32.5
6612  Interpolation      2  Female     31    15-49        15      49    32.5
4596  Interpolation      2  Female     31    15-49        15      49    32.5
5209  Interpolation      2  Female     31    15-49        15      49    32.5
2807  Interpolation      2  Female     31    15-49        15      49    32.5

         value
6912      2821
6612  17137150
4596       501
5209  36079832
2807  63942064

========DF_TWB_NY.GDP.PCAP.PP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7243 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1003
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
               value  unit  obs_status  decimal
count    7243.000000   0.0         0.0   8246.0
mean    14370.510540   NaN         NaN      1.0
std     17684.111780   NaN         NaN      0.0
min       285.272552   NaN         NaN      1.0
25%      2898.680102   NaN         NaN      1.0
50%      7556.308350   NaN         NaN      1.0
75%     18949.623722   NaN         NaN      1.0
max    153563.910960   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date        value  unit  obs_status  decimal  \
4546             JAM  2000  6348.625916   NaN         NaN        1
1478             NaN  1999  4766.465781   NaN         NaN        1
443              FCS  2011  4232.108676   NaN         NaN        1
5965             NER  2007   962.420700   NaN         NaN        1
3829             GHA  2004  2105.408226   NaN         NaN        1

           indicator.id  \
4546  NY.GDP.PCAP.PP.CD
1478  NY.GDP.PCAP.PP.CD
443   NY.GDP.PCAP.PP.CD
5965  NY.GDP.PCAP.PP.CD
3829  NY.GDP.PCAP.PP.CD

                                                 indicator.value country.id  \
4546  PIB per cápita, PPA ($ a precios internacionales actuales)         JM
1478  PIB per cápita, PPA ($ a precios internacionales actuales)         XT
443   PIB per cápita, PPA ($ a precios internacionales actuales)         F1
5965  PIB per cápita, PPA ($ a precios internacionales actuales)         NE
3829  PIB per cápita, PPA ($ a precios internacionales actuales)         GH

                                      country.value
4546                                        Jamaica
1478                           Ingreso mediano alto
443   Frágiles y situaciones de conflicto afectados
5965                                          Níger
3829                                          Ghana

========DF_TWB_EN.ATM.CO2E.PC========
====Basic info about the dataframe====

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7144 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1102
dtype: int64
====Describe numeric columns====
             value
count  7144.000000
mean      4.218163
std       5.197455
min       0.000000
25%       0.673620
50%       2.460319
75%       6.208712
max      50.954034
====Get a sample of 5 rows====
     countryiso3code  date      value
3594             FJI  1991   0.924669
7710             TKM  1998   7.214267
3188             DNK  1994  12.139419
1451             TSS  1995   0.762445
7026             ZAF  2000   6.330320

========DF_UNPD_MORT_24========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          24.0      2.000000     43.389964
std            0.0      0.816516     50.151232
min           24.0      1.000000      0.742166
25%           24.0      1.000000     10.328824
50%           24.0      2.000000     21.508633
75%           24.0      3.000000     58.607664
max           24.0      3.000000    421.079906
====Get a sample of 5 rows====
                        location iso3 timeLabel  indicatorId  \
824                    Argentina  ARG      2016           24
20716  Wallis and Futuna Islands  WLF      2013           24
5405                    Ethiopia  ETH      1993           24
628          Antigua and Barbuda  ATG      2013           24
14790                Philippines  PHL      1991           24

                              indicator  sexId         sex       value
824    Under-five mortality rate (U5MR)      3  Both sexes   12.447069
20716  Under-five mortality rate (U5MR)      2      Female   20.304433
5405   Under-five mortality rate (U5MR)      3  Both sexes  185.300817
628    Under-five mortality rate (U5MR)      2      Female    7.786126
14790  Under-five mortality rate (U5MR)      1        Male   59.356965

========DF_OMS_SA_0000001688========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12027 entries, 0 to 12026
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             12018 non-null  float64
 1   IndicatorCode  12018 non-null  object
 2   SpatialDim     12018 non-null  object
 3   TimeDim        12018 non-null  float64
 4   Dim1Type       12018 non-null  object
 5   Dim1           12018 non-null  object
 6   NumericValue   12018 non-null  float64
 7   Low            12018 non-null  float64
 8   High           12018 non-null  float64
 9   Comments       0 non-null      object
dtypes: float64(5), object(5)
memory usage: 939.7+ KB
None
====Sum the null in each column====
Id                   9
IndicatorCode        9
SpatialDim           9
TimeDim              9
Dim1Type             9
Dim1                 9
NumericValue         9
Low                  9
High                 9
Comments         12027
dtype: int64
====Describe numeric columns====
                 Id       TimeDim  NumericValue           Low          High
count  1.201800e+04  12018.000000  12018.000000  12018.000000  12018.000000
mean   2.693733e+07   2009.542187      5.936026      4.899256      7.117488
std    2.776732e+05      5.835183      5.475577      4.741628      6.335322
min    2.586232e+07   2000.000000      0.000000      0.000000      0.000000
25%    2.700708e+07   2005.000000      1.608453      1.159290      2.122930
50%    2.701009e+07   2010.000000      4.310920      3.422805      5.220830
75%    2.701309e+07   2015.000000      8.946648      7.329685     10.750072
max    2.701609e+07   2019.000000     31.435380     27.486090     36.021110
====Get a sample of 5 rows====
               Id  IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
12007  27016081.0  SA_0000001688        MNG   2019.0      SEX  FMLE
3632   27007709.0  SA_0000001688        ATG   2015.0      SEX  BTSX
10248  27014349.0  SA_0000001688        NOR   2010.0      SEX  FMLE
677    25889375.0  SA_0000001688          2   2010.0      SEX  FMLE
3280   27007357.0  SA_0000001688        PAN   2013.0      SEX  BTSX

       NumericValue      Low     High Comments
12007       2.72260  2.39522  3.14105     None
3632        7.84067  6.14273  9.65316     None
10248       3.76145  3.22075  4.34768     None
677         1.60000  1.50000  1.70000     None
3280        7.11128  5.85598  8.40308     None

========DF_UNPD_POP_52========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====

        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         52.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         52.0      25.0       0.0
25%     222.000000             4.0         52.0      25.0       0.0
50%     439.000000             4.0         52.0      25.0       0.0
75%     646.000000             4.0         52.0      25.0       0.0
max     894.000000             4.0         52.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.646006e+05
std       0.0     0.0       0.0     0.0     0.0  1.453215e+06
min       3.0   188.0       0.0    -1.0     0.0 -9.747800e+05
25%       3.0   188.0       0.0    -1.0     0.0  1.719750e+03
50%       3.0   188.0       0.0    -1.0     0.0  2.731750e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.379780e+05
max       3.0   188.0       0.0    -1.0     0.0  2.016458e+07
====Get a sample of 5 rows====
      locationId                     location iso3 iso2  locationTypeId  \
1992         246                      Finland  FIN   FI               4
6716         834  United Republic of Tanzania  TZA   TZ               4
3797         474                   Martinique  MTQ   MQ               4
4354         534    Sint Maarten (Dutch part)  SXM   SX               4
1043         136               Cayman Islands  CYM   KY               4

      indicatorId                     indicator          indicatorDisplayName  \
1992           52  Natural change of population  Natural change of population
6716           52  Natural change of population  Natural change of population
3797           52  Natural change of population  Natural change of population
4354           52  Natural change of population  Natural change of population
1043           52  Natural change of population  Natural change of population

      sourceId                      source  revision  variantId variant  \
1992        25  World Population Prospects         0          4  Median
6716        25  World Population Prospects         0          4  Median
3797        25  World Population Prospects         0          4  Median
4354        25  World Population Prospects         0          4  Median
1043        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1992           Median       Median      49      1998  1998.5           0
6716           Median       Median      61      2010  2010.5           0
3797           Median       Median      56      2005  2005.5           0
4354           Median       Median      55      2004  2004.5           0
1043           Median       Median      61      2010  2010.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1992  Not applicable               1  Model-based Estimates                 2
6716  Not applicable               1  Model-based Estimates                 2
3797  Not applicable               1  Model-based Estimates                 2
4354  Not applicable               1  Model-based Estimates                 2
1043  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1992  Interpolation      3  Both sexes    188    Total         0      -1
6716  Interpolation      3  Both sexes    188    Total         0      -1
3797  Interpolation      3  Both sexes    188    Total         0      -1
4354  Interpolation      3  Both sexes    188    Total         0      -1
1043  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid    value
1992       0     8341
6716       0  1393703
3797       0     2928
4354       0      298
1043       0      567

========DF_UNPD_FERT_19========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7006 entries, 2 to 35027
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 383.1+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       7006.0  7006.000000
mean          19.0     3.064399
std            0.0     1.620662
min           19.0     0.792152
25%           19.0     1.767179
50%           19.0     2.528931
75%           19.0     4.109057
max           19.0     8.606475
====Get a sample of 5 rows====
                     location iso3 timeLabel  indicatorId  \
7782                  Czechia  CZE      1996           19
27447            Saudi Arabia  SAU      1992           19
3847   British Virgin Islands  VGB      2015           19
20037              Montenegro  MNE      1998           19
7917                    Benin  BEN      1992           19

                  indicator     value
7782   Total fertility rate  1.189422
27447  Total fertility rate  5.493431
3847   Total fertility rate  1.186463
20037  Total fertility rate  1.952093
7917   Total fertility rate  6.595536

========DF_TWB_SP.POP.TOTL.FE.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7493 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               753
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7493.000000   0.0         0.0   8246.0
mean     50.044809   NaN         NaN      1.0
std       2.539738   NaN         NaN      0.0
min      23.289054   NaN         NaN      1.0
25%      49.568379   NaN         NaN      1.0
50%      50.287478   NaN         NaN      1.0
75%      50.957705   NaN         NaN      1.0
max      54.564823   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
6057             MNP  2008        NaN   NaN         NaN        1
3773             GEO  1998  52.598813   NaN         NaN        1
6790             SLE  2019  50.105635   NaN         NaN        1
6005             NGA  1998  49.616832   NaN         NaN        1
7059             SSD  1998  50.218459   NaN         NaN        1

           indicator.id                   indicator.value country.id  \
6057  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         MP
3773  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         GE
6790  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         SL
6005  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         NG
7059  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         SS

      country.value
6057        Mariana
3773        Georgia
6790   Sierra Leona
6005        Nigeria
7059  Sudán del Sur

========DF_TWB_SH.MED.BEDS.ZS========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            3683 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              4563
dtype: int64
====Describe numeric columns====
             value
count  3683.000000
mean      4.093515
std       3.005282
min       0.010000
25%       1.790000
50%       3.270000
75%       5.875000
max      21.678600
====Get a sample of 5 rows====
     countryiso3code  date   value
4150             HTI  1993  0.7991
3525             ETH  1998     NaN
8103             VIR  2008     NaN
5190             MDG  2007     NaN
7426             TJK  2003  6.1200

========DF_UNPD_MARSTAT_42========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6758 entries, 0 to 6757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     6758 non-null   object
 1   iso3         6758 non-null   object
 2   timeLabel    6758 non-null   object
 3   indicatorId  6758 non-null   int64
 4   indicator    6758 non-null   object
 5   value        6758 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 369.6+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       6758.0  6758.000000
mean          42.0    58.384142
std            0.0     9.467496
min           42.0    23.606280
25%           42.0    53.506254
50%           42.0    58.813205
75%           42.0    64.352475
max           42.0    86.582894
====Get a sample of 5 rows====
                        location iso3 timeLabel  indicatorId  \
2802  Iran (Islamic Republic of)  IRN      2002           42
4436                     Nigeria  NGA      1993           42
2729                       India  IND      1991           42
4758                 Philippines  PHL      2005           42
1015              Cayman Islands  CYM      2013           42

                        indicator      value
2802  Currently married (Percent)  64.053717
4436  Currently married (Percent)  74.479431
2729  Currently married (Percent)  77.772503
4758  Currently married (Percent)  61.745306
1015  Currently married (Percent)  51.836467

Modificación de los nombres de las diferentes columnas

In [5]:
directory = "../datasets/"
# Let's iterate each parquet file and get some basic information
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f.endswith(".parquet"):
        print("========" + filename.rstrip(".parquet").upper() + "========", end="\n")
        df = pd.read_parquet(f)
        df.replace("", float("NaN"), inplace=True)
        # columns_categories = df.columns
        print("====Basic info about the dataframe====", end="\n")
        print(df.columns)
        print(end="\n")

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/'

In [14]:
directory = "../data_lake/"
files = [f for f in os.listdir(directory) if f.endswith(".parquet")]

dfs = {file: pd.read_parquet(directory + file) for file in files}

count = []

for key, value in dfs.items():
    if key.startswith("df_TWB"):
        count.append(str(key.rstrip(".parquet").lstrip("df_TWB_")))
        print(value.head())

print(count)
# dfs["df_UNPD_mort_24.parquet"].loc[
#     :, dfs["df_UNPD_mort_24.parquet"].columns.str.fullmatch("indicator")
# ].mode()

  countryiso3code  date      value unit obs_status  decimal  \
0             AFE  2020  62.121491                        0
1             AFE  2019  61.813185                        0
2             AFE  2018  61.470354                        0
3             AFE  2017  61.083445                        0
4             AFE  2016  60.643170                        0

        indicator.id                             indicator.value country.id  \
0  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
1  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
2  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
3  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
4  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date      value
0             AFE  2020  30.931064
1             AFE  2019  30.742610
2             AFE  2018  30.384759
3             AFE  2017  30.114592
4             AFE  2016  29.618405
  countryiso3code  date  value unit obs_status  decimal indicator.id  \
0             AFE  2020    NaN                        1  SI.POV.GINI
1             AFE  2019    NaN                        1  SI.POV.GINI
2             AFE  2018    NaN                        1  SI.POV.GINI
3             AFE  2017    NaN                        1  SI.POV.GINI
4             AFE  2016    NaN                        1  SI.POV.GINI

  indicator.value country.id country.value
0  Índice de Gini         ZH
1  Índice de Gini         ZH
2  Índice de Gini         ZH
3  Índice de Gini         ZH
4  Índice de Gini         ZH
  countryiso3code  date       value
0             AFE  2020         NaN
1             AFE  2019   91.970113
2             AFE  2018   96.289480
3             AFE  2017  102.410661
4             AFE  2016   94.739159
  countryiso3code  date         value unit obs_status  decimal  \
0             AFE  2020  2.478218e+12                        0
1             AFE  2019  2.517975e+12                        0
2             AFE  2018  2.418685e+12                        0
3             AFE  2017  2.299420e+12                        0
4             AFE  2016  2.212683e+12                        0

        indicator.id                                  indicator.value  \
0  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
1  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
2  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
3  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
4  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)

  country.id country.value
0         ZH
1         ZH
2         ZH
3         ZH
4         ZH
  countryiso3code  date     value
0             AFE  2020       NaN
1             AFE  2019  8.036293
2             AFE  2018  8.128884
3             AFE  2017  8.244062
4             AFE  2016  8.324659
  countryiso3code  date  value unit obs_status  decimal indicator.id  \
0             AFE  2020    7.0                        0  SE.COM.DURS
1             AFE  2019    7.0                        0  SE.COM.DURS
2             AFE  2018    7.0                        0  SE.COM.DURS
3             AFE  2017    7.0                        0  SE.COM.DURS
4             AFE  2016    7.0                        0  SE.COM.DURS

                          indicator.value country.id country.value
0  Educación obligatoria, duración (años)         ZH
1  Educación obligatoria, duración (años)         ZH
2  Educación obligatoria, duración (años)         ZH
3  Educación obligatoria, duración (años)         ZH
4  Educación obligatoria, duración (años)         ZH
  countryiso3code  date      value
0             AFE  2020  64.325702
1             AFE  2019  64.005213
2             AFE  2018  63.648988
3             AFE  2017  63.246264
4             AFE  2016  62.787681
  countryiso3code  date        value unit obs_status  decimal    indicator.id  \
0             AFE  2020  1360.878645                        1  NY.GDP.PCAP.CD
1             AFE  2019  1511.309259                        1  NY.GDP.PCAP.CD
2             AFE  2018  1541.031661                        1  NY.GDP.PCAP.CD
3             AFE  2017  1629.404273                        1  NY.GDP.PCAP.CD
4             AFE  2016  1446.533624                        1  NY.GDP.PCAP.CD

                           indicator.value country.id country.value
0  PIB per cápita (US$ a precios actuales)         ZH
1  PIB per cápita (US$ a precios actuales)         ZH
2  PIB per cápita (US$ a precios actuales)         ZH
3  PIB per cápita (US$ a precios actuales)         ZH
4  PIB per cápita (US$ a precios actuales)         ZH
  countryiso3code  date      value unit obs_status  decimal indicator.id  \
0             AFE  2020  57.632861                        1  IQ.SCI.OVRL
1             AFE  2019  58.502425                        1  IQ.SCI.OVRL
2             AFE  2018  58.067643                        1  IQ.SCI.OVRL
3             AFE  2017  59.710148                        1  IQ.SCI.OVRL
4             AFE  2016  58.599045                        1  IQ.SCI.OVRL

                                              indicator.value country.id  \
0  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
1  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
2  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
3  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
4  Nivel general de la capacidad estadística (escala 0 - 100)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date      value unit obs_status  decimal  \
0             AFE  2020  49.635421                        0
1             AFE  2019  49.626992                        0
2             AFE  2018  49.617642                        0
3             AFE  2017  49.607385                        0
4             AFE  2016  49.596273                        0

        indicator.id                   indicator.value country.id  \
0  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
1  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
2  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
3  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
4  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date        value
0             AFE  2020  1397.543390
1             AFE  2019  1506.731921
2             AFE  2018  1464.995375
3             AFE  2017  1459.517554
4             AFE  2016  1475.979716
  countryiso3code  date     value unit obs_status  decimal       indicator.id  \
0             AFE  2020  4.608170                        1  SE.XPD.TOTL.GD.ZS
1             AFE  2019  4.846845                        1  SE.XPD.TOTL.GD.ZS
2             AFE  2018  4.951635                        1  SE.XPD.TOTL.GD.ZS
3             AFE  2017  4.963090                        1  SE.XPD.TOTL.GD.ZS
4             AFE  2016  4.821875                        1  SE.XPD.TOTL.GD.ZS

                                 indicator.value country.id country.value
0  Gasto público en educación, total (% del PIB)         ZH
1  Gasto público en educación, total (% del PIB)         ZH
2  Gasto público en educación, total (% del PIB)         ZH
3  Gasto público en educación, total (% del PIB)         ZH
4  Gasto público en educación, total (% del PIB)         ZH
  countryiso3code  date      value
0             AFE  2020  42.447198
1             AFE  2019  43.591252
2             AFE  2018  44.795221
3             AFE  2017  46.108140
4             AFE  2016  47.527244
  countryiso3code  date      value
0             AFE  2020  59.511910
1             AFE  2019  58.782401
2             AFE  2018  57.860301
3             AFE  2017  56.921012
4             AFE  2016  55.963351
  countryiso3code  date     value
0             AFE  2020  7.563187
1             AFE  2019  6.914353
2             AFE  2018  6.731163
3             AFE  2017  6.714955
4             AFE  2016  6.610205
  countryiso3code  date        value unit obs_status  decimal  \
0             AFE  2020  3659.272868                        1
1             AFE  2019  3814.846625                        1
2             AFE  2018  3761.035160                        1
3             AFE  2017  3670.891196                        1
4             AFE  2016  3627.474284                        1

        indicator.id  \
0  NY.GDP.PCAP.PP.CD
1  NY.GDP.PCAP.PP.CD
2  NY.GDP.PCAP.PP.CD
3  NY.GDP.PCAP.PP.CD
4  NY.GDP.PCAP.PP.CD

                                              indicator.value country.id  \
0  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
1  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
2  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
3  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
4  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date     value
0             AFE  2020       NaN
1             AFE  2019  0.913618
2             AFE  2018  0.917507
3             AFE  2017  0.937926
4             AFE  2016  0.948410
  countryiso3code  date      value unit obs_status  decimal  \
0             AFE  2020  50.364579                        1
1             AFE  2019  50.373008                        1
2             AFE  2018  50.382358                        1
3             AFE  2017  50.392615                        1
4             AFE  2016  50.403727                        1

        indicator.id                   indicator.value country.id  \
0  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
1  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
2  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
3  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
4  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date  value
0             AFE  2020    NaN
1             AFE  2019    NaN
2             AFE  2018    NaN
3             AFE  2017    NaN
4             AFE  2016    NaN
['SP.DYN.LE00.MA.IN', 'SH.STA.BASS.ZS', 'SI.POV.GINI', 'SH.XPD.CHEX.PC.CD', 'NY.GDP.MKTP.PP.CD', 'SH.STA.SUIC.P5', 'SE.COM.DURS', 'SP.DYN.LE00.IN', 'NY.GDP.PCAP.CD', 'IQ.SCI.OVRL', 'SP.POP.TOTL.MA.ZS', 'NY.GNP.PCAP.CD', 'SE.XPD.TOTL.GD.ZS', 'SP.DYN.IMRT.IN', 'SH.H2O.BASW.ZS', 'SL.UEM.TOTL.ZS', 'NY.GDP.PCAP.PP.CD', 'EN.ATM.CO2E.PC', 'SP.POP.TOTL.FE.ZS', 'SH.MED.BEDS.ZS']

In [7]:
UDPD = {
    "df_UNPD_mort_22": "tasa_mortalidad_infantil",
    "df_UNPD_pop_54": "densidad_población_por_kilómetro_cuadrado)",
    "df_UNPD_imigrt_65": "migración_neta_total",
    "df_UNPD_pop_49": "población_total_por_sexo",
    "df_UNPD_mort_60": "total_muertes_por_sexo",
    "df_UNPD_pop_53": "tasa_bruta_cambio_natural_población",
    "df_UNPD_imigrt_66": "tasa_bruta_migración_neta",
    "df_UNPD_pop_72": "proporción_sexos_población_total",
    "df_UNPD_fam_1": "prevalencia_anticonceptivos_porcentaje",
    "df_UNPD_pop_67": "mediana_edad_población",
    "df_UNPD_mort_59": "tasa_bruta_mortalidad_por_1000_habitantes",
    "df_UNPD_pop_51": "tasa_bruta_variación_total_población",
    "df_UNPD_pop_50": "cambio_de_la_población",
    "df_UNPD_pop_41": "población_femenina_edad_reproductiva_(15-49 años)",
    "df_UNPD_mort_24": "tasa_mortalidad_menores_cinco_años",
    "df_UNPD_pop_52": "cambio_natural_población",
    "df_UNPD_fert_19": "tasa_fertilidad",
    "df_UNPD_marstat_42": "estado_civil_casado_porcentaje",
}

In [8]:
banco_mundial = {
    "SP.DYN.LE00.IN": "esperanza_vida_total",
    "SP.DYN.LE00.FE.IN": "esperanza_vida_mujeres",
    "SP.DYN.LE00.MA.IN": "esperanza_vida_varones",
    "SI.POV.GINI": "índice_gini",
    "SE.XPD.TOTL.GD.ZS": "gasto_púb_educacion_pje",
    "SE.COM.DURS": "duración_educ_obligatoria",
    "NY.GDP.PCAP.CD": "pib_pc_usd_actuales",
    "NY.GDP.MKTP.PP.CD": "pib_ppa_prec_inter",
    "IQ.SCI.OVRL": "capacidad_estadística",
    "SP.POP.TOTL.FE.ZS": "población_mujeres_pje",
    "SP.POP.TOTL.MA.ZS": "población_hombres_pje",
    "NY.GDP.PCAP.PP.CD": "pib_pc_prec_inter",
    "AG.LND.FRST.ZS": "porcentaje_de_bosque",
    "EN.ATM.CO2E.PC": "emisiones_co2",
    "SH.XPD.CHEX.PC.CD": "inversion_salud_percapita",
    "SH.MED.BEDS.ZS": "camas_hospitales_c/1000personas",
    "SP.DYN.IMRT.IN": "mortalidad_infantil_c/1000nacimientos",
    "SH.H2O.BASW.ZS": "acceso_agua_potable(%)",
    "SH.STA.BASS.ZS": "acceso_servicios_sanitarios(%)",
    "SH.STA.SUIC.P5": "tasa_mortalidad_suicidio_c/100.000",
    "SL.UEM.TOTL.ZS": "tasa_desempleo",
    "SP.URB.TOTL.IN.ZS": "tasa_poblacion_urbana",
    "NY.GNP.PCAP.CD": "INB_percapita",
}

In [15]:
las = [
    "SP.DYN.LE00.MA.IN",
    "SH.STA.BASS.ZS",
    "SI.POV.GINI",
    "SH.XPD.CHEX.PC.CD",
    "NY.GDP.MKTP.PP.CD",
    "SH.STA.SUIC.P5",
    "SE.COM.DURS",
    "SP.DYN.LE00.IN",
    "NY.GDP.PCAP.CD",
    "IQ.SCI.OVRL",
    "SP.POP.TOTL.MA.ZS",
    "NY.GNP.PCAP.CD",
    "SE.XPD.TOTL.GD.ZS",
    "SP.DYN.IMRT.IN",
    "SH.H2O.BASW.ZS",
    "SL.UEM.TOTL.ZS",
    "NY.GDP.PCAP.PP.CD",
    "EN.ATM.CO2E.PC",
    "SP.POP.TOTL.FE.ZS",
    "SH.MED.BEDS.ZS",
]

In [17]:
banco_mundial = {
    'SP.DYN.LE00.IN': 'esperanza_vida_total',
    'SP.DYN.LE00.FE.IN': 'esperanza_vida_mujeres',
    'SP.DYN.LE00.MA.IN': 'esperanza_vida_varones',
    'SI.POV.GINI': 'índice_gini',
    'SE.XPD.TOTL.GD.ZS': 'gasto_púb_educacion_pje',
    'SE.COM.DURS': 'duración_educ_obligatoria',
    'NY.GDP.PCAP.CD': 'pib_pc_usd_actuales',
    'NY.GDP.MKTP.PP.CD': 'pib_ppa_prec_inter',
    'IQ.SCI.OVRL': 'capacidad_estadística',
    'SP.POP.TOTL.FE.ZS': 'población_mujeres_pje',
    'SP.POP.TOTL.MA.ZS': 'población_hombres_pje',
    'NY.GDP.PCAP.PP.CD': 'pib_pc_prec_inter',
    'AG.LND.FRST.ZS': 'porcentaje_de_bosque',
    'EN.ATM.CO2E.PC': 'emisiones_co2',
    'SH.XPD.CHEX.PC.CD': 'inversion_salud_percapita',
    'SH.MED.BEDS.ZS': 'camas_hospitales_c/1000personas',
    'SP.DYN.IMRT.IN': 'mortalidad_infantil_c/1000nacimientos',
    'SH.H2O.BASW.ZS': 'acceso_agua_potable(%)',
    'SH.STA.BASS.ZS': 'acceso_servicios_sanitarios(%)',
    'SH.STA.SUIC.P5': 'tasa_mortalidad_suicidio_c/100.000',
    'SL.UEM.TOTL.ZS': 'tasa_desempleo',
    'SP.URB.TOTL.IN.ZS': 'tasa_poblacion_urbana',
    'NY.GNP.PCAP.CD': 'INB_percapita'
}

In [18]:
len(las)

20

In [19]:
len(banco_mundial)

23

In [20]:
new_las = []
for key, value in banco_mundial.items():
    new_las.append(key)

print(new_las)

['SP.DYN.LE00.IN', 'SP.DYN.LE00.FE.IN', 'SP.DYN.LE00.MA.IN', 'SI.POV.GINI', 'SE.XPD.TOTL.GD.ZS', 'SE.COM.DURS', 'NY.GDP.PCAP.CD', 'NY.GDP.MKTP.PP.CD', 'IQ.SCI.OVRL', 'SP.POP.TOTL.FE.ZS', 'SP.POP.TOTL.MA.ZS', 'NY.GDP.PCAP.PP.CD', 'AG.LND.FRST.ZS', 'EN.ATM.CO2E.PC', 'SH.XPD.CHEX.PC.CD', 'SH.MED.BEDS.ZS', 'SP.DYN.IMRT.IN', 'SH.H2O.BASW.ZS', 'SH.STA.BASS.ZS', 'SH.STA.SUIC.P5', 'SL.UEM.TOTL.ZS', 'SP.URB.TOTL.IN.ZS', 'NY.GNP.PCAP.CD']

In [22]:
len(set(las) & set(new_las))

20

In [26]:
setlist1 = set(las)
setlist2 = set(new_las)
difference1 = setlist2.difference(setlist1)
difference1

{'AG.LND.FRST.ZS', 'SP.DYN.LE00.FE.IN', 'SP.URB.TOTL.IN.ZS'}