In [1]:
# We are using black as a code formatter
%load_ext nb_black

In [59]:
import requests
import json
import datetime
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import os

In [3]:
# pd.set_option('display.max_rows', None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

Extraigamos los archivos parquet y los convertimos a dataframe

In [4]:
df = pd.read_parquet("../datasets/df_locationsWithAggregates.parquet")

In [5]:
df

,Id,Name,Iso2,Iso3,Longitude,Latitude,Region,SubRegion,WorldBankIncomeGroup,UNDevelopmentGroup
0,4,Afghanistan,AF,AFG,67.709953,33.939110,Asia,Southern Asia,Low-income countries,Least developed countries
1,8,Albania,AL,ALB,20.168331,41.153332,Europe,Southern Europe,Upper-middle-income countries,Developed regions
2,12,Algeria,DZ,DZA,1.659626,28.033886,Africa,Northern Africa,Lower-middle-income countries,Other developing regions
3,16,American Samoa,AS,ASM,-170.696182,-14.306021,Oceania,Polynesia,Upper-middle-income countries,Other developing regions
4,20,Andorra,AD,AND,1.521801,42.506287,Europe,Southern Europe,High-income countries,Developed regions
...,...,...,...,...,...,...,...,...,...,...
232,862,Venezuela (Bolivarian Republic of),VE,VEN,-66.589729,6.423750,Latin America and the Caribbean,South America,No income group available,Other developing regions
233,876,Wallis and Futuna Islands,WF,WLF,-178.116501,-14.293800,Oceania,Polynesia,No income group available,Other developing regions
234,882,Samoa,WS,WSM,-172.104630,-13.759029,Oceania,Polynesia,Lower-middle-income countries,Other developing regions
235,887,Yemen,YE,YEM,48.516388,15.552727,Asia,Western Asia,Low-income countries,Least developed countries
236,894,Zambia,ZM,ZMB,27.849333,-13.133897,Africa,Eastern Africa,Low-income countries,Least developed countries

Maybe if we want to filter by WorldBankIncomeGroup (This step is not required.)

In [8]:
df_high_income = df[(df["WorldBankIncomeGroup"] == "High-income countries")]
df_low_income = df[(df["WorldBankIncomeGroup"] == "Low-income countries")]
df_upper_middle_income = df[
    (df["WorldBankIncomeGroup"] == "Upper-middle-income countries")
]
df_lower_middle_income = df[
    (df["WorldBankIncomeGroup"] == "Lower-middle-income countries")
]

In [89]:
directory = "../datasets/"
# Let's iterate each parquet file and get some basic information
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f.endswith(".parquet"):
        print("========" + filename.rstrip(".parquet").upper() + "========", end="\n")
        df = pd.read_parquet(f)
        df.replace("", float("NaN"), inplace=True)
        print("====Basic info about the dataframe====", end="\n")
        print(df.info(), end="\n")
        print("====Sum the null in each column====", end="\n")
        print(df.isnull().sum(), end="\n")
        print("====Describe numeric columns====", end="\n")
        print(df.describe(), end="\n")
        print("====Get a sample of 5 rows====", end="\n")
        print(df.sample(5), end="\n")
        print(end="\n")

========DF_UNPD_MORT_22========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          22.0      2.000000     30.626605
std            0.0      0.816516     30.690118
min           22.0      1.000000      0.414920
25%           22.0      1.000000      8.491128
50%           22.0      2.000000     17.928645
75%           22.0      3.000000     43.825403
max           22.0      3.000000    244.050950
====Get a sample of 5 rows====
                        location iso3 timeLabel  indicatorId  \
5331           Equatorial Guinea  GNQ      2000           22
1976                      Brazil  BRA      1997           22
16741                 Seychelles  SYC      1990           22
20730  Wallis and Futuna Islands  WLF      2018           22
15651         Russian Federation  RUS      1999           22

                         indicator  sexId         sex      value
5331   Infant mortality rate (IMR)      1        Male  111.49109
1976   Infant mortality rate (IMR)      3  Both sexes   36.06564
16741  Infant mortality rate (IMR)      2      Female   12.62383
20730  Infant mortality rate (IMR)      1        Male    9.19036
15651  Infant mortality rate (IMR)      1        Male   19.57231

========DF_TWB_SP.DYN.LE00.MA.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            7669 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value               843
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7669.000000   0.0         0.0   8512.0
mean     66.093333   NaN         NaN      0.0
std       9.057539   NaN         NaN      0.0
min      24.834000   NaN         NaN      0.0
25%      60.600000   NaN         NaN      0.0
50%      67.820000   NaN         NaN      0.0
75%      72.807635   NaN         NaN      0.0
max      82.900000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
6817             SMR  2020        NaN   NaN         NaN        0
492              HPC  2009  56.619067   NaN         NaN        0
4210             GNB  2003  48.980000   NaN         NaN        0
7930             TUR  1995  63.179000   NaN         NaN        0
4773             KAZ  2016  67.990000   NaN         NaN        0

           indicator.id                             indicator.value  \
6817  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
492   SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
4210  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
7930  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
4773  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)

     country.id                        country.value
6817         SM                           San Marino
492          XE  Países pobres muy endeudados (PPME)
4210         GW                        Guinea-Bissau
7930         TR                              Turquía
4773         KZ                            Kazajstán

========DF_UNPD_POP_54========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         54.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         54.0      25.0       0.0
25%     222.000000             4.0         54.0      25.0       0.0
50%     439.000000             4.0         54.0      25.0       0.0
75%     646.000000             4.0         54.0      25.0       0.0
max     894.000000             4.0         54.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0   7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    383.864741
std       0.0     0.0       0.0     0.0     0.0   1916.802764
min       3.0   188.0       0.0    -1.0     0.0      0.191619
25%       3.0   188.0       0.0    -1.0     0.0     30.320730
50%       3.0   188.0       0.0    -1.0     0.0     81.046553
75%       3.0   188.0       0.0    -1.0     0.0    195.887725
max       3.0   188.0       0.0    -1.0     0.0  24879.530201
====Get a sample of 5 rows====
      locationId                          location iso3 iso2  locationTypeId  \
5435         674                        San Marino  SMR   SM               4
4376         535  Bonaire, Sint Eustatius and Saba  BES   BQ               4
1351         178                             Congo  COG   CG               4
5701         703                          Slovakia  SVK   SK               4
5803         710                      South Africa  ZAF   ZA               4

      indicatorId           indicator  \
5435           54  Population density
4376           54  Population density
1351           54  Population density
5701           54  Population density
5803           54  Population density

                            indicatorDisplayName  sourceId  \
5435  Population density (persons per square km)        25
4376  Population density (persons per square km)        25
1351  Population density (persons per square km)        25
5701  Population density (persons per square km)        25
5803  Population density (persons per square km)        25

                          source  revision  variantId variant  \
5435  World Population Prospects         0          4  Median
4376  World Population Prospects         0          4  Median
1351  World Population Prospects         0          4  Median
5701  World Population Prospects         0          4  Median
5803  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
5435           Median       Median      51      2000  2000.5           0
4376           Median       Median      46      1995  1995.5           0
1351           Median       Median      59      2008  2008.5           0
5701           Median       Median      69      2018  2018.5           0
5803           Median       Median      47      1996  1996.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
5435  Not applicable               1  Model-based Estimates                 2
4376  Not applicable               1  Model-based Estimates                 2
1351  Not applicable               1  Model-based Estimates                 2
5701  Not applicable               1  Model-based Estimates                 2
5803  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
5435  Interpolation      3  Both sexes    188    Total         0      -1
4376  Interpolation      3  Both sexes    188    Total         0      -1
1351  Interpolation      3  Both sexes    188    Total         0      -1
5701  Interpolation      3  Both sexes    188    Total         0      -1
5803  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid       value
5435       0  439.713115
4376       0   40.262195
1351       0   11.975407
5701       0  111.083260
5803       0   36.583493

========DF_UNPD_IMIGRT_65========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   int64
dtypes: int64(2), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         value
count       7006.0  7.006000e+03
mean          65.0 -6.804854e+03
std            0.0  1.460545e+05
min           65.0 -2.290411e+06
25%           65.0 -1.722525e+04
50%           65.0 -5.875000e+02
75%           65.0  5.977250e+03
max           65.0  1.834556e+06
====Get a sample of 5 rows====
                       location iso3 timeLabel  indicatorId  \
1474                    Croatia  HRV      2007           65
4345  Sint Maarten (Dutch part)  SXM      1995           65
81                      Algeria  DZA      2009           65
2153                      Gabon  GAB      2004           65
5075                Timor-Leste  TLS      2012           65

                indicator         sex  value
1474  Total net-migration  Both sexes  -2207
4345  Total net-migration  Both sexes   -719
81    Total net-migration  Both sexes -33857
2153  Total net-migration  Both sexes   6827
5075  Total net-migration  Both sexes   -769

========DF_TWB_6.0.GDP_CURREN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  0 non-null      float64
 1   date             330 non-null    object
 2   value            270 non-null    float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          330 non-null    int64
 6   indicator.id     330 non-null    object
 7   indicator.value  330 non-null    object
 8   country.id       330 non-null    object
 9   country.value    330 non-null    object
dtypes: float64(4), int64(1), object(5)
memory usage: 25.9+ KB
None
====Sum the null in each column====
countryiso3code    330
date                 0
value               60
unit               330
obs_status         330
decimal              0
indicator.id         0
indicator.value      0
country.id           0
country.value        0
dtype: int64
====Describe numeric columns====
       countryiso3code         value  unit  obs_status  decimal
count              0.0  2.700000e+02   0.0         0.0    330.0
mean               NaN  4.195676e+11   NaN         NaN      0.0
std                NaN  1.040873e+12   NaN         NaN      0.0
min                NaN  5.107329e+09   NaN         NaN      0.0
25%                NaN  1.836993e+10   NaN         NaN      0.0
50%                NaN  4.207759e+10   NaN         NaN      0.0
75%                NaN  2.199949e+11   NaN         NaN      0.0
max                NaN  6.269875e+12   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
324              NaN  2005           NaN   NaN         NaN        0
127              NaN  2007  4.407389e+10   NaN         NaN        0
32               NaN  2012  2.708450e+10   NaN         NaN        0
192              NaN  2002  7.776436e+09   NaN         NaN        0
245              NaN  2009  2.592510e+10   NaN         NaN        0

        indicator.id  indicator.value country.id       country.value
324  6.0.GDP_current  GDP (current $)        VEN       Venezuela, RB
127  6.0.GDP_current  GDP (current $)        DOM  Dominican Republic
32   6.0.GDP_current  GDP (current $)        BOL             Bolivia
192  6.0.GDP_current  GDP (current $)        HND            Honduras
245  6.0.GDP_current  GDP (current $)        PAN              Panama

========DF_UNPD_POP_49========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         49.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         49.0      25.0       0.0
25%      222.000000             4.0         49.0      25.0       0.0
50%      439.000000             4.0         49.0      25.0       0.0
75%      646.000000             4.0         49.0      25.0       0.0
max      894.000000             4.0         49.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.842095e+07
std        0.816516      0.0       0.0      0.0      0.0  8.420676e+07
min        1.000000    188.0       0.0     -1.0      0.0  6.550000e+02
25%        1.000000    188.0       0.0     -1.0      0.0  2.673850e+05
50%        2.000000    188.0       0.0     -1.0      0.0  2.866508e+06
75%        3.000000    188.0       0.0     -1.0      0.0  1.063895e+07
max        3.000000    188.0       0.0     -1.0      0.0  1.424930e+09
====Get a sample of 5 rows====
       locationId      location iso3 iso2  locationTypeId  indicatorId  \
16076         660      Anguilla  AIA   AI               4           49
11889         496      Mongolia  MNG   MN               4           49
14750         604          Peru  PER   PE               4           49
11070         462      Maldives  MDV   MV               4           49
16865         694  Sierra Leone  SLE   SL               4           49

                     indicator     indicatorDisplayName  sourceId  \
16076  Total population by sex  Total population by sex        25
11889  Total population by sex  Total population by sex        25
14750  Total population by sex  Total population by sex        25
11070  Total population by sex  Total population by sex        25
16865  Total population by sex  Total population by sex        25

                           source  revision  variantId variant  \
16076  World Population Prospects         0          4  Median
11889  World Population Prospects         0          4  Median
14750  World Population Prospects         0          4  Median
11070  World Population Prospects         0          4  Median
16865  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
16076           Median       Median      67      2016  2016.5           0
11889           Median       Median      67      2016  2016.5           0
14750           Median       Median      59      2008  2008.5           0
11070           Median       Median      42      1991  1991.5           0
16865           Median       Median      51      2000  2000.5           0

             category  estimateTypeId           estimateType  \
16076  Not applicable               1  Model-based Estimates
11889  Not applicable               1  Model-based Estimates
14750  Not applicable               1  Model-based Estimates
11070  Not applicable               1  Model-based Estimates
16865  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
16076                 2  Interpolation      3  Both sexes    188    Total
11889                 2  Interpolation      1        Male    188    Total
14750                 2  Interpolation      3  Both sexes    188    Total
11070                 2  Interpolation      1        Male    188    Total
16865                 2  Interpolation      3  Both sexes    188    Total

       ageStart  ageEnd  ageMid     value
16076         0      -1       0     14814
11889         0      -1       0   1505633
14750         0      -1       0  28806185
11070         0      -1       0    120499
16865         0      -1       0   4584067

========DF_TWB_NY.GDP.MKTP.PP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            7472 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value              1040
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
              value  unit  obs_status  decimal
count  7.472000e+03   0.0         0.0   8512.0
mean   2.862107e+12   NaN         NaN      0.0
std    9.672453e+12   NaN         NaN      0.0
min    1.465840e+07   NaN         NaN      0.0
25%    1.374680e+10   NaN         NaN      0.0
50%    8.673032e+10   NaN         NaN      0.0
75%    8.856584e+11   NaN         NaN      0.0
max    1.467144e+14   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
7498             SDN  2011  1.697724e+11   NaN         NaN        0
4769             KAZ  2020  5.017224e+11   NaN         NaN        0
6935             SEN  1998  1.708886e+10   NaN         NaN        0
7348             LKA  2001  8.194384e+10   NaN         NaN        0
3515             GNQ  1994  5.230010e+08   NaN         NaN        0

           indicator.id                                  indicator.value  \
7498  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
4769  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
6935  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
7348  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
3515  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)

     country.id      country.value
7498         SD              Sudán
4769         KZ          Kazajstán
6935         SN            Senegal
7348         LK          Sri Lanka
3515         GQ  Guinea Ecuatorial

========DF_UNPD_MORT_60========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====

locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         60.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         60.0      25.0       0.0
25%      222.000000             4.0         60.0      25.0       0.0
50%      439.000000             4.0         60.0      25.0       0.0
75%      646.000000             4.0         60.0      25.0       0.0
max      894.000000             4.0         60.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.501060e+05
std        0.816516      0.0       0.0      0.0      0.0  6.202798e+05
min        1.000000    188.0       0.0     -1.0      0.0  6.000000e+00
25%        1.000000    188.0       0.0     -1.0      0.0  1.510000e+03
50%        2.000000    188.0       0.0     -1.0      0.0  2.350200e+04
75%        3.000000    188.0       0.0     -1.0      0.0  9.519525e+04
max        3.000000    188.0       0.0     -1.0      0.0  1.034623e+07
====Get a sample of 5 rows====
       locationId                     location iso3 iso2  locationTypeId  \
3460          152                        Chile  CHL   CL               4
799            32                    Argentina  ARG   AR               4
5737          234                Faroe Islands  FRO   FO               4
5798          238  Falkland Islands (Malvinas)  FLK   FK               4
12891         531                      Curaçao  CUW   CW               4

       indicatorId            indicator indicatorDisplayName  sourceId  \
3460            60  Total deaths by sex  Total deaths by sex        25
799             60  Total deaths by sex  Total deaths by sex        25
5737            60  Total deaths by sex  Total deaths by sex        25
5798            60  Total deaths by sex  Total deaths by sex        25
12891           60  Total deaths by sex  Total deaths by sex        25

                           source  revision  variantId variant  \
3460   World Population Prospects         0          4  Median
799    World Population Prospects         0          4  Median
5737   World Population Prospects         0          4  Median
5798   World Population Prospects         0          4  Median
12891  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3460            Median       Median      47      1996  1996.5           0
799             Median       Median      59      2008  2008.5           0
5737            Median       Median      62      2011  2011.5           0
5798            Median       Median      51      2000  2000.5           0
12891           Median       Median      60      2009  2009.5           0

             category  estimateTypeId           estimateType  \
3460   Not applicable               1  Model-based Estimates
799    Not applicable               1  Model-based Estimates
5737   Not applicable               1  Model-based Estimates
5798   Not applicable               1  Model-based Estimates
12891  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
3460                  2  Interpolation      2      Female    188    Total
799                   2  Interpolation      2      Female    188    Total
5737                  2  Interpolation      2      Female    188    Total
5798                  2  Interpolation      3  Both sexes    188    Total
12891                 2  Interpolation      1        Male    188    Total

       ageStart  ageEnd  ageMid   value
3460          0      -1       0   34013
799           0      -1       0  142733
5737          0      -1       0     252
5798          0      -1       0      27
12891         0      -1       0     731

========DF_UNPD_POP_53========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====

        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         53.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         53.0      25.0       0.0
25%     222.000000             4.0         53.0      25.0       0.0
50%     439.000000             4.0         53.0      25.0       0.0
75%     646.000000             4.0         53.0      25.0       0.0
max     894.000000             4.0         53.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    14.441731
std       0.0     0.0       0.0     0.0     0.0    10.963369
min       3.0   188.0       0.0    -1.0     0.0   -62.082000
25%       3.0   188.0       0.0    -1.0     0.0     4.874500
50%       3.0   188.0       0.0    -1.0     0.0    14.018000
75%       3.0   188.0       0.0    -1.0     0.0    23.992000
max       3.0   188.0       0.0    -1.0     0.0    42.025000
====Get a sample of 5 rows====
      locationId        location iso3 iso2  locationTypeId  indicatorId  \
6639         826  United Kingdom  GBR   GB               4           53
5505         682    Saudi Arabia  SAU   SA               4           53
4248         528     Netherlands  NLD   NL               4           53
2320         288           Ghana  GHA   GH               4           53
2389         300          Greece  GRC   GR               4           53

                                       indicator  \
6639  Crude rate of natural change of population
5505  Crude rate of natural change of population
4248  Crude rate of natural change of population
2320  Crude rate of natural change of population
2389  Crude rate of natural change of population

                            indicatorDisplayName  sourceId  \
6639  Crude rate of natural change of population        25
5505  Crude rate of natural change of population        25
4248  Crude rate of natural change of population        25
2320  Crude rate of natural change of population        25
2389  Crude rate of natural change of population        25

                          source  revision  variantId variant  \
6639  World Population Prospects         0          4  Median
5505  World Population Prospects         0          4  Median
4248  World Population Prospects         0          4  Median
2320  World Population Prospects         0          4  Median
2389  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6639           Median       Median      46      1995  1995.5           0
5505           Median       Median      59      2008  2008.5           0
4248           Median       Median      42      1991  1991.5           0
2320           Median       Median      67      2016  2016.5           0
2389           Median       Median      43      1992  1992.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
6639  Not applicable               1  Model-based Estimates                 2
5505  Not applicable               1  Model-based Estimates                 2
4248  Not applicable               1  Model-based Estimates                 2
2320  Not applicable               1  Model-based Estimates                 2
2389  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
6639  Interpolation      3  Both sexes    188    Total         0      -1
5505  Interpolation      3  Both sexes    188    Total         0      -1
4248  Interpolation      3  Both sexes    188    Total         0      -1
2320  Interpolation      3  Both sexes    188    Total         0      -1
2389  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
6639       0   1.487
5505       0  20.106
4248       0   4.531
2320       0  23.067
2389       0   1.055

========DF_TWB_3.0.GINI========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  0 non-null      float64
 1   date             330 non-null    object
 2   value            232 non-null    float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          330 non-null    int64
 6   indicator.id     330 non-null    object
 7   indicator.value  330 non-null    object
 8   country.id       330 non-null    object
 9   country.value    330 non-null    object
dtypes: float64(4), int64(1), object(5)
memory usage: 25.9+ KB
None
====Sum the null in each column====
countryiso3code    330
date                 0
value               98
unit               330
obs_status         330
decimal              0
indicator.id         0
indicator.value      0
country.id           0
country.value        0
dtype: int64
====Describe numeric columns====
       countryiso3code       value  unit  obs_status  decimal
count              0.0  232.000000   0.0         0.0    330.0
mean               NaN    0.512135   NaN         NaN      0.0
std                NaN    0.042613   NaN         NaN      0.0
min                NaN    0.415229   NaN         NaN      0.0
25%                NaN    0.480871   NaN         NaN      0.0
50%                NaN    0.516692   NaN         NaN      0.0
75%                NaN    0.543380   NaN         NaN      0.0
max                NaN    0.630022   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date     value  unit  obs_status  decimal indicator.id  \
201              NaN  2008  0.531954   NaN         NaN        0     3.0.Gini
79               NaN  2010       NaN   NaN         NaN        0     3.0.Gini
117              NaN  2002       NaN   NaN         NaN        0     3.0.Gini
226              NaN  2013       NaN   NaN         NaN        0     3.0.Gini
184              NaN  2010  0.533916   NaN         NaN        0     3.0.Gini

      indicator.value country.id                    country.value
201  Gini Coefficient        LCR  Latin America and the Caribbean
79   Gini Coefficient        CHL                            Chile
117  Gini Coefficient        CRI                       Costa Rica
226  Gini Coefficient        NIC                        Nicaragua
184  Gini Coefficient        HND                         Honduras

========DF_OMS_NUTRITION_ANAEMIA_CHILDREN_PREV========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  20950 non-null  float64
 1   IndicatorCode       20950 non-null  object
 2   SpatialDim          20950 non-null  object
 3   TimeDimensionValue  20950 non-null  object
 4   Dim1Type            20950 non-null  object
 5   Dim1                20950 non-null  object
 6   NumericValue        20950 non-null  float64
 7   Low                 20950 non-null  float64
 8   High                20950 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB
None
====Sum the null in each column====
Id                    9
IndicatorCode         9
SpatialDim            9
TimeDimensionValue    9
Dim1Type              9
Dim1                  9
NumericValue          9
Low                   9
High                  9
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.095000e+04  20950.000000  20950.000000  20950.000000
mean   2.764218e+07     22.107828     15.510368     30.280635
std    1.087079e+06     19.668112     17.339564     21.885502
min    2.563744e+07      0.000000      0.000000      0.100000
25%    2.820283e+07      6.700000      3.000000     13.300000
50%    2.822378e+07     18.400000      9.400000     27.600000
75%    2.824473e+07     30.100000     21.000000     43.175000
max    2.828180e+07     88.400000     86.100000     91.600000
====Get a sample of 5 rows====
               Id                    IndicatorCode SpatialDim  \
2941   25640383.0  NUTRITION_ANAEMIA_CHILDREN_PREV        WSM
6287   28207034.0  NUTRITION_ANAEMIA_CHILDREN_PREV        HRV
12141  28230448.0  NUTRITION_ANAEMIA_CHILDREN_PREV        TJK
12981  28233811.0  NUTRITION_ANAEMIA_CHILDREN_PREV        BIH
5259   28202917.0  NUTRITION_ANAEMIA_CHILDREN_PREV        BRA

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
2941                2001       SEX      BTSX          33.7  19.4  47.8
6287                2008  SEVERITY    SEVERE           0.1   0.0   0.5
12141               2015  SEVERITY  MODERATE          11.7   7.8  16.6
12981               2004  SEVERITY      MILD          17.0   8.1  27.1
5259                2011  SEVERITY    SEVERE           0.2   0.0   0.8

========DF_UNPD_IMIGRT_66========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====

       indicatorId        value
count       7006.0  7006.000000
mean          66.0    -0.381888
std            0.0    17.815493
min           66.0  -526.323000
25%           66.0    -4.002500
50%           66.0    -0.535000
75%           66.0     2.721250
max           66.0   415.239000
====Get a sample of 5 rows====
               location iso3 timeLabel  indicatorId  \
1776  Equatorial Guinea  GNQ      1999           66
5026      Guinea-Bissau  GNB      1994           66
826            Bulgaria  BGR      2010           66
3595   China, Macao SAR  MAC      2020           66
440             Armenia  ARM      1996           66

                        indicator         sex   value
1776  Crude rate of net migration  Both sexes  12.045
5026  Crude rate of net migration  Both sexes   2.917
826   Crude rate of net migration  Both sexes  -1.144
3595  Crude rate of net migration  Both sexes  12.568
440   Crude rate of net migration  Both sexes -15.353

========DF_TWB_SE.COM.DURS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            5378 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value              3134
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  5378.000000   0.0         0.0   8512.0
mean      9.380253   NaN         NaN      0.0
std       2.145571   NaN         NaN      0.0
min       0.000000   NaN         NaN      0.0
25%       8.500000   NaN         NaN      0.0
50%       9.000000   NaN         NaN      0.0
75%      10.000000   NaN         NaN      0.0
max      17.000000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
5529             MLT  1996    NaN   NaN         NaN        0  SE.COM.DURS
3970             GIB  2019   10.0   NaN         NaN        0  SE.COM.DURS
3841             GMB  2020    9.0   NaN         NaN        0  SE.COM.DURS
8439             YEM  1998    9.0   NaN         NaN        0  SE.COM.DURS
3251             CZE  2002    NaN   NaN         NaN        0  SE.COM.DURS

                             indicator.value country.id    country.value
5529  Educación obligatoria, duración (años)         MT            Malta
3970  Educación obligatoria, duración (años)         GI        Gibraltar
3841  Educación obligatoria, duración (años)         GM           Gambia
8439  Educación obligatoria, duración (años)         YE  Yemen, Rep. del
3251  Educación obligatoria, duración (años)         CZ  República Checa

========DF_UNPD_POP_72========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         72.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         72.0      25.0       0.0
25%     222.000000             4.0         72.0      25.0       0.0
50%     439.000000             4.0         72.0      25.0       0.0
75%     646.000000             4.0         72.0      25.0       0.0
max     894.000000             4.0         72.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0   100.718104
std       0.0     0.0       0.0     0.0     0.0    15.886405
min       3.0   188.0       0.0    -1.0     0.0    82.170955
25%       3.0   188.0       0.0    -1.0     0.0    95.687958
50%       3.0   188.0       0.0    -1.0     0.0    98.679200
75%       3.0   188.0       0.0    -1.0     0.0   101.766534
max       3.0   188.0       0.0    -1.0     0.0   327.456193
====Get a sample of 5 rows====
      locationId        location iso3 iso2  locationTypeId  indicatorId  \
2454         312      Guadeloupe  GLP   GP               4           72
4492         554     New Zealand  NZL   NZ               4           72
4093         508      Mozambique  MOZ   MZ               4           72
3530         440       Lithuania  LTU   LT               4           72
5966         732  Western Sahara  ESH   EH               4           72

                              indicator               indicatorDisplayName  \
2454  Sex ratio of the total population  Sex ratio of the total population
4492  Sex ratio of the total population  Sex ratio of the total population
4093  Sex ratio of the total population  Sex ratio of the total population
3530  Sex ratio of the total population  Sex ratio of the total population
5966  Sex ratio of the total population  Sex ratio of the total population

      sourceId                      source  revision  variantId variant  \
2454        25  World Population Prospects         0          4  Median
4492        25  World Population Prospects         0          4  Median
4093        25  World Population Prospects         0          4  Median
3530        25  World Population Prospects         0          4  Median
5966        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
2454           Median       Median      46      1995  1995.5           0
4492           Median       Median      69      2018  2018.5           0
4093           Median       Median      42      1991  1991.5           0
3530           Median       Median      68      2017  2017.5           0
5966           Median       Median      55      2004  2004.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
2454  Not applicable               1  Model-based Estimates                 2
4492  Not applicable               1  Model-based Estimates                 2
4093  Not applicable               1  Model-based Estimates                 2
3530  Not applicable               1  Model-based Estimates                 2
5966  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
2454  Interpolation      3  Both sexes    188    Total         0      -1
4492  Interpolation      3  Both sexes    188    Total         0      -1
4093  Interpolation      3  Both sexes    188    Total         0      -1
3530  Interpolation      3  Both sexes    188    Total         0      -1
5966  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid       value
2454       0   94.692840
4492       0   97.093131
4093       0   95.004612
3530       0   86.961579
5966       0  115.279613

========DF_TWB_SP.DYN.LE00.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            7669 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value               843
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7669.000000   0.0         0.0   8512.0
mean     68.469955   NaN         NaN      0.0
std       9.389406   NaN         NaN      0.0
min      26.172000   NaN         NaN      0.0
25%      62.769966   NaN         NaN      0.0
50%      70.587805   NaN         NaN      0.0
75%      75.401541   NaN         NaN      0.0
max      85.387805   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
5961             NRU  2012        NaN   NaN         NaN        0
1728             AGO  2021        NaN   NaN         NaN        0
1890             AUS  2019  82.900000   NaN         NaN        0
4265             HTI  2012  61.260000   NaN         NaN        0
2172             BEL  1993  76.345366   NaN         NaN        0

        indicator.id                           indicator.value country.id  \
5961  SP.DYN.LE00.IN  Esperanza de vida al nacer, total (años)         NR
1728  SP.DYN.LE00.IN  Esperanza de vida al nacer, total (años)         AO
1890  SP.DYN.LE00.IN  Esperanza de vida al nacer, total (años)         AU
4265  SP.DYN.LE00.IN  Esperanza de vida al nacer, total (años)         HT
2172  SP.DYN.LE00.IN  Esperanza de vida al nacer, total (años)         BE

     country.value
5961         Nauru
1728        Angola
1890     Australia
4265         Haití
2172       Bélgica

========DF_TWB_NY.GDP.PCAP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            7919 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value               593
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
               value  unit  obs_status  decimal
count    7919.000000   0.0         0.0   8512.0
mean    11776.280526   NaN         NaN      1.0
std     19595.166433   NaN         NaN      0.0
min        22.795345   NaN         NaN      1.0
25%      1125.161981   NaN         NaN      1.0
50%      3656.858271   NaN         NaN      1.0
75%     13821.652594   NaN         NaN      1.0
max    189487.147128   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date        value  unit  obs_status  decimal  \
2812             TCD  1993   222.923183   NaN         NaN        1
4837             KIR  2016  1586.344978   NaN         NaN        1
6189             NGA  2008  2259.114059   NaN         NaN        1
2454             VGB  1999          NaN   NaN         NaN        1
7653             TJK  2016   807.102586   NaN         NaN        1

        indicator.id                          indicator.value country.id  \
2812  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         TD
4837  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         KI
6189  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         NG
2454  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         VG
7653  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         TJ

                  country.value
2812                       Chad
4837                   Kiribati
6189                    Nigeria
2454  Islas Vírgenes Británicas
7653                 Tayikistán

========DF_TWB_SP.DYN.LE00.FE.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            7669 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====

countryiso3code     160
date                  0
value               843
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7669.000000   0.0         0.0   8512.0
mean     70.946840   NaN         NaN      0.0
std       9.859640   NaN         NaN      0.0
min      27.571000   NaN         NaN      0.0
25%      64.539567   NaN         NaN      0.0
50%      73.544612   NaN         NaN      0.0
75%      78.400000   NaN         NaN      0.0
max      88.100000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
4413             ISL  1992  80.850000   NaN         NaN        0
200              EAS  2013  77.475433   NaN         NaN        0
4117             GUM  2000  77.532000   NaN         NaN        0
2806             TCD  1999  48.856000   NaN         NaN        0
2043             BHR  1994  74.370000   NaN         NaN        0

           indicator.id                             indicator.value  \
4413  SP.DYN.LE00.FE.IN  Esperanza de vida al nacer, mujeres (años)
200   SP.DYN.LE00.FE.IN  Esperanza de vida al nacer, mujeres (años)
4117  SP.DYN.LE00.FE.IN  Esperanza de vida al nacer, mujeres (años)
2806  SP.DYN.LE00.FE.IN  Esperanza de vida al nacer, mujeres (años)
2043  SP.DYN.LE00.FE.IN  Esperanza de vida al nacer, mujeres (años)

     country.id                country.value
4413         IS                     Islandia
200          Z4  Asia oriental y el Pacífico
4117         GU                         Guam
2806         TD                         Chad
2043         BH                      Bahrein

========DF_TWB_IQ.SCI.OVRL========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            2983 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value              5529
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  2983.000000   0.0         0.0   8512.0
mean     65.263466   NaN         NaN      1.0
std      15.574997   NaN         NaN      0.0
min      16.666667   NaN         NaN      1.0
25%      55.555567   NaN         NaN      1.0
50%      66.666667   NaN         NaN      1.0
75%      76.666667   NaN         NaN      1.0
max      98.888900   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal indicator.id  \
3855             GMB  2006  64.444444   NaN         NaN        1  IQ.SCI.OVRL
3930             DEU  1995        NaN   NaN         NaN        1  IQ.SCI.OVRL
7103             SXM  1990        NaN   NaN         NaN        1  IQ.SCI.OVRL
125              CSS  1992        NaN   NaN         NaN        1  IQ.SCI.OVRL
8363             VIR  2010        NaN   NaN         NaN        1  IQ.SCI.OVRL

                                                 indicator.value country.id  \
3855  Nivel general de la capacidad estadística (escala 0 - 100)         GM
3930  Nivel general de la capacidad estadística (escala 0 - 100)         DE
7103  Nivel general de la capacidad estadística (escala 0 - 100)         SX
125   Nivel general de la capacidad estadística (escala 0 - 100)         S3
8363  Nivel general de la capacidad estadística (escala 0 - 100)         VI

                   country.value
3855                      Gambia
3930                    Alemania
7103   Sint Maarten (Dutch part)
125   Estados pequeos del Caribe
8363     Islas Vírgenes (EE.UU.)

========DF_TWB_SP.POP.TOTL.MA.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            7734 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value               778
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7734.000000   0.0         0.0   8512.0
mean     49.960548   NaN         NaN      0.0
std       2.556920   NaN         NaN      0.0
min      45.435177   NaN         NaN      0.0
25%      49.044124   NaN         NaN      0.0
50%      49.715017   NaN         NaN      0.0
75%      50.432604   NaN         NaN      0.0
max      76.710946   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
6343             PAK  2014  51.473518   NaN         NaN        0
7653             TJK  2016  50.442606   NaN         NaN        0
2923             COL  2010  49.001184   NaN         NaN        0
2514             BGR  2003  48.673091   NaN         NaN        0
1137             NaN  2004        NaN   NaN         NaN        0

           indicator.id                   indicator.value country.id  \
6343  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         PK
7653  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         TJ
2923  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         CO
2514  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         BG
1137  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         XY

       country.value
6343        Pakistán
7653      Tayikistán
2923        Colombia
2514        Bulgaria
1137  No clasificado

========DF_LOCATIONSWITHAGGREGATES========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 0 to 236
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    227 non-null    int64
 1   Name                  227 non-null    object
 2   Iso2                  227 non-null    object
 3   Iso3                  227 non-null    object
 4   Longitude             227 non-null    float64
 5   Latitude              227 non-null    float64
 6   Region                227 non-null    object
 7   SubRegion             227 non-null    object
 8   WorldBankIncomeGroup  227 non-null    object
 9   UNDevelopmentGroup    227 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 19.5+ KB
None
====Sum the null in each column====
Id                      0
Name                    0
Iso2                    0
Iso3                    0
Longitude               0
Latitude                0
Region                  0
SubRegion               0
WorldBankIncomeGroup    0
UNDevelopmentGroup      0
dtype: int64
====Describe numeric columns====

               Id   Longitude    Latitude
count  227.000000  227.000000  227.000000
mean   435.960352   13.363854   17.099326
std    250.001953   73.707585   24.031906
min      4.000000 -178.116501  -51.796253
25%    224.000000  -37.765227    1.924065
50%    438.000000   18.490410   15.870032
75%    644.500000   47.529346   36.172787
max    894.000000  178.679916   64.963051
====Get a sample of 5 rows====
      Id                Name Iso2 Iso3   Longitude   Latitude  \
26    96   Brunei Darussalam   BN  BRN  114.727669   4.535277
56   214  Dominican Republic   DO  DOM  -70.162651  18.735693
143  531             Curaçao   CW  CUW  -68.990021  12.169570
151  562               Niger   NE  NER    8.081666  17.607788
13    50          Bangladesh   BD  BGD   90.356331  23.684994

                              Region           SubRegion  \
26                              Asia  South-Eastern Asia
56   Latin America and the Caribbean           Caribbean
143  Latin America and the Caribbean           Caribbean
151                           Africa      Western Africa
13                              Asia       Southern Asia

              WorldBankIncomeGroup         UNDevelopmentGroup
26           High-income countries   Other developing regions
56   Upper-middle-income countries   Other developing regions
143          High-income countries   Other developing regions
151           Low-income countries  Least developed countries
13   Lower-middle-income countries  Least developed countries

========DF_TWB_SE.XPD.TOTL.GD.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            4445 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value              4067
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  4445.000000   0.0         0.0   8512.0
mean      4.369940   NaN         NaN      1.0
std       1.965804   NaN         NaN      0.0
min       0.000000   NaN         NaN      1.0
25%       3.168590   NaN         NaN      1.0
50%       4.098310   NaN         NaN      1.0
75%       5.141530   NaN         NaN      1.0
max      44.333981   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date    value  unit  obs_status  decimal  \
6777             RWA  1996      NaN   NaN         NaN        1
1228             PSS  2009      NaN   NaN         NaN        1
2688             CAN  2021      NaN   NaN         NaN        1
4286             HTI  1991  1.07399   NaN         NaN        1
6515             PER  2002  2.82057   NaN         NaN        1

           indicator.id                                indicator.value  \
6777  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
1228  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
2688  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
4286  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
6515  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)

     country.id                             country.value
6777         RW                                    Rwanda
1228         S2  Estados pequeos de las Islas del Pacfico
2688         CA                                    Canadá
4286         HT                                     Haití
6515         PE                                      Perú

========DF_UNPD_POP_67========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         67.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         67.0      25.0       0.0
25%     222.000000             4.0         67.0      25.0       0.0
50%     439.000000             4.0         67.0      25.0       0.0
75%     646.000000             4.0         67.0      25.0       0.0
max     894.000000             4.0         67.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    26.339441
std       0.0     0.0       0.0     0.0     0.0     8.526796
min       3.0   188.0       0.0    -1.0     0.0    13.528263
25%       3.0   188.0       0.0    -1.0     0.0    18.459661
50%       3.0   188.0       0.0    -1.0     0.0    24.994464
75%       3.0   188.0       0.0    -1.0     0.0    33.695728
max       3.0   188.0       0.0    -1.0     0.0    54.456523
====Get a sample of 5 rows====
      locationId              location iso3 iso2  locationTypeId  indicatorId  \
6118         760  Syrian Arab Republic  SYR   SY               4           67
2590         328                Guyana  GUY   GY               4           67
1981         242                  Fiji  FJI   FJ               4           67
371           44               Bahamas  BHS   BS               4           67
2522         320             Guatemala  GTM   GT               4           67

                     indicator                indicatorDisplayName  sourceId  \
6118  Median age of population  Median age of the total population        25
2590  Median age of population  Median age of the total population        25
1981  Median age of population  Median age of the total population        25
371   Median age of population  Median age of the total population        25
2522  Median age of population  Median age of the total population        25

                          source  revision  variantId variant  \
6118  World Population Prospects         0          4  Median
2590  World Population Prospects         0          4  Median
1981  World Population Prospects         0          4  Median
371   World Population Prospects         0          4  Median
2522  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6118           Median       Median      52      2001  2001.5           0
2590           Median       Median      58      2007  2007.5           0
1981           Median       Median      69      2018  2018.5           0
371            Median       Median      71      2020  2020.5           0
2522           Median       Median      52      2001  2001.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
6118  Not applicable               1  Model-based Estimates                 2
2590  Not applicable               1  Model-based Estimates                 2
1981  Not applicable               1  Model-based Estimates                 2
371   Not applicable               1  Model-based Estimates                 2
2522  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
6118  Interpolation      3  Both sexes    188    Total         0      -1
2590  Interpolation      3  Both sexes    188    Total         0      -1
1981  Interpolation      3  Both sexes    188    Total         0      -1
371   Interpolation      3  Both sexes    188    Total         0      -1
2522  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid      value
6118       0  18.027142
2590       0  22.366525
1981       0  26.036316
371        0  32.115499
2522       0  16.861660

========DF_UNPD_MORT_59========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         59.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         59.0      25.0       0.0
25%     222.000000             4.0         59.0      25.0       0.0
50%     439.000000             4.0         59.0      25.0       0.0
75%     646.000000             4.0         59.0      25.0       0.0
max     894.000000             4.0         59.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     8.550039
std       0.0     0.0       0.0     0.0     0.0     3.974595
min       3.0   188.0       0.0    -1.0     0.0     0.795000
25%       3.0   188.0       0.0    -1.0     0.0     6.019250
50%       3.0   188.0       0.0    -1.0     0.0     7.733500
75%       3.0   188.0       0.0    -1.0     0.0    10.309750
max       3.0   188.0       0.0    -1.0     0.0   103.534000
====Get a sample of 5 rows====
      locationId                location iso3 iso2  locationTypeId  \
1392         180  Dem. Rep. of the Congo  COD   CD               4
1389         180  Dem. Rep. of the Congo  COD   CD               4
5474         678   Sao Tome and Principe  STP   ST               4
6325         784    United Arab Emirates  ARE   AE               4
4270         528             Netherlands  NLD   NL               4

      indicatorId         indicator  \
1392           59  Crude death rate
1389           59  Crude death rate
5474           59  Crude death rate
6325           59  Crude death rate
4270           59  Crude death rate

                                indicatorDisplayName  sourceId  \
1392  Crude death rate (deaths per 1,000 population)        25
1389  Crude death rate (deaths per 1,000 population)        25
5474  Crude death rate (deaths per 1,000 population)        25
6325  Crude death rate (deaths per 1,000 population)        25
4270  Crude death rate (deaths per 1,000 population)        25

                          source  revision  variantId variant  \
1392  World Population Prospects         0          4  Median
1389  World Population Prospects         0          4  Median
5474  World Population Prospects         0          4  Median
6325  World Population Prospects         0          4  Median
4270  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1392           Median       Median      69      2018  2018.5           0
1389           Median       Median      66      2015  2015.5           0
5474           Median       Median      59      2008  2008.5           0
6325           Median       Median      42      1991  1991.5           0
4270           Median       Median      64      2013  2013.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1392  Not applicable               1  Model-based Estimates                 2
1389  Not applicable               1  Model-based Estimates                 2
5474  Not applicable               1  Model-based Estimates                 2
6325  Not applicable               1  Model-based Estimates                 2
4270  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1392  Interpolation      3  Both sexes    188    Total         0      -1
1389  Interpolation      3  Both sexes    188    Total         0      -1
5474  Interpolation      3  Both sexes    188    Total         0      -1
6325  Interpolation      3  Both sexes    188    Total         0      -1
4270  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
1392       0   9.573
1389       0  10.396
5474       0   7.260
6325       0   2.608
4270       0   8.377

========DF_UNPD_POP_51========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object

locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         51.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         51.0      25.0       0.0
25%     222.000000             4.0         51.0      25.0       0.0
50%     439.000000             4.0         51.0      25.0       0.0
75%     646.000000             4.0         51.0      25.0       0.0
max     894.000000             4.0         51.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     1.390488
std       0.0     0.0       0.0     0.0     0.0     2.131548
min       3.0   188.0       0.0    -1.0     0.0   -71.689000
25%       3.0   188.0       0.0    -1.0     0.0     0.400000
50%       3.0   188.0       0.0    -1.0     0.0     1.344500
75%       3.0   188.0       0.0    -1.0     0.0     2.386750
max       3.0   188.0       0.0    -1.0     0.0    36.299000
====Get a sample of 5 rows====
      locationId       location iso3 iso2  locationTypeId  indicatorId  \
4867         600       Paraguay  PRY   PY               4           51
1893         234  Faroe Islands  FRO   FO               4           51
2934         376         Israel  ISR   IL               4           51
3715         462       Maldives  MDV   MV               4           51
5443         674     San Marino  SMR   SM               4           51

                      indicator                   indicatorDisplayName  \
4867  Rate of population change  Crude rate of total population change
1893  Rate of population change  Crude rate of total population change
2934  Rate of population change  Crude rate of total population change
3715  Rate of population change  Crude rate of total population change
5443  Rate of population change  Crude rate of total population change

      sourceId                      source  revision  variantId variant  \
4867        25  World Population Prospects         0          4  Median
1893        25  World Population Prospects         0          4  Median
2934        25  World Population Prospects         0          4  Median
3715        25  World Population Prospects         0          4  Median
5443        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
4867           Median       Median      41      1990  1990.5           0
1893           Median       Median      43      1992  1992.5           0
2934           Median       Median      61      2010  2010.5           0
3715           Median       Median      67      2016  2016.5           0
5443           Median       Median      59      2008  2008.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
4867  Not applicable               1  Model-based Estimates                 2
1893  Not applicable               1  Model-based Estimates                 2
2934  Not applicable               1  Model-based Estimates                 2
3715  Not applicable               1  Model-based Estimates                 2
5443  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
4867  Interpolation      3  Both sexes    188    Total         0      -1
1893  Interpolation      3  Both sexes    188    Total         0      -1
2934  Interpolation      3  Both sexes    188    Total         0      -1
3715  Interpolation      3  Both sexes    188    Total         0      -1
5443  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
4867       0  2.675
1893       0 -1.885
2934       0  1.797
3715       0  4.069
5443       0  1.023

========DF_UNPD_POP_50========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         50.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         50.0      25.0       0.0
25%     222.000000             4.0         50.0      25.0       0.0
50%     439.000000             4.0         50.0      25.0       0.0
75%     646.000000             4.0         50.0      25.0       0.0
max     894.000000             4.0         50.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.577964e+05
std       0.0     0.0       0.0     0.0     0.0  1.419734e+06
min       3.0   188.0       0.0    -1.0     0.0 -2.647698e+06
25%       3.0   188.0       0.0    -1.0     0.0  9.167500e+02
50%       3.0   188.0       0.0    -1.0     0.0  3.525000e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.407268e+05
max       3.0   188.0       0.0    -1.0     0.0  1.987452e+07
====Get a sample of 5 rows====

      locationId        location iso3 iso2  locationTypeId  indicatorId  \
6077         756     Switzerland  CHE   CH               4           50
5965         732  Western Sahara  ESH   EH               4           50
2206         270          Gambia  GMB   GM               4           50
1469         191         Croatia  HRV   HR               4           50
4199         520           Nauru  NRU   NR               4           50

              indicator indicatorDisplayName  sourceId  \
6077  Population Change    Population Change        25
5965  Population Change    Population Change        25
2206  Population Change    Population Change        25
1469  Population Change    Population Change        25
4199  Population Change    Population Change        25

                          source  revision  variantId variant  \
6077  World Population Prospects         0          4  Median
5965  World Population Prospects         0          4  Median
2206  World Population Prospects         0          4  Median
1469  World Population Prospects         0          4  Median
4199  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6077           Median       Median      42      1991  1991.5           0
5965           Median       Median      54      2003  2003.5           0
2206           Median       Median      46      1995  1995.5           0
1469           Median       Median      53      2002  2002.5           0
4199           Median       Median      55      2004  2004.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
6077  Not applicable               1  Model-based Estimates                 2
5965  Not applicable               1  Model-based Estimates                 2
2206  Not applicable               1  Model-based Estimates                 2
1469  Not applicable               1  Model-based Estimates                 2
4199  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
6077  Interpolation      3  Both sexes    188    Total         0      -1
5965  Interpolation      3  Both sexes    188    Total         0      -1
2206  Interpolation      3  Both sexes    188    Total         0      -1
1469  Interpolation      3  Both sexes    188    Total         0      -1
4199  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
6077       0  90350
5965       0  13868
2206       0  36397
1469       0 -22409
4199       0    -13

========PAISES========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               178 non-null    object
 1   id                 178 non-null    object
 2   region.value       178 non-null    object
 3   incomeLevel.value  178 non-null    object
dtypes: object(4)
memory usage: 5.7+ KB
None
====Sum the null in each column====
name                 0
id                   0
region.value         0
incomeLevel.value    0
dtype: int64
====Describe numeric columns====
         name   id           region.value incomeLevel.value
count     178  178                    178               178
unique    178  178                      7                 4
top     Aruba  ABW  Europe & Central Asia       High income
freq        1    1                     47                50
====Get a sample of 5 rows====
               name   id                region.value    incomeLevel.value
44    Liechtenstein  LIE       Europe & Central Asia          High income
17   Cayman Islands  CYM  Latin America & Caribbean           High income
60         Botswana  BWA         Sub-Saharan Africa   Upper middle income
167          Rwanda  RWA         Sub-Saharan Africa            Low income
42      Korea, Rep.  KOR         East Asia & Pacific          High income

========DF_OMS_M_EST_CIG_C========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4437 entries, 0 to 4436
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             4428 non-null   float64
 1   IndicatorCode  4428 non-null   object
 2   SpatialDim     4428 non-null   object
 3   TimeDim        4428 non-null   float64
 4   Dim1Type       4428 non-null   object
 5   Dim1           4428 non-null   object
 6   NumericValue   4428 non-null   float64
 7   Low            4428 non-null   float64
 8   High           4428 non-null   float64
 9   Comments       1461 non-null   object
dtypes: float64(5), object(5)
memory usage: 346.8+ KB
None
====Sum the null in each column====
Id                  9
IndicatorCode       9
SpatialDim          9
TimeDim             9
Dim1Type            9
Dim1                9
NumericValue        9
Low                 9
High                9
Comments         2976
dtype: int64
====Describe numeric columns====
                 Id      TimeDim  NumericValue          Low         High
count  4.428000e+03  4428.000000   4428.000000  4428.000000  4428.000000
mean   2.780509e+07  2015.000000     17.376626    12.541847    22.210298
std    6.713267e+03     7.917122     12.859629     9.793209    16.248052
min    2.779325e+07  2000.000000      0.000000     0.000000     0.000000
25%    2.780027e+07  2010.000000      6.700000     4.600000     8.700000
50%    2.780531e+07  2018.000000     16.100000    11.000000    20.700000
75%    2.781035e+07  2020.000000     25.600000    18.600000    32.125000
max    2.781539e+07  2025.000000     73.800000    52.800000    94.800000
====Get a sample of 5 rows====
              Id   IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
1505  27802632.0  M_Est_cig_curr        CMR   2010.0      SEX  BTSX
915   27798106.0  M_Est_cig_curr        MHL   2000.0      SEX  FMLE
132   27793384.0  M_Est_cig_curr        IDN   2020.0      SEX  BTSX
865   27798056.0  M_Est_cig_curr        EGY   2000.0      SEX  FMLE
859   27798050.0  M_Est_cig_curr        CZE   2000.0      SEX  FMLE

      NumericValue   Low  High  \
1505           6.2   4.7   7.7
915            5.1   3.4   6.7
132           32.6  26.0  39.1
865            0.4   0.2   0.5
859           22.5  18.3  26.7

                                             Comments
1505                                             None
915                                              None
132   Projected from surveys completed prior to 2020.
865                                              None
859                                              None

========DF_UNPD_POP_41========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   float64
 31  value                 7006 non-null   int64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====

        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         41.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         41.0      25.0       0.0
25%     222.000000             4.0         41.0      25.0       0.0
50%     439.000000             4.0         41.0      25.0       0.0
75%     646.000000             4.0         41.0      25.0       0.0
max     894.000000             4.0         41.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000        99.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000        99.0             1.0               2.0
25%          4.0    48.00000        99.0             1.0               2.0
50%          4.0    56.00000        99.0             1.0               2.0
75%          4.0    64.00000        99.0             1.0               2.0
max          4.0    71.00000        99.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      2.0    31.0      15.0    49.0    32.5  7.029655e+06
std       0.0     0.0       0.0     0.0     0.0  3.106368e+07
min       2.0    31.0      15.0    49.0    32.5  2.630000e+02
25%       2.0    31.0      15.0    49.0    32.5  1.084858e+05
50%       2.0    31.0      15.0    49.0    32.5  1.164298e+06
75%       2.0    31.0      15.0    49.0    32.5  4.107028e+06
max       2.0    31.0      15.0    49.0    32.5  3.733576e+08
====Get a sample of 5 rows====
      locationId                     location iso3 iso2  locationTypeId  \
6940         882                        Samoa  WSM   WS               4
5644         702                    Singapore  SGP   SG               4
2479         312                   Guadeloupe  GLP   GP               4
6637         826               United Kingdom  GBR   GB               4
4711         583  Micronesia (Fed. States of)  FSM   FM               4

      indicatorId                                            indicator  \
6940           41  Female population of reproductive age (15-49 years)
5644           41  Female population of reproductive age (15-49 years)
2479           41  Female population of reproductive age (15-49 years)
6637           41  Female population of reproductive age (15-49 years)
4711           41  Female population of reproductive age (15-49 years)

                                     indicatorDisplayName  sourceId  \
6940  Female population of reproductive age (15-49 years)        25
5644  Female population of reproductive age (15-49 years)        25
2479  Female population of reproductive age (15-49 years)        25
6637  Female population of reproductive age (15-49 years)        25
4711  Female population of reproductive age (15-49 years)        25

                          source  revision  variantId variant  \
6940  World Population Prospects         0          4  Median
5644  World Population Prospects         0          4  Median
2479  World Population Prospects         0          4  Median
6637  World Population Prospects         0          4  Median
4711  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6940           Median       Median      68      2017  2017.5          99
5644           Median       Median      43      1992  1992.5          99
2479           Median       Median      71      2020  2020.5          99
6637           Median       Median      44      1993  1993.5          99
4711           Median       Median      71      2020  2020.5          99

       category  estimateTypeId           estimateType  estimateMethodId  \
6940  All women               1  Model-based Estimates                 2
5644  All women               1  Model-based Estimates                 2
2479  All women               1  Model-based Estimates                 2
6637  All women               1  Model-based Estimates                 2
4711  All women               1  Model-based Estimates                 2

     estimateMethod  sexId     sex  ageId ageLabel  ageStart  ageEnd  ageMid  \
6940  Interpolation      2  Female     31    15-49        15      49    32.5
5644  Interpolation      2  Female     31    15-49        15      49    32.5
2479  Interpolation      2  Female     31    15-49        15      49    32.5
6637  Interpolation      2  Female     31    15-49        15      49    32.5
4711  Interpolation      2  Female     31    15-49        15      49    32.5

         value
6940     47453
5644    999576
2479     87474
6637  14180070
4711     28089

========DF_UNPD_MORT_24========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          24.0      2.000000     43.389964
std            0.0      0.816516     50.151232
min           24.0      1.000000      0.742166
25%           24.0      1.000000     10.328824
50%           24.0      2.000000     21.508633
75%           24.0      3.000000     58.607664
max           24.0      3.000000    421.079906
====Get a sample of 5 rows====
            location iso3 timeLabel  indicatorId  \
17491       Zimbabwe  ZWE      1992           24
7961        Honduras  HND      2008           24
12770    Netherlands  NLD      1999           24
5764   Faroe Islands  FRO      2020           24
1304         Armenia  ARM      1990           24

                              indicator  sexId         sex      value
17491  Under-five mortality rate (U5MR)      2      Female  79.295444
7961   Under-five mortality rate (U5MR)      3  Both sexes  25.753678
12770  Under-five mortality rate (U5MR)      3  Both sexes   6.306153
5764   Under-five mortality rate (U5MR)      2      Female   6.679257
1304   Under-five mortality rate (U5MR)      3  Both sexes  49.059954

========DF_OMS_SA_0000001688========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12027 entries, 0 to 12026
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             12018 non-null  float64
 1   IndicatorCode  12018 non-null  object
 2   SpatialDim     12018 non-null  object
 3   TimeDim        12018 non-null  float64
 4   Dim1Type       12018 non-null  object
 5   Dim1           12018 non-null  object
 6   NumericValue   12018 non-null  float64
 7   Low            12018 non-null  float64
 8   High           12018 non-null  float64
 9   Comments       0 non-null      object
dtypes: float64(5), object(5)
memory usage: 939.7+ KB
None
====Sum the null in each column====
Id                   9
IndicatorCode        9
SpatialDim           9
TimeDim              9
Dim1Type             9
Dim1                 9
NumericValue         9
Low                  9
High                 9
Comments         12027
dtype: int64
====Describe numeric columns====
                 Id       TimeDim  NumericValue           Low          High
count  1.201800e+04  12018.000000  12018.000000  12018.000000  12018.000000
mean   2.693733e+07   2009.542187      5.936026      4.899256      7.117488
std    2.776732e+05      5.835183      5.475577      4.741628      6.335322
min    2.586232e+07   2000.000000      0.000000      0.000000      0.000000
25%    2.700708e+07   2005.000000      1.608453      1.159290      2.122930
50%    2.701009e+07   2010.000000      4.310920      3.422805      5.220830
75%    2.701309e+07   2015.000000      8.946648      7.329685     10.750072
max    2.701609e+07   2019.000000     31.435380     27.486090     36.021110
====Get a sample of 5 rows====
               Id  IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
5499   27009576.0  SA_0000001688        TZA   2005.0      SEX   MLE
10303  27014404.0  SA_0000001688        AGO   2011.0      SEX  FMLE
7689   27011790.0  SA_0000001688        BDI   2017.0      SEX   MLE
577    25889275.0  SA_0000001688        518   2010.0      SEX   MLE
5692   27009772.0  SA_0000001688        CAN   2006.0      SEX   MLE

       NumericValue       Low      High Comments
5499       14.67832  11.87627  17.63905     None
10303       4.23027   3.58425   5.03676     None
7689       12.07561   9.43717  14.66194     None
577        11.00000   8.90000  12.90000     None
5692       15.59317  13.28064  18.27655     None

========DF_UNPD_POP_52========
====Basic info about the dataframe====

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         52.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         52.0      25.0       0.0
25%     222.000000             4.0         52.0      25.0       0.0
50%     439.000000             4.0         52.0      25.0       0.0
75%     646.000000             4.0         52.0      25.0       0.0
max     894.000000             4.0         52.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.646006e+05
std       0.0     0.0       0.0     0.0     0.0  1.453215e+06
min       3.0   188.0       0.0    -1.0     0.0 -9.747800e+05
25%       3.0   188.0       0.0    -1.0     0.0  1.719750e+03
50%       3.0   188.0       0.0    -1.0     0.0  2.731750e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.379780e+05
max       3.0   188.0       0.0    -1.0     0.0  2.016458e+07
====Get a sample of 5 rows====
      locationId                          location iso3 iso2  locationTypeId  \
2277         276                           Germany  DEU   DE               4
575           68  Bolivia (Plurinational State of)  BOL   BO               4
2325         292                         Gibraltar  GIB   GI               4
2919         376                            Israel  ISR   IL               4
2372         296                          Kiribati  KIR   KI               4

      indicatorId                     indicator          indicatorDisplayName  \
2277           52  Natural change of population  Natural change of population
575            52  Natural change of population  Natural change of population
2325           52  Natural change of population  Natural change of population
2919           52  Natural change of population  Natural change of population
2372           52  Natural change of population  Natural change of population

      sourceId                      source  revision  variantId variant  \
2277        25  World Population Prospects         0          4  Median
575         25  World Population Prospects         0          4  Median
2325        25  World Population Prospects         0          4  Median
2919        25  World Population Prospects         0          4  Median
2372        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
2277           Median       Median      55      2004  2004.5           0
575            Median       Median      58      2007  2007.5           0
2325           Median       Median      41      1990  1990.5           0
2919           Median       Median      46      1995  1995.5           0
2372           Median       Median      57      2006  2006.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
2277  Not applicable               1  Model-based Estimates                 2
575   Not applicable               1  Model-based Estimates                 2
2325  Not applicable               1  Model-based Estimates                 2
2919  Not applicable               1  Model-based Estimates                 2
2372  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
2277  Interpolation      3  Both sexes    188    Total         0      -1
575   Interpolation      3  Both sexes    188    Total         0      -1
2325  Interpolation      3  Both sexes    188    Total         0      -1
2919  Interpolation      3  Both sexes    188    Total         0      -1
2372  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
2277       0 -128057
575        0  182542
2325       0     273
2919       0   81701
2372       0    2232

========DF_UNPD_FERT_19========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7006 entries, 2 to 35027
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 383.1+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       7006.0  7006.000000
mean          19.0     3.064399
std            0.0     1.620662
min           19.0     0.792152
25%           19.0     1.767179
50%           19.0     2.528931
75%           19.0     4.109057
max           19.0     8.606475
====Get a sample of 5 rows====
                               location iso3 timeLabel  indicatorId  \
2892   Bolivia (Plurinational State of)  BOL      2010           19
612                      American Samoa  ASM      2019           19
8647                            Ecuador  ECU      2014           19
34192                        Uzbekistan  UZB      2008           19
29887                    Western Sahara  ESH      2015           19

                  indicator     value
2892   Total fertility rate  3.213237
612    Total fertility rate  2.333736
8647   Total fertility rate  2.334825
34192  Total fertility rate  2.575667
29887  Total fertility rate  2.520943

========DF_TWB_SP.POP.TOTL.FE.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8512 entries, 0 to 8511
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8352 non-null   object
 1   date             8512 non-null   object
 2   value            7734 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8512 non-null   int64
 6   indicator.id     8512 non-null   object
 7   indicator.value  8512 non-null   object
 8   country.id       8512 non-null   object
 9   country.value    8448 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 665.1+ KB
None
====Sum the null in each column====
countryiso3code     160
date                  0
value               778
unit               8512
obs_status         8512
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        64
dtype: int64
====Describe numeric columns====

             value  unit  obs_status  decimal
count  7734.000000   0.0         0.0   8512.0
mean     50.039452   NaN         NaN      1.0
std       2.556920   NaN         NaN      0.0
min      23.289054   NaN         NaN      1.0
25%      49.567396   NaN         NaN      1.0
50%      50.284983   NaN         NaN      1.0
75%      50.955876   NaN         NaN      1.0
max      54.564823   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
2002             BHS  2003  51.409829   NaN         NaN        1
5019             KGZ  1994  50.712356   NaN         NaN        1
967              MEA  2014  48.286658   NaN         NaN        1
5912             MMR  1997  51.441696   NaN         NaN        1
3412             ECU  2001  49.814916   NaN         NaN        1

           indicator.id                   indicator.value country.id  \
2002  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         BS
5019  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         KG
967   SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZQ
5912  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         MM
3412  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         EC

                        country.value
2002                          Bahamas
5019                       Kirguistán
967   Oriente Medio y Norte de África
5912                          Myanmar
3412                          Ecuador

========DF_UNPD_MARSTAT_42========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6758 entries, 0 to 6757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     6758 non-null   object
 1   iso3         6758 non-null   object
 2   timeLabel    6758 non-null   object
 3   indicatorId  6758 non-null   int64
 4   indicator    6758 non-null   object
 5   value        6758 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 369.6+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       6758.0  6758.000000
mean          42.0    58.384142
std            0.0     9.467496
min           42.0    23.606280
25%           42.0    53.506254
50%           42.0    58.813205
75%           42.0    64.352475
max           42.0    86.582894
====Get a sample of 5 rows====
              location iso3 timeLabel  indicatorId  \
2056  French Polynesia  PYF      2000           42
2537            Guinea  GIN      2016           42
3983        Montserrat  MSR      2005           42
3780        Martinique  MTQ      2019           42
2592             Haiti  HTI      2009           42

                        indicator      value
2056  Currently married (Percent)  34.283579
2537  Currently married (Percent)  71.293526
3983  Currently married (Percent)  39.552722
3780  Currently married (Percent)  30.016259
2592  Currently married (Percent)  58.094397