In [2]:
# We are using black as a code formatter
%load_ext nb_black

In [3]:
import requests
import json
import datetime
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import os
import re

In [4]:
# pd.set_option('display.max_rows', None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

Extraigamos los archivos parquet y los convertimos a dataframe

In [5]:
df = pd.read_parquet("../datasets/df_locationsWithAggregates.parquet")

In [6]:
df

,Id,Name,Iso2,Iso3,Longitude,Latitude,Region,SubRegion,WorldBankIncomeGroup,UNDevelopmentGroup
0,4,Afghanistan,AF,AFG,67.709953,33.939110,Asia,Southern Asia,Low-income countries,Least developed countries
1,8,Albania,AL,ALB,20.168331,41.153332,Europe,Southern Europe,Upper-middle-income countries,Developed regions
2,12,Algeria,DZ,DZA,1.659626,28.033886,Africa,Northern Africa,Lower-middle-income countries,Other developing regions
3,16,American Samoa,AS,ASM,-170.696182,-14.306021,Oceania,Polynesia,Upper-middle-income countries,Other developing regions
4,20,Andorra,AD,AND,1.521801,42.506287,Europe,Southern Europe,High-income countries,Developed regions
...,...,...,...,...,...,...,...,...,...,...
232,862,Venezuela (Bolivarian Republic of),VE,VEN,-66.589729,6.423750,Latin America and the Caribbean,South America,No income group available,Other developing regions
233,876,Wallis and Futuna Islands,WF,WLF,-178.116501,-14.293800,Oceania,Polynesia,No income group available,Other developing regions
234,882,Samoa,WS,WSM,-172.104630,-13.759029,Oceania,Polynesia,Lower-middle-income countries,Other developing regions
235,887,Yemen,YE,YEM,48.516388,15.552727,Asia,Western Asia,Low-income countries,Least developed countries
236,894,Zambia,ZM,ZMB,27.849333,-13.133897,Africa,Eastern Africa,Low-income countries,Least developed countries

In [7]:
# guardar en una lista los nombres en formtato Iso3 de los países
iso3_code = [str(code) for code in df["Iso3"].values]
iso3_code

['AFG',
 'ALB',
 'DZA',
 'ASM',
 'AND',
 'AGO',
 'ATG',
 'AZE',
 'ARG',
 'AUS',
 'AUT',
 'BHS',
 'BHR',
 'BGD',
 'ARM',
 'BRB',
 'BEL',
 'BTN',
 'BOL',
 'BIH',
 'BWA',
 'BRA',
 'BLZ',
 'SLB',
 'VGB',
 'BRN',
 'BGR',
 'MMR',
 'BDI',
 'BLR',
 'KHM',
 'CMR',
 'CPV',
 'CYM',
 'CAF',
 'LKA',
 'TCD',
 'CHL',
 'CHN',
 'TWN',
 'COL',
 'COM',
 'MYT',
 'COG',
 'COD',
 'COK',
 'CRI',
 'HRV',
 'CUB',
 'CYP',
 'CZE',
 'BEN',
 'DNK',
 'DMA',
 'DOM',
 'ECU',
 'SLV',
 'GNQ',
 'ETH',
 'ERI',
 'EST',
 'FRO',
 'FLK',
 'FJI',
 'FIN',
 'FRA',
 'GUF',
 'PYF',
 'DJI',
 'GAB',
 'GEO',
 'GMB',
 'PSE',
 'DEU',
 'GHA',
 'GIB',
 'KIR',
 'GRC',
 'GRD',
 'GLP',
 'GUM',
 'GTM',
 'GIN',
 'GUY',
 'HTI',
 'VAT',
 'HND',
 'HKG',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'ISR',
 'ITA',
 'CIV',
 'JAM',
 'JPN',
 'KAZ',
 'JOR',
 'KEN',
 'PRK',
 'KOR',
 'KWT',
 'KGZ',
 'LAO',
 'LBN',
 'LSO',
 'LVA',
 'LBR',
 'LBY',
 'LIE',
 'LTU',
 'LUX',
 'MAC',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MTQ',
 'MRT',
 'MUS',
 'MEX',
 'MCO',
 'MNG',
 'MDA',
 'MNE',
 'MSR',
 'MAR',
 'MOZ',
 'OMN',
 'NAM',
 'NRU',
 'NPL',
 'NLD',
 'CUW',
 'ABW',
 'SXM',
 'BES',
 'NCL',
 'VUT',
 'NZL',
 'NIC',
 'NER',
 'NGA',
 'NIU',
 'NOR',
 'MNP',
 'FSM',
 'MHL',
 'PLW',
 'PAK',
 'PAN',
 'PNG',
 'PRY',
 'PER',
 'PHL',
 'POL',
 'PRT',
 'GNB',
 'TLS',
 'PRI',
 'QAT',
 'REU',
 'ROU',
 'RUS',
 'RWA',
 'SHN',
 'KNA',
 'AIA',
 'LCA',
 'VCT',
 'SMR',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SYC',
 'SLE',
 'SGP',
 'SVK',
 'VNM',
 'SVN',
 'SOM',
 'ZAF',
 'ZWE',
 'ESP',
 'SSD',
 'SDN',
 'ESH',
 'SUR',
 'SWZ',
 'SWE',
 'CHE',
 'SYR',
 'TJK',
 'THA',
 'TGO',
 'TKL',
 'TON',
 'TTO',
 'ARE',
 'TUN',
 'TUR',
 'TKM',
 'TCA',
 'TUV',
 'UGA',
 'UKR',
 'MKD',
 'EGY',
 'GBR',
 'IMN',
 'TZA',
 'VIR',
 'BFA',
 'URY',
 'UZB',
 'VEN',
 'WLF',
 'WSM',
 'YEM',
 'ZMB']

Maybe if we want to filter by WorldBankIncomeGroup (This step is not required.)

In [8]:
df_high_income = df[(df["WorldBankIncomeGroup"] == "High-income countries")]
df_low_income = df[(df["WorldBankIncomeGroup"] == "Low-income countries")]
df_upper_middle_income = df[
    (df["WorldBankIncomeGroup"] == "Upper-middle-income countries")
]
df_lower_middle_income = df[
    (df["WorldBankIncomeGroup"] == "Lower-middle-income countries")
]

Revisamos una información básica de los dataframes

In [9]:
directory = "../datasets/"
# Let's iterate each parquet file and get some basic information
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f.endswith(".parquet"):
        print("========" + filename.rstrip(".parquet").upper() + "========", end="\n")
        df = pd.read_parquet(f)
        df.replace("", float("NaN"), inplace=True)
        # print("====Basic info about the dataframe====", end="\n")
        # print(df.info(), end="\n")
        # print("====Sum the null in each column====", end="\n")
        # print(df.isnull().sum(), end="\n")
        # print("====Describe numeric columns====", end="\n")
        # print(df.describe(), end="\n")
        print("====Get a sample of 5 rows====", end="\n")
        print(df.sample(5), end="\n")
        print(end="\n")

========DF_UNPD_MORT_22========
====Get a sample of 5 rows====
                     location iso3 timeLabel  indicatorId  \
10070                 Lesotho  LSO      1998           22
3599                    China  CHN      2011           22
19679                 Ukraine  UKR      2008           22
4157   Dem. Rep. of the Congo  COD      2011           22
4485                     Cuba  CUB      1997           22

                         indicator  sexId         sex     value
10070  Infant mortality rate (IMR)      3  Both sexes  78.13850
3599   Infant mortality rate (IMR)      3  Both sexes  12.06279
19679  Infant mortality rate (IMR)      3  Both sexes   9.74487
4157   Infant mortality rate (IMR)      3  Both sexes  69.99649
4485   Infant mortality rate (IMR)      1        Male   9.11438

========DF_TWB_SP.DYN.LE00.MA.IN========
====Get a sample of 5 rows====
     countryiso3code  date   value  unit  obs_status  decimal  \
7131             KNA  2019     NaN   NaN         NaN        0
4929             LBN  2020  77.224   NaN         NaN        0
6385             POL  1990  66.500   NaN         NaN        0
6481             ROU  2018  71.700   NaN         NaN        0
7013             ZAF  2013  57.951   NaN         NaN        0

           indicator.id                             indicator.value  \
7131  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
4929  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
6385  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
6481  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
7013  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)

     country.id        country.value
7131         KN  Saint Kitts y Nevis
4929         LB               Líbano
6385         PL              Polonia
6481         RO              Rumania
7013         ZA            Sudáfrica

========DF_UNPD_POP_54========
====Get a sample of 5 rows====
      locationId   location iso3 iso2  locationTypeId  indicatorId  \
7004         894     Zambia  ZMB   ZM               4           54
705           84     Belize  BLZ   BZ               4           54
376           48    Bahrain  BHR   BH               4           54
3007         388    Jamaica  JAM   JM               4           54
2339         292  Gibraltar  GIB   GI               4           54

               indicator                        indicatorDisplayName  \
7004  Population density  Population density (persons per square km)
705   Population density  Population density (persons per square km)
376   Population density  Population density (persons per square km)
3007  Population density  Population density (persons per square km)
2339  Population density  Population density (persons per square km)

      sourceId                      source  revision  variantId variant  \
7004        25  World Population Prospects         0          4  Median
705         25  World Population Prospects         0          4  Median
376         25  World Population Prospects         0          4  Median
3007        25  World Population Prospects         0          4  Median
2339        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
7004           Median       Median      70      2019  2019.5           0
705            Median       Median      64      2013  2013.5           0
376            Median       Median      45      1994  1994.5           0
3007           Median       Median      41      1990  1990.5           0
2339           Median       Median      55      2004  2004.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
7004  Not applicable               1  Model-based Estimates                 2
705   Not applicable               1  Model-based Estimates                 2
376   Not applicable               1  Model-based Estimates                 2
3007  Not applicable               1  Model-based Estimates                 2
2339  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
7004  Interpolation      3  Both sexes    188    Total         0      -1
705   Interpolation      3  Both sexes    188    Total         0      -1
376   Interpolation      3  Both sexes    188    Total         0      -1
3007  Interpolation      3  Both sexes    188    Total         0      -1
2339  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid        value
7004       0    24.725214
705        0    15.111245
376        0   757.667944
3007       0   220.870683
2339       0  2871.600000

========DF_UNPD_IMIGRT_65========
====Get a sample of 5 rows====
                             location iso3 timeLabel  indicatorId  \
3941                         Mongolia  MNG      1994           65
4614                             Niue  NIU      2016           65
6829                       Uzbekistan  UZB      1999           65
1215  China, Taiwan Province of China  TWN      1996           65
4960                           Poland  POL      1990           65

                indicator         sex  value
3941  Total net-migration  Both sexes  -8114
4614  Total net-migration  Both sexes      7
6829  Total net-migration  Both sexes -61969
1215  Total net-migration  Both sexes -51371
4960  Total net-migration  Both sexes -41244

========DF_OMS_NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV========
====Get a sample of 5 rows====
               Id                           IndicatorCode SpatialDim  \
10425  28223589.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        JOR
18301  28255106.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        KGZ
5962   28205740.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        FJI
19111  28258329.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        NPL
11854  28229309.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        SOM

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
10425               2007  SEVERITY  MODERATE          12.1   8.9  15.8
18301               2003  SEVERITY     TOTAL          35.8  28.0  44.1
5962                2010  SEVERITY    SEVERE           2.4   1.1   4.2
19111               2012  SEVERITY     TOTAL          35.9  29.8  42.5
11854               2018  SEVERITY  MODERATE          20.8  14.9  27.6

========DF_TWB_SI.POV.GINI========
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
6664             STP  1990    NaN   NaN         NaN        1  SI.POV.GINI
2848             COL  1993    NaN   NaN         NaN        1  SI.POV.GINI
5304             MLI  2017    NaN   NaN         NaN        1  SI.POV.GINI
8028             VUT  1990    NaN   NaN         NaN        1  SI.POV.GINI
1036             MIC  2007    NaN   NaN         NaN        1  SI.POV.GINI

     indicator.value country.id          country.value
6664  Índice de Gini         ST  Santo Tomé y Príncipe
2848  Índice de Gini         CO               Colombia
5304  Índice de Gini         ML                   Malí
8028  Índice de Gini         VU                Vanuatu
1036  Índice de Gini         XP        Ingreso mediano

========DF_UNPD_POP_49========
====Get a sample of 5 rows====
       locationId location iso3 iso2  locationTypeId  indicatorId  \
1370           51  Armenia  ARM   AM               4           49
10171         428   Latvia  LVA   LV               4           49
20754         882    Samoa  WSM   WS               4           49
9341          400   Jordan  JOR   JO               4           49
14286         585    Palau  PLW   PW               4           49

                     indicator     indicatorDisplayName  sourceId  \
1370   Total population by sex  Total population by sex        25
10171  Total population by sex  Total population by sex        25
20754  Total population by sex  Total population by sex        25
9341   Total population by sex  Total population by sex        25
14286  Total population by sex  Total population by sex        25

                           source  revision  variantId variant  \
1370   World Population Prospects         0          4  Median
10171  World Population Prospects         0          4  Median
20754  World Population Prospects         0          4  Median
9341   World Population Prospects         0          4  Median
14286  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1370            Median       Median      63      2012  2012.5           0
10171           Median       Median      52      2001  2001.5           0
20754           Median       Median      46      1995  1995.5           0
9341            Median       Median      54      2003  2003.5           0
14286           Median       Median      60      2009  2009.5           0

             category  estimateTypeId           estimateType  \
1370   Not applicable               1  Model-based Estimates
10171  Not applicable               1  Model-based Estimates
20754  Not applicable               1  Model-based Estimates
9341   Not applicable               1  Model-based Estimates
14286  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
1370                  2  Interpolation      3  Both sexes    188    Total
10171                 2  Interpolation      2      Female    188    Total
20754                 2  Interpolation      1        Male    188    Total
9341                  2  Interpolation      3  Both sexes    188    Total
14286                 2  Interpolation      1        Male    188    Total

       ageStart  ageEnd  ageMid    value
1370          0      -1       0  2914421
10171         0      -1       0  1283118
20754         0      -1       0    91472
9341          0      -1       0  5396117
14286         0      -1       0    10013

========DF_TWB_NY.GDP.MKTP.PP.CD========
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
2845             COL  1996  2.420497e+11   NaN         NaN        0
6897             SVK  2005  8.940025e+10   NaN         NaN        0
6762             SYC  2016  2.539687e+09   NaN         NaN        0
2041             BRB  1994  2.572898e+09   NaN         NaN        0
5216             MWI  2012  2.258807e+10   NaN         NaN        0

           indicator.id                                  indicator.value  \
2845  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
6897  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
6762  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
2041  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
5216  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)

     country.id       country.value
2845         CO            Colombia
6897         SK  República Eslovaca
6762         SC          Seychelles
2041         BB            Barbados
5216         MW              Malawi

========DF_UNPD_MORT_60========
====Get a sample of 5 rows====
       locationId              location iso3 iso2  locationTypeId  \
18366         760  Syrian Arab Republic  SYR   SY               4
3811          170              Colombia  COL   CO               4
7769          328                Guyana  GUY   GY               4
3327          144             Sri Lanka  LKA   LK               4
20871         887                 Yemen  YEM   YE               4

       indicatorId            indicator indicatorDisplayName  sourceId  \
18366           60  Total deaths by sex  Total deaths by sex        25
3811            60  Total deaths by sex  Total deaths by sex        25
7769            60  Total deaths by sex  Total deaths by sex        25
3327            60  Total deaths by sex  Total deaths by sex        25
20871           60  Total deaths by sex  Total deaths by sex        25

                           source  revision  variantId variant  \
18366  World Population Prospects         0          4  Median
3811   World Population Prospects         0          4  Median
7769   World Population Prospects         0          4  Median
3327   World Population Prospects         0          4  Median
20871  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
18366           Median       Median      56      2005  2005.5           0
3811            Median       Median      71      2020  2020.5           0
7769            Median       Median      57      2006  2006.5           0
3327            Median       Median      65      2014  2014.5           0
20871           Median       Median      54      2003  2003.5           0

             category  estimateTypeId           estimateType  \
18366  Not applicable               1  Model-based Estimates
3811   Not applicable               1  Model-based Estimates
7769   Not applicable               1  Model-based Estimates
3327   Not applicable               1  Model-based Estimates
20871  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
18366                 2  Interpolation      1        Male    188    Total
3811                  2  Interpolation      2      Female    188    Total
7769                  2  Interpolation      3  Both sexes    188    Total
3327                  2  Interpolation      1        Male    188    Total
20871                 2  Interpolation      1        Male    188    Total

       ageStart  ageEnd  ageMid   value
18366         0      -1       0   41833
3811          0      -1       0  144396
7769          0      -1       0    5582
3327          0      -1       0   88468
20871         0      -1       0   74513

========DF_UNPD_POP_53========
====Get a sample of 5 rows====
      locationId                         location iso3 iso2  locationTypeId  \
1371         180           Dem. Rep. of the Congo  COD   CD               4
4127         512                             Oman  OMN   OM               4
1214         158  China, Taiwan Province of China  TWN   TW               4
4090         504                          Morocco  MAR   MA               4
3659         458                         Malaysia  MYS   MY               4

      indicatorId                                   indicator  \
1371           53  Crude rate of natural change of population
4127           53  Crude rate of natural change of population
1214           53  Crude rate of natural change of population
4090           53  Crude rate of natural change of population
3659           53  Crude rate of natural change of population

                            indicatorDisplayName  sourceId  \
1371  Crude rate of natural change of population        25
4127  Crude rate of natural change of population        25
1214  Crude rate of natural change of population        25
4090  Crude rate of natural change of population        25
3659  Crude rate of natural change of population        25

                          source  revision  variantId variant  \
1371  World Population Prospects         0          4  Median
4127  World Population Prospects         0          4  Median
1214  World Population Prospects         0          4  Median
4090  World Population Prospects         0          4  Median
3659  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1371           Median       Median      48      1997  1997.5           0
4127           Median       Median      45      1994  1994.5           0
1214           Median       Median      46      1995  1995.5           0
4090           Median       Median      70      2019  2019.5           0
3659           Median       Median      42      1991  1991.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1371  Not applicable               1  Model-based Estimates                 2
4127  Not applicable               1  Model-based Estimates                 2
1214  Not applicable               1  Model-based Estimates                 2
4090  Not applicable               1  Model-based Estimates                 2
3659  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1371  Interpolation      3  Both sexes    188    Total         0      -1
4127  Interpolation      3  Both sexes    188    Total         0      -1
1214  Interpolation      3  Both sexes    188    Total         0      -1
4090  Interpolation      3  Both sexes    188    Total         0      -1
3659  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
1371       0  30.167
4127       0  25.536
1214       0   9.801
4090       0  12.679
3659       0  23.286

========DF_OMS_NUTRITION_ANAEMIA_CHILDREN_PREV========

====Get a sample of 5 rows====
               Id                    IndicatorCode SpatialDim  \
2522   25639964.0  NUTRITION_ANAEMIA_CHILDREN_PREV        NIU
4670   25673132.0  NUTRITION_ANAEMIA_CHILDREN_PREV      WB_LI
2239   25639681.0  NUTRITION_ANAEMIA_CHILDREN_PREV        FSM
11721  28228764.0  NUTRITION_ANAEMIA_CHILDREN_PREV        SDN
3796   25641238.0  NUTRITION_ANAEMIA_CHILDREN_PREV        YEM

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
2522                2002       SEX      BTSX          35.6  17.7  57.5
4670                2010       SEX      BTSX          60.7  57.6  63.5
2239                2019       SEX      BTSX          36.7  14.4  60.1
11721               2001  SEVERITY  MODERATE          32.9  18.4  50.3
3796                2016       SEX      BTSX          79.9  35.6  90.8

========DF_UNPD_IMIGRT_66========
====Get a sample of 5 rows====
                         location iso3 timeLabel  indicatorId  \
4533                        Niger  NER      1997           66
3169  Dem. People's Rep. of Korea  PRK      1997           66
5301        Saint Kitts and Nevis  KNA      1990           66
6040                     Eswatini  SWZ      2016           66
6215                         Togo  TGO      2005           66

                        indicator         sex   value
4533  Crude rate of net migration  Both sexes  -1.304
3169  Crude rate of net migration  Both sexes  -0.164
5301  Crude rate of net migration  Both sexes -20.957
6040  Crude rate of net migration  Both sexes  -8.971
6215  Crude rate of net migration  Both sexes  -0.777

========DF_TWB_SE.COM.DURS========
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
4374             IRQ  2017    6.0   NaN         NaN        0  SE.COM.DURS
6274             PRY  2008    9.0   NaN         NaN        0  SE.COM.DURS
3434             ERI  1996    NaN   NaN         NaN        0  SE.COM.DURS
5036             LBY  2006    9.0   NaN         NaN        0  SE.COM.DURS
2922             COG  2012   10.0   NaN         NaN        0  SE.COM.DURS

                             indicator.value country.id         country.value
4374  Educación obligatoria, duración (años)         IQ                  Iraq
6274  Educación obligatoria, duración (años)         PY              Paraguay
3434  Educación obligatoria, duración (años)         ER               Eritrea
5036  Educación obligatoria, duración (años)         LY                 Libia
2922  Educación obligatoria, duración (años)         CG  Congo, República del

========DF_OMS_NCD_BMI_30A========
====Get a sample of 5 rows====
               Id IndicatorCode SpatialDim TimeDimensionValue Dim1Type  Dim1  \
25273  16055607.0   NCD_BMI_30A        VNM               2010      SEX   MLE
6701   16037035.0   NCD_BMI_30A        NOR               2002      SEX  BTSX
11722  16042056.0   NCD_BMI_30A        EST               1983      SEX  FMLE
12279  16042613.0   NCD_BMI_30A        GIN               1994      SEX  FMLE
16446  16046780.0   NCD_BMI_30A        TZA               2003      SEX  FMLE

       NumericValue   Low  High
25273           0.9   0.5   1.5
6701           16.8  14.4  19.4
11722          18.1  13.0  24.2
12279           4.3   2.6   6.7
16446           6.8   4.7   9.3

========DF_UNPD_POP_72========
====Get a sample of 5 rows====
      locationId                    location iso3 iso2  locationTypeId  \
5236         643          Russian Federation  RUS   RU               4
6441         795                Turkmenistan  TKM   TM               4
3521         440                   Lithuania  LTU   LT               4
2822         364  Iran (Islamic Republic of)  IRN   IR               4
1518         192                        Cuba  CUB   CU               4

      indicatorId                          indicator  \
5236           72  Sex ratio of the total population
6441           72  Sex ratio of the total population
3521           72  Sex ratio of the total population
2822           72  Sex ratio of the total population
1518           72  Sex ratio of the total population

                   indicatorDisplayName  sourceId                      source  \
5236  Sex ratio of the total population        25  World Population Prospects
6441  Sex ratio of the total population        25  World Population Prospects
3521  Sex ratio of the total population        25  World Population Prospects
2822  Sex ratio of the total population        25  World Population Prospects
1518  Sex ratio of the total population        25  World Population Prospects

      revision  variantId variant variantShortName variantLabel  timeId  \
5236         0          4  Median           Median       Median      69
6441         0          4  Median           Median       Median      65
3521         0          4  Median           Median       Median      59
2822         0          4  Median           Median       Median      42
1518         0          4  Median           Median       Median      71

     timeLabel timeMid  categoryId        category  estimateTypeId  \
5236      2018  2018.5           0  Not applicable               1
6441      2014  2014.5           0  Not applicable               1
3521      2008  2008.5           0  Not applicable               1
2822      1991  1991.5           0  Not applicable               1
1518      2020  2020.5           0  Not applicable               1

               estimateType  estimateMethodId estimateMethod  sexId  \
5236  Model-based Estimates                 2  Interpolation      3
6441  Model-based Estimates                 2  Interpolation      3
3521  Model-based Estimates                 2  Interpolation      3
2822  Model-based Estimates                 2  Interpolation      3
1518  Model-based Estimates                 2  Interpolation      3

             sex  ageId ageLabel  ageStart  ageEnd  ageMid       value
5236  Both sexes    188    Total         0      -1       0   86.679949
6441  Both sexes    188    Total         0      -1       0   97.878325
3521  Both sexes    188    Total         0      -1       0   85.006237
2822  Both sexes    188    Total         0      -1       0  103.997725
1518  Both sexes    188    Total         0      -1       0   98.820137

========DF_TWB_SP.DYN.LE00.IN========
====Get a sample of 5 rows====
     countryiso3code  date      value
4740             PRK  1992  69.492000
4686             KIR  2015  67.291000
2085             BEL  2012  80.385366
3773             GEO  1998  69.654000
5332             MLT  2020  82.653659

========DF_TWB_NY.GDP.PCAP.CD========
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
7729             TCA  2010  21029.695940   NaN         NaN        1
2373             VGB  2003           NaN   NaN         NaN        1
4223             HUN  2013  13719.950539   NaN         NaN        1
4810             KWT  2015  29869.552753   NaN         NaN        1
4730             PRK  2002           NaN   NaN         NaN        1

        indicator.id                          indicator.value country.id  \
7729  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         TC
2373  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         VG
4223  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         HU
4810  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         KW
4730  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         KP

                                country.value
7729                    Islas Turcas y Caicos
2373                Islas Vírgenes Británicas
4223                                  Hungría
4810                                   Kuwait
4730  Corea, República Popular Democrática de

========DF_TWB_IQ.SCI.OVRL========
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal indicator.id  \
3141             CZE  2010        NaN   NaN         NaN        1  IQ.SCI.OVRL
4633             KAZ  2006  88.888889   NaN         NaN        1  IQ.SCI.OVRL
5834             NLD  2014        NaN   NaN         NaN        1  IQ.SCI.OVRL
2398             BRN  2009        NaN   NaN         NaN        1  IQ.SCI.OVRL
5556             MCO  2013        NaN   NaN         NaN        1  IQ.SCI.OVRL

                                                 indicator.value country.id  \
3141  Nivel general de la capacidad estadística (escala 0 - 100)         CZ
4633  Nivel general de la capacidad estadística (escala 0 - 100)         KZ
5834  Nivel general de la capacidad estadística (escala 0 - 100)         NL
2398  Nivel general de la capacidad estadística (escala 0 - 100)         BN
5556  Nivel general de la capacidad estadística (escala 0 - 100)         MC

          country.value
3141    República Checa
4633          Kazajstán
5834       Países Bajos
2398  Brunei Darussalam
5556             Mónaco

========DF_TWB_SP.POP.TOTL.MA.ZS========
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
2402             BRN  2005  51.060770   NaN         NaN        0
4082             GNB  1999  48.367432   NaN         NaN        0
4371             IRQ  2020  50.612907   NaN         NaN        0
5010             LBR  2001  49.882732   NaN         NaN        0
3013             HRV  2014  48.089680   NaN         NaN        0

           indicator.id                   indicator.value country.id  \
2402  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         BN
4082  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         GW
4371  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         IQ
5010  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         LR
3013  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         HR

          country.value
2402  Brunei Darussalam
4082      Guinea-Bissau
4371               Iraq
5010            Liberia
3013            Croacia

========DF_LOCATIONSWITHAGGREGATES========
====Get a sample of 5 rows====
      Id                         Name Iso2 Iso3  Longitude   Latitude  \
93   356                        India   IN  IND  78.962883  20.593683
30   112                      Belarus   BY  BLR  27.953388  53.709808
64   238  Falkland Islands (Malvinas)   FK  FLK -59.523613 -51.796253
198  728                  South Sudan   SS  SSD  31.306978   6.876992
213  788                      Tunisia   TN  TUN   9.537499  33.886917

                              Region        SubRegion  \
93                              Asia    Southern Asia
30                            Europe   Eastern Europe
64   Latin America and the Caribbean    South America
198                           Africa   Eastern Africa
213                           Africa  Northern Africa

              WorldBankIncomeGroup         UNDevelopmentGroup
93   Lower-middle-income countries   Other developing regions
30   Upper-middle-income countries          Developed regions
64       No income group available   Other developing regions
198           Low-income countries  Least developed countries
213  Lower-middle-income countries   Other developing regions

========DF_UNPD_FAM_1========
====Get a sample of 5 rows====
                                 location iso3 timeLabel  indicatorId  \
83894                              Tuvalu  TUV      2017            1
60046                               Palau  PLW      2008            1
66704                             Romania  ROU      2018            1
88619  Venezuela (Bolivarian Republic of)  VEN      1991            1
50646                           Mauritius  MUS      2018            1

                                            indicator  value
83894  Contraceptive prevalence: Any method (Percent)   19.1
60046  Contraceptive prevalence: Any method (Percent)   25.8
66704  Contraceptive prevalence: Any method (Percent)   54.1
88619  Contraceptive prevalence: Any method (Percent)   36.1
50646  Contraceptive prevalence: Any method (Percent)   42.1

========DF_TWB_SE.XPD.TOTL.GD.ZS========
====Get a sample of 5 rows====
     countryiso3code  date    value  unit  obs_status  decimal  \
2987             CIV  2009  3.17394   NaN         NaN        1
4994             LBR  2017  2.66330   NaN         NaN        1
2431             BGR  2007  3.68264   NaN         NaN        1
2595             CMR  1998      NaN   NaN         NaN        1
6033             MKD  2001      NaN   NaN         NaN        1

           indicator.id                                indicator.value  \
2987  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
4994  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
2431  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
2595  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
6033  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)

     country.id        country.value
2987         CI        Côte d'Ivoire
4994         LR              Liberia
2431         BG             Bulgaria
2595         CM              Camerún
6033         MK  Macedonia del Norte

========DF_UNPD_POP_67========
====Get a sample of 5 rows====

      locationId               location iso3 iso2  locationTypeId  \
5301         659  Saint Kitts and Nevis  KNA   KN               4
5294         654           Saint Helena  SHN   SH               4
2877         368                   Iraq  IRQ   IQ               4
6656         826         United Kingdom  GBR   GB               4
2660         340               Honduras  HND   HN               4

      indicatorId                 indicator  \
5301           67  Median age of population
5294           67  Median age of population
2877           67  Median age of population
6656           67  Median age of population
2660           67  Median age of population

                    indicatorDisplayName  sourceId  \
5301  Median age of the total population        25
5294  Median age of the total population        25
2877  Median age of the total population        25
6656  Median age of the total population        25
2660  Median age of the total population        25

                          source  revision  variantId variant  \
5301  World Population Prospects         0          4  Median
5294  World Population Prospects         0          4  Median
2877  World Population Prospects         0          4  Median
6656  World Population Prospects         0          4  Median
2660  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
5301           Median       Median      41      1990  1990.5           0
5294           Median       Median      65      2014  2014.5           0
2877           Median       Median      66      2015  2015.5           0
6656           Median       Median      63      2012  2012.5           0
2660           Median       Median      66      2015  2015.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
5301  Not applicable               1  Model-based Estimates                 2
5294  Not applicable               1  Model-based Estimates                 2
2877  Not applicable               1  Model-based Estimates                 2
6656  Not applicable               1  Model-based Estimates                 2
2660  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
5301  Interpolation      3  Both sexes    188    Total         0      -1
5294  Interpolation      3  Both sexes    188    Total         0      -1
2877  Interpolation      3  Both sexes    188    Total         0      -1
6656  Interpolation      3  Both sexes    188    Total         0      -1
2660  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid      value
5301       0  22.295671
5294       0  45.579211
2877       0  18.550842
6656       0  38.729846
2660       0  21.264456

========DF_UNPD_MORT_59========
====Get a sample of 5 rows====
      locationId                    location iso3 iso2  locationTypeId  \
1917         234               Faroe Islands  FRO   FO               4
4804         586                    Pakistan  PAK   PK               4
6363         788                     Tunisia  TUN   TN               4
3887         484                      Mexico  MEX   MX               4
2841         364  Iran (Islamic Republic of)  IRN   IR               4

      indicatorId         indicator  \
1917           59  Crude death rate
4804           59  Crude death rate
6363           59  Crude death rate
3887           59  Crude death rate
2841           59  Crude death rate

                                indicatorDisplayName  sourceId  \
1917  Crude death rate (deaths per 1,000 population)        25
4804  Crude death rate (deaths per 1,000 population)        25
6363  Crude death rate (deaths per 1,000 population)        25
3887  Crude death rate (deaths per 1,000 population)        25
2841  Crude death rate (deaths per 1,000 population)        25

                          source  revision  variantId variant  \
1917  World Population Prospects         0          4  Median
4804  World Population Prospects         0          4  Median
6363  World Population Prospects         0          4  Median
3887  World Population Prospects         0          4  Median
2841  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1917           Median       Median      67      2016  2016.5           0
4804           Median       Median      71      2020  2020.5           0
6363           Median       Median      49      1998  1998.5           0
3887           Median       Median      53      2002  2002.5           0
2841           Median       Median      61      2010  2010.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1917  Not applicable               1  Model-based Estimates                 2
4804  Not applicable               1  Model-based Estimates                 2
6363  Not applicable               1  Model-based Estimates                 2
3887  Not applicable               1  Model-based Estimates                 2
2841  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1917  Interpolation      3  Both sexes    188    Total         0      -1
4804  Interpolation      3  Both sexes    188    Total         0      -1
6363  Interpolation      3  Both sexes    188    Total         0      -1
3887  Interpolation      3  Both sexes    188    Total         0      -1
2841  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
1917       0  9.866
4804       0  7.060
6363       0  4.751
3887       0  4.946
2841       0  5.108

========DF_UNPD_POP_51========
====Get a sample of 5 rows====
      locationId                          location iso3 iso2  locationTypeId  \
3520         440                         Lithuania  LTU   LT               4
579           68  Bolivia (Plurinational State of)  BOL   BO               4
6896         876         Wallis and Futuna Islands  WLF   WF               4
2718         348                           Hungary  HUN   HU               4
185           24                            Angola  AGO   AO               4

      indicatorId                  indicator  \
3520           51  Rate of population change
579            51  Rate of population change
6896           51  Rate of population change
2718           51  Rate of population change
185            51  Rate of population change

                       indicatorDisplayName  sourceId  \
3520  Crude rate of total population change        25
579   Crude rate of total population change        25
6896  Crude rate of total population change        25
2718  Crude rate of total population change        25
185   Crude rate of total population change        25

                          source  revision  variantId variant  \
3520  World Population Prospects         0          4  Median
579   World Population Prospects         0          4  Median
6896  World Population Prospects         0          4  Median
2718  World Population Prospects         0          4  Median
185   World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3520           Median       Median      58      2007  2007.5           0
579            Median       Median      62      2011  2011.5           0
6896           Median       Median      55      2004  2004.5           0
2718           Median       Median      62      2011  2011.5           0
185            Median       Median      71      2020  2020.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
3520  Not applicable               1  Model-based Estimates                 2
579   Not applicable               1  Model-based Estimates                 2
6896  Not applicable               1  Model-based Estimates                 2
2718  Not applicable               1  Model-based Estimates                 2
185   Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
3520  Interpolation      3  Both sexes    188    Total         0      -1
579   Interpolation      3  Both sexes    188    Total         0      -1
6896  Interpolation      3  Both sexes    188    Total         0      -1
2718  Interpolation      3  Both sexes    188    Total         0      -1
185   Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
3520       0 -1.535
579        0  1.669
6896       0 -2.060
2718       0 -0.390
185        0  3.168

========DF_UNPD_POP_50========
====Get a sample of 5 rows====
      locationId                      location iso3 iso2  locationTypeId  \
2082         258              French Polynesia  PYF   PF               4
3357         426                       Lesotho  LSO   LS               4
3837         478                    Mauritania  MRT   MR               4
6747         850  United States Virgin Islands  VIR   VI               4
2614         332                         Haiti  HTI   HT               4

      indicatorId          indicator indicatorDisplayName  sourceId  \
2082           50  Population Change    Population Change        25
3357           50  Population Change    Population Change        25
3837           50  Population Change    Population Change        25
6747           50  Population Change    Population Change        25
2614           50  Population Change    Population Change        25

                          source  revision  variantId variant  \
2082  World Population Prospects         0          4  Median
3357  World Population Prospects         0          4  Median
3837  World Population Prospects         0          4  Median
6747  World Population Prospects         0          4  Median
2614  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
2082           Median       Median      46      1995  1995.5           0
3357           Median       Median      50      1999  1999.5           0
3837           Median       Median      65      2014  2014.5           0
6747           Median       Median      61      2010  2010.5           0
2614           Median       Median      51      2000  2000.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
2082  Not applicable               1  Model-based Estimates                 2
3357  Not applicable               1  Model-based Estimates                 2
3837  Not applicable               1  Model-based Estimates                 2
6747  Not applicable               1  Model-based Estimates                 2
2614  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
2082  Interpolation      3  Both sexes    188    Total         0      -1
3357  Interpolation      3  Both sexes    188    Total         0      -1
3837  Interpolation      3  Both sexes    188    Total         0      -1
6747  Interpolation      3  Both sexes    188    Total         0      -1
2614  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
2082       0    3667
3357       0    6412
3837       0  101708
6747       0    -640
2614       0  152909

========PAISES========
====Get a sample of 5 rows====
                 name   id                region.value    incomeLevel.value
105     Cote d'Ivoire  CIV         Sub-Saharan Africa   Lower middle income
76            Jamaica  JAM  Latin America & Caribbean   Upper middle income
156          Ethiopia  ETH         Sub-Saharan Africa            Low income
164            Malawi  MWI         Sub-Saharan Africa            Low income
137  Papua New Guinea  PNG         East Asia & Pacific  Lower middle income

========DF_OMS_M_EST_CIG_C========
====Get a sample of 5 rows====
              Id   IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
3523  27812522.0  M_Est_cig_curr        KIR   2023.0      SEX  BTSX
439   27793691.0  M_Est_cig_curr        NLD   2020.0      SEX  FMLE
1002  27800161.0  M_Est_cig_curr        BLZ   2005.0      SEX  BTSX
3516  27812515.0  M_Est_cig_curr        JAM   2023.0      SEX  BTSX
1677  27802804.0  M_Est_cig_curr        CUB   2010.0      SEX   MLE

      NumericValue   Low  High  \
3523          30.8  22.0  39.6
439           16.1  12.3  20.0
1002          11.1   7.3  14.8
3516           7.9   4.4  11.4
1677          33.7  25.3  42.1

                                             Comments
3523  Projected from surveys completed prior to 2020.
439   Projected from surveys completed prior to 2020.
1002                                             None
3516  Projected from surveys completed prior to 2020.
1677                                             None

========DF_UNPD_POP_41========

====Get a sample of 5 rows====
      locationId                location iso3 iso2  locationTypeId  \
5723         704                Viet Nam  VNM   VN               4
614           70  Bosnia and Herzegovina  BIH   BA               4
4255         528             Netherlands  NLD   NL               4
362           44                 Bahamas  BHS   BS               4
5369         662             Saint Lucia  LCA   LC               4

      indicatorId                                            indicator  \
5723           41  Female population of reproductive age (15-49 years)
614            41  Female population of reproductive age (15-49 years)
4255           41  Female population of reproductive age (15-49 years)
362            41  Female population of reproductive age (15-49 years)
5369           41  Female population of reproductive age (15-49 years)

                                     indicatorDisplayName  sourceId  \
5723  Female population of reproductive age (15-49 years)        25
614   Female population of reproductive age (15-49 years)        25
4255  Female population of reproductive age (15-49 years)        25
362   Female population of reproductive age (15-49 years)        25
5369  Female population of reproductive age (15-49 years)        25

                          source  revision  variantId variant  \
5723  World Population Prospects         0          4  Median
614   World Population Prospects         0          4  Median
4255  World Population Prospects         0          4  Median
362   World Population Prospects         0          4  Median
5369  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
5723           Median       Median      60      2009  2009.5          99
614            Median       Median      66      2015  2015.5          99
4255           Median       Median      49      1998  1998.5          99
362            Median       Median      62      2011  2011.5          99
5369           Median       Median      47      1996  1996.5          99

       category  estimateTypeId           estimateType  estimateMethodId  \
5723  All women               1  Model-based Estimates                 2
614   All women               1  Model-based Estimates                 2
4255  All women               1  Model-based Estimates                 2
362   All women               1  Model-based Estimates                 2
5369  All women               1  Model-based Estimates                 2

     estimateMethod  sexId     sex  ageId ageLabel  ageStart  ageEnd  ageMid  \
5723  Interpolation      2  Female     31    15-49        15      49    32.5
614   Interpolation      2  Female     31    15-49        15      49    32.5
4255  Interpolation      2  Female     31    15-49        15      49    32.5
362   Interpolation      2  Female     31    15-49        15      49    32.5
5369  Interpolation      2  Female     31    15-49        15      49    32.5

         value
5723  24546428
614     833880
4255   3973806
362     106972
5369     39107

========DF_TWB_NY.GDP.PCAP.PP.CD========
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
7696             TKM  2012  12057.182239   NaN         NaN        1
6130             OMN  1997  35839.921549   NaN         NaN        1
3817             GHA  2016   4992.730339   NaN         NaN        1
818              LDC  2008   1992.830260   NaN         NaN        1
8005             VUT  2013   2809.958397   NaN         NaN        1

           indicator.id  \
7696  NY.GDP.PCAP.PP.CD
6130  NY.GDP.PCAP.PP.CD
3817  NY.GDP.PCAP.PP.CD
818   NY.GDP.PCAP.PP.CD
8005  NY.GDP.PCAP.PP.CD

                                                 indicator.value country.id  \
7696  PIB per cápita, PPA ($ a precios internacionales actuales)         TM
6130  PIB per cápita, PPA ($ a precios internacionales actuales)         OM
3817  PIB per cápita, PPA ($ a precios internacionales actuales)         GH
818   PIB per cápita, PPA ($ a precios internacionales actuales)         XL
8005  PIB per cápita, PPA ($ a precios internacionales actuales)         VU

                                                         country.value
7696                                                      Turkmenistán
6130                                                              Omán
3817                                                             Ghana
818   Países menos desarrollados: clasificación de las Naciones Unidas
8005                                                           Vanuatu

========DF_UNPD_MORT_24========
====Get a sample of 5 rows====
                   location iso3 timeLabel  indicatorId  \
14654              Paraguay  PRY      2007           24
1338                Armenia  ARM      2002           24
7706                 Guinea  GIN      2016           24
19051  United Arab Emirates  ARE      2016           24
13300               Vanuatu  VUT      1990           24

                              indicator  sexId         sex       value
14654  Under-five mortality rate (U5MR)      3  Both sexes   28.524780
1338   Under-five mortality rate (U5MR)      1        Male   30.524055
7706   Under-five mortality rate (U5MR)      3  Both sexes  104.741734
19051  Under-five mortality rate (U5MR)      2      Female    6.758971
13300  Under-five mortality rate (U5MR)      2      Female   32.880263

========DF_OMS_SA_0000001688========
====Get a sample of 5 rows====
               Id  IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
8272   27012306.0  SA_0000001688        CHE   2019.0      SEX   MLE
11316  27015417.0  SA_0000001688        LCA   2016.0      SEX  FMLE
1085   27005162.0  SA_0000001688        GRC   2001.0      SEX  BTSX
10137  27014238.0  SA_0000001688        KEN   2010.0      SEX  FMLE
9675   27013776.0  SA_0000001688        KAZ   2007.0      SEX  FMLE

       NumericValue       Low      High Comments
8272       17.18093  14.94924  19.78408     None
11316       3.99260   3.27885   4.82016     None
1085       10.12769   8.57699  11.78685     None
10137       0.67184   0.52145   0.89631     None
9675        2.82560   2.26970   3.51593     None

========DF_UNPD_POP_52========
====Get a sample of 5 rows====
      locationId        location iso3 iso2  locationTypeId  indicatorId  \
4000         499      Montenegro  MNE   ME               4           52
4028         499      Montenegro  MNE   ME               4           52
6240         772         Tokelau  TKL   TK               4           52
1044         136  Cayman Islands  CYM   KY               4           52
5116         634           Qatar  QAT   QA               4           52

                         indicator          indicatorDisplayName  sourceId  \
4000  Natural change of population  Natural change of population        25
4028  Natural change of population  Natural change of population        25
6240  Natural change of population  Natural change of population        25
1044  Natural change of population  Natural change of population        25
5116  Natural change of population  Natural change of population        25

                          source  revision  variantId variant  \
4000  World Population Prospects         0          4  Median
4028  World Population Prospects         0          4  Median
6240  World Population Prospects         0          4  Median
1044  World Population Prospects         0          4  Median
5116  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
4000           Median       Median      42      1991  1991.5           0
4028           Median       Median      70      2019  2019.5           0
6240           Median       Median      50      1999  1999.5           0
1044           Median       Median      62      2011  2011.5           0
5116           Median       Median      42      1991  1991.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
4000  Not applicable               1  Model-based Estimates                 2
4028  Not applicable               1  Model-based Estimates                 2
6240  Not applicable               1  Model-based Estimates                 2
1044  Not applicable               1  Model-based Estimates                 2
5116  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
4000  Interpolation      3  Both sexes    188    Total         0      -1
4028  Interpolation      3  Both sexes    188    Total         0      -1
6240  Interpolation      3  Both sexes    188    Total         0      -1
1044  Interpolation      3  Both sexes    188    Total         0      -1
5116  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
4000       0   5420
4028       0    628
6240       0     30
1044       0    504
5116       0   9324

========DF_UNPD_FERT_19========

====Get a sample of 5 rows====
                   location iso3 timeLabel  indicatorId             indicator  \
32137          Turkmenistan  TKM      2000           19  Total fertility rate
24997              Portugal  PRT      1998           19  Total fertility rate
34967                Zambia  ZMB      2008           19  Total fertility rate
31087                  Togo  TGO      2007           19  Total fertility rate
31747  United Arab Emirates  ARE      2015           19  Total fertility rate

          value
32137  2.898133
24997  1.473670
34967  5.536656
31087  5.091951
31747  1.485857

========DF_TWB_SP.POP.TOTL.FE.ZS========
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
1946             BHS  1996  50.716600   NaN         NaN        1
4442             IMN  2011        NaN   NaN         NaN        1
889              NaN  1999  50.368701   NaN         NaN        1
6660             STP  1994  50.519988   NaN         NaN        1
4839             KGZ  2017  50.519627   NaN         NaN        1

           indicator.id                   indicator.value country.id  \
1946  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         BS
4442  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         IM
889   SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         XM
6660  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ST
4839  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         KG

               country.value
1946                 Bahamas
4442             Isla de Man
889   Países de ingreso bajo
6660   Santo Tomé y Príncipe
4839              Kirguistán

========DF_UNPD_MARSTAT_42========
====Get a sample of 5 rows====
                                location iso3 timeLabel  indicatorId  \
2613                            Honduras  HND      1999           42
6632  Venezuela (Bolivarian Republic of)  VEN      2019           42
1212                            Colombia  COL      1993           42
4829                            Portugal  PRT      2014           42
932                             Cameroon  CMR      1992           42

                        indicator      value
2613  Currently married (Percent)  57.685643
6632  Currently married (Percent)  52.793216
1212  Currently married (Percent)  52.866883
4829  Currently married (Percent)  57.059410
932   Currently married (Percent)  69.621975

Modificación de los nombres de las diferentes columnas

In [14]:
directory = "../datasets/"
# Let's iterate each parquet file and get some basic information
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f.endswith(".parquet"):
        print("========" + filename.rstrip(".parquet").upper() + "========", end="\n")
        df = pd.read_parquet(f)
        df.replace("", float("NaN"), inplace=True)
        # columns_categories = df.columns
        print("====Basic info about the dataframe====", end="\n")
        print(df.columns)
        print(end="\n")

========DF_UNPD_MORT_22========
====Basic info about the dataframe====
Index(['location', 'iso3', 'timeLabel', 'indicatorId', 'indicator', 'sexId',
       'sex', 'value'],
      dtype='object')

========DF_TWB_SP.DYN.LE00.MA.IN========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_UNPD_POP_54========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_UNPD_IMIGRT_65========
====Basic info about the dataframe====
Index(['location', 'iso3', 'timeLabel', 'indicatorId', 'indicator', 'sex',
       'value'],
      dtype='object')

========DF_OMS_NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV========
====Basic info about the dataframe====
Index(['Id', 'IndicatorCode', 'SpatialDim', 'TimeDimensionValue', 'Dim1Type',
       'Dim1', 'NumericValue', 'Low', 'High'],
      dtype='object')

========DF_TWB_SI.POV.GINI========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_UNPD_POP_49========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_TWB_NY.GDP.MKTP.PP.CD========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_UNPD_MORT_60========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_UNPD_POP_53========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_OMS_NUTRITION_ANAEMIA_CHILDREN_PREV========
====Basic info about the dataframe====
Index(['Id', 'IndicatorCode', 'SpatialDim', 'TimeDimensionValue', 'Dim1Type',
       'Dim1', 'NumericValue', 'Low', 'High'],
      dtype='object')

========DF_UNPD_IMIGRT_66========
====Basic info about the dataframe====
Index(['location', 'iso3', 'timeLabel', 'indicatorId', 'indicator', 'sex',
       'value'],
      dtype='object')

========DF_TWB_SE.COM.DURS========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_OMS_NCD_BMI_30A========
====Basic info about the dataframe====
Index(['Id', 'IndicatorCode', 'SpatialDim', 'TimeDimensionValue', 'Dim1Type',
       'Dim1', 'NumericValue', 'Low', 'High'],
      dtype='object')

========DF_UNPD_POP_72========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_TWB_SP.DYN.LE00.IN========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value'], dtype='object')

========DF_TWB_NY.GDP.PCAP.CD========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_TWB_IQ.SCI.OVRL========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_TWB_SP.POP.TOTL.MA.ZS========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_LOCATIONSWITHAGGREGATES========
====Basic info about the dataframe====
Index(['Id', 'Name', 'Iso2', 'Iso3', 'Longitude', 'Latitude', 'Region',
       'SubRegion', 'WorldBankIncomeGroup', 'UNDevelopmentGroup'],
      dtype='object')

========DF_UNPD_FAM_1========
====Basic info about the dataframe====
Index(['location', 'iso3', 'timeLabel', 'indicatorId', 'indicator', 'value'], dtype='object')

========DF_TWB_SE.XPD.TOTL.GD.ZS========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_UNPD_POP_67========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_UNPD_MORT_59========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_UNPD_POP_51========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_UNPD_POP_50========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========PAISES========
====Basic info about the dataframe====
Index(['name', 'id', 'region.value', 'incomeLevel.value'], dtype='object')

========DF_OMS_M_EST_CIG_C========
====Basic info about the dataframe====
Index(['Id', 'IndicatorCode', 'SpatialDim', 'TimeDim', 'Dim1Type', 'Dim1',
       'NumericValue', 'Low', 'High', 'Comments'],
      dtype='object')

========DF_UNPD_POP_41========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_TWB_NY.GDP.PCAP.PP.CD========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_UNPD_MORT_24========
====Basic info about the dataframe====
Index(['location', 'iso3', 'timeLabel', 'indicatorId', 'indicator', 'sexId',
       'sex', 'value'],
      dtype='object')

========DF_OMS_SA_0000001688========
====Basic info about the dataframe====
Index(['Id', 'IndicatorCode', 'SpatialDim', 'TimeDim', 'Dim1Type', 'Dim1',
       'NumericValue', 'Low', 'High', 'Comments'],
      dtype='object')

========DF_UNPD_POP_52========
====Basic info about the dataframe====
Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

========DF_UNPD_FERT_19========
====Basic info about the dataframe====
Index(['location', 'iso3', 'timeLabel', 'indicatorId', 'indicator', 'value'], dtype='object')

========DF_TWB_SP.POP.TOTL.FE.ZS========
====Basic info about the dataframe====
Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

========DF_UNPD_MARSTAT_42========
====Basic info about the dataframe====
Index(['location', 'iso3', 'timeLabel', 'indicatorId', 'indicator', 'value'], dtype='object')

In [110]:
directory = "../datasets/"
files = [f for f in os.listdir(directory) if f.endswith(".parquet")]

dfs = {file: pd.read_parquet(directory + file) for file in files}

count = []

for key, value in dfs.items():
    if key.startswith("df_UNPD"):
        count.append(str(key.rstrip(".parquet")))
        print(value.head())

# dfs["df_UNPD_mort_24.parquet"].loc[
#     :, dfs["df_UNPD_mort_24.parquet"].columns.str.fullmatch("indicator")
# ].mode()

      location iso3 timeLabel  indicatorId                    indicator  \
0  Afghanistan  AFG      1990           22  Infant mortality rate (IMR)
1  Afghanistan  AFG      1990           22  Infant mortality rate (IMR)
2  Afghanistan  AFG      1990           22  Infant mortality rate (IMR)
3  Afghanistan  AFG      1991           22  Infant mortality rate (IMR)
4  Afghanistan  AFG      1991           22  Infant mortality rate (IMR)

   sexId         sex      value
0      1        Male  134.21248
1      2      Female  119.60013
2      3  Both sexes  126.95578
3      1        Male  130.38545
4      2      Female  116.37090
   locationId     location iso3 iso2  locationTypeId  indicatorId  \
0           4  Afghanistan  AFG   AF               4           54
1           4  Afghanistan  AFG   AF               4           54
2           4  Afghanistan  AFG   AF               4           54
3           4  Afghanistan  AFG   AF               4           54
4           4  Afghanistan  AFG   AF               4           54

            indicator                        indicatorDisplayName  sourceId  \
0  Population density  Population density (persons per square km)        25
1  Population density  Population density (persons per square km)        25
2  Population density  Population density (persons per square km)        25
3  Population density  Population density (persons per square km)        25
4  Population density  Population density (persons per square km)        25

                       source  revision  variantId variant variantShortName  \
0  World Population Prospects         0          4  Median           Median
1  World Population Prospects         0          4  Median           Median
2  World Population Prospects         0          4  Median           Median
3  World Population Prospects         0          4  Median           Median
4  World Population Prospects         0          4  Median           Median

  variantLabel  timeId timeLabel timeMid  categoryId        category  \
0       Median      41      1990  1990.5           0  Not applicable
1       Median      42      1991  1991.5           0  Not applicable
2       Median      43      1992  1992.5           0  Not applicable
3       Median      44      1993  1993.5           0  Not applicable
4       Median      45      1994  1994.5           0  Not applicable

   estimateTypeId           estimateType  estimateMethodId estimateMethod  \
0               1  Model-based Estimates                 2  Interpolation
1               1  Model-based Estimates                 2  Interpolation
2               1  Model-based Estimates                 2  Interpolation
3               1  Model-based Estimates                 2  Interpolation
4               1  Model-based Estimates                 2  Interpolation

   sexId         sex  ageId ageLabel  ageStart  ageEnd  ageMid      value
0      3  Both sexes    188    Total         0      -1       0  16.471372
1      3  Both sexes    188    Total         0      -1       0  16.548950
2      3  Both sexes    188    Total         0      -1       0  18.570010
3      3  Both sexes    188    Total         0      -1       0  21.567606
4      3  Both sexes    188    Total         0      -1       0  23.803557
      location iso3 timeLabel  indicatorId            indicator         sex  \
0  Afghanistan  AFG      1990           65  Total net-migration  Both sexes
1  Afghanistan  AFG      1991           65  Total net-migration  Both sexes
2  Afghanistan  AFG      1992           65  Total net-migration  Both sexes
3  Afghanistan  AFG      1993           65  Total net-migration  Both sexes
4  Afghanistan  AFG      1994           65  Total net-migration  Both sexes

     value
0  -666001
1    39926
2  1834556
3  1171818
4   665410
   locationId     location iso3 iso2  locationTypeId  indicatorId  \
0           4  Afghanistan  AFG   AF               4           49
1           4  Afghanistan  AFG   AF               4           49
2           4  Afghanistan  AFG   AF               4           49
3           4  Afghanistan  AFG   AF               4           49
4           4  Afghanistan  AFG   AF               4           49

                 indicator     indicatorDisplayName  sourceId  \
0  Total population by sex  Total population by sex        25
1  Total population by sex  Total population by sex        25
2  Total population by sex  Total population by sex        25
3  Total population by sex  Total population by sex        25
4  Total population by sex  Total population by sex        25

                       source  revision  variantId variant variantShortName  \
0  World Population Prospects         0          4  Median           Median
1  World Population Prospects         0          4  Median           Median
2  World Population Prospects         0          4  Median           Median
3  World Population Prospects         0          4  Median           Median
4  World Population Prospects         0          4  Median           Median

  variantLabel  timeId timeLabel timeMid  categoryId        category  \
0       Median      41      1990  1990.5           0  Not applicable
1       Median      41      1990  1990.5           0  Not applicable
2       Median      41      1990  1990.5           0  Not applicable
3       Median      42      1991  1991.5           0  Not applicable
4       Median      42      1991  1991.5           0  Not applicable

   estimateTypeId           estimateType  estimateMethodId estimateMethod  \
0               1  Model-based Estimates                 2  Interpolation
1               1  Model-based Estimates                 2  Interpolation
2               1  Model-based Estimates                 2  Interpolation
3               1  Model-based Estimates                 2  Interpolation
4               1  Model-based Estimates                 2  Interpolation

   sexId         sex  ageId ageLabel  ageStart  ageEnd  ageMid     value
0      1        Male    188    Total         0      -1       0   5348387
1      2      Female    188    Total         0      -1       0   5346409
2      3  Both sexes    188    Total         0      -1       0  10694796
3      1        Male    188    Total         0      -1       0   5372960
4      2      Female    188    Total         0      -1       0   5372208
   locationId     location iso3 iso2  locationTypeId  indicatorId  \
0           4  Afghanistan  AFG   AF               4           60
1           4  Afghanistan  AFG   AF               4           60
2           4  Afghanistan  AFG   AF               4           60
3           4  Afghanistan  AFG   AF               4           60
4           4  Afghanistan  AFG   AF               4           60

             indicator indicatorDisplayName  sourceId  \
0  Total deaths by sex  Total deaths by sex        25
1  Total deaths by sex  Total deaths by sex        25
2  Total deaths by sex  Total deaths by sex        25
3  Total deaths by sex  Total deaths by sex        25
4  Total deaths by sex  Total deaths by sex        25

                       source  revision  variantId variant variantShortName  \
0  World Population Prospects         0          4  Median           Median
1  World Population Prospects         0          4  Median           Median
2  World Population Prospects         0          4  Median           Median
3  World Population Prospects         0          4  Median           Median
4  World Population Prospects         0          4  Median           Median

  variantLabel  timeId timeLabel timeMid  categoryId        category  \
0       Median      41      1990  1990.5           0  Not applicable
1       Median      41      1990  1990.5           0  Not applicable
2       Median      41      1990  1990.5           0  Not applicable
3       Median      42      1991  1991.5           0  Not applicable
4       Median      42      1991  1991.5           0  Not applicable

   estimateTypeId           estimateType  estimateMethodId estimateMethod  \
0               1  Model-based Estimates                 2  Interpolation
1               1  Model-based Estimates                 2  Interpolation
2               1  Model-based Estimates                 2  Interpolation
3               1  Model-based Estimates                 2  Interpolation
4               1  Model-based Estimates                 2  Interpolation

   sexId         sex  ageId ageLabel  ageStart  ageEnd  ageMid   value
0      1        Male    188    Total         0      -1       0  110102
1      2      Female    188    Total         0      -1       0   93412
2      3  Both sexes    188    Total         0      -1       0  203514
3      1        Male    188    Total         0      -1       0  104274
4      2      Female    188    Total         0      -1       0   88257
   locationId     location iso3 iso2  locationTypeId  indicatorId  \
0           4  Afghanistan  AFG   AF               4           53
1           4  Afghanistan  AFG   AF               4           53
2           4  Afghanistan  AFG   AF               4           53
3           4  Afghanistan  AFG   AF               4           53
4           4  Afghanistan  AFG   AF               4           53

                                    indicator  \
0  Crude rate of natural change of population
1  Crude rate of natural change of population
2  Crude rate of natural change of population
3  Crude rate of natural change of population
4  Crude rate of natural change of population

                         indicatorDisplayName  sourceId  \
0  Crude rate of natural change of population        25
1  Crude rate of natural change of population        25
2  Crude rate of natural change of population        25
3  Crude rate of natural change of population        25
4  Crude rate of natural change of population        25

                       source  revision  variantId variant variantShortName  \
0  World Population Prospects         0          4  Median           Median
1  World Population Prospects         0          4  Median           Median
2  World Population Prospects         0          4  Median           Median
3  World Population Prospects         0          4  Median           Median
4  World Population Prospects         0          4  Median           Median

  variantLabel  timeId timeLabel timeMid  categoryId        category  \
0       Median      41      1990  1990.5           0  Not applicable
1       Median      42      1991  1991.5           0  Not applicable
2       Median      43      1992  1992.5           0  Not applicable
3       Median      44      1993  1993.5           0  Not applicable
4       Median      45      1994  1994.5           0  Not applicable

   estimateTypeId           estimateType  estimateMethodId estimateMethod  \
0               1  Model-based Estimates                 2  Interpolation
1               1  Model-based Estimates                 2  Interpolation
2               1  Model-based Estimates                 2  Interpolation
3               1  Model-based Estimates                 2  Interpolation
4               1  Model-based Estimates                 2  Interpolation

   sexId         sex  ageId ageLabel  ageStart  ageEnd  ageMid   value
0      3  Both sexes    188    Total         0      -1       0  32.974
1      3  Both sexes    188    Total         0      -1       0  33.842
2      3  Both sexes    188    Total         0      -1       0  34.726
3      3  Both sexes    188    Total         0      -1       0  37.200
4      3  Both sexes    188    Total         0      -1       0  37.485
      location iso3 timeLabel  indicatorId                    indicator  \
0  Afghanistan  AFG      1990           66  Crude rate of net migration
1  Afghanistan  AFG      1991           66  Crude rate of net migration
2  Afghanistan  AFG      1992           66  Crude rate of net migration
3  Afghanistan  AFG      1993           66  Crude rate of net migration
4  Afghanistan  AFG      1994           66  Crude rate of net migration

          sex    value
0  Both sexes  -60.375
1  Both sexes    3.721
2  Both sexes  164.629
3  Both sexes   87.304
4  Both sexes   43.986
   locationId     location iso3 iso2  locationTypeId  indicatorId  \
0           4  Afghanistan  AFG   AF               4           72
1           4  Afghanistan  AFG   AF               4           72
2           4  Afghanistan  AFG   AF               4           72
3           4  Afghanistan  AFG   AF               4           72
4           4  Afghanistan  AFG   AF               4           72

                           indicator               indicatorDisplayName  \
0  Sex ratio of the total population  Sex ratio of the total population
1  Sex ratio of the total population  Sex ratio of the total population
2  Sex ratio of the total population  Sex ratio of the total population
3  Sex ratio of the total population  Sex ratio of the total population
4  Sex ratio of the total population  Sex ratio of the total population

   sourceId                      source  revision  variantId variant  \
0        25  World Population Prospects         0          4  Median
1        25  World Population Prospects         0          4  Median
2        25  World Population Prospects         0          4  Median
3        25  World Population Prospects         0          4  Median
4        25  World Population Prospects         0          4  Median

  variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
0           Median       Median      41      1990  1990.5           0
1           Median       Median      42      1991  1991.5           0
2           Median       Median      43      1992  1992.5           0
3           Median       Median      44      1993  1993.5           0
4           Median       Median      45      1994  1994.5           0

         category  estimateTypeId           estimateType  estimateMethodId  \
0  Not applicable               1  Model-based Estimates                 2
1  Not applicable               1  Model-based Estimates                 2
2  Not applicable               1  Model-based Estimates                 2
3  Not applicable               1  Model-based Estimates                 2
4  Not applicable               1  Model-based Estimates                 2

  estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  ageMid  \
0  Interpolation      3  Both sexes    188    Total         0      -1       0
1  Interpolation      3  Both sexes    188    Total         0      -1       0
2  Interpolation      3  Both sexes    188    Total         0      -1       0
3  Interpolation      3  Both sexes    188    Total         0      -1       0
4  Interpolation      3  Both sexes    188    Total         0      -1       0

        value
0  100.036997
1  100.013998
2   99.992636
3  100.050313
4  100.147130
       location iso3 timeLabel  indicatorId  \
6   Afghanistan  AFG      1990            1
21  Afghanistan  AFG      1991            1
38  Afghanistan  AFG      1992            1
53  Afghanistan  AFG      1993            1
66  Afghanistan  AFG      1994            1

                                         indicator  value
6   Contraceptive prevalence: Any method (Percent)    5.0
21  Contraceptive prevalence: Any method (Percent)    5.2
38  Contraceptive prevalence: Any method (Percent)    5.4
53  Contraceptive prevalence: Any method (Percent)    5.6
66  Contraceptive prevalence: Any method (Percent)    5.8
   locationId     location iso3 iso2  locationTypeId  indicatorId  \
0           4  Afghanistan  AFG   AF               4           67
1           4  Afghanistan  AFG   AF               4           67
2           4  Afghanistan  AFG   AF               4           67
3           4  Afghanistan  AFG   AF               4           67
4           4  Afghanistan  AFG   AF               4           67

                  indicator                indicatorDisplayName  sourceId  \
0  Median age of population  Median age of the total population        25
1  Median age of population  Median age of the total population        25
2  Median age of population  Median age of the total population        25
3  Median age of population  Median age of the total population        25
4  Median age of population  Median age of the total population        25

                       source  revision  variantId variant variantShortName  \
0  World Population Prospects         0          4  Median           Median
1  World Population Prospects         0          4  Median           Median
2  World Population Prospects         0          4  Median           Median
3  World Population Prospects         0          4  Median           Median
4  World Population Prospects         0          4  Median           Median

  variantLabel  timeId timeLabel timeMid  categoryId        category  \
0       Median      41      1990  1990.5           0  Not applicable
1       Median      42      1991  1991.5           0  Not applicable
2       Median      43      1992  1992.5           0  Not applicable
3       Median      44      1993  1993.5           0  Not applicable
4       Median      45      1994  1994.5           0  Not applicable

   estimateTypeId           estimateType  estimateMethodId estimateMethod  \
0               1  Model-based Estimates                 2  Interpolation
1               1  Model-based Estimates                 2  Interpolation
2               1  Model-based Estimates                 2  Interpolation
3               1  Model-based Estimates                 2  Interpolation
4               1  Model-based Estimates                 2  Interpolation

   sexId         sex  ageId ageLabel  ageStart  ageEnd  ageMid      value
0      3  Both sexes    188    Total         0      -1       0  15.091696
1      3  Both sexes    188    Total         0      -1       0  15.022241
2      3  Both sexes    188    Total         0      -1       0  14.947092
3      3  Both sexes    188    Total         0      -1       0  14.873642
4      3  Both sexes    188    Total         0      -1       0  14.784456
   locationId     location iso3 iso2  locationTypeId  indicatorId  \
0           4  Afghanistan  AFG   AF               4           59
1           4  Afghanistan  AFG   AF               4           59
2           4  Afghanistan  AFG   AF               4           59
3           4  Afghanistan  AFG   AF               4           59
4           4  Afghanistan  AFG   AF               4           59

          indicator                            indicatorDisplayName  sourceId  \
0  Crude death rate  Crude death rate (deaths per 1,000 population)        25
1  Crude death rate  Crude death rate (deaths per 1,000 population)        25
2  Crude death rate  Crude death rate (deaths per 1,000 population)        25
3  Crude death rate  Crude death rate (deaths per 1,000 population)        25
4  Crude death rate  Crude death rate (deaths per 1,000 population)        25

                       source  revision  variantId variant variantShortName  \
0  World Population Prospects         0          4  Median           Median
1  World Population Prospects         0          4  Median           Median
2  World Population Prospects         0          4  Median           Median
3  World Population Prospects         0          4  Median           Median
4  World Population Prospects         0          4  Median           Median

  variantLabel  timeId timeLabel timeMid  categoryId        category  \
0       Median      41      1990  1990.5           0  Not applicable
1       Median      42      1991  1991.5           0  Not applicable
2       Median      43      1992  1992.5           0  Not applicable
3       Median      44      1993  1993.5           0  Not applicable
4       Median      45      1994  1994.5           0  Not applicable

   estimateTypeId           estimateType  estimateMethodId estimateMethod  \
0               1  Model-based Estimates                 2  Interpolation

In [105]:
UDPD = {
    "df_UNPD_mort_22" : "tasa_mortalidad_infantil",
    "df_UNPD_pop_54": "densidad_población_por_kilómetro_cuadrado)",
    "df_UNPD_imigrt_65": "migración_neta_total",
    "df_UNPD_pop_49": "población_total_por_sexo",
    "df_UNPD_mort_60": "total_muertes_por_sexo",
    "df_UNPD_pop_53": "tasa_bruta_cambio_natural_población",
    "df_UNPD_imigrt_66": "tasa_bruta_migración_neta",
    "df_UNPD_pop_72": "proporción_sexos_población_total",
    "df_UNPD_fam_1": "prevalencia_anticonceptivos_porcentaje",
    "df_UNPD_pop_67": "mediana_edad_población",
    "df_UNPD_mort_59": "tasa_bruta_mortalidad_por_1000_habitantes",
    "df_UNPD_pop_51": "tasa_bruta_variación_total_población",
    "df_UNPD_pop_50": "cambio_de_la_población",
    "df_UNPD_pop_41": "población_femenina_edad_reproductiva_(15-49 años)",
    "df_UNPD_mort_24": "tasa_mortalidad_menores_cinco_años",
    "df_UNPD_pop_52": "cambio_natural_población",
    "df_UNPD_fert_19": "tasa_fertilidad",
    "df_UNPD_marstat_42": "estado_civil_casado_porcentaje",
}