In [1]:
import requests
import pandas as pd

In [12]:
def consultar(pais: str, indicador:str, pagina:int = 1, iyear:int = 1990, fyear:int = 2022):
    
    # Página de la api y path al recurso solicitado
    api_url = 'http://api.worldbank.org/v2/es'
    path = f'/country/{pais}/indicator/{indicador}'
    url = api_url + path

    # Creamos el diccionario con los parametros 
    # para el método get
    args= {
        "date":str(iyear)+":"+str(fyear),
        'page':pagina,
        "per_page":1000,
        "format":"json",
        "prefix":"Getdata",
    }
   
    return requests.get(url,params=args).json()

In [45]:
paises=pd.read_csv('../datasets/paises.csv')

seleccion = input("Ingrese un nombre de país: ")
try:
    pais = paises.loc[paises['country.value'].str.contains(seleccion, case=False),'countryiso3code'].values[0]
except:
    print("No se encontró el país, intente de nuevo")

In [46]:
indicadores = pd.read_csv('../datasets/indicadores_seleccionados.csv')

In [47]:
indicadores.head()

,Unnamed: 0,id,name,sourceNote
0,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",La esperanza de vida al nacer indica la cantid...
1,1,SP.DYN.LE00.FE.IN,"Esperanza de vida al nacer, mujeres (años)",La esperanza de vida al nacer indica la cantid...
2,1,SP.DYN.LE00.MA.IN,"Esperanza de vida al nacer, varones (años)",La esperanza de vida al nacer indica la cantid...
3,3,3.0.Gini,Coeficiente de Gini,El coeficiente de Gini es la medida de desigua...
4,4,SE.XPD.TOTL.GD.ZS,"Gasto público en educación, total (% del PIB)",El gasto público en educación como porcentaje ...

In [39]:
tuplas = [(a,b) for a,b in zip(indicadores.id.to_list(), 
          indicadores.name.to_list())]

In [40]:
tuplas

[('SP.DYN.LE00.IN', 'Esperanza de vida al nacer, total (años)'),
 ('SP.DYN.LE00.FE.IN', 'Esperanza de vida al nacer, mujeres (años)'),
 ('SP.DYN.LE00.MA.IN', 'Esperanza de vida al nacer, varones (años)'),
 ('3.0.Gini', 'Coeficiente de Gini'),
 ('SE.XPD.TOTL.GD.ZS', 'Gasto público en educación, total (% del PIB)'),
 ('SE.COM.DURS', 'Educación obligatoria, duración (años)'),
 ('SH.XPD.TOTL.ZS', 'Gasto en salud, total (% del PIB) '),
 ('6.0.GDP_current', 'PIB ($ a precios actuales) '),
 ('NY.GDP.PCAP.CD', 'PIB per cápita (US$ a precios actuales)'),
 ('NY.GDP.MKTP.PP.CD', 'PIB, PPA ($ a precios internacionales actuales)'),
 ('IQ.SCI.OVRL', 'Nivel general de la capacidad estadística (escala 0 - 100)'),
 ('SP.POP.TOTL.FE.ZS', 'Población, mujeres (% del total)'),
 ('SP.POP.TOTL.MA.ZS', 'Población, hombres (% del total)')]

In [48]:
pais

'ABW'

In [49]:
def carga_incremental(indicador, nombre):

    consulta = consultar(pais, indicador)

    try:
        # La primera parte de la respuesta nos indica en 
        # cuantas páginas de encuentra la información
        paginas = consulta[0]["pages"]
        
    except:

        if consulta[0]['message'][0]['key'] == 'Invalid format':
            print('No hay datos para:', nombre)
        
        pass
    
    else:

        # La segunda parte nos retorna una lista de 
        # diccionarios con la información que queríamos
        datos=consulta[1]

        if paginas > 1:
            # Agregamos los valores de las otras páginas a
            # nuestra lista de diccionarios
            for pagina in range(2,paginas+1):
                datos.extend(consultar(pais, indicador, pagina)[1])
        
        # Creo el DataFrame con todos los datos
        data = pd.json_normalize(datos)

        # Me quedo con información relevante unicamente
        data = data[['countryiso3code','country.value','date','value']]

        data.rename(columns={'value':nombre},inplace=True)

        return data

In [ ]:
indicador, nombre = tuplas.pop(0)
datos = carga_incremental(indicador, nombre)

for indicador, nombre in tuplas:
    print(indicador)
    try:
        a_sumar = carga_incremental(indicador, nombre)
        a_sumar = a_sumar[['date', nombre]]
    except TypeError:
        pass
    else:
        datos = datos.merge(a_sumar, how='left', on='date')

In [44]:
datos

,countryiso3code,country.value,date,"Esperanza de vida al nacer, total (años)","Esperanza de vida al nacer, mujeres (años)","Esperanza de vida al nacer, varones (años)",Coeficiente de Gini,"Gasto público en educación, total (% del PIB)","Educación obligatoria, duración (años)",PIB ($ a precios actuales),PIB per cápita (US$ a precios actuales),"PIB, PPA ($ a precios internacionales actuales)",Nivel general de la capacidad estadística (escala 0 - 100),"Población, mujeres (% del total)","Población, hombres (% del total)"
0,ARG,Argentina,2021,NaN,NaN,NaN,NaN,NaN,14.0,NaN,10729.232578,1.082341e+12,NaN,51.202315,48.797685
1,ARG,Argentina,2020,76.813,80.122,73.405,NaN,NaN,14.0,NaN,8585.694742,9.424315e+11,78.888900,51.214146,48.785854
2,ARG,Argentina,2019,76.667,79.995,73.242,NaN,4.72417,14.0,NaN,10076.355241,1.033473e+12,80.000000,51.225802,48.774198
3,ARG,Argentina,2018,76.520,79.863,73.082,NaN,4.87774,14.0,NaN,11795.159387,1.036307e+12,81.111100,51.237348,48.762652
4,ARG,Argentina,2017,76.372,79.726,72.924,NaN,5.45432,14.0,NaN,14613.041825,1.039331e+12,85.555567,51.248990,48.751010
5,ARG,Argentina,2016,76.221,79.583,72.768,NaN,5.54549,14.0,NaN,12790.242473,8.852275e+11,88.888900,51.260974,48.739026
6,ARG,Argentina,2015,76.068,79.434,72.614,NaN,5.77611,14.0,NaN,13789.060425,8.671768e+11,95.555567,51.273483,48.726517
7,ARG,Argentina,2014,75.913,79.281,72.460,0.426660,5.36144,13.0,5.376600e+11,12334.798245,8.398967e+11,83.333333,51.286586,48.713414
8,ARG,Argentina,2013,75.756,79.124,72.306,0.422838,5.43661,13.0,6.143835e+11,13080.254732,8.496160e+11,76.666667,51.300191,48.699809
9,ARG,Argentina,2012,75.598,78.966,72.151,0.424853,5.34583,13.0,6.043785e+11,13082.664326,8.196979e+11,85.555556,51.314208,48.685792
10,ARG,Argentina,2011,75.439,78.806,71.995,0.435723,5.29063,13.0,5.578902e+11,12848.864197,7.972639e+11,85.555556,51.328451,48.671549
11,ARG,Argentina,2010,75.278,78.646,71.837,0.444955,5.01971,13.0,4.616402e+11,10385.964432,7.367991e+11,86.666667,51.342742,48.657258
12,ARG,Argentina,2009,75.116,78.485,71.676,0.452730,5.53105,13.0,3.766279e+11,8225.137583,6.611095e+11,87.777778,51.356653,48.643347
13,ARG,Argentina,2008,74.952,78.323,71.513,0.462654,4.84441,13.0,4.037820e+11,9020.873323,6.982236e+11,86.666667,51.370081,48.629919
14,ARG,Argentina,2007,74.787,78.160,71.347,0.473717,4.46260,13.0,3.293175e+11,7245.446857,6.583725e+11,85.555556,51.383374,48.616626
15,ARG,Argentina,2006,74.620,77.996,71.179,0.482581,4.12821,13.0,2.626665e+11,5919.012338,5.880761e+11,88.888889,51.397210,48.602790
16,ARG,Argentina,2005,74.451,77.831,71.008,0.492729,3.86001,10.0,2.208138e+11,5109.852245,5.279859e+11,88.888889,51.411817,48.588183
17,ARG,Argentina,2004,74.280,77.664,70.835,0.501825,3.48652,10.0,1.818731e+11,4277.721573,4.703029e+11,92.222222,51.427997,48.572003
18,ARG,Argentina,2003,74.107,77.496,70.661,NaN,3.53505,10.0,1.275863e+11,3349.806300,4.200770e+11,NaN,51.445048,48.554952
19,ARG,Argentina,2002,73.932,77.326,70.484,NaN,4.01734,10.0,9.772451e+10,2593.404563,3.784987e+11,NaN,51.459820,48.540180
20,ARG,Argentina,2001,73.755,77.155,70.307,NaN,4.83374,10.0,2.686968e+11,7208.373114,4.182572e+11,NaN,51.467945,48.532055
21,ARG,Argentina,2000,73.576,76.982,70.128,NaN,4.58031,10.0,2.842038e+11,7708.099115,4.279074e+11,NaN,51.466399,48.533601
22,ARG,Argentina,1999,73.396,76.808,69.948,NaN,4.52168,10.0,NaN,7774.736203,4.217554e+11,NaN,51.452897,48.547103
23,ARG,Argentina,1998,73.213,76.631,69.768,NaN,4.03987,10.0,NaN,8289.507568,4.304678e+11,NaN,51.428733,48.571267
24,ARG,Argentina,1997,73.029,76.453,69.586,NaN,NaN,NaN,NaN,8213.125127,4.098950e+11,NaN,51.398701,48.601299
25,ARG,Argentina,1996,72.843,76.273,69.402,NaN,3.73198,NaN,NaN,7721.354105,3.727153e+11,NaN,51.370078,48.629922
26,ARG,Argentina,1995,72.651,76.090,69.212,NaN,NaN,NaN,NaN,7408.708664,3.468447e+11,NaN,51.348093,48.651907
27,ARG,Argentina,1994,72.453,75.902,69.014,NaN,NaN,NaN,NaN,7483.140334,3.496699e+11,NaN,51.335348,48.664652
28,ARG,Argentina,1993,72.246,75.710,68.804,NaN,NaN,NaN,NaN,6969.119729,3.234801e+11,NaN,51.329936,48.670064
29,ARG,Argentina,1992,72.032,75.515,68.586,NaN,NaN,NaN,NaN,6823.538837,2.920238e+11,NaN,51.327071,48.672929
30,ARG,Argentina,1991,71.813,75.316,68.361,NaN,NaN,NaN,NaN,5735.359981,2.645213e+11,NaN,51.319302,48.680698
31,ARG,Argentina,1990,71.594,75.119,68.138,NaN,1.06738,NaN,NaN,4333.483372,2.344553e+11,NaN,51.301069,48.698931

# ETL

## Búsqueda de indicadores

Procedo a armar la lista de indicadores que estarán bajo estudio

In [54]:
trabajo = pd.DataFrame()

In [47]:
indicators = pd.read_csv('../datasets/indicadores.csv')

# Se completó los valores faltantes con 'na'
# para poder buscar sobre el dataframe
indicators.fillna('na',inplace=True)

Buscamos de forma manual el in

In [13]:
interes = input("Indicador de interés: ")
indicators.loc[indicators.name.str.contains(interes,case=False),
     ['id','name','sourceNote']]#.to_csv('temp.csv')

,id,name,sourceNote
179,3.0.Gini,Coeficiente de Gini,El coeficiente de Gini es la medida de desigua...
180,3.0.Gini_nozero,Coeficiente de Gini (Ingreso diferente de cero),El coeficiente de Gini es la medida de desigua...
192,3.1.Gini,"Gini, Rural",El coeficiente de Gini es la medida de desigua...
205,3.2.Gini,"Gini, Urbano",El coeficiente de Gini es la medida de desigua...
17088,SI.POV.GINI,Índice de Gini,El índice de Gini mide hasta qué punto la dist...

In [14]:
interes = input("Indicador de interés: ")
pick = indicators.loc[indicators.id == interes,
     ['id','name','sourceNote']]
pick

,id,name,sourceNote
179,3.0.Gini,Coeficiente de Gini,El coeficiente de Gini es la medida de desigua...

In [16]:
trabajo = pd.concat([trabajo, pick], ignore_index=True)

In [17]:
trabajo#.to_csv('../datasets/indicadores_seleccionados.csv')

,id,name,sourceNote
0,3.0.Gini,Coeficiente de Gini,El coeficiente de Gini es la medida de desigua...