# Obtención de datos y conección a API

In [10]:
import requests
import pandas as pd

## Búsqueda de indicadores

In [11]:
url='http://api.worldbank.org/v2/es/indicator'
def consultar_indicadores(pagina=1):
    argumentos= {
        'page':pagina,
        'per_page':10000,
        'format':'json'
    }
    return requests.get(url,params=argumentos).json()

indicadores = consultar_indicadores()

# la primera parte de la respuesta 
# contiene información sobre las páginas
paginas = indicadores[0]["pages"]

# Reasigno la variable únicamente a los datos de mi interés 
# es una lista de diccionarios
indicadores = indicadores[1]

# recorro todás las páginas que tiene la respuesta 
# y lo voy anexando a la lista principal
for pagina in range(2, paginas+1):
    indicadores.extend(consultar_indicadores(pagina)[1])

In [12]:
indicators = pd.json_normalize(indicadores)
# Dev data para trabajo offline
# indicators.to_csv('../datasets/indicadores.csv')

In [13]:
interes = input("Indicador de interés: ")
indicators.loc[indicators.name.str.contains(interes,case=False),
     ['id','name','sourceNote']].to_csv('temp.csv')

## Selección y extracción de un solo indicador

Selección de un solo país bajo estudio. Si se eligen todos los países la API tarda un poco más de 30 segundos en responder una vez terminado el ciclo for. Y esa carga inicial podría molestar al usuario final.

In [14]:
datos=pd.read_csv('../datasets/esperanza_de_vida.csv')
paises = datos[['countryiso3code','country.value']].groupby('countryiso3code').first()
paises.dropna(inplace=True) #La búsqueda no funciona sin esto XD

seleccion = input("Ingrese un nombre de país: ")
try:
    pais = paises.loc[paises['country.value'].str.contains(seleccion, case=False)].index[0]
except:
    print("No se encontró el país, intente de nuevo")

In [15]:
# Establecemos los parámetros que queremos acceder.
indicador = 'SP.DYN.LE00.IN'
#pais = 'all' # Está comentado porque lo recibe del bloque anterior
iyear = '1980'
fyear = '2022'

# Página de la api y path al recurso solicitado
api_url = ' http://api.worldbank.org/v2/es'
path = f'/country/{pais}/indicator/{indicador}'

url = api_url + path

# Creamos el diccionario con los parametros 
# para el método get
def consultar(pagina = 1):
    args= {
        "date":iyear+":"+fyear,
        'page':pagina,
        "per_page":1000,
        "format":"json",
        "prefix":"Getdata",
    }
    return requests.get(url,params=args).json()

dict_data = consultar()

In [16]:
# La primera parte de la respuesta nos indica en 
# cuantas páginas de encuentra la información
paginas=dict_data[0]["pages"]
paginas # Retornamos el número de páginas

1

In [17]:
# La segunda parte nos retorna una lista de diccionarios 
# con la información que queríamos
datos=dict_data[1]
datos

[{'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2021',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2020',
  'value': 76.813,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2019',
  'value': 76.667,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2018',
  'value': 76.52,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2017',
  'value': 76.372,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2016',
  'value': 76.221,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2015',
  'value': 76.068,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2014',
  'value': 75.913,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2013',
  'value': 75.756,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2012',
  'value': 75.598,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2011',
  'value': 75.439,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2010',
  'value': 75.278,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2009',
  'value': 75.116,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2008',
  'value': 74.952,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2007',
  'value': 74.787,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2006',
  'value': 74.62,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2005',
  'value': 74.451,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2004',
  'value': 74.28,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2003',
  'value': 74.107,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2002',
  'value': 73.932,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2001',
  'value': 73.755,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '2000',
  'value': 73.576,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1999',
  'value': 73.396,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1998',
  'value': 73.213,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1997',
  'value': 73.029,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1996',
  'value': 72.843,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1995',
  'value': 72.651,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1994',
  'value': 72.453,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1993',
  'value': 72.246,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1992',
  'value': 72.032,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1991',
  'value': 71.813,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1990',
  'value': 71.594,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1989',
  'value': 71.384,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1988',
  'value': 71.186,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1987',
  'value': 71.001,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1986',
  'value': 70.825,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1985',
  'value': 70.65,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1984',
  'value': 70.466,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1983',
  'value': 70.262,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1982',
  'value': 70.033,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1981',
  'value': 69.777,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AR', 'value': 'Argentina'},
  'countryiso3code': 'ARG',
  'date': '1980',
  'value': 69.496,
  'unit': '',
  'obs_status': '',
  'decimal': 0}]

In [18]:
# Agregamos los valores de las otras páginas a 
# nuestra lista de diccionarios
for pagina in range(2,paginas+1):
    datos.extend(consultar(pagina)[1])

In [19]:
# Verifico que lo obtenido sea una lista de diccionarios
print(type(datos))
print(type(datos[1]))

<class 'list'>
<class 'dict'>

In [20]:
# Creo el DataFrame con todos los datos
data = pd.json_normalize(datos)

In [21]:
data[['date','value','country.value']]

    date   value country.value
0   2021     NaN     Argentina
1   2020  76.813     Argentina
2   2019  76.667     Argentina
3   2018  76.520     Argentina
4   2017  76.372     Argentina
5   2016  76.221     Argentina
6   2015  76.068     Argentina
7   2014  75.913     Argentina
8   2013  75.756     Argentina
9   2012  75.598     Argentina
10  2011  75.439     Argentina
11  2010  75.278     Argentina
12  2009  75.116     Argentina
13  2008  74.952     Argentina
14  2007  74.787     Argentina
15  2006  74.620     Argentina
16  2005  74.451     Argentina
17  2004  74.280     Argentina
18  2003  74.107     Argentina
19  2002  73.932     Argentina
20  2001  73.755     Argentina
21  2000  73.576     Argentina
22  1999  73.396     Argentina
23  1998  73.213     Argentina
24  1997  73.029     Argentina
25  1996  72.843     Argentina
26  1995  72.651     Argentina
27  1994  72.453     Argentina
28  1993  72.246     Argentina
29  1992  72.032     Argentina
30  1991  71.813     Argentina
31  1990  71.594     Argentina
32  1989  71.384     Argentina
33  1988  71.186     Argentina
34  1987  71.001     Argentina
35  1986  70.825     Argentina
36  1985  70.650     Argentina
37  1984  70.466     Argentina
38  1983  70.262     Argentina
39  1982  70.033     Argentina
40  1981  69.777     Argentina
41  1980  69.496     Argentina

In [22]:
# Creo un dataset para trabajar offline
#data.to_csv('../datasets/esperanza_de_vida.csv')

# EDA

Verifico los datos faltantes en la respuesta de la API en español. Son dós nombres de países o grupo de países, con el código AFW y AFE, para Africa ocidental y central y Africa del este y del sur, respectivamente. En resumen: Regiones de Africa. No sé si lo vamos a incluir

In [23]:
data[data.countryiso3code.str.contains('AFW')]

Empty DataFrame
Columns: [countryiso3code, date, value, unit, obs_status, decimal, indicator.id, indicator.value, country.id, country.value]
Index: []