In [42]:
import requests
import pandas as pd
# Librería que convierte la respuesta xml 
# de la api a un diccionario.
import xmltodict

In [43]:
# Ejemplo con el primer endpoint que encontré
response = requests.get("http://api.worldbank.org/v2/country/BRA/indicator/1.0.HCount.2.5usd")

#convierto la respuesta en diccionario
dict_data = xmltodict.parse(response.content)

#Consigo la lista de diccionarios dentro de mi diccionario
dict_data=dict_data["wb:data"]["wb:data"]

In [44]:
type(dict_data)

list

In [51]:
# Verifico la salida de uno de estos diccionarios 
# dentro de la lista de diccionarios
data = pd.DataFrame(dict_data[0])
data

,wb:indicator,wb:country,wb:countryiso3code,wb:date,wb:value,wb:unit,wb:obs_status,wb:decimal
@id,1.0.HCount.2.5usd,BRA,None,2014,7.81623363494873,None,None,0
#text,Poverty Headcount ($2.50 a day),Brazil,None,2014,7.81623363494873,None,None,0

In [45]:
# Mido el largo de la respuesta que es una lista
extención = len(dict_data)

In [47]:
# sumo todos los pequeños diccionarios que se encuentran en la lista
sumatoria = [dict_data[i] for i in range(extención)]
data = pd.json_normalize(sumatoria)

In [48]:
data

,wb:countryiso3code,wb:date,wb:value,wb:unit,wb:obs_status,wb:decimal,wb:indicator.@id,wb:indicator.#text,wb:country.@id,wb:country.#text
0,None,2014,7.81623363494873,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
1,None,2013,None,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
2,None,2012,9.61252117156982,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
3,None,2011,11.7248420715332,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
4,None,2010,None,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
5,None,2009,13.8868274688721,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
6,None,2008,14.7366437911987,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
7,None,2007,17.2200183868408,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
8,None,2006,18.3536243438721,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
9,None,2005,21.8958721160889,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
10,None,2004,23.951452255249,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
11,None,2003,25.8365726470947,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
12,None,2002,25.1449661254883,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
13,None,2001,26.3759632110596,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil
14,None,2000,None,None,None,0,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),BRA,Brazil