# Obtención de datos y conección a API

In [1]:
import requests
import pandas as pd

## Selección y extracción de un solo indicador

Selección de un solo país bajo estudio. Si se eligen todos los países la API tarda un poco más de 30 segundos en responder una vez terminado el ciclo for. Y esa carga inicial podría molestar al usuario final.

In [14]:
paises=pd.read_csv('../datasets/paises.csv')

seleccion = input("Ingrese un nombre de país: ")
try:
    pais = paises.loc[paises['country.value'].str.contains(seleccion, case=False),'countryiso3code'].values[0]
except:
    print("No se encontró el país, intente de nuevo")

In [15]:
# Establecemos los parámetros que queremos acceder.
indicador = 'SP.DYN.LE00.IN'
#pais = 'all' # Está comentado porque lo recibe del bloque anterior
iyear = '1980'
fyear = '2022'

# Página de la api y path al recurso solicitado
api_url = ' http://api.worldbank.org/v2/es'
path = f'/country/{pais}/indicator/{indicador}'

url = api_url + path

# Creamos el diccionario con los parametros 
# para el método get
def consultar(pagina = 1):
    args= {
        "date":iyear+":"+fyear,
        'page':pagina,
        "per_page":1000,
        "format":"json",
        "prefix":"Getdata",
    }
    return requests.get(url,params=args).json()

dict_data = consultar()

In [16]:
# La primera parte de la respuesta nos indica en 
# cuantas páginas de encuentra la información
paginas=dict_data[0]["pages"]
paginas # Retornamos el número de páginas

1

In [17]:
# La segunda parte nos retorna una lista de diccionarios 
# con la información que queríamos
datos=dict_data[1]
datos

[{'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2021',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2020',
  'value': 61.487,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2019',
  'value': 61.147,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2018',
  'value': 60.782,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2017',
  'value': 60.379,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2016',
  'value': 59.925,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2015',
  'value': 59.398,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2014',
  'value': 58.776,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2013',
  'value': 58.054,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2012',
  'value': 57.236,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2011',
  'value': 56.33,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2010',
  'value': 55.35,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2009',
  'value': 54.311,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2008',
  'value': 53.243,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2007',
  'value': 52.177,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2006',
  'value': 51.143,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2005',
  'value': 50.165,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2004',
  'value': 49.263,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2003',
  'value': 48.44,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2002',
  'value': 47.702,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2001',
  'value': 47.059,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '2000',
  'value': 46.522,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1999',
  'value': 46.093,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1998',
  'value': 45.763,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1997',
  'value': 45.519,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1996',
  'value': 45.35,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1995',
  'value': 45.246,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1994',
  'value': 45.201,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1993',
  'value': 45.201,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1992',
  'value': 45.23,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1991',
  'value': 45.271,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1990',
  'value': 45.306,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1989',
  'value': 45.324,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1988',
  'value': 45.317,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1987',
  'value': 45.283,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1986',
  'value': 45.213,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1985',
  'value': 45.107,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1984',
  'value': 44.966,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1983',
  'value': 44.799,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1982',
  'value': 44.611,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1981',
  'value': 44.404,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Esperanza de vida al nacer, total (años)'},
  'country': {'id': 'AO', 'value': 'Angola'},
  'countryiso3code': 'AGO',
  'date': '1980',
  'value': 44.178,
  'unit': '',
  'obs_status': '',
  'decimal': 0}]

In [18]:
# Agregamos los valores de las otras páginas, si existen a 
# nuestra lista de diccionarios
for pagina in range(2,paginas+1):
    datos.extend(consultar(pagina)[1])

In [19]:
# Verifico que lo obtenido sea una lista de diccionarios
print(type(datos))
print(type(datos[1]))

<class 'list'>
<class 'dict'>

In [20]:
# Creo el DataFrame con todos los datos
data = pd.json_normalize(datos)

In [21]:
# Visualizo información relevante unicamente
data[['date','value','country.value']]

    date   value country.value
0   2021     NaN        Angola
1   2020  61.487        Angola
2   2019  61.147        Angola
3   2018  60.782        Angola
4   2017  60.379        Angola
5   2016  59.925        Angola
6   2015  59.398        Angola
7   2014  58.776        Angola
8   2013  58.054        Angola
9   2012  57.236        Angola
10  2011  56.330        Angola
11  2010  55.350        Angola
12  2009  54.311        Angola
13  2008  53.243        Angola
14  2007  52.177        Angola
15  2006  51.143        Angola
16  2005  50.165        Angola
17  2004  49.263        Angola
18  2003  48.440        Angola
19  2002  47.702        Angola
20  2001  47.059        Angola
21  2000  46.522        Angola
22  1999  46.093        Angola
23  1998  45.763        Angola
24  1997  45.519        Angola
25  1996  45.350        Angola
26  1995  45.246        Angola
27  1994  45.201        Angola
28  1993  45.201        Angola
29  1992  45.230        Angola
30  1991  45.271        Angola
31  1990  45.306        Angola
32  1989  45.324        Angola
33  1988  45.317        Angola
34  1987  45.283        Angola
35  1986  45.213        Angola
36  1985  45.107        Angola
37  1984  44.966        Angola
38  1983  44.799        Angola
39  1982  44.611        Angola
40  1981  44.404        Angola
41  1980  44.178        Angola

In [10]:
# Creo un dataset para trabajar offline
# data.to_csv('../datasets/esperanza_de_vida.csv')

# EDA

Esto se hace en la primera ejecución del código, cuando se corría con todos los países

In [11]:
paises = data[['countryiso3code','country.value']].groupby('countryiso3code').first()

# Regreso el index creado por agrupar a una columna
paises.reset_index(inplace=True)

# Reemplazo todos los valores faltantes por NaN
paises.replace("", float("NaN"), inplace=True)

paises.dropna(inplace=True)

# Creo el dataset de países que me va a servir de selección
# paises.to_csv('../datasets/paises.csv')

Verifico los datos faltantes en la respuesta de la API en español. Son dós nombres de países o grupo de países, con el código AFW y AFE, para Africa ocidental y central y Africa del este y del sur, respectivamente. En resumen: Regiones de Africa. No sé si lo vamos a incluir

In [12]:
data[data.countryiso3code.str.contains('AFE')]

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2021,NaN,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
1,AFE,2020,64.325702,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
2,AFE,2019,64.005213,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
3,AFE,2018,63.648988,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
4,AFE,2017,63.246264,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
5,AFE,2016,62.787681,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
6,AFE,2015,62.259288,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
7,AFE,2014,61.647367,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
8,AFE,2013,60.953363,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
9,AFE,2012,60.185561,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
10,AFE,2011,59.353595,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
11,AFE,2010,58.470697,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
12,AFE,2009,57.548772,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
13,AFE,2008,56.609799,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
14,AFE,2007,55.682344,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
15,AFE,2006,54.791707,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
16,AFE,2005,53.966550,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
17,AFE,2004,53.228913,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
18,AFE,2003,52.585853,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
19,AFE,2002,52.043149,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
20,AFE,2001,51.606458,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
21,AFE,2000,51.276129,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
22,AFE,1999,51.044191,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
23,AFE,1998,50.897607,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
24,AFE,1997,50.820614,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
25,AFE,1996,50.796157,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
26,AFE,1995,50.808484,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
27,AFE,1994,50.841865,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
28,AFE,1993,50.890246,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
29,AFE,1992,50.957262,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
30,AFE,1991,51.048414,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
31,AFE,1990,51.154113,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
32,AFE,1989,51.251763,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
33,AFE,1988,51.308595,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
34,AFE,1987,51.299781,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
35,AFE,1986,51.214281,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
36,AFE,1985,51.058057,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
37,AFE,1984,50.848335,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
38,AFE,1983,50.610385,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
39,AFE,1982,50.363456,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
40,AFE,1981,50.115886,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,
41,AFE,1980,49.870693,,,0,SP.DYN.LE00.IN,"Esperanza de vida al nacer, total (años)",ZH,

## Búsqueda de indicadores

In [13]:
url='http://api.worldbank.org/v2/es/indicator'
def consultar_indicadores(pagina=1):
    argumentos= {
        'page':pagina,
        'per_page':10000,
        'format':'json'
    }
    return requests.get(url,params=argumentos).json()

indicadores = consultar_indicadores()

# la primera parte de la respuesta 
# contiene información sobre las páginas
paginas = indicadores[0]["pages"]

# Reasigno la variable únicamente a los datos de mi interés 
# es una lista de diccionarios
indicadores = indicadores[1]

# recorro todás las páginas que tiene la respuesta 
# y lo voy anexando a la lista principal
for pagina in range(2, paginas+1):
    indicadores.extend(consultar_indicadores(pagina)[1])
indicators = pd.json_normalize(indicadores)

# Dev data para trabajo offline
# indicators.to_csv('../datasets/indicadores.csv')

interes = input("Indicador de interés: ")
indicators.loc[indicators.name.str.contains(interes,case=False),
     ['id','name','sourceNote']]#.to_csv('temp.csv')

,id,name,sourceNote
179,3.0.Gini,Coeficiente de Gini,El coeficiente de Gini es la medida de desigua...
180,3.0.Gini_nozero,Coeficiente de Gini (Ingreso diferente de cero),El coeficiente de Gini es la medida de desigua...
192,3.1.Gini,"Gini, Rural",El coeficiente de Gini es la medida de desigua...
205,3.2.Gini,"Gini, Urbano",El coeficiente de Gini es la medida de desigua...
17088,SI.POV.GINI,Índice de Gini,El índice de Gini mide hasta qué punto la dist...