In [1]:
# We are using black as a code formatter
%load_ext nb_black

In [30]:
import requests
import json
import datetime
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import os

In [5]:
# pd.set_option('display.max_rows', None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

## API Naciones Unidas

#### The base path for accessing the API is:
base_path ["https://population.un.org/dataportalapi/api/v1"](https://population.un.org/dataportalapi/api/v1)

#### Most common reported status codes
* 200 : Successful request
* 400 : Bad request
* 404 : Input parameters not found
* 406 : Requested output format not allowed
* 500 : Server error

#### Structure of API response (json)

* pageNumber : the current page of the response, which may have multiple pages
* pageSize : the number of records returned on the current page (a maximum of 100 records will be returned)
* previousPage : the path to the previous page of the response when multiple pages are returned
* nextPage : the path to the next page of the response when multiple pages are returned
* pages : the total number of pages in the response
* total : the total number of records in the response
* data : the actual data returned in the response

### Las diferentes fuentes

In [6]:
# Define target URL.
base_url = "https://population.un.org/dataportalapi/api/v1/sources"

# Call the API and convert the resquest into JSON object.
response = requests.get(base_url).json()

# Convert JSON object to data frame.
df = pd.json_normalize(response["data"])

print("df.shape", df.shape, end="\n")

# Display only relevant data.
df[["name", "sourceYear", "startYear", "endYear", "url"]].tail(3)

df.shape (26, 8)

,name,sourceYear,startYear,endYear,url
23,World Contraceptive Use 2022,2022,1950,2022,https://www.un.org/development/desa/pd/themes/family-planning
24,World Population Prospects,2022,1950,2100,https://population.un.org/wpp/
25,Estimates and Projections of Women of Reproductive Age Who Are Married or in a Union 2022,2022,1970,2030,https://www.un.org/development/desa/pd/content/fertility-and-marriage-0

### Los topicos

In [11]:
# Define target URL
base_url = "https://population.un.org/dataportalapi/api/v1/topics"

# Call the API and convert the resquest into JSON object
response = requests.get(base_url).json()

# Convert JSON object to data frame
df = pd.json_normalize(response["data"])

print("df.shape", df.shape, end="\n")

# Display only relevant data.
df[["name", "shortName"]]

df.shape (10, 4)

                      name   shortName
0           Not applicable          NA
1               Population         Pop
2                Fertility        Fert
3                Mortality        Mort
4  International Migration  iMigration
5          Family Planning          FP
6           Marital Status     MarStat
7           All Components         All
8          Child Mortality        IGME
9       Maternal Mortality       MMEIG

### Los indicadores

In [6]:
# Define target URL.
base_url = "https://population.un.org/dataportalapi/api/v1/indicators"

# Call the API and convert the resquest into JSON object.
response = requests.get(base_url).json()

# Convert JSON object to data frame.
df = pd.json_normalize(response["data"])

print("df.shape", df.shape, end="\n")

# Display only relevant data.
df[["id", "name", "description", "shortName", "topicName", "topicShortName"]]

df.shape (60, 33)

,id,name,description,shortName,topicName,topicShortName
0,1,Contraceptive prevalence: Any method (Percent),Percentage of women of reproductive age (15-49 years) who are currently using any method of contraception,CPAnyP,Family Planning,FP
1,2,Contraceptive prevalence: Any modern method (Percent),Percentage of women of reproductive age (15-49 years) who are currently using any modern method of contraception,CPModP,Family Planning,FP
2,3,Contraceptive prevalence: Any traditional method (Percent),Percentage of women of reproductive age (15-49 years) who are currently using any traditional method of contraception,CPTrad,Family Planning,FP
3,4,Unmet need for family planning: Any method (Percent),Percentage of women of reproductive age (15-49 years) who want to stop or delay childbearing but are not using a method of contraception,UNMP,Family Planning,FP
4,5,Unmet need for family planning: Any modern method (Percent),Percentage of women of reproductive age (15-49 years) who want to stop or delay childbearing but are not using a modern method of contraception,UNMModP,Family Planning,FP
5,6,Total demand for family planning (Percent),Percentage of women of reproductive age (15-49 years) who are currently using any method of contraception or are having unmet need for family planning,DEMTot,Family Planning,FP
6,7,Demand for family planning satisfied by any method (Percent),Percentage of women of reproductive age (aged 15-49 years) who have their need for family planning satisfied with any methods,DEMAny,Family Planning,FP
7,8,Demand for family planning satisfied by any modern method (Percent),Percentage of women of reproductive age (aged 15-49 years) who have their need for family planning satisfied with modern methods,DEMMod,Family Planning,FP
8,9,Contraceptive prevalence: Any method (Number),Number of women of reproductive age (15-49 years) who are currently using any method of contraception,CPAnyN,Family Planning,FP
9,10,Contraceptive prevalence: Any modern method (Number),Number of women of reproductive age (15-49 years) who are currently using any modern method of contraception,CPModN,Family Planning,FP
10,11,Unmet need for family planning: Any method (Number),Number of women of reproductive age (15-49 years) who want to stop or delay childbearing but are not using a method of contraception,UNMN,Family Planning,FP
11,12,Unmet need for family planning: Any modern method (Number),Number of women of reproductive age (15-49 years) who want to stop or delay childbearing but are not using a modern method of contraception,UNMModN,Family Planning,FP
12,17,Fertility rates by age of mother (5-year),Age-specific fertility rates (ASFR),ASFR5,Fertility,Fert
13,18,Mean age of childbearing (5-year),Mean age of childbearing,MAC5,Fertility,Fert
14,19,Total fertility rate,Total fertility (children per woman),TFR5,Fertility,Fert
15,22,Infant mortality rate (IMR),Probability of dying between birth and exactly one year of age (1q0),IMR,Child Mortality,IGME
16,24,Under-five mortality rate (U5MR),Probability of dying between birth and exactly five years of age (5q0),U5MR,Child Mortality,IGME
17,40,Contraceptive prevalence: Any traditional method (Number),Number of women of reproductive age (15-49 years) who are currently using any traditional method of contraception,CPTradN,Family Planning,FP
18,41,Female population of reproductive age (15-49 years),Female population of reproductive age (15-49 years),FemPop15_49,Population,Pop
19,42,Currently married (Percent),Percentage of married or in-union among women of reproductive age (15-49 years),CURP15_49,Marital Status,MarStat
20,43,Currently married (Number),Number of married or in-union women of reproductive age (15-49 years),CURN15_49,Marital Status,MarStat
21,44,Currently married by age of woman (Percent),Percentage of married or in-union among women of reproductive age (15-49 years) by 5-year age groups,CURP5Y,Marital Status,MarStat
22,45,Currently married by age of woman (Number),Number of married or in-union women of reproductive age (15-49 years) by 5-year age groups,CURN5Y,Marital Status,MarStat
23,46,Population by 5-year age groups and sex,"Annual population by five-year age groups and by sex (interpolated data based on 5-year periods). De facto population as of 1 July of the year indicated classified by five-year age groups (0-4, 5-9, 10-14,.., 95-99, 100+).",PopByAge5AndSex,Population,Pop
24,47,Population by 1-year age groups and sex,"Annual population by single age and by sex (interpolated data based on 5-year age groups and 5-year periods). De facto population as of 1 July of the year indicated classified by single age (0, 1, 2,.., 99, 100+).",PopByAge1AndSex,Population,Pop
25,48,Total demand for family planning (Number),Number of women of reproductive age (15-49 years) who are currently using any method of contraception or are having unmet need for family planning,DEMTotN,Family Planning,FP
26,49,Total population by sex,Total number of persons by sex (mid-year),TPopulation,Population,Pop
27,50,Population Change,Difference between the population sizes on 1 January of two consecutive years.,PopChange,Population,Pop
28,51,Rate of population change,Exponential rate of change of the population over an annual period. It is calculated as ln(P2/P1) where P1 and P2 are the population sizes on 1 January of two consecutive years. It is expressed as a percentage.,PopChangeRT,Population,Pop
29,52,Natural change of population,"The difference between the number of live births and the number of deaths during the year. A positive natural change, also known as natural increase, occurs when live births outnumber deaths. A negative natural change, also named as natural decrease, occurs when live births are less numerous than deaths.",NatChange,Population,Pop
30,53,Crude rate of natural change of population,The crude rate of natural change is the ratio of the natural change during the year (live births minus deaths) to the average population in that year. The value is expressed per 1 000 persons.,NatChangeRT,Population,Pop
31,54,Population density,Number of persons per square Kilometer.,PopDensity,Population,Pop
32,55,Crude birth rate,Number of live births over a given period divided by the person-years lived by the population over that period.,CBR,Fertility,Fert
33,56,Net Reproduction Rate,The average number of daughters a hypothetical cohort of women would have at the end of their reproductive period if they were subject during their whole lives to the fertility rates and the mortality rates of a given period. It is expressed as number of daughters per woman.,NRR,Fertility,Fert
34,57,Total births by sex,Number of live births over a given period.,TBirths,Fertility,Fert
35,58,Sex ratio at birth,Number of male births per one female birth.,SRB,Fertility,Fert
36,59,Crude death rate,Number of deaths over a given period divided by the person-years lived by the population over that period.,CDR,Mortality,Mort
37,60,Total deaths by sex,Number of deaths over a given period.,TDeaths,Mortality,Mort
38,61,Life expectancy at birth,The average number of years of life expected by a hypothetical cohort of individuals who would be subject throughout their lives to the age-specific mortality rates of a given period.,E0,Mortality,Mort
39,62,Probability of dying 15-50 (35q15),Probability of dying between the fifteen and fiftieth birthdays.,35q15,Mortality,Mort
40,63,Probability of dying 15-60 (45q15),Probability of dying between the fifteen and sixtieth birthdays.,45q15,Mortality,Mort
41,64,Deaths by 5-year age groups and sex,Number of deaths by age groups and by sex over a given period.,Deaths5,Mortality,Mort
42,65,Total net-migration,"Net number of migrants, that is, the number of immigrants minus the number of emigrants.",TNetMigration,International Migration,iMigration
43,66,Crude rate of net migration,The crude rate of net migration is defined as the ratio of net migration during the year to the average population in that year. The value is expressed per 1000 persons.,TNetMigRT,International Migration,iMigration
44,67,Median age of population,"Age that divides the population in two parts of equal size, that is, there are as many persons with ages above the median as there are with ages below the median. It is expressed as years.",MedianAgePop,Population,Pop
45,68,Fertility rates by age of mother (1-year),"Number of live births to women at a particular age, divided by the number of women (i.e., person-years) at that age over a given period.",ASFR1,Fertility,Fert
46,69,Deaths by 1-year age groups and sex,Number of deaths by single age and by sex over a given period.,Deaths1,Mortality,Mort
47,70,Population by age and sex - broad age groups,"De facto population as of 1 July of the year indicated classified by sex (male, female, both sexes combined) and by various functional combination of age groups (0-14, 0-17, primary and secondary school ages, 15-24, 15-49, ..., 18+, 50+, etc.). Data are presented in thousands.",PopBroadAges,Population,Pop
48,71,Percentage of total population by broad age group,"Percentage of Total Population by various functional combination of age groups (0-14, 0-17, primary and secondary school ages, 15-24, 15-49, ..., 18+, 50+, etc.). De facto population as of 1 July of the year indicated. Figures are expressed per 100 population.",PopBroadAgeGrpPerc,Population,Pop
49,72,Sex ratio of the total population,Number of male births per 100 female births.,PopSexRatio,Population,Pop
50,73,Births by age of mother (5-year),Number of live births over a given period classified by age group of mother.,Births5,Fertility,Fert
51,74,Births by age of mother (1-year),Number of live births over a given period classified by age group of mother. - complete,Births1,Fertility,Fert
52,75,Life expectancy E(x) - abridged,"Expectation of life at age x is the average number of years remaining to be lived by those surviving to that age, based on a given set of age-specific rates of dying. It is derived by dividing the total person-years that would be lived beyond age x by the number of persons who survived to that age interval (Tx / lx).",Ex5,Mortality,Mort
53,76,Life expectancy E(x) - complete,"Expectation of life at age x is the average number of years remaining to be lived by those surviving to that age, based on a given set of age-specific rates of dying. It is derived by dividing the total person-years that would be lived beyond age x by the number of persons who survived to that age interval (Tx / lx).",Ex1,Mortality,Mort
54,77,Survivors to exact age l(x) - abridged,"Number of persons from the original hypothetical cohort of 100,000 live births who survive to the beginning of each age interval.",lx5,Mortality,Mort
55,78,Survivors to exact age l(x) - complete,"Number of persons from the original hypothetical cohort of 100,000 live births who survive to the beginning of each age interval.",lx1,Mortality,Mort
56,79,"Age specific mortality rate m(x,n) - abridged","Central death rate for the age interval (x, x+n) where x is the initial age and n is the length of the interval. It is obtained as the ratio of the number of deaths by the number of person-years of exposure of the same age group (for a specified time period).",mx5,Mortality,Mort
57,80,"Age specific mortality rate m(x,n) - complete",Central death rate between ages x and x + 1. It is obtained as the ratio of the number of deaths by the number of person-years of exposure of the same age interval (for a specified time period).,mx1,Mortality,Mort
58,81,"Probability of dying q(x,n) - abridged","Probability of an individual age x dying before the end of the age interval (x, x+n) where n is the length of the interval.",qx5,Mortality,Mort
59,82,"Probability of dying q(x,n) - complete",Probability of an individual age x dying between ages x and x + 1.,qx1,Mortality,Mort

### Areas geograficas

In [10]:
# Base url
base_url = "https://population.un.org/dataportalapi/api/v1"

# Creates the target URL, indicators, in this instance.
target = base_url + "/locations/"

# Get the response, which includes the first page of data as well as information on pagination and number of records.
response = requests.get(target)

# Converts call into JSON.
j = response.json()

# Converts JSON into a pandas DataFrame.
df = pd.json_normalize(
    j["data"]
)  # pd.json_normalize flattens the JSON to accomodate nested lists within the JSON structure.

# Loop until there are new pages with data.
while j["nextPage"] != None:
    # Reset the target to the next page.
    target = j["nextPage"]

    # call the API for the next page.
    response = requests.get(target)

    # Convert response to JSON format.
    j = response.json()

    # Store the next page in a data frame.
    df_temp = pd.json_normalize(j["data"])

    # Append next page to the data frame.
    df = pd.concat([df, df_temp], ignore_index=True)
df.sample(7)

      id                              name iso3 iso2   longitude   latitude
3     16                    American Samoa  ASM   AS -170.696182 -14.306021
137  508                        Mozambique  MOZ   MZ   35.529564 -18.665695
62   233                           Estonia  EST   EE   25.013607  58.595272
182  670  Saint Vincent and the Grenadines  VCT   VC  -61.191340  13.247750
12    48                           Bahrain  BHR   BH   50.557701  26.066700
245  909                           Oceania  OCE   OA         NaN        NaN
186  686                           Senegal  SEN   SN  -14.452362  14.497401

### Areas geograficas con información del Banco Mundial

In [12]:
# Define target URL.
base_url = "https://population.un.org/dataportalapi/api/v1/locationsWithAggregates?pageNumber=1"

# Call the API and convert the resquest into JSON object.
response = requests.get(base_url).json()

# Convert JSON object to data frame.
df = pd.json_normalize(response)

# Get the response, which includes the first pages. Only 3.
pages = 3

# Converts call into JSON and concat to the previous data frame.
for page in range(2, pages + 1):
    # Reset the target to the next page
    target = f"https://population.un.org/dataportalapi/api/v1/locationsWithAggregates?pageNumber={page}"

    # Each iteration call the API and convert the resquest into JSON object.
    response = requests.get(target).json()

    # Each iteration convert JSON object to data frame.
    df_temp = pd.json_normalize(response)

    # Each iteration concat the data frames.
    df = pd.concat([df, df_temp], ignore_index=True)

print("df.shape", df.shape, end="\n")
df

# Display only relevant data. (Drop NaN, )
df_copy = (
    df[
        [
            "Id",
            "Name",
            "Iso2",
            "Iso3",
            "Longitude",
            "Latitude",
            "Region",
            "SubRegion",
            "WorldBankIncomeGroup",
            "UNDevelopmentGroup",
        ]
    ]
    .copy()
    .dropna()
)
# df_copy.to_parquet(f"../datasets/df_locationsWithAggregates.parquet")
df_copy.sample(7)

df.shape (278, 12)

,Id,Name,Iso2,Iso3,Longitude,Latitude,Region,SubRegion,WorldBankIncomeGroup,UNDevelopmentGroup
208,768,Togo,TG,TGO,0.824782,8.619543,Africa,Western Africa,Low-income countries,Least developed countries
11,44,Bahamas,BS,BHS,-77.396278,25.034281,Latin America and the Caribbean,Caribbean,High-income countries,Other developing regions
1,8,Albania,AL,ALB,20.168331,41.153332,Europe,Southern Europe,Upper-middle-income countries,Developed regions
93,356,India,IN,IND,78.962883,20.593683,Asia,Southern Asia,Lower-middle-income countries,Other developing regions
8,32,Argentina,AR,ARG,-63.616673,-38.416096,Latin America and the Caribbean,South America,Upper-middle-income countries,Other developing regions
43,174,Comoros,KM,COM,43.333302,-11.645500,Africa,Eastern Africa,Lower-middle-income countries,Least developed countries
127,474,Martinique,MQ,MTQ,-61.024420,14.631150,Latin America and the Caribbean,Caribbean,High-income countries,Other developing regions

### Convertimos los países escogidos en una lista de strings

In [13]:
# Stores indicator codes in a list
id_code = [str(code) for code in df_copy["Id"].values]

# Converts indicator code list into string to be used in later API call
id_code_string = ",".join(id_code)
id_code_string

'4,8,12,16,20,24,28,31,32,36,40,44,48,50,51,52,56,64,68,70,72,76,84,90,92,96,100,104,108,112,116,120,132,136,140,144,148,152,156,158,170,174,175,178,180,184,188,191,192,196,203,204,208,212,214,218,222,226,231,232,233,234,238,242,246,250,254,258,262,266,268,270,275,276,288,292,296,300,308,312,316,320,324,328,332,336,340,344,348,352,356,360,364,368,372,376,380,384,388,392,398,400,404,408,410,414,417,418,422,426,428,430,434,438,440,442,446,450,454,458,462,466,470,474,478,480,484,492,496,498,499,500,504,508,512,516,520,524,528,531,533,534,535,540,548,554,558,562,566,570,578,580,583,584,585,586,591,598,600,604,608,616,620,624,626,630,634,638,642,643,646,654,659,660,662,670,674,678,682,686,688,690,694,702,703,704,705,706,710,716,724,728,729,732,740,748,752,756,760,762,764,768,772,776,780,784,788,792,795,796,798,800,804,807,818,826,833,834,850,854,858,860,862,876,882,887,894'

* <mark>*Locations and Aggregate-locations differs in one country*</mark>
* <mark>*Aggregate-location has more features than Locations*</mark>

Estos son los países que en primer instancia no van a formar parte de los seleccionados

In [25]:
# the UN's API includes many entities which are not sovereign states,
# yet are listed as "Country". This workaround is a manuel fix for if
# one is only interested in countries by the classic definition
not_countries = [
    "American Samoa",
    "Bermuda",
    "British Virgin Islands",
    "Cayman Islands",
    "Mayotte",
    "Cook Islands",
    "Faroe Islands",
    "Falkland Islands (Malvinas)",
    "French Guiana",
    "French Polynesia",
    "Gibraltar",
    "Greenland",
    "Guadeloupe",
    "Guam",
    "China, Hong Kong SAR",
    "China, Macao SAR",
    "Martinique",
    "Montserrat",
    "Curaçao",
    "Aruba",
    "Sint Maarten (Dutch part)",
    "Bonaire, Sint Eustatius and Saba",
    "New Caledonia",
    "Niue",
    "Northern Mariana Islands",
    "Puerto Rico",
    "Réunion",
    "Saint Helena",
    "Anguilla",
    "Saint Pierre and Miquelon",
    "Tokelau",
    "Turks and Caicos Islands",
    "Isle of Man",
    "United States Virgin Islands",
    "Wallis and Futuna Islands",
]

La documentación nos brinda una función de ayuda para extraer infomación.

In [14]:
# Define a function that will take a relative path as an input, call the API, and return a dataframe
def callAPI(relative_path: str, topic_list: bool = False) -> pd.DataFrame:
    base_url = "https://population.un.org/dataportalapi/api/v1"
    target = (
        base_url + relative_path
    )  # Query string parameters may be appended here or directly in the provided relative path
    # Calls the API
    response = requests.get(target)
    # Reformats response into a JSON object
    j = response.json()
    # The block below will deal with paginated results.
    # If results not paginated, this will be skipped.
    try:
        # If results are paginated, they are transformed into a python dictionary.
        # The data may be accessed using the 'data' key of the dictionary.
        df = pd.json_normalize(j["data"])
        # As long as the nextPage key of the dictionary contains an address for the next API call, the function will continue to call the API and append the results to the dataframe.
        while j["nextPage"] is not None:
            response = requests.get(j["nextPage"])
            j = response.json()
            df_temp = pd.json_normalize(j["data"])
            df = pd.concat([df, df_temp], ignore_index=True)
    except:
        if topic_list:
            df = pd.json_normalize(j)
        else:
            df = pd.DataFrame(j)
    return df

### Vamos a usar la función para encontrar todos los indicadores de Población

In [17]:
# Uses callAPI function to get a list of Family Planning indicators
df_pop_indicators = callAPI("/topics/Pop/indicators", topic_list=False)
df_pop_indicators[
    ["indicatorId", "indicatorDescription", "sourceStartYear", "sourceEndYear"]
]

,indicatorId,indicatorDescription,sourceStartYear,sourceEndYear
0,53,The crude rate of natural change is the ratio of the natural change during the year (live births minus deaths) to the average population in that year. The value is expressed per 1 000 persons.,1950,2100
1,41,Female population of reproductive age (15-49 years),1950,2100
2,67,"Age that divides the population in two parts of equal size, that is, there are as many persons with ages above the median as there are with ages below the median. It is expressed as years.",1950,2100
3,52,"The difference between the number of live births and the number of deaths during the year. A positive natural change, also known as natural increase, occurs when live births outnumber deaths. A negative natural change, also named as natural decrease, occurs when live births are less numerous than deaths.",1950,2100
4,71,"Percentage of Total Population by various functional combination of age groups (0-14, 0-17, primary and secondary school ages, 15-24, 15-49, ..., 18+, 50+, etc.). De facto population as of 1 July of the year indicated. Figures are expressed per 100 population.",1950,2100
5,47,"Annual population by single age and by sex (interpolated data based on 5-year age groups and 5-year periods). De facto population as of 1 July of the year indicated classified by single age (0, 1, 2,.., 99, 100+).",1950,2100
6,46,"Annual population by five-year age groups and by sex (interpolated data based on 5-year periods). De facto population as of 1 July of the year indicated classified by five-year age groups (0-4, 5-9, 10-14,.., 95-99, 100+).",1950,2100
7,70,"De facto population as of 1 July of the year indicated classified by sex (male, female, both sexes combined) and by various functional combination of age groups (0-14, 0-17, primary and secondary school ages, 15-24, 15-49, ..., 18+, 50+, etc.). Data are presented in thousands.",1950,2100
8,50,Difference between the population sizes on 1 January of two consecutive years.,1950,2100
9,54,Number of persons per square Kilometer.,1950,2100
10,51,Exponential rate of change of the population over an annual period. It is calculated as ln(P2/P1) where P1 and P2 are the population sizes on 1 January of two consecutive years. It is expressed as a percentage.,1950,2100
11,72,Number of male births per 100 female births.,1950,2100
12,49,Total number of persons by sex (mid-year),1950,2100

In [18]:
# Stores indicator codes in a list
indicator_pop_codes = [str(code) for code in df_pop_indicators["indicatorId"].values]

# Converts indicator code list into string to be used in later API call
indicator_pop_string = ",".join(indicator_pop_codes)
indicator_pop_string

'53,41,67,52,71,47,46,70,50,54,51,72,49'

### Vamos a usar la función para encontrar todos los indicadores de Mortalidad

In [19]:
# Uses callAPI function to get a list of Family Planning indicators
df_mort_indicators = callAPI("/topics/Mort/indicators", topic_list=False)
df_mort_indicators[
    ["indicatorId", "indicatorDescription", "sourceStartYear", "sourceEndYear"]
]

,indicatorId,indicatorDescription,sourceStartYear,sourceEndYear
0,79,"Central death rate for the age interval (x, x+n) where x is the initial age and n is the length of the interval. It is obtained as the ratio of the number of deaths by the number of person-years of exposure of the same age group (for a specified time period).",1950,2100
1,80,Central death rate between ages x and x + 1. It is obtained as the ratio of the number of deaths by the number of person-years of exposure of the same age interval (for a specified time period).,1950,2100
2,59,Number of deaths over a given period divided by the person-years lived by the population over that period.,1950,2100
3,69,Number of deaths by single age and by sex over a given period.,1950,2100
4,64,Number of deaths by age groups and by sex over a given period.,1950,2100
5,61,The average number of years of life expected by a hypothetical cohort of individuals who would be subject throughout their lives to the age-specific mortality rates of a given period.,1950,2100
6,75,"Expectation of life at age x is the average number of years remaining to be lived by those surviving to that age, based on a given set of age-specific rates of dying. It is derived by dividing the total person-years that would be lived beyond age x by the number of persons who survived to that age interval (Tx / lx).",1950,2100
7,76,"Expectation of life at age x is the average number of years remaining to be lived by those surviving to that age, based on a given set of age-specific rates of dying. It is derived by dividing the total person-years that would be lived beyond age x by the number of persons who survived to that age interval (Tx / lx).",1950,2100
8,62,Probability of dying between the fifteen and fiftieth birthdays.,1950,2100
9,63,Probability of dying between the fifteen and sixtieth birthdays.,1950,2100
10,81,"Probability of an individual age x dying before the end of the age interval (x, x+n) where n is the length of the interval.",1950,2100
11,82,Probability of an individual age x dying between ages x and x + 1.,1950,2100
12,77,"Number of persons from the original hypothetical cohort of 100,000 live births who survive to the beginning of each age interval.",1950,2100
13,78,"Number of persons from the original hypothetical cohort of 100,000 live births who survive to the beginning of each age interval.",1950,2100
14,60,Number of deaths over a given period.,1950,2100

In [20]:
# Stores indicator codes in a list
indicator_mort_codes = [str(code) for code in df_mort_indicators["indicatorId"].values]

# Converts indicator code list into string to be used in later API call
indicator_mort_string = ",".join(indicator_mort_codes)
indicator_mort_string

'79,80,59,69,64,61,75,76,62,63,81,82,77,78,60'

### Asi tendriamos una funcion para extraer los datos

In [23]:
base_url_UNPD = "https://population.un.org/dataportalapi/api/v1"
country = "4,8"  # set the country code
indicator_code = 60  # set the indicator code <-----ESTO SE CAMBIA
start_year = 1990  # set the start year
end_year = 2020  # set the end year
topick = (
    "mort"  # set the topic to change the parquet name file code <----- ESTO SE CAMBIA
)

# define the target URL
target = (
    base_url_UNPD
    + f"/data/indicators/{indicator_code}/locations/{country}/start/{start_year}/end/{end_year}"
)

response = requests.get(target)  # Call the API
j = response.json()  # Format response as JSON
df_UNPD = pd.json_normalize(j["data"])  # Read JSON data into dataframe

# As long as the response contains information in the 'nextPage' field, the loop will continue to download and append data
while j["nextPage"] is not None:
    response = requests.get(j["nextPage"])
    j = response.json()
    df_temp = pd.json_normalize(j["data"])
    df_UNPD = pd.concat([df_UNPD, df_temp], ignore_index=True)

df_UNPD

# Verifies that the number of records available from API call matches the length of the dataframe
# assert (
#     len(df_UNPD) == j["total"]
# ), "DataFrame observations do not match total number of records in response"

# df_UNPD.to_parquet(f"../datasets/df_UNPD_{topick}_{indicator_code}.parquet")

,locationId,location,iso3,iso2,locationTypeId,indicatorId,indicator,indicatorDisplayName,sourceId,source,revision,variantId,variant,variantShortName,variantLabel,timeId,timeLabel,timeMid,categoryId,category,estimateTypeId,estimateType,estimateMethodId,estimateMethod,sexId,sex,ageId,ageLabel,ageStart,ageEnd,ageMid,value
0,4,Afghanistan,AFG,AF,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,41,1990,1990.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,1,Male,188,Total,0,-1,0,110102
1,4,Afghanistan,AFG,AF,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,41,1990,1990.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,2,Female,188,Total,0,-1,0,93412
2,4,Afghanistan,AFG,AF,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,41,1990,1990.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,3,Both sexes,188,Total,0,-1,0,203514
3,4,Afghanistan,AFG,AF,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,42,1991,1991.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,1,Male,188,Total,0,-1,0,104274
4,4,Afghanistan,AFG,AF,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,42,1991,1991.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,2,Female,188,Total,0,-1,0,88257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,8,Albania,ALB,AL,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,70,2019,2019.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,2,Female,188,Total,0,-1,0,10232
182,8,Albania,ALB,AL,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,70,2019,2019.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,3,Both sexes,188,Total,0,-1,0,24410
183,8,Albania,ALB,AL,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,71,2020,2020.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,1,Male,188,Total,0,-1,0,18095
184,8,Albania,ALB,AL,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,71,2020,2020.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,2,Female,188,Total,0,-1,0,12876
185,8,Albania,ALB,AL,4,60,Total deaths by sex,Total deaths by sex,25,World Population Prospects,0,4,Median,Median,Median,71,2020,2020.5,0,Not applicable,1,Model-based Estimates,2,Interpolation,3,Both sexes,188,Total,0,-1,0,30970

Estos son los países que en primer instancia no van a formar parte de los seleccionados

Lectura de un archivo parquet

In [26]:
read_data = pd.read_parquet("../data_lake/df_OMS_NCD_BMI_30A.parquet")
read_data

,Id,IndicatorCode,SpatialDim,TimeDimensionValue,Dim1Type,Dim1,NumericValue,Low,High
0,15433360.0,NCD_BMI_30A,SDF,1975,SEX,MLE,0.7,0.2,1.9
1,15433361.0,NCD_BMI_30A,SDF,1982,SEX,MLE,0.9,0.3,2.0
2,15433362.0,NCD_BMI_30A,SDF,1988,SEX,MLE,1.1,0.5,2.3
3,15433363.0,NCD_BMI_30A,SDF,1999,SEX,MLE,1.9,0.9,3.4
4,15433364.0,NCD_BMI_30A,SDF,2007,SEX,MLE,2.9,1.6,4.9
...,...,...,...,...,...,...,...,...,...
26040,NaN,None,None,None,None,None,NaN,NaN,NaN
26041,NaN,None,None,None,None,None,NaN,NaN,NaN
26042,NaN,None,None,None,None,None,NaN,NaN,NaN
26043,NaN,None,None,None,None,None,NaN,NaN,NaN
26044,NaN,None,None,None,None,None,NaN,NaN,NaN

Revisamos una información básica de los dataframes

In [43]:
directory = "../data_lake/"
# Let's iterate each parquet file and get some basic information
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f.endswith(".parquet"):
        print("========" + filename.rstrip(".parquet").upper() + "========", end="\n")
        df = pd.read_parquet(f)
        df.replace("", float("NaN"), inplace=True)
        print("====Basic info about the dataframe====", end="\n")
        print(df.info(), end="\n")
        print("====Sum the null in each column====", end="\n")
        print(df.isnull().sum(), end="\n")
        print("====Describe numeric columns====", end="\n")
        print(df.describe(), end="\n")
        print("====Get a sample of 5 rows====", end="\n")
        print(df.sample(5), end="\n")
        print(end="\n")

========DF_UNPD_MORT_22========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          22.0      2.000000     30.626605
std            0.0      0.816516     30.690118
min           22.0      1.000000      0.414920
25%           22.0      1.000000      8.491128
50%           22.0      2.000000     17.928645
75%           22.0      3.000000     43.825403
max           22.0      3.000000    244.050950
====Get a sample of 5 rows====
                  location iso3 timeLabel  indicatorId  \
4714               Czechia  CZE      2011           22
15174          Timor-Leste  TLS      1995           22
17537             Zimbabwe  ZWE      2007           22
3966               Mayotte  MYT      2010           22
18907  Trinidad and Tobago  TTO      1999           22

                         indicator  sexId         sex      value
4714   Infant mortality rate (IMR)      2      Female    2.22575
15174  Infant mortality rate (IMR)      1        Male  131.12820
17537  Infant mortality rate (IMR)      3  Both sexes   59.88110
3966   Infant mortality rate (IMR)      1        Male    5.25080
18907  Infant mortality rate (IMR)      2      Female   22.38411

========DF_TWB_SP.DYN.LE00.MA.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               577
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7669.000000   0.0         0.0   8246.0
mean     66.093333   NaN         NaN      0.0
std       9.057539   NaN         NaN      0.0
min      24.834000   NaN         NaN      0.0
25%      60.600000   NaN         NaN      0.0
50%      67.820000   NaN         NaN      0.0
75%      72.807635   NaN         NaN      0.0
max      82.900000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date   value  unit  obs_status  decimal  \
6115             OMN  2012  74.369   NaN         NaN        0
3353             SLV  2015  67.571   NaN         NaN        0
5961             NER  2011  57.074   NaN         NaN        0
5041             LBY  2001  69.389   NaN         NaN        0
2632             CAN  1992  74.700   NaN         NaN        0

           indicator.id                             indicator.value  \
6115  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
3353  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
5961  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
5041  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
2632  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)

     country.id country.value
6115         OM          Omán
3353         SV   El Salvador
5961         NE         Níger
5041         LY         Libia
2632         CA        Canadá

========DF_UNPD_POP_54========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         54.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         54.0      25.0       0.0
25%     222.000000             4.0         54.0      25.0       0.0
50%     439.000000             4.0         54.0      25.0       0.0
75%     646.000000             4.0         54.0      25.0       0.0
max     894.000000             4.0         54.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0   7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    383.864741
std       0.0     0.0       0.0     0.0     0.0   1916.802764
min       3.0   188.0       0.0    -1.0     0.0      0.191619
25%       3.0   188.0       0.0    -1.0     0.0     30.320730
50%       3.0   188.0       0.0    -1.0     0.0     81.046553
75%       3.0   188.0       0.0    -1.0     0.0    195.887725
max       3.0   188.0       0.0    -1.0     0.0  24879.530201
====Get a sample of 5 rows====
      locationId  location iso3 iso2  locationTypeId  indicatorId  \
6387         792   Türkiye  TUR   TR               4           54
531           64    Bhutan  BTN   BT               4           54
2373         296  Kiribati  KIR   KI               4           54
702           84    Belize  BLZ   BZ               4           54
1861         233   Estonia  EST   EE               4           54

               indicator                        indicatorDisplayName  \
6387  Population density  Population density (persons per square km)
531   Population density  Population density (persons per square km)
2373  Population density  Population density (persons per square km)
702   Population density  Population density (persons per square km)
1861  Population density  Population density (persons per square km)

      sourceId                      source  revision  variantId variant  \
6387        25  World Population Prospects         0          4  Median
531         25  World Population Prospects         0          4  Median
2373        25  World Population Prospects         0          4  Median
702         25  World Population Prospects         0          4  Median
1861        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6387           Median       Median      42      1991  1991.5           0
531            Median       Median      45      1994  1994.5           0
2373           Median       Median      58      2007  2007.5           0
702            Median       Median      61      2010  2010.5           0
1861           Median       Median      42      1991  1991.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
6387  Not applicable               1  Model-based Estimates                 2
531   Not applicable               1  Model-based Estimates                 2
2373  Not applicable               1  Model-based Estimates                 2
702   Not applicable               1  Model-based Estimates                 2
1861  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
6387  Interpolation      3  Both sexes    188    Total         0      -1
531   Interpolation      3  Both sexes    188    Total         0      -1
2373  Interpolation      3  Both sexes    188    Total         0      -1
702   Interpolation      3  Both sexes    188    Total         0      -1
1861  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid       value
6387       0   71.882646
531        0   13.576587
2373       0  140.493113
702        0   14.121285
1861       0   36.019579

========DF_UNPD_IMIGRT_65========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   int64
dtypes: int64(2), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         value
count       7006.0  7.006000e+03
mean          65.0 -6.804854e+03
std            0.0  1.460545e+05
min           65.0 -2.290411e+06
25%           65.0 -1.722525e+04
50%           65.0 -5.875000e+02
75%           65.0  5.977250e+03
max           65.0  1.834556e+06
====Get a sample of 5 rows====
               location iso3 timeLabel  indicatorId            indicator  \
5129              Qatar  QAT      2004           65  Total net-migration
980            Cameroon  CMR      2009           65  Total net-migration
2435            Grenada  GRD      2007           65  Total net-migration
915             Belarus  BLR      2006           65  Total net-migration
795   Brunei Darussalam  BRN      2010           65  Total net-migration

             sex  value
5129  Both sexes  12430
980   Both sexes -10203
2435  Both sexes   -447
915   Both sexes  -9732
795   Both sexes    468

========DF_TWB_SP.URB.TOTL.IN.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            8144 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              102
dtype: int64
====Describe numeric columns====
             value
count  8144.000000
mean     55.759260
std      23.500073
min       5.416000
25%      35.841572
50%      54.861368
75%      74.797000
max     100.000000
====Get a sample of 5 rows====
     countryiso3code  date      value
2674             CAF  2012  39.388000
6143             PAK  2015  36.026000
6042             MKD  1992  58.764000
3062             CUB  1996  74.426000
613              IDB  1996  32.417402

========DF_OMS_NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  20950 non-null  float64
 1   IndicatorCode       20950 non-null  object
 2   SpatialDim          20950 non-null  object
 3   TimeDimensionValue  20950 non-null  object
 4   Dim1Type            20950 non-null  object
 5   Dim1                20950 non-null  object
 6   NumericValue        20900 non-null  float64
 7   Low                 20950 non-null  float64
 8   High                20950 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB
None
====Sum the null in each column====
Id                     9
IndicatorCode          9
SpatialDim             9
TimeDimensionValue     9
Dim1Type               9
Dim1                   9
NumericValue          59
Low                    9
High                   9
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.095000e+04  20900.000000  20950.000000  20950.000000
mean   2.766507e+07     17.125612     11.682773     24.840969
std    1.045053e+06     13.986791     11.444164     17.171026
min    2.574345e+07      0.100000      0.000000      0.300000
25%    2.820284e+07      6.100000      2.400000     11.200000
50%    2.822379e+07     14.800000      8.600000     23.600000
75%    2.824473e+07     24.600000     16.900000     37.000000
max    2.828216e+07     66.100000     56.600000     77.000000
====Get a sample of 5 rows====
               Id                           IndicatorCode SpatialDim  \
6771   28208967.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        LBY
10728  28224795.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        LKA
10980  28225812.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        MLI
15541  28244060.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        ROU
2252   25745700.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        CHE

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
6771                2011  SEVERITY    SEVERE           0.9   0.1   3.5
10728               2012  SEVERITY  MODERATE           9.6   6.2  14.7
10980               2001  SEVERITY  MODERATE          33.8  28.8  38.6
15541               2006  SEVERITY      MILD          14.1   7.1  25.1
2252                2019       SEX      FMLE          11.3   6.1  23.9

========DF_TWB_SH.STA.BASS.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5390 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2856
dtype: int64
====Describe numeric columns====
             value
count  5390.000000
mean     72.147471
std      29.073479
min       2.755094
25%      48.473218
50%      84.605854
75%      97.535682
max     100.000004
====Get a sample of 5 rows====
     countryiso3code  date      value
5091             LTU  2013  91.177617
3487             SWZ  2005  51.998887
5496             FSM  2011  71.294585
1918             AZE  1993        NaN
8104             VIR  2007  99.125931

========DF_TWB_SI.POV.GINI========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            1735 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              6511
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  1735.000000   0.0         0.0   8246.0
mean     38.179712   NaN         NaN      1.0
std       8.944772   NaN         NaN      0.0
min      20.700000   NaN         NaN      1.0
25%      31.250000   NaN         NaN      1.0
50%      36.100000   NaN         NaN      1.0
75%      43.750000   NaN         NaN      1.0
max      65.800000   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
4211             HKG  1994    NaN   NaN         NaN        1  SI.POV.GINI
3330             EGY  2007    NaN   NaN         NaN        1  SI.POV.GINI
34               AFW  2017    NaN   NaN         NaN        1  SI.POV.GINI
2132             BLZ  1996   56.6   NaN         NaN        1  SI.POV.GINI
577              IBT  2001    NaN   NaN         NaN        1  SI.POV.GINI

     indicator.value country.id                              country.value
4211  Índice de Gini         HK  Hong Kong, Región Administrativa Especial
3330  Índice de Gini         EG                 Egipto, República Árabe de
34    Índice de Gini         ZI                                        NaN
2132  Índice de Gini         BZ                                     Belice
577   Índice de Gini         ZT                              BIRF y la AIF

========DF_UNPD_POP_49========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         49.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         49.0      25.0       0.0
25%      222.000000             4.0         49.0      25.0       0.0
50%      439.000000             4.0         49.0      25.0       0.0
75%      646.000000             4.0         49.0      25.0       0.0
max      894.000000             4.0         49.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.842095e+07
std        0.816516      0.0       0.0      0.0      0.0  8.420676e+07
min        1.000000    188.0       0.0     -1.0      0.0  6.550000e+02
25%        1.000000    188.0       0.0     -1.0      0.0  2.673850e+05
50%        2.000000    188.0       0.0     -1.0      0.0  2.866508e+06
75%        3.000000    188.0       0.0     -1.0      0.0  1.063895e+07
max        3.000000    188.0       0.0     -1.0      0.0  1.424930e+09
====Get a sample of 5 rows====
       locationId           location iso3 iso2  locationTypeId  indicatorId  \
5352          226  Equatorial Guinea  GNQ   GQ               4           49
3132          136     Cayman Islands  CYM   KY               4           49
16496         682       Saudi Arabia  SAU   SA               4           49
17542         716           Zimbabwe  ZWE   ZW               4           49
15898         654       Saint Helena  SHN   SH               4           49

                     indicator     indicatorDisplayName  sourceId  \
5352   Total population by sex  Total population by sex        25
3132   Total population by sex  Total population by sex        25
16496  Total population by sex  Total population by sex        25
17542  Total population by sex  Total population by sex        25
15898  Total population by sex  Total population by sex        25

                           source  revision  variantId variant  \
5352   World Population Prospects         0          4  Median
3132   World Population Prospects         0          4  Median
16496  World Population Prospects         0          4  Median
17542  World Population Prospects         0          4  Median
15898  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
5352            Median       Median      58      2007  2007.5           0
3132            Median       Median      62      2011  2011.5           0
16496           Median       Median      52      2001  2001.5           0
17542           Median       Median      60      2009  2009.5           0
15898           Median       Median      70      2019  2019.5           0

             category  estimateTypeId           estimateType  \
5352   Not applicable               1  Model-based Estimates
3132   Not applicable               1  Model-based Estimates
16496  Not applicable               1  Model-based Estimates
17542  Not applicable               1  Model-based Estimates
15898  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
5352                  2  Interpolation      1        Male    188    Total
3132                  2  Interpolation      1        Male    188    Total
16496                 2  Interpolation      3  Both sexes    188    Total
17542                 2  Interpolation      2      Female    188    Total
15898                 2  Interpolation      2      Female    188    Total

       ageStart  ageEnd  ageMid     value
5352          0      -1       0    491133
3132          0      -1       0     27569
16496         0      -1       0  22085930
17542         0      -1       0   6714017
15898         0      -1       0      2655

========DF_TWB_SH.XPD.CHEX.PC.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4694 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              3552
dtype: int64
====Describe numeric columns====
              value
count   4694.000000
mean     859.108699
std     1537.990652
min        4.335375
25%       63.036741
50%      238.170045
75%      733.621240
max    10921.012695
====Get a sample of 5 rows====
     countryiso3code  date       value
1272             SST  2019  642.823486
3301             ECU  2005  167.945816
8158             YEM  2015   73.176743
7032             ZAF  1994         NaN
6296             PER  2017  334.823334

========DF_TWB_NY.GDP.MKTP.PP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7246 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1000
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
              value  unit  obs_status  decimal
count  7.246000e+03   0.0         0.0   8246.0
mean   2.767189e+12   NaN         NaN      0.0
std    9.317448e+12   NaN         NaN      0.0
min    1.465840e+07   NaN         NaN      0.0
25%    1.338723e+10   NaN         NaN      0.0
50%    8.505173e+10   NaN         NaN      0.0
75%    8.542823e+11   NaN         NaN      0.0
max    1.354475e+14   NaN         NaN      0.0
====Get a sample of 5 rows====

     countryiso3code  date         value  unit  obs_status  decimal  \
4188             HKG  2017  4.424254e+11   NaN         NaN        0
5403             MRT  2011  1.520634e+10   NaN         NaN        0
2466             BFA  2003  1.357655e+10   NaN         NaN        0
3086             CUW  2003  3.102290e+09   NaN         NaN        0
982              MNA  1999  1.871530e+12   NaN         NaN        0

           indicator.id                                  indicator.value  \
4188  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
5403  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
2466  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
3086  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
982   NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)

     country.id                                              country.value
4188         HK                  Hong Kong, Región Administrativa Especial
5403         MR                                                 Mauritania
2466         BF                                               Burkina Faso
3086         CW                                                    Curacao
982          XQ  Oriente Medio y Norte de África (excluido altos ingresos)

========DF_UNPD_MORT_60========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         60.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         60.0      25.0       0.0
25%      222.000000             4.0         60.0      25.0       0.0
50%      439.000000             4.0         60.0      25.0       0.0
75%      646.000000             4.0         60.0      25.0       0.0
max      894.000000             4.0         60.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.501060e+05
std        0.816516      0.0       0.0      0.0      0.0  6.202798e+05
min        1.000000    188.0       0.0     -1.0      0.0  6.000000e+00
25%        1.000000    188.0       0.0     -1.0      0.0  1.510000e+03
50%        2.000000    188.0       0.0     -1.0      0.0  2.350200e+04
75%        3.000000    188.0       0.0     -1.0      0.0  9.519525e+04
max        3.000000    188.0       0.0     -1.0      0.0  1.034623e+07
====Get a sample of 5 rows====
       locationId                          location iso3 iso2  locationTypeId  \
15824         654                      Saint Helena  SHN   SH               4
19176         792                           Türkiye  TUR   TR               4
13162         535  Bonaire, Sint Eustatius and Saba  BES   BQ               4
1030           44                           Bahamas  BHS   BS               4
16535         682                      Saudi Arabia  SAU   SA               4

       indicatorId            indicator indicatorDisplayName  sourceId  \
15824           60  Total deaths by sex  Total deaths by sex        25
19176           60  Total deaths by sex  Total deaths by sex        25
13162           60  Total deaths by sex  Total deaths by sex        25
1030            60  Total deaths by sex  Total deaths by sex        25
16535           60  Total deaths by sex  Total deaths by sex        25

                           source  revision  variantId variant  \
15824  World Population Prospects         0          4  Median
19176  World Population Prospects         0          4  Median
13162  World Population Prospects         0          4  Median
1030   World Population Prospects         0          4  Median
16535  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
15824           Median       Median      45      1994  1994.5           0
19176           Median       Median      47      1996  1996.5           0
13162           Median       Median      57      2006  2006.5           0
1030            Median       Median      43      1992  1992.5           0
16535           Median       Median      65      2014  2014.5           0

             category  estimateTypeId           estimateType  \
15824  Not applicable               1  Model-based Estimates
19176  Not applicable               1  Model-based Estimates
13162  Not applicable               1  Model-based Estimates
1030   Not applicable               1  Model-based Estimates
16535  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
15824                 2  Interpolation      3  Both sexes    188    Total
19176                 2  Interpolation      1        Male    188    Total
13162                 2  Interpolation      2      Female    188    Total
1030                  2  Interpolation      2      Female    188    Total
16535                 2  Interpolation      3  Both sexes    188    Total

       ageStart  ageEnd  ageMid   value
15824         0      -1       0      57
19176         0      -1       0  208416
13162         0      -1       0      50
1030          0      -1       0     739
16535         0      -1       0   79853

========DF_UNPD_POP_53========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====

        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         53.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         53.0      25.0       0.0
25%     222.000000             4.0         53.0      25.0       0.0
50%     439.000000             4.0         53.0      25.0       0.0
75%     646.000000             4.0         53.0      25.0       0.0
max     894.000000             4.0         53.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    14.441731
std       0.0     0.0       0.0     0.0     0.0    10.963369
min       3.0   188.0       0.0    -1.0     0.0   -62.082000
25%       3.0   188.0       0.0    -1.0     0.0     4.874500
50%       3.0   188.0       0.0    -1.0     0.0    14.018000
75%       3.0   188.0       0.0    -1.0     0.0    23.992000
max       3.0   188.0       0.0    -1.0     0.0    42.025000
====Get a sample of 5 rows====
      locationId                    location iso3 iso2  locationTypeId  \
3240         414                      Kuwait  KWT   KW               4
5800         710                South Africa  ZAF   ZA               4
2796         360                   Indonesia  IDN   ID               4
3300         418  Lao People's Dem. Republic  LAO   LA               4
2074         254               French Guiana  GUF   GF               4

      indicatorId                                   indicator  \
3240           53  Crude rate of natural change of population
5800           53  Crude rate of natural change of population
2796           53  Crude rate of natural change of population
3300           53  Crude rate of natural change of population
2074           53  Crude rate of natural change of population

                            indicatorDisplayName  sourceId  \
3240  Crude rate of natural change of population        25
5800  Crude rate of natural change of population        25
2796  Crude rate of natural change of population        25
3300  Crude rate of natural change of population        25
2074  Crude rate of natural change of population        25

                          source  revision  variantId variant  \
3240  World Population Prospects         0          4  Median
5800  World Population Prospects         0          4  Median
2796  World Population Prospects         0          4  Median
3300  World Population Prospects         0          4  Median
2074  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3240           Median       Median      57      2006  2006.5           0
5800           Median       Median      44      1993  1993.5           0
2796           Median       Median      47      1996  1996.5           0
3300           Median       Median      55      2004  2004.5           0
2074           Median       Median      69      2018  2018.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
3240  Not applicable               1  Model-based Estimates                 2
5800  Not applicable               1  Model-based Estimates                 2
2796  Not applicable               1  Model-based Estimates                 2
3300  Not applicable               1  Model-based Estimates                 2
2074  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
3240  Interpolation      3  Both sexes    188    Total         0      -1
5800  Interpolation      3  Both sexes    188    Total         0      -1
2796  Interpolation      3  Both sexes    188    Total         0      -1
3300  Interpolation      3  Both sexes    188    Total         0      -1
2074  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
3240       0  20.020
5800       0  19.814
2796       0  16.107
3300       0  20.275
2074       0  22.380

========DF_OMS_NUTRITION_ANAEMIA_CHILDREN_PREV========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  20950 non-null  float64
 1   IndicatorCode       20950 non-null  object
 2   SpatialDim          20950 non-null  object
 3   TimeDimensionValue  20950 non-null  object
 4   Dim1Type            20950 non-null  object
 5   Dim1                20950 non-null  object
 6   NumericValue        20950 non-null  float64
 7   Low                 20950 non-null  float64
 8   High                20950 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB
None
====Sum the null in each column====
Id                    9
IndicatorCode         9
SpatialDim            9
TimeDimensionValue    9
Dim1Type              9
Dim1                  9
NumericValue          9
Low                   9
High                  9
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.095000e+04  20950.000000  20950.000000  20950.000000
mean   2.764218e+07     22.107828     15.510368     30.280635
std    1.087079e+06     19.668112     17.339564     21.885502
min    2.563744e+07      0.000000      0.000000      0.100000
25%    2.820283e+07      6.700000      3.000000     13.300000
50%    2.822378e+07     18.400000      9.400000     27.600000
75%    2.824473e+07     30.100000     21.000000     43.175000
max    2.828180e+07     88.400000     86.100000     91.600000
====Get a sample of 5 rows====
               Id                    IndicatorCode SpatialDim  \
20451  28279286.0  NUTRITION_ANAEMIA_CHILDREN_PREV     GLOBAL
19505  28259907.0  NUTRITION_ANAEMIA_CHILDREN_PREV        SAU
11503  28227896.0  NUTRITION_ANAEMIA_CHILDREN_PREV        PNG
15068  28242163.0  NUTRITION_ANAEMIA_CHILDREN_PREV        MYS
14543  28240061.0  NUTRITION_ANAEMIA_CHILDREN_PREV        LBN

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
20451               2001  SEVERITY    SEVERE           2.9   2.4   3.4
19505               2004  SEVERITY     TOTAL          26.6  13.2  45.4
11503               2011  SEVERITY  MODERATE          22.7  13.2  33.9
15068               2008  SEVERITY      MILD          15.1   7.5  24.0
14543               2006  SEVERITY      MILD          15.8   8.3  24.6

========DF_UNPD_IMIGRT_66========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       7006.0  7006.000000
mean          66.0    -0.381888
std            0.0    17.815493
min           66.0  -526.323000
25%           66.0    -4.002500
50%           66.0    -0.535000
75%           66.0     2.721250
max           66.0   415.239000
====Get a sample of 5 rows====
                    location iso3 timeLabel  indicatorId  \
1388  Dem. Rep. of the Congo  COD      2014           66
268                Argentina  ARG      2010           66
4479             New Zealand  NZL      2005           66
5507            Saudi Arabia  SAU      2010           66
4556                   Niger  NER      2020           66

                        indicator         sex  value
1388  Crude rate of net migration  Both sexes  0.486
268   Crude rate of net migration  Both sexes -0.121
4479  Crude rate of net migration  Both sexes  4.644
5507  Crude rate of net migration  Both sexes  8.088
4556  Crude rate of net migration  Both sexes -0.181

========DF_TWB_SH.STA.SUIC.P5========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4620 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              3626
dtype: int64
====Describe numeric columns====
             value
count  4620.000000
mean     10.554321
std       8.262731
min       0.000000
25%       5.400000
50%       8.500000
75%      13.200000
max      92.600000
====Get a sample of 5 rows====
     countryiso3code  date  value
3639             FRA  2008   18.2
5101             LTU  2003   45.4
5547             MDA  1991    NaN
1517             WLD  1991    NaN
6915             SVN  2018   17.8

========DF_TWB_SE.COM.DURS========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5320 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2926
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  5320.000000   0.0         0.0   8246.0
mean      9.363910   NaN         NaN      0.0
std       2.146495   NaN         NaN      0.0
min       0.000000   NaN         NaN      0.0
25%       8.000000   NaN         NaN      0.0
50%       9.000000   NaN         NaN      0.0
75%      10.000000   NaN         NaN      0.0
max      17.000000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
327              ECS  2003    9.0   NaN         NaN        0  SE.COM.DURS
6757             SRB  1990    NaN   NaN         NaN        0  SE.COM.DURS
1032             MIC  2011    9.0   NaN         NaN        0  SE.COM.DURS
5004             LBR  2007    6.0   NaN         NaN        0  SE.COM.DURS
7134             KNA  2016   12.0   NaN         NaN        0  SE.COM.DURS

                             indicator.value country.id          country.value
327   Educación obligatoria, duración (años)         Z7  Europa y Asia central
6757  Educación obligatoria, duración (años)         RS                 Serbia
1032  Educación obligatoria, duración (años)         XP        Ingreso mediano
5004  Educación obligatoria, duración (años)         LR                Liberia
7134  Educación obligatoria, duración (años)         KN    Saint Kitts y Nevis

========DF_OMS_NCD_BMI_30A========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26045 entries, 0 to 26044
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  26036 non-null  float64
 1   IndicatorCode       26036 non-null  object
 2   SpatialDim          26036 non-null  object
 3   TimeDimensionValue  26036 non-null  object
 4   Dim1Type            26036 non-null  object
 5   Dim1                26036 non-null  object
 6   NumericValue        25532 non-null  float64
 7   Low                 25532 non-null  float64
 8   High                25532 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.8+ MB
None
====Sum the null in each column====
Id                      9
IndicatorCode           9
SpatialDim              9
TimeDimensionValue      9
Dim1Type                9
Dim1                    9
NumericValue          513
Low                   513
High                  513
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.603600e+04  25532.000000  25532.000000  25532.000000
mean   1.604230e+07     12.213802      9.131744     15.841352
std    3.517994e+04     10.278428      8.742522     11.885698
min    1.543336e+07      0.100000      0.000000      0.200000
25%    1.603684e+07      3.800000      2.200000      5.900000
50%    1.604335e+07     10.300000      6.900000     14.300000
75%    1.604986e+07     17.900000     13.700000     22.600000
max    1.613296e+07     63.300000     55.600000     70.800000
====Get a sample of 5 rows====
               Id IndicatorCode SpatialDim TimeDimensionValue Dim1Type  Dim1  \
6244   16036578.0   NCD_BMI_30A        MMR               2007      SEX  BTSX
20835  16051169.0   NCD_BMI_30A        ITA               1982      SEX   MLE
11258  16041592.0   NCD_BMI_30A        CZE               1981      SEX  FMLE
737    16029643.0   NCD_BMI_30A        WPR               2002      SEX  FMLE
12883  16043217.0   NCD_BMI_30A        JAM               2010      SEX  FMLE

       NumericValue   Low  High
6244            3.4   2.4   4.6
20835           8.2   5.8  11.0
11258          19.5  13.7  26.1
737             3.6   3.1   4.2
12883          29.7  24.0  35.4

========DF_UNPD_POP_72========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         72.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         72.0      25.0       0.0
25%     222.000000             4.0         72.0      25.0       0.0
50%     439.000000             4.0         72.0      25.0       0.0
75%     646.000000             4.0         72.0      25.0       0.0
max     894.000000             4.0         72.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0   100.718104
std       0.0     0.0       0.0     0.0     0.0    15.886405
min       3.0   188.0       0.0    -1.0     0.0    82.170955
25%       3.0   188.0       0.0    -1.0     0.0    95.687958
50%       3.0   188.0       0.0    -1.0     0.0    98.679200
75%       3.0   188.0       0.0    -1.0     0.0   101.766534
max       3.0   188.0       0.0    -1.0     0.0   327.456193
====Get a sample of 5 rows====
      locationId          location iso3 iso2  locationTypeId  indicatorId  \
5727         704          Viet Nam  VNM   VN               4           72
2572         324            Guinea  GIN   GN               4           72
941          116          Cambodia  KHM   KH               4           72
3575         446  China, Macao SAR  MAC   MO               4           72
3050         392             Japan  JPN   JP               4           72

                              indicator               indicatorDisplayName  \
5727  Sex ratio of the total population  Sex ratio of the total population
2572  Sex ratio of the total population  Sex ratio of the total population
941   Sex ratio of the total population  Sex ratio of the total population
3575  Sex ratio of the total population  Sex ratio of the total population
3050  Sex ratio of the total population  Sex ratio of the total population

      sourceId                      source  revision  variantId variant  \
5727        25  World Population Prospects         0          4  Median
2572        25  World Population Prospects         0          4  Median
941         25  World Population Prospects         0          4  Median
3575        25  World Population Prospects         0          4  Median
3050        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
5727           Median       Median      64      2013  2013.5           0
2572           Median       Median      71      2020  2020.5           0
941            Median       Median      52      2001  2001.5           0
3575           Median       Median      51      2000  2000.5           0
3050           Median       Median      53      2002  2002.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
5727  Not applicable               1  Model-based Estimates                 2
2572  Not applicable               1  Model-based Estimates                 2
941   Not applicable               1  Model-based Estimates                 2
3575  Not applicable               1  Model-based Estimates                 2
3050  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
5727  Interpolation      3  Both sexes    188    Total         0      -1
2572  Interpolation      3  Both sexes    188    Total         0      -1
941   Interpolation      3  Both sexes    188    Total         0      -1
3575  Interpolation      3  Both sexes    188    Total         0      -1
3050  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid      value
5727       0  97.242214
2572       0  97.471504
941        0  96.809716
3575       0  92.505404
3050       0  95.786253

========DF_TWB_SP.DYN.LE00.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              577
dtype: int64
====Describe numeric columns====
             value
count  7669.000000
mean     68.469955
std       9.389406
min      26.172000
25%      62.769966
50%      70.587805
75%      75.401541
max      85.387805
====Get a sample of 5 rows====
     countryiso3code  date      value
2160             BEN  1999  55.218000
7701             TKM  2007  65.695000
1638             ASM  1994        NaN
6535             RUS  1995  64.690732
76               ARB  2006  69.439459

========DF_TWB_NY.GDP.PCAP.CD========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7690 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               556
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
               value  unit  obs_status  decimal
count    7690.000000   0.0         0.0   8246.0
mean    11676.766348   NaN         NaN      1.0
std     19521.904835   NaN         NaN      0.0
min        22.795345   NaN         NaN      1.0
25%      1093.730784   NaN         NaN      1.0
50%      3594.136069   NaN         NaN      1.0
75%     13759.058425   NaN         NaN      1.0
max    189487.147128   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
2897             COD  2006    255.433043   NaN         NaN        1
6658             STP  1996           NaN   NaN         NaN        1
5579             MCO  1990  84303.878435   NaN         NaN        1
7150             KNA  2000   9565.949909   NaN         NaN        1
5045             LBY  1997   5998.160438   NaN         NaN        1

        indicator.id                          indicator.value country.id  \
2897  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         CD
6658  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         ST
5579  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         MC
7150  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         KN
5045  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         LY

                         country.value
2897  Congo, República Democrática del
6658             Santo Tomé y Príncipe
5579                            Mónaco
7150               Saint Kitts y Nevis
5045                             Libia

========DF_TWB_SP.DYN.LE00.FE.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              577
dtype: int64
====Describe numeric columns====
             value
count  7669.000000
mean     70.946840
std       9.859640
min      27.571000
25%      64.539567
50%      73.544612
75%      78.400000
max      88.100000
====Get a sample of 5 rows====
     countryiso3code  date   value
1640             ASM  1992     NaN
7351             CHE  2016  85.600
2733             CHI  2015  84.428
3696             GAB  2013  65.208
3298             ECU  2008  77.694

========DF_TWB_IQ.SCI.OVRL========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            2983 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              5263
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  2983.000000   0.0         0.0   8246.0
mean     65.263466   NaN         NaN      1.0
std      15.574997   NaN         NaN      0.0
min      16.666667   NaN         NaN      1.0
25%      55.555567   NaN         NaN      1.0
50%      66.666667   NaN         NaN      1.0
75%      76.666667   NaN         NaN      1.0
max      98.888900   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
3900             GRC  1995    NaN   NaN         NaN        1  IQ.SCI.OVRL
3667             PYF  2011    NaN   NaN         NaN        1  IQ.SCI.OVRL
412              EUU  2011    NaN   NaN         NaN        1  IQ.SCI.OVRL
1060             NAC  2014    NaN   NaN         NaN        1  IQ.SCI.OVRL
7240             VCT  2003    NaN   NaN         NaN        1  IQ.SCI.OVRL

                                                 indicator.value country.id  \
3900  Nivel general de la capacidad estadística (escala 0 - 100)         GR
3667  Nivel general de la capacidad estadística (escala 0 - 100)         PF
412   Nivel general de la capacidad estadística (escala 0 - 100)         EU
1060  Nivel general de la capacidad estadística (escala 0 - 100)         XU
7240  Nivel general de la capacidad estadística (escala 0 - 100)         VC

                     country.value
3900                        Grecia
3667            Polinesia Francesa
412                  Unión Europea
1060             América del Norte
7240  San Vicente y las Granadinas

========DF_TWB_SP.POP.TOTL.MA.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7493 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               753
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7493.000000   0.0         0.0   8246.0
mean     49.955191   NaN         NaN      0.0
std       2.539738   NaN         NaN      0.0
min      45.435177   NaN         NaN      0.0
25%      49.042295   NaN         NaN      0.0
50%      49.712522   NaN         NaN      0.0
75%      50.431621   NaN         NaN      0.0
max      76.710946   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
7919             USA  2006  49.356104   NaN         NaN        0
1427             TSS  2019  49.897547   NaN         NaN        0
1813             ABW  2005  47.560683   NaN         NaN        0
7949             URY  2007  48.204234   NaN         NaN        0
7300             SUR  2005  50.438573   NaN         NaN        0

           indicator.id                   indicator.value country.id  \
7919  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         US
1427  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         T6
1813  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         AW
7949  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         UY
7300  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         SR

                                 country.value
7919                            Estados Unidos
1427  África al sur del Sahara (BIRF y la AIF)
1813                                     Aruba
7949                                   Uruguay
7300                                  Suriname

========DF_LOCATIONSWITHAGGREGATES========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 0 to 236
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    227 non-null    int64
 1   Name                  227 non-null    object
 2   Iso2                  227 non-null    object
 3   Iso3                  227 non-null    object
 4   Longitude             227 non-null    float64
 5   Latitude              227 non-null    float64
 6   Region                227 non-null    object
 7   SubRegion             227 non-null    object
 8   WorldBankIncomeGroup  227 non-null    object
 9   UNDevelopmentGroup    227 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 19.5+ KB
None
====Sum the null in each column====
Id                      0
Name                    0
Iso2                    0
Iso3                    0
Longitude               0
Latitude                0
Region                  0
SubRegion               0
WorldBankIncomeGroup    0
UNDevelopmentGroup      0
dtype: int64
====Describe numeric columns====
               Id   Longitude    Latitude
count  227.000000  227.000000  227.000000
mean   435.960352   13.363854   17.099326
std    250.001953   73.707585   24.031906
min      4.000000 -178.116501  -51.796253
25%    224.000000  -37.765227    1.924065
50%    438.000000   18.490410   15.870032
75%    644.500000   47.529346   36.172787
max    894.000000  178.679916   64.963051
====Get a sample of 5 rows====
     Id       Name Iso2 Iso3   Longitude   Latitude  \
94  360  Indonesia   ID  IDN  113.921326  -0.789275
91  348    Hungary   HU  HUN   19.503304  47.162495
84  320  Guatemala   GT  GTM  -90.230759  15.783471
85  324     Guinea   GN  GIN   -9.696645   9.945587
28  104    Myanmar   MM  MMR   95.955971  21.916222

                             Region           SubRegion  \
94                             Asia  South-Eastern Asia
91                           Europe      Eastern Europe
84  Latin America and the Caribbean     Central America
85                           Africa      Western Africa
28                             Asia  South-Eastern Asia

             WorldBankIncomeGroup         UNDevelopmentGroup
94  Lower-middle-income countries   Other developing regions
91          High-income countries          Developed regions
84  Upper-middle-income countries   Other developing regions
85           Low-income countries  Least developed countries
28  Lower-middle-income countries  Least developed countries

========DF_UNPD_FAM_1========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6014 entries, 6 to 90449
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     6014 non-null   object
 1   iso3         6014 non-null   object
 2   timeLabel    6014 non-null   object
 3   indicatorId  6014 non-null   int64
 4   indicator    6014 non-null   object
 5   value        6014 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 328.9+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       6014.0  6014.000000
mean           1.0    36.347123
std            0.0    16.967782
min            1.0     2.900000
25%            1.0    23.400000
50%            1.0    36.600000
75%            1.0    49.600000
max            1.0    78.600000
====Get a sample of 5 rows====
           location iso3 timeLabel  indicatorId  \
30818       Grenada  GRD      1998            1
16883       Comoros  COM      1999            1
70244  Saudi Arabia  SAU      2006            1
27998        Gambia  GMB      1996            1
87389  Burkina Faso  BFA      2002            1

                                            indicator  value
30818  Contraceptive prevalence: Any method (Percent)   31.6
16883  Contraceptive prevalence: Any method (Percent)   15.3
70244  Contraceptive prevalence: Any method (Percent)   15.5
27998  Contraceptive prevalence: Any method (Percent)   10.7
87389  Contraceptive prevalence: Any method (Percent)   12.4

========DF_TWB_NY.GNP.PCAP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7118 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1128
dtype: int64
====Describe numeric columns====
               value
count    7118.000000
mean     9962.181831
std     15586.420851
min        40.000000
25%      1000.000000
50%      3319.488968
75%     11237.500000
max    121900.000000
====Get a sample of 5 rows====
     countryiso3code  date         value
1317             SAS  2005    688.323796
5906             NZL  2004  21500.000000
6703             SEN  2013   1340.000000
7084             ESP  2004  22130.000000
7686             TUR  1991   2590.000000

========DF_TWB_SE.XPD.TOTL.GD.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4428 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====

countryiso3code     155
date                  0
value              3818
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  4428.000000   0.0         0.0   8246.0
mean      4.367629   NaN         NaN      1.0
std       1.964361   NaN         NaN      0.0
min       0.000000   NaN         NaN      1.0
25%       3.169903   NaN         NaN      1.0
50%       4.097755   NaN         NaN      1.0
75%       5.140193   NaN         NaN      1.0
max      44.333981   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date    value  unit  obs_status  decimal  \
1440             TSS  2006  3.00992   NaN         NaN        1
4667             KEN  2003  6.49427   NaN         NaN        1
5616             MNE  2015      NaN   NaN         NaN        1
1088             NaN  2017      NaN   NaN         NaN        1
2408             BRN  1999  4.93205   NaN         NaN        1

           indicator.id                                indicator.value  \
1440  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
4667  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
5616  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
1088  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
2408  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)

     country.id                             country.value
1440         T6  África al sur del Sahara (BIRF y la AIF)
4667         KE                                     Kenya
5616         ME                                Montenegro
1088         XY                            No clasificado
2408         BN                         Brunei Darussalam

========DF_UNPD_POP_67========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         67.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         67.0      25.0       0.0
25%     222.000000             4.0         67.0      25.0       0.0
50%     439.000000             4.0         67.0      25.0       0.0
75%     646.000000             4.0         67.0      25.0       0.0
max     894.000000             4.0         67.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    26.339441
std       0.0     0.0       0.0     0.0     0.0     8.526796
min       3.0   188.0       0.0    -1.0     0.0    13.528263
25%       3.0   188.0       0.0    -1.0     0.0    18.459661
50%       3.0   188.0       0.0    -1.0     0.0    24.994464
75%       3.0   188.0       0.0    -1.0     0.0    33.695728
max       3.0   188.0       0.0    -1.0     0.0    54.456523
====Get a sample of 5 rows====
      locationId    location iso3 iso2  locationTypeId  indicatorId  \
6019         748    Eswatini  SWZ   SZ               4           67
3062         392       Japan  JPN   JP               4           67
992          132  Cabo Verde  CPV   CV               4           67
3862         480   Mauritius  MUS   MU               4           67
4291         531     Curaçao  CUW   CW               4           67

                     indicator                indicatorDisplayName  sourceId  \
6019  Median age of population  Median age of the total population        25
3062  Median age of population  Median age of the total population        25
992   Median age of population  Median age of the total population        25
3862  Median age of population  Median age of the total population        25
4291  Median age of population  Median age of the total population        25

                          source  revision  variantId variant  \
6019  World Population Prospects         0          4  Median
3062  World Population Prospects         0          4  Median
992   World Population Prospects         0          4  Median
3862  World Population Prospects         0          4  Median
4291  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6019           Median       Median      46      1995  1995.5           0
3062           Median       Median      65      2014  2014.5           0
992            Median       Median      41      1990  1990.5           0
3862           Median       Median      59      2008  2008.5           0
4291           Median       Median      54      2003  2003.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
6019  Not applicable               1  Model-based Estimates                 2
3062  Not applicable               1  Model-based Estimates                 2
992   Not applicable               1  Model-based Estimates                 2
3862  Not applicable               1  Model-based Estimates                 2
4291  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
6019  Interpolation      3  Both sexes    188    Total         0      -1
3062  Interpolation      3  Both sexes    188    Total         0      -1
992   Interpolation      3  Both sexes    188    Total         0      -1
3862  Interpolation      3  Both sexes    188    Total         0      -1
4291  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid      value
6019       0  15.031514
3062       0  45.514373
992        0  15.298579
3862       0  30.658705
4291       0  34.443665

========DF_TWB_SP.DYN.IMRT.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7471 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              775
dtype: int64
====Describe numeric columns====
             value
count  7471.000000
mean     35.125306
std      30.935373
min       1.500000
25%      10.200000
50%      24.700000
75%      53.000000
max     190.600000
====Get a sample of 5 rows====
     countryiso3code  date    value
2382             VGB  1994      NaN
5971             NER  2001  93.7000
3497             SWZ  1995  57.6000
1346             TSA  2007  54.0954
5167             MAC  1999      NaN

========DF_UNPD_MORT_59========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         59.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         59.0      25.0       0.0
25%     222.000000             4.0         59.0      25.0       0.0
50%     439.000000             4.0         59.0      25.0       0.0
75%     646.000000             4.0         59.0      25.0       0.0
max     894.000000             4.0         59.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     8.550039
std       0.0     0.0       0.0     0.0     0.0     3.974595
min       3.0   188.0       0.0    -1.0     0.0     0.795000
25%       3.0   188.0       0.0    -1.0     0.0     6.019250
50%       3.0   188.0       0.0    -1.0     0.0     7.733500
75%       3.0   188.0       0.0    -1.0     0.0    10.309750
max       3.0   188.0       0.0    -1.0     0.0   103.534000
====Get a sample of 5 rows====
      locationId   location iso3 iso2  locationTypeId  indicatorId  \
2532         320  Guatemala  GTM   GT               4           59
6241         772    Tokelau  TKL   TK               4           59
3518         440  Lithuania  LTU   LT               4           59
6613         818      Egypt  EGY   EG               4           59
3153         404      Kenya  KEN   KE               4           59

             indicator                            indicatorDisplayName  \
2532  Crude death rate  Crude death rate (deaths per 1,000 population)
6241  Crude death rate  Crude death rate (deaths per 1,000 population)
3518  Crude death rate  Crude death rate (deaths per 1,000 population)
6613  Crude death rate  Crude death rate (deaths per 1,000 population)
3153  Crude death rate  Crude death rate (deaths per 1,000 population)

      sourceId                      source  revision  variantId variant  \
2532        25  World Population Prospects         0          4  Median
6241        25  World Population Prospects         0          4  Median
3518        25  World Population Prospects         0          4  Median
6613        25  World Population Prospects         0          4  Median
3153        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
2532           Median       Median      62      2011  2011.5           0
6241           Median       Median      51      2000  2000.5           0
3518           Median       Median      56      2005  2005.5           0
6613           Median       Median      51      2000  2000.5           0
3153           Median       Median      63      2012  2012.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
2532  Not applicable               1  Model-based Estimates                 2
6241  Not applicable               1  Model-based Estimates                 2
3518  Not applicable               1  Model-based Estimates                 2
6613  Not applicable               1  Model-based Estimates                 2
3153  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
2532  Interpolation      3  Both sexes    188    Total         0      -1
6241  Interpolation      3  Both sexes    188    Total         0      -1
3518  Interpolation      3  Both sexes    188    Total         0      -1
6613  Interpolation      3  Both sexes    188    Total         0      -1
3153  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
2532       0   5.233
6241       0   7.546
3518       0  13.417
6613       0   6.384
3153       0   7.453

========DF_TWB_SH.H2O.BASW.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5419 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2827
dtype: int64
====Describe numeric columns====
             value
count  5419.000000
mean     85.312561
std      17.840173
min      18.085445
25%      78.554913
50%      93.341866
75%      99.035578
max     100.000005
====Get a sample of 5 rows====
     countryiso3code  date       value
3911             GRL  2015  100.000000
1501             WLD  2007   84.847276
6791             SLE  2018   61.408600
3617             FIN  1999         NaN
7604             TTO  2011   96.135575

========DF_UNPD_POP_51========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         51.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         51.0      25.0       0.0
25%     222.000000             4.0         51.0      25.0       0.0
50%     439.000000             4.0         51.0      25.0       0.0
75%     646.000000             4.0         51.0      25.0       0.0
max     894.000000             4.0         51.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     1.390488
std       0.0     0.0       0.0     0.0     0.0     2.131548
min       3.0   188.0       0.0    -1.0     0.0   -71.689000
25%       3.0   188.0       0.0    -1.0     0.0     0.400000
50%       3.0   188.0       0.0    -1.0     0.0     1.344500
75%       3.0   188.0       0.0    -1.0     0.0     2.386750
max       3.0   188.0       0.0    -1.0     0.0    36.299000
====Get a sample of 5 rows====
      locationId                location iso3 iso2  locationTypeId  \
1360         178                   Congo  COG   CG               4
4723         584        Marshall Islands  MHL   MH               4
602           70  Bosnia and Herzegovina  BIH   BA               4
631           72                Botswana  BWA   BW               4
2741         352                 Iceland  ISL   IS               4

      indicatorId                  indicator  \
1360           51  Rate of population change
4723           51  Rate of population change
602            51  Rate of population change
631            51  Rate of population change
2741           51  Rate of population change

                       indicatorDisplayName  sourceId  \
1360  Crude rate of total population change        25
4723  Crude rate of total population change        25
602   Crude rate of total population change        25
631   Crude rate of total population change        25
2741  Crude rate of total population change        25

                          source  revision  variantId variant  \
1360  World Population Prospects         0          4  Median
4723  World Population Prospects         0          4  Median
602   World Population Prospects         0          4  Median
631   World Population Prospects         0          4  Median
2741  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1360           Median       Median      68      2017  2017.5           0
4723           Median       Median      52      2001  2001.5           0
602            Median       Median      54      2003  2003.5           0
631            Median       Median      52      2001  2001.5           0
2741           Median       Median      54      2003  2003.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1360  Not applicable               1  Model-based Estimates                 2
4723  Not applicable               1  Model-based Estimates                 2
602   Not applicable               1  Model-based Estimates                 2
631   Not applicable               1  Model-based Estimates                 2
2741  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1360  Interpolation      3  Both sexes    188    Total         0      -1
4723  Interpolation      3  Both sexes    188    Total         0      -1
602   Interpolation      3  Both sexes    188    Total         0      -1
631   Interpolation      3  Both sexes    188    Total         0      -1
2741  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
1360       0  2.395
4723       0  0.254
602        0 -0.487
631        0  1.966
2741       0  0.727

========DF_UNPD_POP_50========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         50.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         50.0      25.0       0.0
25%     222.000000             4.0         50.0      25.0       0.0
50%     439.000000             4.0         50.0      25.0       0.0
75%     646.000000             4.0         50.0      25.0       0.0
max     894.000000             4.0         50.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.577964e+05
std       0.0     0.0       0.0     0.0     0.0  1.419734e+06
min       3.0   188.0       0.0    -1.0     0.0 -2.647698e+06
25%       3.0   188.0       0.0    -1.0     0.0  9.167500e+02
50%       3.0   188.0       0.0    -1.0     0.0  3.525000e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.407268e+05
max       3.0   188.0       0.0    -1.0     0.0  1.987452e+07
====Get a sample of 5 rows====
      locationId           location iso3 iso2  locationTypeId  indicatorId  \
1956         242               Fiji  FJI   FJ               4           50
3210         410  Republic of Korea  KOR   KR               4           50
6193         764           Thailand  THA   TH               4           50
5257         646             Rwanda  RWA   RW               4           50
4178         516            Namibia  NAM   NA               4           50

              indicator indicatorDisplayName  sourceId  \
1956  Population Change    Population Change        25
3210  Population Change    Population Change        25
6193  Population Change    Population Change        25
5257  Population Change    Population Change        25
4178  Population Change    Population Change        25

                          source  revision  variantId variant  \
1956  World Population Prospects         0          4  Median
3210  World Population Prospects         0          4  Median
6193  World Population Prospects         0          4  Median
5257  World Population Prospects         0          4  Median
4178  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1956           Median       Median      44      1993  1993.5           0
3210           Median       Median      58      2007  2007.5           0
6193           Median       Median      65      2014  2014.5           0
5257           Median       Median      59      2008  2008.5           0
4178           Median       Median      65      2014  2014.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1956  Not applicable               1  Model-based Estimates                 2
3210  Not applicable               1  Model-based Estimates                 2
6193  Not applicable               1  Model-based Estimates                 2
5257  Not applicable               1  Model-based Estimates                 2
4178  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1956  Interpolation      3  Both sexes    188    Total         0      -1
3210  Interpolation      3  Both sexes    188    Total         0      -1
6193  Interpolation      3  Both sexes    188    Total         0      -1
5257  Interpolation      3  Both sexes    188    Total         0      -1
4178  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
1956       0    1959
3210       0  174196
6193       0  361460
5257       0  260629
4178       0   39242

========DF_TWB_SL.UEM.TOTL.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7050 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1196
dtype: int64
====Describe numeric columns====
             value
count  7050.000000
mean      7.998978
std       5.859179
min       0.100000
25%       4.085315
50%       6.310000
75%      10.490000
max      38.799999
====Get a sample of 5 rows====
     countryiso3code  date  value
7534             TGO  2019  3.719
2866             COM  2006  5.275
5993             NGA  2010  3.778
2203             BTN  2018  2.444
6724             SEN  1992  5.589

========PAISES========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               178 non-null    object
 1   id                 178 non-null    object
 2   region.value       178 non-null    object
 3   incomeLevel.value  178 non-null    object
dtypes: object(4)
memory usage: 5.7+ KB
None
====Sum the null in each column====
name                 0
id                   0
region.value         0
incomeLevel.value    0
dtype: int64
====Describe numeric columns====
         name   id           region.value incomeLevel.value
count     178  178                    178               178
unique    178  178                      7                 4
top     Aruba  ABW  Europe & Central Asia       High income
freq        1    1                     47                50
====Get a sample of 5 rows====
                      name   id                region.value  \
95                Suriname  SUR  Latin America & Caribbean
79                   Libya  LBY  Middle East & North Africa
113  Micronesia, Fed. Sts.  FSM         East Asia & Pacific
25                  France  FRA       Europe & Central Asia
73               Guatemala  GTM  Latin America & Caribbean

       incomeLevel.value
95   Upper middle income
79   Upper middle income
113  Lower middle income
25           High income
73   Upper middle income

========DF_OMS_M_EST_CIG_C========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4437 entries, 0 to 4436
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             4428 non-null   float64
 1   IndicatorCode  4428 non-null   object
 2   SpatialDim     4428 non-null   object
 3   TimeDim        4428 non-null   float64
 4   Dim1Type       4428 non-null   object
 5   Dim1           4428 non-null   object
 6   NumericValue   4428 non-null   float64
 7   Low            4428 non-null   float64
 8   High           4428 non-null   float64
 9   Comments       1461 non-null   object
dtypes: float64(5), object(5)
memory usage: 346.8+ KB
None
====Sum the null in each column====
Id                  9
IndicatorCode       9
SpatialDim          9
TimeDim             9
Dim1Type            9
Dim1                9
NumericValue        9
Low                 9
High                9
Comments         2976
dtype: int64
====Describe numeric columns====
                 Id      TimeDim  NumericValue          Low         High
count  4.428000e+03  4428.000000   4428.000000  4428.000000  4428.000000
mean   2.780509e+07  2015.000000     17.376626    12.541847    22.210298
std    6.713267e+03     7.917122     12.859629     9.793209    16.248052
min    2.779325e+07  2000.000000      0.000000     0.000000     0.000000
25%    2.780027e+07  2010.000000      6.700000     4.600000     8.700000
50%    2.780531e+07  2018.000000     16.100000    11.000000    20.700000
75%    2.781035e+07  2020.000000     25.600000    18.600000    32.125000
max    2.781539e+07  2025.000000     73.800000    52.800000    94.800000
====Get a sample of 5 rows====
              Id   IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
1274  27800433.0  M_Est_cig_curr        ROU   2005.0      SEX   MLE
1338  27800497.0  M_Est_cig_curr        CHL   2005.0      SEX  FMLE
2026  27805121.0  M_Est_cig_curr        GRC   2015.0      SEX  BTSX
672   27797863.0  M_Est_cig_curr        BIH   2000.0      SEX   MLE
3013  27810044.0  M_Est_cig_curr        HRV   2019.0      SEX  BTSX

      NumericValue   Low  High Comments
1274          40.9  33.3  48.4     None
1338          34.6  28.6  40.7     None
2026          32.4  25.4  39.4     None
672           48.3  31.6  65.0     None
3013          30.0  22.0  37.9     None

========DF_TWB_AG.LND.FRST.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7897 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              349
dtype: int64
====Describe numeric columns====
             value
count  7897.000000
mean     32.540470
std      23.335263
min       0.000000
25%      12.470549
50%      30.819847
75%      47.250969
max      98.574551
====Get a sample of 5 rows====
     countryiso3code  date      value
6832             SGP  2008  25.135714
2544             KHM  2018  47.471958
7369             CHE  1998  30.047159
7885             GBR  2009  12.600752
2767             CHL  2012  22.962815

========DF_UNPD_POP_41========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   float64
 31  value                 7006 non-null   int64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====

locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         41.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         41.0      25.0       0.0
25%     222.000000             4.0         41.0      25.0       0.0
50%     439.000000             4.0         41.0      25.0       0.0
75%     646.000000             4.0         41.0      25.0       0.0
max     894.000000             4.0         41.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000        99.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000        99.0             1.0               2.0
25%          4.0    48.00000        99.0             1.0               2.0
50%          4.0    56.00000        99.0             1.0               2.0
75%          4.0    64.00000        99.0             1.0               2.0
max          4.0    71.00000        99.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      2.0    31.0      15.0    49.0    32.5  7.029655e+06
std       0.0     0.0       0.0     0.0     0.0  3.106368e+07
min       2.0    31.0      15.0    49.0    32.5  2.630000e+02
25%       2.0    31.0      15.0    49.0    32.5  1.084858e+05
50%       2.0    31.0      15.0    49.0    32.5  1.164298e+06
75%       2.0    31.0      15.0    49.0    32.5  4.107028e+06
max       2.0    31.0      15.0    49.0    32.5  3.733576e+08
====Get a sample of 5 rows====
      locationId                     location iso3 iso2  locationTypeId  \
6760         854                 Burkina Faso  BFA   BF               4
932          116                     Cambodia  KHM   KH               4
2118         262                     Djibouti  DJI   DJ               4
1934         238  Falkland Islands (Malvinas)  FLK   FK               4
1192         156                        China  CHN   CN               4

      indicatorId                                            indicator  \
6760           41  Female population of reproductive age (15-49 years)
932            41  Female population of reproductive age (15-49 years)
2118           41  Female population of reproductive age (15-49 years)
1934           41  Female population of reproductive age (15-49 years)
1192           41  Female population of reproductive age (15-49 years)

                                     indicatorDisplayName  sourceId  \
6760  Female population of reproductive age (15-49 years)        25
932   Female population of reproductive age (15-49 years)        25
2118  Female population of reproductive age (15-49 years)        25
1934  Female population of reproductive age (15-49 years)        25
1192  Female population of reproductive age (15-49 years)        25

                          source  revision  variantId variant  \
6760  World Population Prospects         0          4  Median
932   World Population Prospects         0          4  Median
2118  World Population Prospects         0          4  Median
1934  World Population Prospects         0          4  Median
1192  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
6760           Median       Median      43      1992  1992.5          99
932            Median       Median      43      1992  1992.5          99
2118           Median       Median      51      2000  2000.5          99
1934           Median       Median      53      2002  2002.5          99
1192           Median       Median      55      2004  2004.5          99

       category  estimateTypeId           estimateType  estimateMethodId  \
6760  All women               1  Model-based Estimates                 2
932   All women               1  Model-based Estimates                 2
2118  All women               1  Model-based Estimates                 2
1934  All women               1  Model-based Estimates                 2
1192  All women               1  Model-based Estimates                 2

     estimateMethod  sexId     sex  ageId ageLabel  ageStart  ageEnd  ageMid  \
6760  Interpolation      2  Female     31    15-49        15      49    32.5
932   Interpolation      2  Female     31    15-49        15      49    32.5
2118  Interpolation      2  Female     31    15-49        15      49    32.5
1934  Interpolation      2  Female     31    15-49        15      49    32.5
1192  Interpolation      2  Female     31    15-49        15      49    32.5

          value
6760    2101706
932     2329547
2118     186058
1934        861
1192  364968146

========DF_TWB_NY.GDP.PCAP.PP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7243 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1003
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
               value  unit  obs_status  decimal
count    7243.000000   0.0         0.0   8246.0
mean    14370.510540   NaN         NaN      1.0
std     17684.111780   NaN         NaN      0.0
min       285.272552   NaN         NaN      1.0
25%      2898.680102   NaN         NaN      1.0
50%      7556.308350   NaN         NaN      1.0
75%     18949.623722   NaN         NaN      1.0
max    153563.910960   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
2784             CHL  1995   7340.248875   NaN         NaN        1
7435             TJK  1994   1177.840726   NaN         NaN        1
7587             TON  1997   3287.631741   NaN         NaN        1
5901             NZL  2009  30681.244543   NaN         NaN        1
1203             PSS  1995   3475.157781   NaN         NaN        1

           indicator.id  \
2784  NY.GDP.PCAP.PP.CD
7435  NY.GDP.PCAP.PP.CD
7587  NY.GDP.PCAP.PP.CD
5901  NY.GDP.PCAP.PP.CD
1203  NY.GDP.PCAP.PP.CD

                                                 indicator.value country.id  \
2784  PIB per cápita, PPA ($ a precios internacionales actuales)         CL
7435  PIB per cápita, PPA ($ a precios internacionales actuales)         TJ
7587  PIB per cápita, PPA ($ a precios internacionales actuales)         TO
5901  PIB per cápita, PPA ($ a precios internacionales actuales)         NZ
1203  PIB per cápita, PPA ($ a precios internacionales actuales)         S2

                                 country.value
2784                                     Chile
7435                                Tayikistán
7587                                     Tonga
5901                            Nueva Zelandia
1203  Estados pequeos de las Islas del Pacfico

========DF_TWB_EN.ATM.CO2E.PC========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7144 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====

countryiso3code     155
date                  0
value              1102
dtype: int64
====Describe numeric columns====
             value
count  7144.000000
mean      4.218163
std       5.197455
min       0.000000
25%       0.673620
50%       2.460319
75%       6.208712
max      50.954034
====Get a sample of 5 rows====
     countryiso3code  date     value
1109             NaN  1996       NaN
768              LAC  1996  2.052857
830              LDC  1996  0.153393
1634             ASM  1998       NaN
7095             ESP  1993  5.540473

========DF_UNPD_MORT_24========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          24.0      2.000000     43.389964
std            0.0      0.816516     50.151232
min           24.0      1.000000      0.742166
25%           24.0      1.000000     10.328824
50%           24.0      2.000000     21.508633
75%           24.0      3.000000     58.607664
max           24.0      3.000000    421.079906
====Get a sample of 5 rows====
                 location iso3 timeLabel  indicatorId  \
2125               Belize  BLZ      2016           24
10168              Latvia  LVA      2000           24
9590    Republic of Korea  KOR      1993           24
6713   State of Palestine  PSE      1995           24
197               Algeria  DZA      1993           24

                              indicator  sexId         sex      value
2125   Under-five mortality rate (U5MR)      2      Female  13.087906
10168  Under-five mortality rate (U5MR)      2      Female  12.999679
9590   Under-five mortality rate (U5MR)      3  Both sexes  12.289166
6713   Under-five mortality rate (U5MR)      3  Both sexes  35.812688
197    Under-five mortality rate (U5MR)      3  Both sexes  45.520899

========DF_OMS_SA_0000001688========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12027 entries, 0 to 12026
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             12018 non-null  float64
 1   IndicatorCode  12018 non-null  object
 2   SpatialDim     12018 non-null  object
 3   TimeDim        12018 non-null  float64
 4   Dim1Type       12018 non-null  object
 5   Dim1           12018 non-null  object
 6   NumericValue   12018 non-null  float64
 7   Low            12018 non-null  float64
 8   High           12018 non-null  float64
 9   Comments       0 non-null      object
dtypes: float64(5), object(5)
memory usage: 939.7+ KB
None
====Sum the null in each column====
Id                   9
IndicatorCode        9
SpatialDim           9
TimeDim              9
Dim1Type             9
Dim1                 9
NumericValue         9
Low                  9
High                 9
Comments         12027
dtype: int64
====Describe numeric columns====
                 Id       TimeDim  NumericValue           Low          High
count  1.201800e+04  12018.000000  12018.000000  12018.000000  12018.000000
mean   2.693733e+07   2009.542187      5.936026      4.899256      7.117488
std    2.776732e+05      5.835183      5.475577      4.741628      6.335322
min    2.586232e+07   2000.000000      0.000000      0.000000      0.000000
25%    2.700708e+07   2005.000000      1.608453      1.159290      2.122930
50%    2.701009e+07   2010.000000      4.310920      3.422805      5.220830
75%    2.701309e+07   2015.000000      8.946648      7.329685     10.750072
max    2.701609e+07   2019.000000     31.435380     27.486090     36.021110
====Get a sample of 5 rows====
              Id  IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
1190  27005267.0  SA_0000001688        SYC   2002.0      SEX  BTSX
9580  27013642.0  SA_0000001688        PHL   2006.0      SEX  FMLE
3783  27007860.0  SA_0000001688        TCD   2016.0      SEX  BTSX
2835  27006912.0  SA_0000001688        AGO   2011.0      SEX  BTSX
9415  27013447.0  SA_0000001688        KIR   2005.0      SEX  FMLE

      NumericValue      Low      High Comments
1190       7.28802  5.54338   9.29471     None
9580       2.28993  1.75839   2.80099     None
3783       1.40538  0.85661   2.09132     None
2835       9.40230  8.00272  11.06872     None
9415       1.16530  0.63417   1.76598     None

========DF_UNPD_POP_52========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         52.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         52.0      25.0       0.0
25%     222.000000             4.0         52.0      25.0       0.0
50%     439.000000             4.0         52.0      25.0       0.0
75%     646.000000             4.0         52.0      25.0       0.0
max     894.000000             4.0         52.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.646006e+05
std       0.0     0.0       0.0     0.0     0.0  1.453215e+06
min       3.0   188.0       0.0    -1.0     0.0 -9.747800e+05
25%       3.0   188.0       0.0    -1.0     0.0  1.719750e+03
50%       3.0   188.0       0.0    -1.0     0.0  2.731750e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.379780e+05
max       3.0   188.0       0.0    -1.0     0.0  2.016458e+07
====Get a sample of 5 rows====
      locationId                     location iso3 iso2  locationTypeId  \
5239         646                       Rwanda  RWA   RW               4
6701         834  United Republic of Tanzania  TZA   TZ               4
5928         729                        Sudan  SDN   SD               4
1417         184                 Cook Islands  COK   CK               4
2146         266                        Gabon  GAB   GA               4

      indicatorId                     indicator          indicatorDisplayName  \
5239           52  Natural change of population  Natural change of population
6701           52  Natural change of population  Natural change of population
5928           52  Natural change of population  Natural change of population
1417           52  Natural change of population  Natural change of population
2146           52  Natural change of population  Natural change of population

      sourceId                      source  revision  variantId variant  \
5239        25  World Population Prospects         0          4  Median
6701        25  World Population Prospects         0          4  Median
5928        25  World Population Prospects         0          4  Median
1417        25  World Population Prospects         0          4  Median
2146        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
5239           Median       Median      41      1990  1990.5           0
6701           Median       Median      46      1995  1995.5           0
5928           Median       Median      48      1997  1997.5           0
1417           Median       Median      63      2012  2012.5           0
2146           Median       Median      48      1997  1997.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
5239  Not applicable               1  Model-based Estimates                 2
6701  Not applicable               1  Model-based Estimates                 2
5928  Not applicable               1  Model-based Estimates                 2
1417  Not applicable               1  Model-based Estimates                 2
2146  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
5239  Interpolation      3  Both sexes    188    Total         0      -1
6701  Interpolation      3  Both sexes    188    Total         0      -1
5928  Interpolation      3  Both sexes    188    Total         0      -1
1417  Interpolation      3  Both sexes    188    Total         0      -1
2146  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
5239       0  211607
6701       0  860449
5928       0  648634
1417       0     212
2146       0   27793

========DF_UNPD_FERT_19========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7006 entries, 2 to 35027
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 383.1+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       7006.0  7006.000000
mean          19.0     3.064399
std            0.0     1.620662
min           19.0     0.792152
25%           19.0     1.767179
50%           19.0     2.528931
75%           19.0     4.109057
max           19.0     8.606475
====Get a sample of 5 rows====
                         location iso3 timeLabel  indicatorId  \
8697                  El Salvador  SLV      1993           19
20742                        Oman  OMN      2015           19
16537  Lao People's Dem. Republic  LAO      2011           19
22597                   Nicaragua  NIC      2014           19
19587                      Monaco  MCO      2001           19

                  indicator     value
8697   Total fertility rate  3.734335
20742  Total fertility rate  2.959414
16537  Total fertility rate  3.049493
22597  Total fertility rate  2.503175
19587  Total fertility rate  2.041846

========DF_TWB_SP.POP.TOTL.FE.ZS========
====Basic info about the dataframe====

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7493 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               753
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7493.000000   0.0         0.0   8246.0
mean     50.044809   NaN         NaN      1.0
std       2.539738   NaN         NaN      0.0
min      23.289054   NaN         NaN      1.0
25%      49.568379   NaN         NaN      1.0
50%      50.287478   NaN         NaN      1.0
75%      50.957705   NaN         NaN      1.0
max      54.564823   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
5903             NZL  2007  50.980594   NaN         NaN        1
3507             ETH  2016  49.996017   NaN         NaN        1
5417             MRT  1997  50.397421   NaN         NaN        1
3257             DOM  2018  50.007796   NaN         NaN        1
7589             TON  1995  49.272705   NaN         NaN        1

           indicator.id                   indicator.value country.id  \
5903  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         NZ
3507  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ET
5417  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         MR
3257  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         DO
7589  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         TO

             country.value
5903        Nueva Zelandia
3507               Etiopía
5417            Mauritania
3257  República Dominicana
7589                 Tonga

========DF_TWB_SH.MED.BEDS.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            3683 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              4563
dtype: int64
====Describe numeric columns====
             value
count  3683.000000
mean      4.093515
std       3.005282
min       0.010000
25%       1.790000
50%       3.270000
75%       5.875000
max      21.678600
====Get a sample of 5 rows====
     countryiso3code  date     value
1708             ATG  2017  2.890000
3106             CYP  2014  3.420000
5628             MNE  2003  4.220000
5320             MLI  2001       NaN
1228             PST  2001  6.410207

========DF_UNPD_MARSTAT_42========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6758 entries, 0 to 6757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     6758 non-null   object
 1   iso3         6758 non-null   object
 2   timeLabel    6758 non-null   object
 3   indicatorId  6758 non-null   int64
 4   indicator    6758 non-null   object
 5   value        6758 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 369.6+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       6758.0  6758.000000
mean          42.0    58.384142
std            0.0     9.467496
min           42.0    23.606280
25%           42.0    53.506254
50%           42.0    58.813205
75%           42.0    64.352475
max           42.0    86.582894
====Get a sample of 5 rows====
                      location iso3 timeLabel  indicatorId  \
719     British Virgin Islands  VGB      1996           42
1032  Central African Republic  CAF      1999           42
4470                    Norway  NOR      1996           42
5234                San Marino  SMR      2016           42
6567                   Uruguay  URY      2016           42

                        indicator      value
719   Currently married (Percent)  46.547143
1032  Currently married (Percent)  68.810399
4470  Currently married (Percent)  61.207989
5234  Currently married (Percent)  53.361639
6567  Currently married (Percent)  55.471980

In [28]:
df_high_income = df_copy[(df_copy["WorldBankIncomeGroup"] == "High-income countries")]
df_low_income = df_copy[(df_copy["WorldBankIncomeGroup"] == "Low-income countries")]
df_upper_middle_income = df_copy[
    (df_copy["WorldBankIncomeGroup"] == "Upper-middle-income countries")
]
df_lower_middle_income = df_copy[
    (df_copy["WorldBankIncomeGroup"] == "Lower-middle-income countries")
]

Revisamos una información básica de los dataframes

In [32]:
directory = "../data_lake/"
# Let's iterate each parquet file and get some basic information
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f.endswith(".parquet"):
        print("========" + filename.rstrip(".parquet").upper() + "========", end="\n")
        df = pd.read_parquet(f)
        df.replace("", float("NaN"), inplace=True)
        print("====Basic info about the dataframe====", end="\n")
        print(df.info(), end="\n")
        print("====Sum the null in each column====", end="\n")
        print(df.isnull().sum(), end="\n")
        print("====Describe numeric columns====", end="\n")
        print(df.describe(), end="\n")
        print("====Get a sample of 5 rows====", end="\n")
        print(df.sample(5), end="\n")
        print(end="\n")

========DF_UNPD_MORT_22========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          22.0      2.000000     30.626605
std            0.0      0.816516     30.690118
min           22.0      1.000000      0.414920
25%           22.0      1.000000      8.491128
50%           22.0      2.000000     17.928645
75%           22.0      3.000000     43.825403
max           22.0      3.000000    244.050950
====Get a sample of 5 rows====
                         location iso3 timeLabel  indicatorId  \
17315                     Somalia  SOM      1995           22
12531                     Namibia  NAM      2013           22
4581                       Cyprus  CYP      1998           22
10962                      Malawi  MWI      2017           22
8541   Iran (Islamic Republic of)  IRN      2016           22

                         indicator  sexId         sex      value
17315  Infant mortality rate (IMR)      3  Both sexes  104.47749
12531  Infant mortality rate (IMR)      1        Male   36.87285
4581   Infant mortality rate (IMR)      1        Male    7.16584
10962  Infant mortality rate (IMR)      1        Male   36.78063
8541   Infant mortality rate (IMR)      1        Male   13.19467

========DF_TWB_SP.DYN.LE00.MA.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               577
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7669.000000   0.0         0.0   8246.0
mean     66.093333   NaN         NaN      0.0
std       9.057539   NaN         NaN      0.0
min      24.834000   NaN         NaN      0.0
25%      60.600000   NaN         NaN      0.0
50%      67.820000   NaN         NaN      0.0
75%      72.807635   NaN         NaN      0.0
max      82.900000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
362              ECA  1999  62.433085   NaN         NaN        0
1929             BHS  2013  70.260000   NaN         NaN        0
6233             PNG  2018  63.039000   NaN         NaN        0
6297             PER  2016  73.390000   NaN         NaN        0
920              NaN  1999  61.026387   NaN         NaN        0

           indicator.id                             indicator.value  \
362   SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
1929  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
6233  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
6297  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)
920   SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)

     country.id                                    country.value
362          7E  Europa y Asia central (excluido altos ingresos)
1929         BS                                          Bahamas
6233         PG                               Papua Nueva Guinea
6297         PE                                             Perú
920          XN                   Países de ingreso mediano bajo

========DF_UNPD_POP_54========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         54.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         54.0      25.0       0.0
25%     222.000000             4.0         54.0      25.0       0.0
50%     439.000000             4.0         54.0      25.0       0.0
75%     646.000000             4.0         54.0      25.0       0.0
max     894.000000             4.0         54.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0   7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    383.864741
std       0.0     0.0       0.0     0.0     0.0   1916.802764
min       3.0   188.0       0.0    -1.0     0.0      0.191619
25%       3.0   188.0       0.0    -1.0     0.0     30.320730
50%       3.0   188.0       0.0    -1.0     0.0     81.046553
75%       3.0   188.0       0.0    -1.0     0.0    195.887725
max       3.0   188.0       0.0    -1.0     0.0  24879.530201
====Get a sample of 5 rows====
      locationId               location iso3 iso2  locationTypeId  \
3890         484                 Mexico  MEX   MX               4
5007         620               Portugal  PRT   PT               4
5316         659  Saint Kitts and Nevis  KNA   KN               4
1970         242                   Fiji  FJI   FJ               4
2956         380                  Italy  ITA   IT               4

      indicatorId           indicator  \
3890           54  Population density
5007           54  Population density
5316           54  Population density
1970           54  Population density
2956           54  Population density

                            indicatorDisplayName  sourceId  \
3890  Population density (persons per square km)        25
5007  Population density (persons per square km)        25
5316  Population density (persons per square km)        25
1970  Population density (persons per square km)        25
2956  Population density (persons per square km)        25

                          source  revision  variantId variant  \
3890  World Population Prospects         0          4  Median
5007  World Population Prospects         0          4  Median
5316  World Population Prospects         0          4  Median
1970  World Population Prospects         0          4  Median
2956  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3890           Median       Median      56      2005  2005.5           0
5007           Median       Median      57      2006  2006.5           0
5316           Median       Median      56      2005  2005.5           0
1970           Median       Median      58      2007  2007.5           0
2956           Median       Median      52      2001  2001.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
3890  Not applicable               1  Model-based Estimates                 2
5007  Not applicable               1  Model-based Estimates                 2
5316  Not applicable               1  Model-based Estimates                 2
1970  Not applicable               1  Model-based Estimates                 2
2956  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
3890  Interpolation      3  Both sexes    188    Total         0      -1
5007  Interpolation      3  Both sexes    188    Total         0      -1
5316  Interpolation      3  Both sexes    188    Total         0      -1
1970  Interpolation      3  Both sexes    188    Total         0      -1
2956  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid       value
3890       0   53.817792
5007       0  114.626803
5316       0  179.713462
1970       0   48.749206
2956       0  192.566914

========DF_UNPD_IMIGRT_65========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   int64
dtypes: int64(2), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         value
count       7006.0  7.006000e+03
mean          65.0 -6.804854e+03
std            0.0  1.460545e+05
min           65.0 -2.290411e+06
25%           65.0 -1.722525e+04
50%           65.0 -5.875000e+02
75%           65.0  5.977250e+03
max           65.0  1.834556e+06
====Get a sample of 5 rows====
                                location iso3 timeLabel  indicatorId  \
1589                               Benin  BEN      1998           65
6874  Venezuela (Bolivarian Republic of)  VEN      2013           65
6489                              Tuvalu  TUV      2000           65
1788                   Equatorial Guinea  GNQ      2011           65
3898                              Mexico  MEX      2013           65

                indicator         sex   value
1589  Total net-migration  Both sexes    2054
6874  Total net-migration  Both sexes  -57815
6489  Total net-migration  Both sexes    -161
1788  Total net-migration  Both sexes   17606
3898  Total net-migration  Both sexes -101719

========DF_TWB_SP.URB.TOTL.IN.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            8144 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====

countryiso3code    155
date                 0
value              102
dtype: int64
====Describe numeric columns====
             value
count  8144.000000
mean     55.759260
std      23.500073
min       5.416000
25%      35.841572
50%      54.861368
75%      74.797000
max     100.000000
====Get a sample of 5 rows====
     countryiso3code  date   value
2965             CRI  2000  59.052
7812             UKR  2020  69.608
2460             BFA  2009  24.079
2678             CAF  2008  38.506
5497             FSM  2010  22.298

========DF_OMS_NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  20950 non-null  float64
 1   IndicatorCode       20950 non-null  object
 2   SpatialDim          20950 non-null  object
 3   TimeDimensionValue  20950 non-null  object
 4   Dim1Type            20950 non-null  object
 5   Dim1                20950 non-null  object
 6   NumericValue        20900 non-null  float64
 7   Low                 20950 non-null  float64
 8   High                20950 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB
None
====Sum the null in each column====
Id                     9
IndicatorCode          9
SpatialDim             9
TimeDimensionValue     9
Dim1Type               9
Dim1                   9
NumericValue          59
Low                    9
High                   9
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.095000e+04  20900.000000  20950.000000  20950.000000
mean   2.766507e+07     17.125612     11.682773     24.840969
std    1.045053e+06     13.986791     11.444164     17.171026
min    2.574345e+07      0.100000      0.000000      0.300000
25%    2.820284e+07      6.100000      2.400000     11.200000
50%    2.822379e+07     14.800000      8.600000     23.600000
75%    2.824473e+07     24.600000     16.900000     37.000000
max    2.828216e+07     66.100000     56.600000     77.000000
====Get a sample of 5 rows====
               Id                           IndicatorCode SpatialDim  \
1207   25744655.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        DOM
6969   28209764.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        MDA
5187   28202636.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        BIH
19948  28261680.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        TJK
8407   28215520.0  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV        TZA

      TimeDimensionValue  Dim1Type    Dim1  NumericValue   Low  High
1207                2001       SEX    FMLE          36.2  22.8  51.4
6969                2005  SEVERITY  SEVERE           0.6   0.2   1.0
5187                2012  SEVERITY  SEVERE           0.7   0.1   3.1
19948               2001  SEVERITY   TOTAL          38.5  30.2  47.6
8407                2016  SEVERITY  SEVERE           2.0   0.9   3.5

========DF_TWB_SH.STA.BASS.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5390 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2856
dtype: int64
====Describe numeric columns====
             value
count  5390.000000
mean     72.147471
std      29.073479
min       2.755094
25%      48.473218
50%      84.605854
75%      97.535682
max     100.000004
====Get a sample of 5 rows====
     countryiso3code  date      value
4943             LBN  2006  82.160443
3628             FRA  2019  98.648415
2525             CPV  2006  52.420517
2550             KHM  2012  43.897715
4264             ISL  2003  98.794947

========DF_TWB_SI.POV.GINI========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            1735 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              6511
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  1735.000000   0.0         0.0   8246.0
mean     38.179712   NaN         NaN      1.0
std       8.944772   NaN         NaN      0.0
min      20.700000   NaN         NaN      1.0
25%      31.250000   NaN         NaN      1.0
50%      36.100000   NaN         NaN      1.0
75%      43.750000   NaN         NaN      1.0
max      65.800000   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
4998             LBR  2013    NaN   NaN         NaN        1  SI.POV.GINI
356              ECA  2005    NaN   NaN         NaN        1  SI.POV.GINI
3576             FJI  2009    NaN   NaN         NaN        1  SI.POV.GINI
5409             MRT  2005    NaN   NaN         NaN        1  SI.POV.GINI
3021             HRV  2006    NaN   NaN         NaN        1  SI.POV.GINI

     indicator.value country.id  \
4998  Índice de Gini         LR
356   Índice de Gini         7E
3576  Índice de Gini         FJ
5409  Índice de Gini         MR
3021  Índice de Gini         HR

                                        country.value
4998                                          Liberia
356   Europa y Asia central (excluido altos ingresos)
3576                                             Fiji
5409                                       Mauritania
3021                                          Croacia

========DF_UNPD_POP_49========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====

         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         49.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         49.0      25.0       0.0
25%      222.000000             4.0         49.0      25.0       0.0
50%      439.000000             4.0         49.0      25.0       0.0
75%      646.000000             4.0         49.0      25.0       0.0
max      894.000000             4.0         49.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.842095e+07
std        0.816516      0.0       0.0      0.0      0.0  8.420676e+07
min        1.000000    188.0       0.0     -1.0      0.0  6.550000e+02
25%        1.000000    188.0       0.0     -1.0      0.0  2.673850e+05
50%        2.000000    188.0       0.0     -1.0      0.0  2.866508e+06
75%        3.000000    188.0       0.0     -1.0      0.0  1.063895e+07
max        3.000000    188.0       0.0     -1.0      0.0  1.424930e+09
====Get a sample of 5 rows====
       locationId                         location iso3 iso2  locationTypeId  \
3654          158  China, Taiwan Province of China  TWN   TW               4
18206         752                           Sweden  SWE   SE               4
18865         776                            Tonga  TON   TO               4
17562         716                         Zimbabwe  ZWE   ZW               4
10166         428                           Latvia  LVA   LV               4

       indicatorId                indicator     indicatorDisplayName  \
3654            49  Total population by sex  Total population by sex
18206           49  Total population by sex  Total population by sex
18865           49  Total population by sex  Total population by sex
17562           49  Total population by sex  Total population by sex
10166           49  Total population by sex  Total population by sex

       sourceId                      source  revision  variantId variant  \
3654         25  World Population Prospects         0          4  Median
18206        25  World Population Prospects         0          4  Median
18865        25  World Population Prospects         0          4  Median
17562        25  World Population Prospects         0          4  Median
10166        25  World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3654            Median       Median      50      1999  1999.5           0
18206           Median       Median      64      2013  2013.5           0
18865           Median       Median      67      2016  2016.5           0
17562           Median       Median      67      2016  2016.5           0
10166           Median       Median      50      1999  1999.5           0

             category  estimateTypeId           estimateType  \
3654   Not applicable               1  Model-based Estimates
18206  Not applicable               1  Model-based Estimates
18865  Not applicable               1  Model-based Estimates
17562  Not applicable               1  Model-based Estimates
10166  Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
3654                  2  Interpolation      1        Male    188    Total
18206                 2  Interpolation      3  Both sexes    188    Total
18865                 2  Interpolation      2      Female    188    Total
17562                 2  Interpolation      1        Male    188    Total
10166                 2  Interpolation      3  Both sexes    188    Total

       ageStart  ageEnd  ageMid     value
3654          0      -1       0  11322265
18206         0      -1       0   9648932
18865         0      -1       0     53094
17562         0      -1       0   6796658
10166         0      -1       0   2426351

========DF_TWB_SH.XPD.CHEX.PC.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4694 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              3552
dtype: int64
====Describe numeric columns====
              value
count   4694.000000
mean     859.108699
std     1537.990652
min        4.335375
25%       63.036741
50%      238.170045
75%      733.621240
max    10921.012695
====Get a sample of 5 rows====
     countryiso3code  date      value
836              LDC  1990        NaN
235              EAP  2002  43.534236
4703             KIR  1998        NaN
6534             RUS  1996        NaN
2539             CPV  1992        NaN

========DF_TWB_NY.GDP.MKTP.PP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7246 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1000
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
              value  unit  obs_status  decimal
count  7.246000e+03   0.0         0.0   8246.0
mean   2.767189e+12   NaN         NaN      0.0
std    9.317448e+12   NaN         NaN      0.0
min    1.465840e+07   NaN         NaN      0.0
25%    1.338723e+10   NaN         NaN      0.0
50%    8.505173e+10   NaN         NaN      0.0
75%    8.542823e+11   NaN         NaN      0.0
max    1.354475e+14   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
4534             JAM  2012  2.326905e+10   NaN         NaN        0
6394             PRT  2012  2.779916e+11   NaN         NaN        0
7011             ZAF  2015  7.589010e+11   NaN         NaN        0
4900             LVA  2018  5.950543e+10   NaN         NaN        0
1236             PST  1993  1.953678e+13   NaN         NaN        0

           indicator.id                                  indicator.value  \
4534  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
6394  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
7011  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
4900  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
1236  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)

     country.id                       country.value
4534         JM                             Jamaica
6394         PT                            Portugal
7011         ZA                           Sudáfrica
4900         LV                             Letonia
1236         V4  posterior al dividendo demográfico

========DF_UNPD_MORT_60========
====Basic info about the dataframe====

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            21018 non-null  int64
 1   location              21018 non-null  object
 2   iso3                  21018 non-null  object
 3   iso2                  21018 non-null  object
 4   locationTypeId        21018 non-null  int64
 5   indicatorId           21018 non-null  int64
 6   indicator             21018 non-null  object
 7   indicatorDisplayName  21018 non-null  object
 8   sourceId              21018 non-null  int64
 9   source                21018 non-null  object
 10  revision              21018 non-null  int64
 11  variantId             21018 non-null  int64
 12  variant               21018 non-null  object
 13  variantShortName      21018 non-null  object
 14  variantLabel          21018 non-null  object
 15  timeId                21018 non-null  int64
 16  timeLabel             21018 non-null  object
 17  timeMid               21018 non-null  object
 18  categoryId            21018 non-null  int64
 19  category              21018 non-null  object
 20  estimateTypeId        21018 non-null  int64
 21  estimateType          21018 non-null  object
 22  estimateMethodId      21018 non-null  int64
 23  estimateMethod        21018 non-null  object
 24  sexId                 21018 non-null  int64
 25  sex                   21018 non-null  object
 26  ageId                 21018 non-null  int64
 27  ageLabel              21018 non-null  object
 28  ageStart              21018 non-null  int64
 29  ageEnd                21018 non-null  int64
 30  ageMid                21018 non-null  int64
 31  value                 21018 non-null  int64
dtypes: int64(16), object(16)
memory usage: 5.1+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
         locationId  locationTypeId  indicatorId  sourceId  revision  \
count  21018.000000         21018.0      21018.0   21018.0   21018.0
mean     436.402655             4.0         60.0      25.0       0.0
std      249.919066             0.0          0.0       0.0       0.0
min        4.000000             4.0         60.0      25.0       0.0
25%      222.000000             4.0         60.0      25.0       0.0
50%      439.000000             4.0         60.0      25.0       0.0
75%      646.000000             4.0         60.0      25.0       0.0
max      894.000000             4.0         60.0      25.0       0.0

       variantId        timeId  categoryId  estimateTypeId  estimateMethodId  \
count    21018.0  21018.000000     21018.0         21018.0           21018.0
mean         4.0     56.000000         0.0             1.0               2.0
std          0.0      8.944485         0.0             0.0               0.0
min          4.0     41.000000         0.0             1.0               2.0
25%          4.0     48.000000         0.0             1.0               2.0
50%          4.0     56.000000         0.0             1.0               2.0
75%          4.0     64.000000         0.0             1.0               2.0
max          4.0     71.000000         0.0             1.0               2.0

              sexId    ageId  ageStart   ageEnd   ageMid         value
count  21018.000000  21018.0   21018.0  21018.0  21018.0  2.101800e+04
mean       2.000000    188.0       0.0     -1.0      0.0  1.501060e+05
std        0.816516      0.0       0.0      0.0      0.0  6.202798e+05
min        1.000000    188.0       0.0     -1.0      0.0  6.000000e+00
25%        1.000000    188.0       0.0     -1.0      0.0  1.510000e+03
50%        2.000000    188.0       0.0     -1.0      0.0  2.350200e+04
75%        3.000000    188.0       0.0     -1.0      0.0  9.519525e+04
max        3.000000    188.0       0.0     -1.0      0.0  1.034623e+07
====Get a sample of 5 rows====
       locationId    location iso3 iso2  locationTypeId  indicatorId  \
10624         442  Luxembourg  LUX   LU               4           60
7752          328      Guyana  GUY   GY               4           60
17390         706     Somalia  SOM   SO               4           60
8670          372     Ireland  IRL   IE               4           60
6666          270      Gambia  GMB   GM               4           60

                 indicator indicatorDisplayName  sourceId  \
10624  Total deaths by sex  Total deaths by sex        25
7752   Total deaths by sex  Total deaths by sex        25
17390  Total deaths by sex  Total deaths by sex        25
8670   Total deaths by sex  Total deaths by sex        25
6666   Total deaths by sex  Total deaths by sex        25

                           source  revision  variantId variant  \
10624  World Population Prospects         0          4  Median
7752   World Population Prospects         0          4  Median
17390  World Population Prospects         0          4  Median
8670   World Population Prospects         0          4  Median
6666   World Population Prospects         0          4  Median

      variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
10624           Median       Median      48      1997  1997.5           0
7752            Median       Median      52      2001  2001.5           0
17390           Median       Median      71      2020  2020.5           0
8670            Median       Median      48      1997  1997.5           0
6666            Median       Median      62      2011  2011.5           0

             category  estimateTypeId           estimateType  \
10624  Not applicable               1  Model-based Estimates
7752   Not applicable               1  Model-based Estimates
17390  Not applicable               1  Model-based Estimates
8670   Not applicable               1  Model-based Estimates
6666   Not applicable               1  Model-based Estimates

       estimateMethodId estimateMethod  sexId         sex  ageId ageLabel  \
10624                 2  Interpolation      2      Female    188    Total
7752                  2  Interpolation      1        Male    188    Total
17390                 2  Interpolation      3  Both sexes    188    Total
8670                  2  Interpolation      1        Male    188    Total
6666                  2  Interpolation      1        Male    188    Total

       ageStart  ageEnd  ageMid   value
10624         0      -1       0    1999
7752          0      -1       0    3234
17390         0      -1       0  188459
8670          0      -1       0   16287
6666          0      -1       0    8744

========DF_UNPD_POP_53========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         53.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         53.0      25.0       0.0
25%     222.000000             4.0         53.0      25.0       0.0
50%     439.000000             4.0         53.0      25.0       0.0
75%     646.000000             4.0         53.0      25.0       0.0
max     894.000000             4.0         53.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    14.441731
std       0.0     0.0       0.0     0.0     0.0    10.963369
min       3.0   188.0       0.0    -1.0     0.0   -62.082000
25%       3.0   188.0       0.0    -1.0     0.0     4.874500
50%       3.0   188.0       0.0    -1.0     0.0    14.018000
75%       3.0   188.0       0.0    -1.0     0.0    23.992000
max       3.0   188.0       0.0    -1.0     0.0    42.025000
====Get a sample of 5 rows====
      locationId      location iso3 iso2  locationTypeId  indicatorId  \
3398         428        Latvia  LVA   LV               4           53
6008         740      Suriname  SUR   SR               4           53
5639         694  Sierra Leone  SLE   SL               4           53
3069         398    Kazakhstan  KAZ   KZ               4           53
6250         772       Tokelau  TKL   TK               4           53

                                       indicator  \
3398  Crude rate of natural change of population
6008  Crude rate of natural change of population
5639  Crude rate of natural change of population
3069  Crude rate of natural change of population
6250  Crude rate of natural change of population

                            indicatorDisplayName  sourceId  \
3398  Crude rate of natural change of population        25
6008  Crude rate of natural change of population        25
5639  Crude rate of natural change of population        25
3069  Crude rate of natural change of population        25
6250  Crude rate of natural change of population        25

                          source  revision  variantId variant  \
3398  World Population Prospects         0          4  Median
6008  World Population Prospects         0          4  Median
5639  World Population Prospects         0          4  Median
3069  World Population Prospects         0          4  Median
6250  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3398           Median       Median      60      2009  2009.5           0
6008           Median       Median      66      2015  2015.5           0
5639           Median       Median      69      2018  2018.5           0
3069           Median       Median      41      1990  1990.5           0
6250           Median       Median      60      2009  2009.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
3398  Not applicable               1  Model-based Estimates                 2
6008  Not applicable               1  Model-based Estimates                 2
5639  Not applicable               1  Model-based Estimates                 2
3069  Not applicable               1  Model-based Estimates                 2
6250  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
3398  Interpolation      3  Both sexes    188    Total         0      -1
6008  Interpolation      3  Both sexes    188    Total         0      -1
5639  Interpolation      3  Both sexes    188    Total         0      -1
3069  Interpolation      3  Both sexes    188    Total         0      -1
6250  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
3398       0  -4.204
6008       0  11.912
5639       0  23.791
3069       0  14.435
6250       0   8.698

========DF_OMS_NUTRITION_ANAEMIA_CHILDREN_PREV========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20959 entries, 0 to 20958
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  20950 non-null  float64
 1   IndicatorCode       20950 non-null  object
 2   SpatialDim          20950 non-null  object
 3   TimeDimensionValue  20950 non-null  object
 4   Dim1Type            20950 non-null  object
 5   Dim1                20950 non-null  object
 6   NumericValue        20950 non-null  float64
 7   Low                 20950 non-null  float64
 8   High                20950 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB
None
====Sum the null in each column====
Id                    9
IndicatorCode         9
SpatialDim            9
TimeDimensionValue    9
Dim1Type              9
Dim1                  9
NumericValue          9
Low                   9
High                  9
dtype: int64
====Describe numeric columns====

                 Id  NumericValue           Low          High
count  2.095000e+04  20950.000000  20950.000000  20950.000000
mean   2.764218e+07     22.107828     15.510368     30.280635
std    1.087079e+06     19.668112     17.339564     21.885502
min    2.563744e+07      0.000000      0.000000      0.100000
25%    2.820283e+07      6.700000      3.000000     13.300000
50%    2.822378e+07     18.400000      9.400000     27.600000
75%    2.824473e+07     30.100000     21.000000     43.175000
max    2.828180e+07     88.400000     86.100000     91.600000
====Get a sample of 5 rows====
               Id                    IndicatorCode SpatialDim  \
740    25638182.0  NUTRITION_ANAEMIA_CHILDREN_PREV        COM
10386  28223429.0  NUTRITION_ANAEMIA_CHILDREN_PREV        ITA
9320   28219172.0  NUTRITION_ANAEMIA_CHILDREN_PREV        CHL
6560   28208133.0  NUTRITION_ANAEMIA_CHILDREN_PREV        KAZ
14003  28237888.0  NUTRITION_ANAEMIA_CHILDREN_PREV        GRD

      TimeDimensionValue  Dim1Type      Dim1  NumericValue   Low  High
740                 2000       SEX      BTSX          61.3  42.5  77.6
10386               2015  SEVERITY  MODERATE           2.4   0.5   6.2
9320                2016  SEVERITY  MODERATE           5.0   1.2  13.5
6560                2001  SEVERITY    SEVERE           1.7   0.5   3.8
14003               2016  SEVERITY      MILD          16.3   7.9  26.6

========DF_UNPD_IMIGRT_66========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   sex          7006 non-null   object
 6   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 383.3+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       7006.0  7006.000000
mean          66.0    -0.381888
std            0.0    17.815493
min           66.0  -526.323000
25%           66.0    -4.002500
50%           66.0    -0.535000
75%           66.0     2.721250
max           66.0   415.239000
====Get a sample of 5 rows====
                        location iso3 timeLabel  indicatorId  \
3062                       Japan  JPN      2014           66
4004                  Montenegro  MNE      1995           66
2518                   Guatemala  GTM      1997           66
1413                Cook Islands  COK      2008           66
2842  Iran (Islamic Republic of)  IRN      2011           66

                        indicator         sex   value
3062  Crude rate of net migration  Both sexes   1.094
4004  Crude rate of net migration  Both sexes  -4.930
2518  Crude rate of net migration  Both sexes  -3.967
1413  Crude rate of net migration  Both sexes  23.050
2842  Crude rate of net migration  Both sexes  -1.963

========DF_TWB_SH.STA.SUIC.P5========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4620 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              3626
dtype: int64
====Describe numeric columns====
             value
count  4620.000000
mean     10.554321
std       8.262731
min       0.000000
25%       5.400000
50%       8.500000
75%      13.200000
max      92.600000
====Get a sample of 5 rows====
     countryiso3code  date  value
6845             SGP  1995    NaN
6125             OMN  2002    5.9
1235             PST  1994    NaN
54               AFW  1997    NaN
5121             LUX  2014   12.7

========DF_TWB_SE.COM.DURS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5320 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2926
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  5320.000000   0.0         0.0   8246.0
mean      9.363910   NaN         NaN      0.0
std       2.146495   NaN         NaN      0.0
min       0.000000   NaN         NaN      0.0
25%       8.000000   NaN         NaN      0.0
50%       9.000000   NaN         NaN      0.0
75%      10.000000   NaN         NaN      0.0
max      17.000000   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date  value  unit  obs_status  decimal indicator.id  \
2559             KHM  2003    NaN   NaN         NaN        0  SE.COM.DURS
2410             BRN  1997    NaN   NaN         NaN        0  SE.COM.DURS
6106             NOR  1990    NaN   NaN         NaN        0  SE.COM.DURS
3600             FIN  2016   10.0   NaN         NaN        0  SE.COM.DURS
4914             LVA  2004   11.0   NaN         NaN        0  SE.COM.DURS

                             indicator.value country.id      country.value
2559  Educación obligatoria, duración (años)         KH            Camboya
2410  Educación obligatoria, duración (años)         BN  Brunei Darussalam
6106  Educación obligatoria, duración (años)         NO            Noruega
3600  Educación obligatoria, duración (años)         FI          Finlandia
4914  Educación obligatoria, duración (años)         LV            Letonia

========DF_OMS_NCD_BMI_30A========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26045 entries, 0 to 26044
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  26036 non-null  float64
 1   IndicatorCode       26036 non-null  object
 2   SpatialDim          26036 non-null  object
 3   TimeDimensionValue  26036 non-null  object
 4   Dim1Type            26036 non-null  object
 5   Dim1                26036 non-null  object
 6   NumericValue        25532 non-null  float64
 7   Low                 25532 non-null  float64
 8   High                25532 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.8+ MB
None
====Sum the null in each column====
Id                      9
IndicatorCode           9
SpatialDim              9
TimeDimensionValue      9
Dim1Type                9
Dim1                    9
NumericValue          513
Low                   513
High                  513
dtype: int64
====Describe numeric columns====
                 Id  NumericValue           Low          High
count  2.603600e+04  25532.000000  25532.000000  25532.000000
mean   1.604230e+07     12.213802      9.131744     15.841352
std    3.517994e+04     10.278428      8.742522     11.885698
min    1.543336e+07      0.100000      0.000000      0.200000
25%    1.603684e+07      3.800000      2.200000      5.900000
50%    1.604335e+07     10.300000      6.900000     14.300000
75%    1.604986e+07     17.900000     13.700000     22.600000
max    1.613296e+07     63.300000     55.600000     70.800000
====Get a sample of 5 rows====
               Id IndicatorCode SpatialDim TimeDimensionValue Dim1Type  Dim1  \
7135   16037469.0   NCD_BMI_30A        PRT               2016      SEX  BTSX
39     15439376.0   NCD_BMI_30A        SDF               2012      SEX  FMLE
18861  16049195.0   NCD_BMI_30A        CHN               1982      SEX   MLE
17214  16047548.0   NCD_BMI_30A        VEN               2015      SEX  FMLE
14737  16045071.0   NCD_BMI_30A        NOR               2016      SEX  FMLE

       NumericValue   Low  High
7135           20.8  16.9  25.1
39             10.8   6.9  15.8
18861           0.4   0.2   0.6
17214          28.3  22.4  34.6
14737          22.5  17.5  28.0

========DF_UNPD_POP_72========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====

        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         72.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         72.0      25.0       0.0
25%     222.000000             4.0         72.0      25.0       0.0
50%     439.000000             4.0         72.0      25.0       0.0
75%     646.000000             4.0         72.0      25.0       0.0
max     894.000000             4.0         72.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0   100.718104
std       0.0     0.0       0.0     0.0     0.0    15.886405
min       3.0   188.0       0.0    -1.0     0.0    82.170955
25%       3.0   188.0       0.0    -1.0     0.0    95.687958
50%       3.0   188.0       0.0    -1.0     0.0    98.679200
75%       3.0   188.0       0.0    -1.0     0.0   101.766534
max       3.0   188.0       0.0    -1.0     0.0   327.456193
====Get a sample of 5 rows====
      locationId       location iso3 iso2  locationTypeId  indicatorId  \
3141         404          Kenya  KEN   KE               4           72
1572         203        Czechia  CZE   CZ               4           72
6158         762     Tajikistan  TJK   TJ               4           72
3006         384  Côte d'Ivoire  CIV   CI               4           72
3547         442     Luxembourg  LUX   LU               4           72

                              indicator               indicatorDisplayName  \
3141  Sex ratio of the total population  Sex ratio of the total population
1572  Sex ratio of the total population  Sex ratio of the total population
6158  Sex ratio of the total population  Sex ratio of the total population
3006  Sex ratio of the total population  Sex ratio of the total population
3547  Sex ratio of the total population  Sex ratio of the total population

      sourceId                      source  revision  variantId variant  \
3141        25  World Population Prospects         0          4  Median
1572        25  World Population Prospects         0          4  Median
6158        25  World Population Prospects         0          4  Median
3006        25  World Population Prospects         0          4  Median
3547        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3141           Median       Median      51      2000  2000.5           0
1572           Median       Median      63      2012  2012.5           0
6158           Median       Median      61      2010  2010.5           0
3006           Median       Median      71      2020  2020.5           0
3547           Median       Median      54      2003  2003.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
3141  Not applicable               1  Model-based Estimates                 2
1572  Not applicable               1  Model-based Estimates                 2
6158  Not applicable               1  Model-based Estimates                 2
3006  Not applicable               1  Model-based Estimates                 2
3547  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
3141  Interpolation      3  Both sexes    188    Total         0      -1
1572  Interpolation      3  Both sexes    188    Total         0      -1
6158  Interpolation      3  Both sexes    188    Total         0      -1
3006  Interpolation      3  Both sexes    188    Total         0      -1
3547  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid       value
3141       0   98.294920
1572       0   96.481166
6158       0   99.691062
3006       0  102.136979
3547       0   97.523687

========DF_TWB_SP.DYN.LE00.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              577
dtype: int64
====Describe numeric columns====
             value
count  7669.000000
mean     68.469955
std       9.389406
min      26.172000
25%      62.769966
50%      70.587805
75%      75.401541
max      85.387805
====Get a sample of 5 rows====
     countryiso3code  date      value
4864             KGZ  1992  68.102439
4160             HND  2014  74.278000
3166             DNK  2016  80.853659
5298             MDV  1992  63.302000
2387             BRN  2020  75.998000

========DF_TWB_NY.GDP.PCAP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7690 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               556
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
               value  unit  obs_status  decimal
count    7690.000000   0.0         0.0   8246.0
mean    11676.766348   NaN         NaN      1.0
std     19521.904835   NaN         NaN      0.0
min        22.795345   NaN         NaN      1.0
25%      1093.730784   NaN         NaN      1.0
50%      3594.136069   NaN         NaN      1.0
75%     13759.058425   NaN         NaN      1.0
max    189487.147128   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date        value  unit  obs_status  decimal  \
8077             VNM  2003   480.579834   NaN         NaN        1
2801             CHN  2009  3832.236432   NaN         NaN        1
6240             PNG  2011  2406.910967   NaN         NaN        1
729              LCN  2004  4308.292822   NaN         NaN        1
7712             TKM  1996   554.833916   NaN         NaN        1

        indicator.id                          indicator.value country.id  \
8077  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         VN
2801  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         CN
6240  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         PG
729   NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         ZJ
7712  NY.GDP.PCAP.CD  PIB per cápita (US$ a precios actuales)         TM

                   country.value
8077                    Viet Nam
2801                       China
6240          Papua Nueva Guinea
729   América Latina y el Caribe
7712                Turkmenistán

========DF_TWB_SP.DYN.LE00.FE.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7669 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              577
dtype: int64
====Describe numeric columns====
             value
count  7669.000000
mean     70.946840
std       9.859640
min      27.571000
25%      64.539567
50%      73.544612
75%      78.400000
max      88.100000
====Get a sample of 5 rows====
     countryiso3code  date   value
6217             PAN  2003  78.226
6021             MKD  2013  77.500
5628             MNE  2003  76.068
7088             ESP  2000  82.500
3857             GIB  2007     NaN

========DF_TWB_IQ.SCI.OVRL========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            2983 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====

countryiso3code     155
date                  0
value              5263
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  2983.000000   0.0         0.0   8246.0
mean     65.263466   NaN         NaN      1.0
std      15.574997   NaN         NaN      0.0
min      16.666667   NaN         NaN      1.0
25%      55.555567   NaN         NaN      1.0
50%      66.666667   NaN         NaN      1.0
75%      76.666667   NaN         NaN      1.0
max      98.888900   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal indicator.id  \
1596             DZA  2005  63.333333   NaN         NaN        1  IQ.SCI.OVRL
3873             GIB  1991        NaN   NaN         NaN        1  IQ.SCI.OVRL
860              LMY  1997        NaN   NaN         NaN        1  IQ.SCI.OVRL
6830             SGP  2010        NaN   NaN         NaN        1  IQ.SCI.OVRL
3554             FRO  2000        NaN   NaN         NaN        1  IQ.SCI.OVRL

                                                 indicator.value country.id  \
1596  Nivel general de la capacidad estadística (escala 0 - 100)         DZ
3873  Nivel general de la capacidad estadística (escala 0 - 100)         GI
860   Nivel general de la capacidad estadística (escala 0 - 100)         XO
6830  Nivel general de la capacidad estadística (escala 0 - 100)         SG
3554  Nivel general de la capacidad estadística (escala 0 - 100)         FO

               country.value
1596                 Argelia
3873               Gibraltar
860   Ingreso mediano y bajo
6830                Singapur
3554             Islas Feroe

========DF_TWB_SP.POP.TOTL.MA.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7493 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               753
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  7493.000000   0.0         0.0   8246.0
mean     49.955191   NaN         NaN      0.0
std       2.539738   NaN         NaN      0.0
min      45.435177   NaN         NaN      0.0
25%      49.042295   NaN         NaN      0.0
50%      49.712522   NaN         NaN      0.0
75%      50.431621   NaN         NaN      0.0
max      76.710946   NaN         NaN      0.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
6301             PER  2012  49.786175   NaN         NaN        0
3822             GHA  2011  50.593907   NaN         NaN        0
5426             MUS  2019  49.380626   NaN         NaN        0
6137             OMN  1990  55.662696   NaN         NaN        0
8223             ZWE  2012  47.582631   NaN         NaN        0

           indicator.id                   indicator.value country.id  \
6301  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         PE
3822  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         GH
5426  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         MU
6137  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         OM
8223  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZW

     country.value
6301          Perú
3822         Ghana
5426      Mauricio
6137          Omán
8223      Zimbabwe

========DF_LOCATIONSWITHAGGREGATES========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 0 to 236
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    227 non-null    int64
 1   Name                  227 non-null    object
 2   Iso2                  227 non-null    object
 3   Iso3                  227 non-null    object
 4   Longitude             227 non-null    float64
 5   Latitude              227 non-null    float64
 6   Region                227 non-null    object
 7   SubRegion             227 non-null    object
 8   WorldBankIncomeGroup  227 non-null    object
 9   UNDevelopmentGroup    227 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 19.5+ KB
None
====Sum the null in each column====
Id                      0
Name                    0
Iso2                    0
Iso3                    0
Longitude               0
Latitude                0
Region                  0
SubRegion               0
WorldBankIncomeGroup    0
UNDevelopmentGroup      0
dtype: int64
====Describe numeric columns====
               Id   Longitude    Latitude
count  227.000000  227.000000  227.000000
mean   435.960352   13.363854   17.099326
std    250.001953   73.707585   24.031906
min      4.000000 -178.116501  -51.796253
25%    224.000000  -37.765227    1.924065
50%    438.000000   18.490410   15.870032
75%    644.500000   47.529346   36.172787
max    894.000000  178.679916   64.963051
====Get a sample of 5 rows====
      Id                         Name Iso2 Iso3  Longitude   Latitude  \
226  834  United Republic of Tanzania   TZ  TZA  34.888821  -6.369028
16    56                      Belgium   BE  BEL   4.469936  50.503887
52   203                      Czechia   CZ  CZE  15.472962  49.817493
187  688                       Serbia   RS  SRB  21.005859  44.016521
160  591                       Panama   PA  PAN -80.782127   8.537981

                              Region        SubRegion  \
226                           Africa   Eastern Africa
16                            Europe   Western Europe
52                            Europe   Eastern Europe
187                           Europe  Southern Europe
160  Latin America and the Caribbean  Central America

              WorldBankIncomeGroup         UNDevelopmentGroup
226  Lower-middle-income countries  Least developed countries
16           High-income countries          Developed regions
52           High-income countries          Developed regions
187  Upper-middle-income countries          Developed regions
160          High-income countries   Other developing regions

========DF_UNPD_FAM_1========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6014 entries, 6 to 90449
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     6014 non-null   object
 1   iso3         6014 non-null   object
 2   timeLabel    6014 non-null   object
 3   indicatorId  6014 non-null   int64
 4   indicator    6014 non-null   object
 5   value        6014 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 328.9+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       6014.0  6014.000000
mean           1.0    36.347123
std            0.0    16.967782
min            1.0     2.900000
25%            1.0    23.400000
50%            1.0    36.600000
75%            1.0    49.600000
max            1.0    78.600000
====Get a sample of 5 rows====
      location iso3 timeLabel  indicatorId  \
38391    Italy  ITA      2007            1
87976  Uruguay  URY      2010            1
82021  Tunisia  TUN      2016            1
73801  Somalia  SOM      1995            1
54893    Nauru  NRU      1991            1

                                            indicator  value
38391  Contraceptive prevalence: Any method (Percent)   56.4
87976  Contraceptive prevalence: Any method (Percent)   55.1
82021  Contraceptive prevalence: Any method (Percent)   32.8
73801  Contraceptive prevalence: Any method (Percent)    5.1
54893  Contraceptive prevalence: Any method (Percent)   24.8

========DF_TWB_NY.GNP.PCAP.CD========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7118 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1128
dtype: int64
====Describe numeric columns====
               value
count    7118.000000
mean     9962.181831
std     15586.420851
min        40.000000
25%      1000.000000
50%      3319.488968
75%     11237.500000
max    121900.000000
====Get a sample of 5 rows====
     countryiso3code  date    value
2716             TCD  2001    190.0
1970             BHR  2003  12940.0
1579             ALB  1991    410.0
2149             BEN  2010   1080.0
6218             PAN  2002   3940.0

========DF_TWB_SE.XPD.TOTL.GD.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            4428 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              3818
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
             value  unit  obs_status  decimal
count  4428.000000   0.0         0.0   8246.0
mean      4.367629   NaN         NaN      1.0
std       1.964361   NaN         NaN      0.0
min       0.000000   NaN         NaN      1.0
25%       3.169903   NaN         NaN      1.0
50%       4.097755   NaN         NaN      1.0
75%       5.140193   NaN         NaN      1.0
max      44.333981   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date    value  unit  obs_status  decimal  \
7975             UZB  2012  6.39523   NaN         NaN        1
318              ECS  2012  4.79379   NaN         NaN        1
3612             FIN  2004  6.15758   NaN         NaN        1
2928             COG  2006      NaN   NaN         NaN        1
6352             PHL  1992      NaN   NaN         NaN        1

           indicator.id                                indicator.value  \
7975  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
318   SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
3612  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
2928  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)
6352  SE.XPD.TOTL.GD.ZS  Gasto público en educación, total (% del PIB)

     country.id          country.value
7975         UZ             Uzbekistán
318          Z7  Europa y Asia central
3612         FI              Finlandia
2928         CG   Congo, República del
6352         PH              Filipinas

========DF_UNPD_POP_67========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         67.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         67.0      25.0       0.0
25%     222.000000             4.0         67.0      25.0       0.0
50%     439.000000             4.0         67.0      25.0       0.0
75%     646.000000             4.0         67.0      25.0       0.0
max     894.000000             4.0         67.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0    26.339441
std       0.0     0.0       0.0     0.0     0.0     8.526796
min       3.0   188.0       0.0    -1.0     0.0    13.528263
25%       3.0   188.0       0.0    -1.0     0.0    18.459661
50%       3.0   188.0       0.0    -1.0     0.0    24.994464
75%       3.0   188.0       0.0    -1.0     0.0    33.695728
max       3.0   188.0       0.0    -1.0     0.0    54.456523
====Get a sample of 5 rows====
      locationId                     location iso3 iso2  locationTypeId  \
3035         388                      Jamaica  JAM   JM               4
3862         480                    Mauritius  MUS   MU               4
1938         238  Falkland Islands (Malvinas)  FLK   FK               4
5932         729                        Sudan  SDN   SD               4
2805         360                    Indonesia  IDN   ID               4

      indicatorId                 indicator  \
3035           67  Median age of population
3862           67  Median age of population
1938           67  Median age of population
5932           67  Median age of population
2805           67  Median age of population

                    indicatorDisplayName  sourceId  \
3035  Median age of the total population        25
3862  Median age of the total population        25
1938  Median age of the total population        25
5932  Median age of the total population        25
2805  Median age of the total population        25

                          source  revision  variantId variant  \
3035  World Population Prospects         0          4  Median
3862  World Population Prospects         0          4  Median
1938  World Population Prospects         0          4  Median
5932  World Population Prospects         0          4  Median
2805  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
3035           Median       Median      69      2018  2018.5           0
3862           Median       Median      59      2008  2008.5           0
1938           Median       Median      57      2006  2006.5           0
5932           Median       Median      52      2001  2001.5           0
2805           Median       Median      56      2005  2005.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
3035  Not applicable               1  Model-based Estimates                 2
3862  Not applicable               1  Model-based Estimates                 2
1938  Not applicable               1  Model-based Estimates                 2
5932  Not applicable               1  Model-based Estimates                 2
2805  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
3035  Interpolation      3  Both sexes    188    Total         0      -1
3862  Interpolation      3  Both sexes    188    Total         0      -1
1938  Interpolation      3  Both sexes    188    Total         0      -1
5932  Interpolation      3  Both sexes    188    Total         0      -1
2805  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid      value
3035       0  29.310088
3862       0  30.658705
1938       0  35.867020
5932       0  16.151039
2805       0  25.251799

========DF_TWB_SP.DYN.IMRT.IN========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7471 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              775
dtype: int64
====Describe numeric columns====
             value
count  7471.000000
mean     35.125306
std      30.935373
min       1.500000
25%      10.200000
50%      24.700000
75%      53.000000
max     190.600000
====Get a sample of 5 rows====
     countryiso3code  date      value
7250             VCT  1993  18.700000
179              EAR  1996  65.980431
4758             KOR  2005   4.800000
1710             ATG  2015   6.500000
786              TLA  2009  18.820807

========DF_UNPD_MORT_59========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====

        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         59.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         59.0      25.0       0.0
25%     222.000000             4.0         59.0      25.0       0.0
50%     439.000000             4.0         59.0      25.0       0.0
75%     646.000000             4.0         59.0      25.0       0.0
max     894.000000             4.0         59.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     8.550039
std       0.0     0.0       0.0     0.0     0.0     3.974595
min       3.0   188.0       0.0    -1.0     0.0     0.795000
25%       3.0   188.0       0.0    -1.0     0.0     6.019250
50%       3.0   188.0       0.0    -1.0     0.0     7.733500
75%       3.0   188.0       0.0    -1.0     0.0    10.309750
max       3.0   188.0       0.0    -1.0     0.0   103.534000
====Get a sample of 5 rows====
      locationId                  location iso3 iso2  locationTypeId  \
1371         180    Dem. Rep. of the Congo  COD   CD               4
462           51                   Armenia  ARM   AM               4
3979         498       Republic of Moldova  MDA   MD               4
6462         796  Turks and Caicos Islands  TCA   TC               4
1814         231                  Ethiopia  ETH   ET               4

      indicatorId         indicator  \
1371           59  Crude death rate
462            59  Crude death rate
3979           59  Crude death rate
6462           59  Crude death rate
1814           59  Crude death rate

                                indicatorDisplayName  sourceId  \
1371  Crude death rate (deaths per 1,000 population)        25
462   Crude death rate (deaths per 1,000 population)        25
3979  Crude death rate (deaths per 1,000 population)        25
6462  Crude death rate (deaths per 1,000 population)        25
1814  Crude death rate (deaths per 1,000 population)        25

                          source  revision  variantId variant  \
1371  World Population Prospects         0          4  Median
462   World Population Prospects         0          4  Median
3979  World Population Prospects         0          4  Median
6462  World Population Prospects         0          4  Median
1814  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
1371           Median       Median      48      1997  1997.5           0
462            Median       Median      69      2018  2018.5           0
3979           Median       Median      52      2001  2001.5           0
6462           Median       Median      55      2004  2004.5           0
1814           Median       Median      57      2006  2006.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
1371  Not applicable               1  Model-based Estimates                 2
462   Not applicable               1  Model-based Estimates                 2
3979  Not applicable               1  Model-based Estimates                 2
6462  Not applicable               1  Model-based Estimates                 2
1814  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
1371  Interpolation      3  Both sexes    188    Total         0      -1
462   Interpolation      3  Both sexes    188    Total         0      -1
3979  Interpolation      3  Both sexes    188    Total         0      -1
6462  Interpolation      3  Both sexes    188    Total         0      -1
1814  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
1371       0  15.676
462        0   9.750
3979       0  12.897
6462       0   3.763
1814       0  11.539

========DF_TWB_SH.H2O.BASW.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            5419 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              2827
dtype: int64
====Describe numeric columns====
             value
count  5419.000000
mean     85.312561
std      17.840173
min      18.085445
25%      78.554913
50%      93.341866
75%      99.035578
max     100.000005
====Get a sample of 5 rows====
     countryiso3code  date      value
8092             VIR  2019  98.718267
2961             CRI  2004  96.074319
3002             CIV  1994        NaN
1801             ABW  2017        NaN
6346             PHL  1998        NaN

========DF_UNPD_POP_51========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   float64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         51.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         51.0      25.0       0.0
25%     222.000000             4.0         51.0      25.0       0.0
50%     439.000000             4.0         51.0      25.0       0.0
75%     646.000000             4.0         51.0      25.0       0.0
max     894.000000             4.0         51.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid        value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7006.000000
mean      3.0   188.0       0.0    -1.0     0.0     1.390488
std       0.0     0.0       0.0     0.0     0.0     2.131548
min       3.0   188.0       0.0    -1.0     0.0   -71.689000
25%       3.0   188.0       0.0    -1.0     0.0     0.400000
50%       3.0   188.0       0.0    -1.0     0.0     1.344500
75%       3.0   188.0       0.0    -1.0     0.0     2.386750
max       3.0   188.0       0.0    -1.0     0.0    36.299000
====Get a sample of 5 rows====

      locationId            location iso3 iso2  locationTypeId  indicatorId  \
532           64              Bhutan  BTN   BT               4           51
3812         474          Martinique  MTQ   MQ               4           51
2250         275  State of Palestine  PSE   PS               4           51
1825         231            Ethiopia  ETH   ET               4           51
1920         234       Faroe Islands  FRO   FO               4           51

                      indicator                   indicatorDisplayName  \
532   Rate of population change  Crude rate of total population change
3812  Rate of population change  Crude rate of total population change
2250  Rate of population change  Crude rate of total population change
1825  Rate of population change  Crude rate of total population change
1920  Rate of population change  Crude rate of total population change

      sourceId                      source  revision  variantId variant  \
532         25  World Population Prospects         0          4  Median
3812        25  World Population Prospects         0          4  Median
2250        25  World Population Prospects         0          4  Median
1825        25  World Population Prospects         0          4  Median
1920        25  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
532            Median       Median      46      1995  1995.5           0
3812           Median       Median      71      2020  2020.5           0
2250           Median       Median      59      2008  2008.5           0
1825           Median       Median      68      2017  2017.5           0
1920           Median       Median      70      2019  2019.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
532   Not applicable               1  Model-based Estimates                 2
3812  Not applicable               1  Model-based Estimates                 2
2250  Not applicable               1  Model-based Estimates                 2
1825  Not applicable               1  Model-based Estimates                 2
1920  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
532   Interpolation      3  Both sexes    188    Total         0      -1
3812  Interpolation      3  Both sexes    188    Total         0      -1
2250  Interpolation      3  Both sexes    188    Total         0      -1
1825  Interpolation      3  Both sexes    188    Total         0      -1
1920  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid  value
532        0  1.961
3812       0 -0.302
2250       0  2.369
1825       0  2.695
1920       0  1.420

========DF_UNPD_POP_50========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         50.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         50.0      25.0       0.0
25%     222.000000             4.0         50.0      25.0       0.0
50%     439.000000             4.0         50.0      25.0       0.0
75%     646.000000             4.0         50.0      25.0       0.0
max     894.000000             4.0         50.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.577964e+05
std       0.0     0.0       0.0     0.0     0.0  1.419734e+06
min       3.0   188.0       0.0    -1.0     0.0 -2.647698e+06
25%       3.0   188.0       0.0    -1.0     0.0  9.167500e+02
50%       3.0   188.0       0.0    -1.0     0.0  3.525000e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.407268e+05
max       3.0   188.0       0.0    -1.0     0.0  1.987452e+07
====Get a sample of 5 rows====
      locationId    location iso3 iso2  locationTypeId  indicatorId  \
2329         292   Gibraltar  GIB   GI               4           50
6396         792     Türkiye  TUR   TR               4           50
4070         504     Morocco  MAR   MA               4           50
4120         508  Mozambique  MOZ   MZ               4           50
78            12     Algeria  DZA   DZ               4           50

              indicator indicatorDisplayName  sourceId  \
2329  Population Change    Population Change        25
6396  Population Change    Population Change        25
4070  Population Change    Population Change        25
4120  Population Change    Population Change        25
78    Population Change    Population Change        25

                          source  revision  variantId variant  \
2329  World Population Prospects         0          4  Median
6396  World Population Prospects         0          4  Median
4070  World Population Prospects         0          4  Median
4120  World Population Prospects         0          4  Median
78    World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
2329           Median       Median      45      1994  1994.5           0
6396           Median       Median      51      2000  2000.5           0
4070           Median       Median      50      1999  1999.5           0
4120           Median       Median      69      2018  2018.5           0
78             Median       Median      57      2006  2006.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
2329  Not applicable               1  Model-based Estimates                 2
6396  Not applicable               1  Model-based Estimates                 2
4070  Not applicable               1  Model-based Estimates                 2
4120  Not applicable               1  Model-based Estimates                 2
78    Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
2329  Interpolation      3  Both sexes    188    Total         0      -1
6396  Interpolation      3  Both sexes    188    Total         0      -1
4070  Interpolation      3  Both sexes    188    Total         0      -1
4120  Interpolation      3  Both sexes    188    Total         0      -1
78    Interpolation      3  Both sexes    188    Total         0      -1

      ageMid   value
2329       0     161
6396       0  937046
4070       0  378881
4120       0  853119
78         0  532267

========DF_TWB_SL.UEM.TOTL.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7050 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1196
dtype: int64
====Describe numeric columns====
             value
count  7050.000000
mean      7.998978
std       5.859179
min       0.100000
25%       4.085315
50%       6.310000
75%      10.490000
max      38.799999
====Get a sample of 5 rows====

     countryiso3code  date      value
5859             NCL  2020  16.429001
3286             ECU  2020   6.110000
4664             KEN  2006   2.907000
75               ARB  2007  10.027224
5759             NAM  1996  22.768000

========PAISES========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               178 non-null    object
 1   id                 178 non-null    object
 2   region.value       178 non-null    object
 3   incomeLevel.value  178 non-null    object
dtypes: object(4)
memory usage: 5.7+ KB
None
====Sum the null in each column====
name                 0
id                   0
region.value         0
incomeLevel.value    0
dtype: int64
====Describe numeric columns====
         name   id           region.value incomeLevel.value
count     178  178                    178               178
unique    178  178                      7                 4
top     Aruba  ABW  Europe & Central Asia       High income
freq        1    1                     47                50
====Get a sample of 5 rows====
                name   id                region.value    incomeLevel.value
85   North Macedonia  MKD       Europe & Central Asia  Upper middle income
133        Nicaragua  NIC  Latin America & Caribbean   Lower middle income
167           Rwanda  RWA         Sub-Saharan Africa            Low income
22             Spain  ESP       Europe & Central Asia          High income
44     Liechtenstein  LIE       Europe & Central Asia          High income

========DF_OMS_M_EST_CIG_C========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4437 entries, 0 to 4436
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             4428 non-null   float64
 1   IndicatorCode  4428 non-null   object
 2   SpatialDim     4428 non-null   object
 3   TimeDim        4428 non-null   float64
 4   Dim1Type       4428 non-null   object
 5   Dim1           4428 non-null   object
 6   NumericValue   4428 non-null   float64
 7   Low            4428 non-null   float64
 8   High           4428 non-null   float64
 9   Comments       1461 non-null   object
dtypes: float64(5), object(5)
memory usage: 346.8+ KB
None
====Sum the null in each column====
Id                  9
IndicatorCode       9
SpatialDim          9
TimeDim             9
Dim1Type            9
Dim1                9
NumericValue        9
Low                 9
High                9
Comments         2976
dtype: int64
====Describe numeric columns====
                 Id      TimeDim  NumericValue          Low         High
count  4.428000e+03  4428.000000   4428.000000  4428.000000  4428.000000
mean   2.780509e+07  2015.000000     17.376626    12.541847    22.210298
std    6.713267e+03     7.917122     12.859629     9.793209    16.248052
min    2.779325e+07  2000.000000      0.000000     0.000000     0.000000
25%    2.780027e+07  2010.000000      6.700000     4.600000     8.700000
50%    2.780531e+07  2018.000000     16.100000    11.000000    20.700000
75%    2.781035e+07  2020.000000     25.600000    18.600000    32.125000
max    2.781539e+07  2025.000000     73.800000    52.800000    94.800000
====Get a sample of 5 rows====
              Id   IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
1454  27800613.0  M_Est_cig_curr        TCD   2005.0      SEX  FMLE
3561  27812560.0  M_Est_cig_curr        PER   2023.0      SEX  BTSX
385   27793637.0  M_Est_cig_curr        HTI   2020.0      SEX  FMLE
2606  27807669.0  M_Est_cig_curr        TLS   2018.0      SEX  BTSX
3757  27812756.0  M_Est_cig_curr        TUR   2023.0      SEX   MLE

      NumericValue   Low  High  \
1454           0.9   0.5   1.2
3561           6.0   4.2   7.9
385            2.1   1.4   2.8
2606          31.6  24.6  38.5
3757          39.2  31.2  47.2

                                             Comments
1454                                             None
3561  Projected from surveys completed prior to 2020.
385   Projected from surveys completed prior to 2020.
2606                                             None
3757  Projected from surveys completed prior to 2020.

========DF_TWB_AG.LND.FRST.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7897 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code    155
date                 0
value              349
dtype: int64
====Describe numeric columns====
             value
count  7897.000000
mean     32.540470
std      23.335263
min       0.000000
25%      12.470549
50%      30.819847
75%      47.250969
max      98.574551
====Get a sample of 5 rows====
     countryiso3code  date      value
4460             IMN  1993   6.070175
3419             ERI  2011   8.949616
498              NaN  2018  29.309291
4411             IRL  2011  10.556510
1637             ASM  1995  89.500000

========DF_UNPD_POP_41========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   float64
 31  value                 7006 non-null   int64
dtypes: float64(1), int64(15), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         41.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         41.0      25.0       0.0
25%     222.000000             4.0         41.0      25.0       0.0
50%     439.000000             4.0         41.0      25.0       0.0
75%     646.000000             4.0         41.0      25.0       0.0
max     894.000000             4.0         41.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000        99.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000        99.0             1.0               2.0
25%          4.0    48.00000        99.0             1.0               2.0
50%          4.0    56.00000        99.0             1.0               2.0
75%          4.0    64.00000        99.0             1.0               2.0
max          4.0    71.00000        99.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      2.0    31.0      15.0    49.0    32.5  7.029655e+06
std       0.0     0.0       0.0     0.0     0.0  3.106368e+07
min       2.0    31.0      15.0    49.0    32.5  2.630000e+02
25%       2.0    31.0      15.0    49.0    32.5  1.084858e+05
50%       2.0    31.0      15.0    49.0    32.5  1.164298e+06
75%       2.0    31.0      15.0    49.0    32.5  4.107028e+06
max       2.0    31.0      15.0    49.0    32.5  3.733576e+08
====Get a sample of 5 rows====
      locationId  location iso3 iso2  locationTypeId  indicatorId  \
4542         562     Niger  NER   NE               4           41
3714         462  Maldives  MDV   MV               4           41
6016         748  Eswatini  SWZ   SZ               4           41
3057         392     Japan  JPN   JP               4           41
6519         800    Uganda  UGA   UG               4           41

                                                indicator  \
4542  Female population of reproductive age (15-49 years)
3714  Female population of reproductive age (15-49 years)
6016  Female population of reproductive age (15-49 years)
3057  Female population of reproductive age (15-49 years)
6519  Female population of reproductive age (15-49 years)

                                     indicatorDisplayName  sourceId  \
4542  Female population of reproductive age (15-49 years)        25
3714  Female population of reproductive age (15-49 years)        25
6016  Female population of reproductive age (15-49 years)        25
3057  Female population of reproductive age (15-49 years)        25
6519  Female population of reproductive age (15-49 years)        25

                          source  revision  variantId variant  \
4542  World Population Prospects         0          4  Median
3714  World Population Prospects         0          4  Median
6016  World Population Prospects         0          4  Median
3057  World Population Prospects         0          4  Median
6519  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
4542           Median       Median      57      2006  2006.5          99
3714           Median       Median      66      2015  2015.5          99
6016           Median       Median      43      1992  1992.5          99
3057           Median       Median      60      2009  2009.5          99
6519           Median       Median      50      1999  1999.5          99

       category  estimateTypeId           estimateType  estimateMethodId  \
4542  All women               1  Model-based Estimates                 2
3714  All women               1  Model-based Estimates                 2
6016  All women               1  Model-based Estimates                 2
3057  All women               1  Model-based Estimates                 2
6519  All women               1  Model-based Estimates                 2

     estimateMethod  sexId     sex  ageId ageLabel  ageStart  ageEnd  ageMid  \
4542  Interpolation      2  Female     31    15-49        15      49    32.5
3714  Interpolation      2  Female     31    15-49        15      49    32.5
6016  Interpolation      2  Female     31    15-49        15      49    32.5
3057  Interpolation      2  Female     31    15-49        15      49    32.5
6519  Interpolation      2  Female     31    15-49        15      49    32.5

         value
4542   3023822
3714    111465
6016    225088
3057  27112996
6519   5144406

========DF_TWB_NY.GDP.PCAP.PP.CD========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7243 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1003
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====
               value  unit  obs_status  decimal
count    7243.000000   0.0         0.0   8246.0
mean    14370.510540   NaN         NaN      1.0
std     17684.111780   NaN         NaN      0.0
min       285.272552   NaN         NaN      1.0
25%      2898.680102   NaN         NaN      1.0
50%      7556.308350   NaN         NaN      1.0
75%     18949.623722   NaN         NaN      1.0
max    153563.910960   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date         value  unit  obs_status  decimal  \
1962             BHR  2011  47377.498309   NaN         NaN        1
1942             BHS  2000  28002.344831   NaN         NaN        1
186              EAS  2020  18612.851814   NaN         NaN        1
5957             NER  2015   1145.309402   NaN         NaN        1
6907             SVK  1995   8692.957338   NaN         NaN        1

           indicator.id  \
1962  NY.GDP.PCAP.PP.CD
1942  NY.GDP.PCAP.PP.CD
186   NY.GDP.PCAP.PP.CD
5957  NY.GDP.PCAP.PP.CD
6907  NY.GDP.PCAP.PP.CD

                                                 indicator.value country.id  \
1962  PIB per cápita, PPA ($ a precios internacionales actuales)         BH
1942  PIB per cápita, PPA ($ a precios internacionales actuales)         BS
186   PIB per cápita, PPA ($ a precios internacionales actuales)         Z4
5957  PIB per cápita, PPA ($ a precios internacionales actuales)         NE
6907  PIB per cápita, PPA ($ a precios internacionales actuales)         SK

                    country.value
1962                      Bahrein
1942                      Bahamas
186   Asia oriental y el Pacífico
5957                        Níger
6907           República Eslovaca

========DF_TWB_EN.ATM.CO2E.PC========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7144 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              1102
dtype: int64
====Describe numeric columns====
             value
count  7144.000000
mean      4.218163
std       5.197455
min       0.000000
25%       0.673620
50%       2.460319
75%       6.208712
max      50.954034
====Get a sample of 5 rows====
     countryiso3code  date     value
6315             PER  1998  1.051131
2281             BIH  2002  3.872970
6777             SYC  2001  3.940790
2027             BRB  2008  6.358369
857              LMY  2000  2.033042

========DF_UNPD_MORT_24========

====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     21018 non-null  object
 1   iso3         21018 non-null  object
 2   timeLabel    21018 non-null  object
 3   indicatorId  21018 non-null  int64
 4   indicator    21018 non-null  object
 5   sexId        21018 non-null  int64
 6   sex          21018 non-null  object
 7   value        21018 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
sexId          0
sex            0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId         sexId         value
count      21018.0  21018.000000  21018.000000
mean          24.0      2.000000     43.389964
std            0.0      0.816516     50.151232
min           24.0      1.000000      0.742166
25%           24.0      1.000000     10.328824
50%           24.0      2.000000     21.508633
75%           24.0      3.000000     58.607664
max           24.0      3.000000    421.079906
====Get a sample of 5 rows====
                               location iso3 timeLabel  indicatorId  \
3068                         Cabo Verde  CPV      2020           24
2265             British Virgin Islands  VGB      2001           24
940                             Austria  AUT      1993           24
16194  Saint Vincent and the Grenadines  VCT      1994           24
20349                      Burkina Faso  BFA      2015           24

                              indicator  sexId         sex       value
3068   Under-five mortality rate (U5MR)      3  Both sexes   14.174804
2265   Under-five mortality rate (U5MR)      1        Male   28.342856
940    Under-five mortality rate (U5MR)      2      Female    6.795435
16194  Under-five mortality rate (U5MR)      1        Male   23.906556
20349  Under-five mortality rate (U5MR)      1        Male  106.227915

========DF_OMS_SA_0000001688========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12027 entries, 0 to 12026
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             12018 non-null  float64
 1   IndicatorCode  12018 non-null  object
 2   SpatialDim     12018 non-null  object
 3   TimeDim        12018 non-null  float64
 4   Dim1Type       12018 non-null  object
 5   Dim1           12018 non-null  object
 6   NumericValue   12018 non-null  float64
 7   Low            12018 non-null  float64
 8   High           12018 non-null  float64
 9   Comments       0 non-null      object
dtypes: float64(5), object(5)
memory usage: 939.7+ KB
None
====Sum the null in each column====
Id                   9
IndicatorCode        9
SpatialDim           9
TimeDim              9
Dim1Type             9
Dim1                 9
NumericValue         9
Low                  9
High                 9
Comments         12027
dtype: int64
====Describe numeric columns====
                 Id       TimeDim  NumericValue           Low          High
count  1.201800e+04  12018.000000  12018.000000  12018.000000  12018.000000
mean   2.693733e+07   2009.542187      5.936026      4.899256      7.117488
std    2.776732e+05      5.835183      5.475577      4.741628      6.335322
min    2.586232e+07   2000.000000      0.000000      0.000000      0.000000
25%    2.700708e+07   2005.000000      1.608453      1.159290      2.122930
50%    2.701009e+07   2010.000000      4.310920      3.422805      5.220830
75%    2.701309e+07   2015.000000      8.946648      7.329685     10.750072
max    2.701609e+07   2019.000000     31.435380     27.486090     36.021110
====Get a sample of 5 rows====
               Id  IndicatorCode SpatialDim  TimeDim Dim1Type  Dim1  \
10398  27014459.0  SA_0000001688        CRI   2011.0      SEX  FMLE
6125   27010226.0  SA_0000001688        MKD   2008.0      SEX   MLE
8845   27012877.0  SA_0000001688        MMR   2002.0      SEX  FMLE
11370  27015431.0  SA_0000001688        KWT   2016.0      SEX  FMLE
7062   27011139.0  SA_0000001688        BLR   2013.0      SEX   MLE

       NumericValue       Low      High Comments
10398       1.74038   1.38820   2.15374     None
6125       10.15140   7.69683  12.34707     None
8845        0.13536   0.10412   0.21257     None
11370       0.00000   0.00000   0.00000     None
7062       21.68008  19.70015  25.42495     None

========DF_UNPD_POP_52========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locationId            7006 non-null   int64
 1   location              7006 non-null   object
 2   iso3                  7006 non-null   object
 3   iso2                  7006 non-null   object
 4   locationTypeId        7006 non-null   int64
 5   indicatorId           7006 non-null   int64
 6   indicator             7006 non-null   object
 7   indicatorDisplayName  7006 non-null   object
 8   sourceId              7006 non-null   int64
 9   source                7006 non-null   object
 10  revision              7006 non-null   int64
 11  variantId             7006 non-null   int64
 12  variant               7006 non-null   object
 13  variantShortName      7006 non-null   object
 14  variantLabel          7006 non-null   object
 15  timeId                7006 non-null   int64
 16  timeLabel             7006 non-null   object
 17  timeMid               7006 non-null   object
 18  categoryId            7006 non-null   int64
 19  category              7006 non-null   object
 20  estimateTypeId        7006 non-null   int64
 21  estimateType          7006 non-null   object
 22  estimateMethodId      7006 non-null   int64
 23  estimateMethod        7006 non-null   object
 24  sexId                 7006 non-null   int64
 25  sex                   7006 non-null   object
 26  ageId                 7006 non-null   int64
 27  ageLabel              7006 non-null   object
 28  ageStart              7006 non-null   int64
 29  ageEnd                7006 non-null   int64
 30  ageMid                7006 non-null   int64
 31  value                 7006 non-null   int64
dtypes: int64(16), object(16)
memory usage: 1.7+ MB
None
====Sum the null in each column====
locationId              0
location                0
iso3                    0
iso2                    0
locationTypeId          0
indicatorId             0
indicator               0
indicatorDisplayName    0
sourceId                0
source                  0
revision                0
variantId               0
variant                 0
variantShortName        0
variantLabel            0
timeId                  0
timeLabel               0
timeMid                 0
categoryId              0
category                0
estimateTypeId          0
estimateType            0
estimateMethodId        0
estimateMethod          0
sexId                   0
sex                     0
ageId                   0
ageLabel                0
ageStart                0
ageEnd                  0
ageMid                  0
value                   0
dtype: int64
====Describe numeric columns====
        locationId  locationTypeId  indicatorId  sourceId  revision  \
count  7006.000000          7006.0       7006.0    7006.0    7006.0
mean    436.402655             4.0         52.0      25.0       0.0
std     249.930958             0.0          0.0       0.0       0.0
min       4.000000             4.0         52.0      25.0       0.0
25%     222.000000             4.0         52.0      25.0       0.0
50%     439.000000             4.0         52.0      25.0       0.0
75%     646.000000             4.0         52.0      25.0       0.0
max     894.000000             4.0         52.0      25.0       0.0

       variantId      timeId  categoryId  estimateTypeId  estimateMethodId  \
count     7006.0  7006.00000      7006.0          7006.0            7006.0
mean         4.0    56.00000         0.0             1.0               2.0
std          0.0     8.94491         0.0             0.0               0.0
min          4.0    41.00000         0.0             1.0               2.0
25%          4.0    48.00000         0.0             1.0               2.0
50%          4.0    56.00000         0.0             1.0               2.0
75%          4.0    64.00000         0.0             1.0               2.0
max          4.0    71.00000         0.0             1.0               2.0

        sexId   ageId  ageStart  ageEnd  ageMid         value
count  7006.0  7006.0    7006.0  7006.0  7006.0  7.006000e+03
mean      3.0   188.0       0.0    -1.0     0.0  3.646006e+05
std       0.0     0.0       0.0     0.0     0.0  1.453215e+06
min       3.0   188.0       0.0    -1.0     0.0 -9.747800e+05
25%       3.0   188.0       0.0    -1.0     0.0  1.719750e+03
50%       3.0   188.0       0.0    -1.0     0.0  2.731750e+04
75%       3.0   188.0       0.0    -1.0     0.0  2.379780e+05
max       3.0   188.0       0.0    -1.0     0.0  2.016458e+07
====Get a sample of 5 rows====
      locationId             location iso3 iso2  locationTypeId  indicatorId  \
4958         608          Philippines  PHL   PH               4           52
6546         804              Ukraine  UKR   UA               4           52
84            12              Algeria  DZA   DZ               4           52
3998         498  Republic of Moldova  MDA   MD               4           52
5020         620             Portugal  PRT   PT               4           52

                         indicator          indicatorDisplayName  sourceId  \
4958  Natural change of population  Natural change of population        25
6546  Natural change of population  Natural change of population        25
84    Natural change of population  Natural change of population        25
3998  Natural change of population  Natural change of population        25
5020  Natural change of population  Natural change of population        25

                          source  revision  variantId variant  \
4958  World Population Prospects         0          4  Median
6546  World Population Prospects         0          4  Median
84    World Population Prospects         0          4  Median
3998  World Population Prospects         0          4  Median
5020  World Population Prospects         0          4  Median

     variantShortName variantLabel  timeId timeLabel timeMid  categoryId  \
4958           Median       Median      70      2019  2019.5           0
6546           Median       Median      46      1995  1995.5           0
84             Median       Median      63      2012  2012.5           0
3998           Median       Median      71      2020  2020.5           0
5020           Median       Median      70      2019  2019.5           0

            category  estimateTypeId           estimateType  estimateMethodId  \
4958  Not applicable               1  Model-based Estimates                 2
6546  Not applicable               1  Model-based Estimates                 2
84    Not applicable               1  Model-based Estimates                 2
3998  Not applicable               1  Model-based Estimates                 2
5020  Not applicable               1  Model-based Estimates                 2

     estimateMethod  sexId         sex  ageId ageLabel  ageStart  ageEnd  \
4958  Interpolation      3  Both sexes    188    Total         0      -1
6546  Interpolation      3  Both sexes    188    Total         0      -1
84    Interpolation      3  Both sexes    188    Total         0      -1
3998  Interpolation      3  Both sexes    188    Total         0      -1
5020  Interpolation      3  Both sexes    188    Total         0      -1

      ageMid    value
4958       0  1837707
6546       0  -295729
84         0   768791
3998       0    -6071
5020       0   -26699

========DF_UNPD_FERT_19========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7006 entries, 2 to 35027
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     7006 non-null   object
 1   iso3         7006 non-null   object
 2   timeLabel    7006 non-null   object
 3   indicatorId  7006 non-null   int64
 4   indicator    7006 non-null   object
 5   value        7006 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 383.1+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       7006.0  7006.000000
mean          19.0     3.064399
std            0.0     1.620662
min           19.0     0.792152
25%           19.0     1.767179
50%           19.0     2.528931
75%           19.0     4.109057
max           19.0     8.606475
====Get a sample of 5 rows====
                    location iso3 timeLabel  indicatorId  \
10352          French Guiana  GUF      2014           19
26522  Saint Kitts and Nevis  KNA      1993           19
9397                 Estonia  EST      2009           19
26457           Saint Helena  SHN      2011           19
34227             Uzbekistan  UZB      2015           19

                  indicator     value
10352  Total fertility rate  3.433353
26522  Total fertility rate  2.402113
9397   Total fertility rate  1.702422
26457  Total fertility rate  1.632711
34227  Total fertility rate  2.494944

========DF_TWB_SP.POP.TOTL.FE.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            7493 non-null   float64
 3   unit             0 non-null      float64
 4   obs_status       0 non-null      float64
 5   decimal          8246 non-null   int64
 6   indicator.id     8246 non-null   object
 7   indicator.value  8246 non-null   object
 8   country.id       8246 non-null   object
 9   country.value    8184 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 644.3+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value               753
unit               8246
obs_status         8246
decimal               0
indicator.id          0
indicator.value       0
country.id            0
country.value        62
dtype: int64
====Describe numeric columns====

             value  unit  obs_status  decimal
count  7493.000000   0.0         0.0   8246.0
mean     50.044809   NaN         NaN      1.0
std       2.539738   NaN         NaN      0.0
min      23.289054   NaN         NaN      1.0
25%      49.568379   NaN         NaN      1.0
50%      50.287478   NaN         NaN      1.0
75%      50.957705   NaN         NaN      1.0
max      54.564823   NaN         NaN      1.0
====Get a sample of 5 rows====
     countryiso3code  date      value  unit  obs_status  decimal  \
4849             KGZ  2007  50.484397   NaN         NaN        1
7985             UZB  2002  50.296228   NaN         NaN        1
3133             CZE  2018  50.808589   NaN         NaN        1
6707             SEN  2009  51.289305   NaN         NaN        1
1014             TMN  1998  49.472998   NaN         NaN        1

           indicator.id                   indicator.value country.id  \
4849  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         KG
7985  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         UZ
3133  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         CZ
6707  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         SN
1014  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         T3

                                        country.value
4849                                       Kirguistán
7985                                       Uzbekistán
3133                                  República Checa
6707                                          Senegal
1014  Oriente Medio y Norte de África (BIRF y la AIF)

========DF_TWB_SH.MED.BEDS.ZS========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  8091 non-null   object
 1   date             8246 non-null   object
 2   value            3683 non-null   float64
dtypes: float64(1), object(2)
memory usage: 193.4+ KB
None
====Sum the null in each column====
countryiso3code     155
date                  0
value              4563
dtype: int64
====Describe numeric columns====
             value
count  3683.000000
mean      4.093515
std       3.005282
min       0.010000
25%       1.790000
50%       3.270000
75%       5.875000
max      21.678600
====Get a sample of 5 rows====
     countryiso3code  date  value
1740             ARG  2016   4.95
7702             TKM  2006   4.34
3250             DMA  1994    NaN
7061             SSD  1996    NaN
7800             UGA  2001    NaN

========DF_UNPD_MARSTAT_42========
====Basic info about the dataframe====
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6758 entries, 0 to 6757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     6758 non-null   object
 1   iso3         6758 non-null   object
 2   timeLabel    6758 non-null   object
 3   indicatorId  6758 non-null   int64
 4   indicator    6758 non-null   object
 5   value        6758 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 369.6+ KB
None
====Sum the null in each column====
location       0
iso3           0
timeLabel      0
indicatorId    0
indicator      0
value          0
dtype: int64
====Describe numeric columns====
       indicatorId        value
count       6758.0  6758.000000
mean          42.0    58.384142
std            0.0     9.467496
min           42.0    23.606280
25%           42.0    53.506254
50%           42.0    58.813205
75%           42.0    64.352475
max           42.0    86.582894
====Get a sample of 5 rows====
             location iso3 timeLabel  indicatorId  \
6030          Tokelau  TKL      2006           42
6355  North Macedonia  MKD      1990           42
4118          Namibia  NAM      2016           42
2739            India  IND      2001           42
3335          Lesotho  LSO      2008           42

                        indicator      value
6030  Currently married (Percent)  55.645355
6355  Currently married (Percent)  72.522850
4118  Currently married (Percent)  32.853581
2739  Currently married (Percent)  75.625119
3335  Currently married (Percent)  53.398404

In [33]:
directory = "../data_lake/"
files = [f for f in os.listdir(directory) if f.endswith(".parquet")]

dfs = {file: pd.read_parquet(directory + file) for file in files}

count = []

for key, value in dfs.items():
    if key.startswith("df_TWB"):
        count.append(str(key.rstrip(".parquet").lstrip("df_TWB_")))
        print(value.head())

print(count)
# dfs["df_UNPD_mort_24.parquet"].loc[
#     :, dfs["df_UNPD_mort_24.parquet"].columns.str.fullmatch("indicator")
# ].mode()

  countryiso3code  date      value unit obs_status  decimal  \
0             AFE  2020  62.121491                        0
1             AFE  2019  61.813185                        0
2             AFE  2018  61.470354                        0
3             AFE  2017  61.083445                        0
4             AFE  2016  60.643170                        0

        indicator.id                             indicator.value country.id  \
0  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
1  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
2  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
3  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH
4  SP.DYN.LE00.MA.IN  Esperanza de vida al nacer, varones (años)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date      value
0             AFE  2020  36.783306
1             AFE  2019  36.291322
2             AFE  2018  35.807770
3             AFE  2017  35.332373
4             AFE  2016  34.865101
  countryiso3code  date      value
0             AFE  2020  30.931064
1             AFE  2019  30.742610
2             AFE  2018  30.384759
3             AFE  2017  30.114592
4             AFE  2016  29.618405
  countryiso3code  date  value unit obs_status  decimal indicator.id  \
0             AFE  2020    NaN                        1  SI.POV.GINI
1             AFE  2019    NaN                        1  SI.POV.GINI
2             AFE  2018    NaN                        1  SI.POV.GINI
3             AFE  2017    NaN                        1  SI.POV.GINI
4             AFE  2016    NaN                        1  SI.POV.GINI

  indicator.value country.id country.value
0  Índice de Gini         ZH
1  Índice de Gini         ZH
2  Índice de Gini         ZH
3  Índice de Gini         ZH
4  Índice de Gini         ZH
  countryiso3code  date       value
0             AFE  2020         NaN
1             AFE  2019   91.970113
2             AFE  2018   96.289480
3             AFE  2017  102.410661
4             AFE  2016   94.739159
  countryiso3code  date         value unit obs_status  decimal  \
0             AFE  2020  2.478218e+12                        0
1             AFE  2019  2.517975e+12                        0
2             AFE  2018  2.418685e+12                        0
3             AFE  2017  2.299420e+12                        0
4             AFE  2016  2.212683e+12                        0

        indicator.id                                  indicator.value  \
0  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
1  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
2  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
3  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)
4  NY.GDP.MKTP.PP.CD  PIB, PPA ($ a precios internacionales actuales)

  country.id country.value
0         ZH
1         ZH
2         ZH
3         ZH
4         ZH
  countryiso3code  date     value
0             AFE  2020       NaN
1             AFE  2019  8.036293
2             AFE  2018  8.128884
3             AFE  2017  8.244062
4             AFE  2016  8.324659
  countryiso3code  date  value unit obs_status  decimal indicator.id  \
0             AFE  2020    7.0                        0  SE.COM.DURS
1             AFE  2019    7.0                        0  SE.COM.DURS
2             AFE  2018    7.0                        0  SE.COM.DURS
3             AFE  2017    7.0                        0  SE.COM.DURS
4             AFE  2016    7.0                        0  SE.COM.DURS

                          indicator.value country.id country.value
0  Educación obligatoria, duración (años)         ZH
1  Educación obligatoria, duración (años)         ZH
2  Educación obligatoria, duración (años)         ZH
3  Educación obligatoria, duración (años)         ZH
4  Educación obligatoria, duración (años)         ZH
  countryiso3code  date      value
0             AFE  2020  64.325702
1             AFE  2019  64.005213
2             AFE  2018  63.648988
3             AFE  2017  63.246264
4             AFE  2016  62.787681
  countryiso3code  date        value unit obs_status  decimal    indicator.id  \
0             AFE  2020  1360.878645                        1  NY.GDP.PCAP.CD
1             AFE  2019  1511.309259                        1  NY.GDP.PCAP.CD
2             AFE  2018  1541.031661                        1  NY.GDP.PCAP.CD
3             AFE  2017  1629.404273                        1  NY.GDP.PCAP.CD
4             AFE  2016  1446.533624                        1  NY.GDP.PCAP.CD

                           indicator.value country.id country.value
0  PIB per cápita (US$ a precios actuales)         ZH
1  PIB per cápita (US$ a precios actuales)         ZH
2  PIB per cápita (US$ a precios actuales)         ZH
3  PIB per cápita (US$ a precios actuales)         ZH
4  PIB per cápita (US$ a precios actuales)         ZH
  countryiso3code  date      value
0             AFE  2020  66.534628
1             AFE  2019  66.202116
2             AFE  2018  65.832944
3             AFE  2017  65.415515
4             AFE  2016  64.939294
  countryiso3code  date      value unit obs_status  decimal indicator.id  \
0             AFE  2020  57.632861                        1  IQ.SCI.OVRL
1             AFE  2019  58.502425                        1  IQ.SCI.OVRL
2             AFE  2018  58.067643                        1  IQ.SCI.OVRL
3             AFE  2017  59.710148                        1  IQ.SCI.OVRL
4             AFE  2016  58.599045                        1  IQ.SCI.OVRL

                                              indicator.value country.id  \
0  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
1  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
2  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
3  Nivel general de la capacidad estadística (escala 0 - 100)         ZH
4  Nivel general de la capacidad estadística (escala 0 - 100)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date      value unit obs_status  decimal  \
0             AFE  2020  49.635421                        0
1             AFE  2019  49.626992                        0
2             AFE  2018  49.617642                        0
3             AFE  2017  49.607385                        0
4             AFE  2016  49.596273                        0

        indicator.id                   indicator.value country.id  \
0  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
1  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
2  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
3  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH
4  SP.POP.TOTL.MA.ZS  Población, hombres (% del total)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date        value
0             AFE  2020  1397.543390
1             AFE  2019  1506.731921
2             AFE  2018  1464.995375
3             AFE  2017  1459.517554
4             AFE  2016  1475.979716
  countryiso3code  date     value unit obs_status  decimal       indicator.id  \
0             AFE  2020  4.608170                        1  SE.XPD.TOTL.GD.ZS
1             AFE  2019  4.846845                        1  SE.XPD.TOTL.GD.ZS
2             AFE  2018  4.951635                        1  SE.XPD.TOTL.GD.ZS
3             AFE  2017  4.963090                        1  SE.XPD.TOTL.GD.ZS
4             AFE  2016  4.821875                        1  SE.XPD.TOTL.GD.ZS

                                 indicator.value country.id country.value
0  Gasto público en educación, total (% del PIB)         ZH
1  Gasto público en educación, total (% del PIB)         ZH
2  Gasto público en educación, total (% del PIB)         ZH
3  Gasto público en educación, total (% del PIB)         ZH
4  Gasto público en educación, total (% del PIB)         ZH
  countryiso3code  date      value
0             AFE  2020  42.447198
1             AFE  2019  43.591252
2             AFE  2018  44.795221
3             AFE  2017  46.108140
4             AFE  2016  47.527244
  countryiso3code  date      value
0             AFE  2020  59.511910
1             AFE  2019  58.782401
2             AFE  2018  57.860301
3             AFE  2017  56.921012
4             AFE  2016  55.963351
  countryiso3code  date     value
0             AFE  2020  7.563187
1             AFE  2019  6.914353
2             AFE  2018  6.731163
3             AFE  2017  6.714955
4             AFE  2016  6.610205
  countryiso3code  date      value
0             AFE  2020  30.174186
1             AFE  2019  30.391558
2             AFE  2018  30.611444
3             AFE  2017  30.824248
4             AFE  2016  31.039613
  countryiso3code  date        value unit obs_status  decimal  \
0             AFE  2020  3659.272868                        1
1             AFE  2019  3814.846625                        1
2             AFE  2018  3761.035160                        1
3             AFE  2017  3670.891196                        1
4             AFE  2016  3627.474284                        1

        indicator.id  \
0  NY.GDP.PCAP.PP.CD
1  NY.GDP.PCAP.PP.CD
2  NY.GDP.PCAP.PP.CD
3  NY.GDP.PCAP.PP.CD
4  NY.GDP.PCAP.PP.CD

                                              indicator.value country.id  \
0  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
1  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
2  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
3  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH
4  PIB per cápita, PPA ($ a precios internacionales actuales)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date     value
0             AFE  2020       NaN
1             AFE  2019  0.913618
2             AFE  2018  0.917507
3             AFE  2017  0.937926
4             AFE  2016  0.948410
  countryiso3code  date      value unit obs_status  decimal  \
0             AFE  2020  50.364579                        1
1             AFE  2019  50.373008                        1
2             AFE  2018  50.382358                        1
3             AFE  2017  50.392615                        1
4             AFE  2016  50.403727                        1

        indicator.id                   indicator.value country.id  \
0  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
1  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
2  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
3  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH
4  SP.POP.TOTL.FE.ZS  Población, mujeres (% del total)         ZH

  country.value
0
1
2
3
4
  countryiso3code  date  value
0             AFE  2020    NaN
1             AFE  2019    NaN
2             AFE  2018    NaN
3             AFE  2017    NaN
4             AFE  2016    NaN
['SP.DYN.LE00.MA.IN', 'SP.URB.TOTL.IN.ZS', 'SH.STA.BASS.ZS', 'SI.POV.GINI', 'SH.XPD.CHEX.PC.CD', 'NY.GDP.MKTP.PP.CD', 'SH.STA.SUIC.P5', 'SE.COM.DURS', 'SP.DYN.LE00.IN', 'NY.GDP.PCAP.CD', 'SP.DYN.LE00.FE.IN', 'IQ.SCI.OVRL', 'SP.POP.TOTL.MA.ZS', 'NY.GNP.PCAP.CD', 'SE.XPD.TOTL.GD.ZS', 'SP.DYN.IMRT.IN', 'SH.H2O.BASW.ZS', 'SL.UEM.TOTL.ZS', 'AG.LND.FRST.ZS', 'NY.GDP.PCAP.PP.CD', 'EN.ATM.CO2E.PC', 'SP.POP.TOTL.FE.ZS', 'SH.MED.BEDS.ZS']

In [34]:
UDPD = {
    "df_UNPD_mort_22": "tasa_mortalidad_infantil",
    "df_UNPD_pop_54": "densidad_población_por_kilómetro_cuadrado)",
    "df_UNPD_imigrt_65": "migración_neta_total",
    "df_UNPD_pop_49": "población_total_por_sexo",
    "df_UNPD_mort_60": "total_muertes_por_sexo",
    "df_UNPD_pop_53": "tasa_bruta_cambio_natural_población",
    "df_UNPD_imigrt_66": "tasa_bruta_migración_neta",
    "df_UNPD_pop_72": "proporción_sexos_población_total",
    "df_UNPD_fam_1": "prevalencia_anticonceptivos_porcentaje",
    "df_UNPD_pop_67": "mediana_edad_población",
    "df_UNPD_mort_59": "tasa_bruta_mortalidad_por_1000_habitantes",
    "df_UNPD_pop_51": "tasa_bruta_variación_total_población",
    "df_UNPD_pop_50": "cambio_de_la_población",
    "df_UNPD_pop_41": "población_femenina_edad_reproductiva_(15-49 años)",
    "df_UNPD_mort_24": "tasa_mortalidad_menores_cinco_años",
    "df_UNPD_pop_52": "cambio_natural_población",
    "df_UNPD_fert_19": "tasa_fertilidad",
    "df_UNPD_marstat_42": "estado_civil_casado_porcentaje",
}

In [35]:
WB = {
    "SP.DYN.LE00.IN": "esperanza_vida_total",
    "SP.DYN.LE00.FE.IN": "esperanza_vida_mujeres",
    "SP.DYN.LE00.MA.IN": "esperanza_vida_varones",
    "SI.POV.GINI": "índice_gini",
    "SE.XPD.TOTL.GD.ZS": "gasto_púb_educacion_pje",
    "SE.COM.DURS": "duración_educ_obligatoria",
    "NY.GDP.PCAP.CD": "pib_pc_usd_actuales",
    "NY.GDP.MKTP.PP.CD": "pib_ppa_prec_inter",
    "IQ.SCI.OVRL": "capacidad_estadística",
    "SP.POP.TOTL.FE.ZS": "población_mujeres_pje",
    "SP.POP.TOTL.MA.ZS": "población_hombres_pje",
    "NY.GDP.PCAP.PP.CD": "pib_pc_prec_inter",
    "AG.LND.FRST.ZS": "porcentaje_de_bosque",
    "EN.ATM.CO2E.PC": "emisiones_co2",
    "SH.XPD.CHEX.PC.CD": "inversion_salud_percapita",
    "SH.MED.BEDS.ZS": "camas_hospitales_c/1000personas",
    "SP.DYN.IMRT.IN": "mortalidad_infantil_c/1000nacimientos",
    "SH.H2O.BASW.ZS": "acceso_agua_potable(%)",
    "SH.STA.BASS.ZS": "acceso_servicios_sanitarios(%)",
    "SH.STA.SUIC.P5": "tasa_mortalidad_suicidio_c/100.000",
    "SL.UEM.TOTL.ZS": "tasa_desempleo",
    "SP.URB.TOTL.IN.ZS": "tasa_poblacion_urbana",
    "NY.GNP.PCAP.CD": "INB_percapita",
}

In [36]:
OMS = {
    "df_OMS_NUTRITION_ANAEMIA_CHILDREN_PREV": "tasa_anemia_niños(%)",
    "df_OMS_NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV": "tasa_anemia_mujeres(%)",
    "df_OMS_M_Est_cig_curr": "tasa_consumo_cigarro(%)",
    "df_OMS_SA_0000001688": "tasa_consumo_alcohol(L)",
    "df_OMS_NCD_BMI_30A": "tasa_obesidad_pob(%)",
}

## Data Lake

![Alt text](https://linuxaria.com/wp-content/uploads/2016/07/gitlfs-768x403.png "a title")

In [45]:
df = pd.read_parquet("../data_lake/df_TWB_IQ.SCI.OVRL.parquet").sample(5)
df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
1540,AFG,1999,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),AF,Afganistán
351,ECA,2010,80.46772,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),7E,Europa y Asia central (excluido altos ingresos)
7353,CHE,2014,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),CH,Suiza
6879,SXM,1992,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),SX,Sint Maarten (Dutch part)
6316,PER,1997,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),PE,Perú

In [46]:
df = pd.read_parquet(
    "https://github.com/jorgeav527/life-expectancy/blob/main/data_lake/df_TWB_IQ.SCI.OVRL.parquet?raw=true"
).sample(5)
df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
7531,TLS,1991,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),TL,Timor-Leste
936,MEA,2014,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),ZQ,Oriente Medio y Norte de África
4184,HND,1990,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),HN,Honduras
4516,ITA,1999,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),IT,Italia
1805,ABW,2013,NaN,,,1,IQ.SCI.OVRL,Nivel general de la capacidad estadística (escala 0 - 100),AW,Aruba

Las APIs usadas para la extraccion son la de las Naciones unidas, Banco Mundial y de la Organizacion de las Naciones Unidas, en cada una de ellas tenenemos una Documentacion especifica de cada enpoint.

Todas las API tienen como puntos principales la fuente de los datos, los topicos como Poblacion, Fertilidad, Mortalidad entre otras y una infinidad de inicadores los cuales nos ayudan a extraer la información de manera rapida y sencilla dando como parametros los paises, y rango en años.

Algunos problemas que surgieron en la extracción de los datos fueron, que la documentacion de algunas API esta desactualizadas y otra fue que algunas aveces el servidor se no daba respuesta.
 
Por tal motivo decidimos usar un git-lfs y usarlo como un data lake para no depender especificamente de la API y guardar los paises preseleccionados dentro del periodo de tiempo de 1990 al 2020 de cada uno de los indicadores en archivos en formato parquet que esta diseñado para admitir esquemas de compresión y codificación muy eficientes al ser tambien formato binario.

De esta manera podemos acceder a los datos de manera local y de manera remota.